[2014-09-10 11:38] WebDevJL opened #119 "Adding project > facility details not saved"
When adding a project, not ALL the fields for the facility are saved into the DB.

See why in the Facility controller.

[2014-09-11 20:38] bsaiken opened #121 "Tracking Issues"
Got it - I can identify and track issues here.

Brian

[2014-09-12 04:08] #121 closed, assigned to nobody

[2014-09-19 05:26] FWAJL opened #132 "Editing an active project deactivate it"
See in ProjectController->_PrepareUserObject method

[2014-09-19 07:07] WebDevJL opened #133 "Store user projects in xml"
We currently store the user projects in session, called Session Projects. They are associative arrays of the following structure:

   *  array (
   *     "projectId_X" => array(
   *       "project_obj" => Project object,
   *       "locations" => array( of Location objects),
   *       "tasks" => array( of Task objects),
   *       "technicians" => array( of Technician objects)
   *     ),
   *

[2014-09-19 07:08] WebDevJL opened #134 "Store user projects in database"
Similar to the xml version but in the database.

Must write the specifications for this task

[2014-09-19 10:39] WebDevJL opened #135 "Loading a project for edit is broken"

[2014-09-19 10:59] #135 closed, assigned to nobody

[2014-09-19 11:00] #132 closed, assigned to nobody

[2014-09-19 12:39] WebDevJL opened #136 "Store user projects in local storage"
XML, Database or Local storage?

[2014-09-19 12:51] WebDevJL opened #137 "Major enhancement : use KendoJS to data-bind"
See : http://www.telerik.com/kendo-ui

[2014-09-22 04:12] FWAJL opened #138 "Add locations from a list of csv values ending by \n"
Define the requirements.

[2014-09-22 04:14] FWAJL opened #139 "Edit a location via the standard form"
When clicking the contextual menu, load the form to edit a location. Only the name is required.

[2014-09-22 04:15] FWAJL opened #140 "Add locations (/locations/uploadList) that include multiple fields including lat/long"
From a csv file, add locations with the name, lat, long and all the other possible fields.

[2014-09-22 04:45] FWAJL opened #142 "Add autocomplete to AJAX forms"
When submit a form via an ajax call, let's enable the browser autocomplete feature. Search Google to find the solution.

[2014-09-24 05:16] FWAJL opened #144 "Deleting a project doesn't remove it from Session"
- Select a project and view its locations.
- Then delete it

We should not be able to see the project location view anymore. It is the case still.

[2014-09-26 04:45] #144 closed, assigned to nobody

[2014-09-29 04:42] #139 closed, assigned to nobody

[2014-09-29 04:43] FWAJL opened #146 "Update location, active / inactive"

[2014-09-29 05:11] #146 closed, assigned to nobody

[2014-09-29 05:13] FWAJL opened #147 "Add a location via the standard form"
In location lists, click the "Add a location" button to add a location via the standard form

[2014-09-30 05:10] #147 closed, assigned to nobody

[2014-10-01 04:47] FWAJL opened #150 "Create the Dao Technician class"
1. create the table in the database
2. run SqlToDao app
3. copy the Technician.php class into the project (Applications/PMTool/Models/Dao)

[2014-10-01 04:55] FWAJL opened #151 "Create the Dal Technician class"
1. copy the Applications/PMTool/Models/Dal/_TemplateManager_PDO.php file to create the TechnicianManager_PDO.php file.
2. modify the selectMany method to return a list of technician for a given project. Follow the selectMany of LocationManager_PDO.php as guidance. You will need to adapt the code to fit the technician case (proper Dao class, naming of variables, etc.)
3. modify the add method to in

[2014-10-01 05:16] FWAJL opened #152 "Update the routes"
1. update routes.xml with new view routes (3 routes, 1 per url).
   The routes will be "technician" (is the index url where index is omitted), "technician/listAll" and "technician/showForm"
   Follow the example of the three routes made for locations. You'll just need to adapt the values to the technician case.
2. add the view urls as constants in Library/Enums/ResourceKeys/UrlKeys.php. Follow the

[2014-10-02 04:38] FWAJL opened #153 "Implement executeIndex method in the controller"
The method is a exact copy of the Location controller as the logic here is to set the Select Project in session.

Just replicated the method.

[2014-10-02 04:50] FWAJL opened #154 "Implement executeGetList method in the controller"
The execution flow is:
1. load the manager Technician PDO using the module value (see routes.xml for the value)
2. query the list of technician for a project by calling "selectMany" with the manager
3. assign the list returned to the Session Project that is given as a parameter and in the variable $result which is used for the case that the method is called for a AJAX request.
4. Update the Sessio

[2014-10-02 04:52] FWAJL opened #155 "Implement _GetAndStoreLocationsInSession method in the controller"
This method just calls executeGetList if the technicians are not in the selected Session Project yet.

See issue #154 for the implementation of executeGetList

[2014-10-02 05:00] FWAJL opened #156 "Implement executeListAll method in the controller"
The execution flow is:
1. retrieve the current Session Project selected and store into a local variable
2. store the Project object into a variable to be used in the view to display the project name
3. retrieve the list of technicians and store in the current Session Project (see #155)
4. refresh the local variable of the current Session Project
5. retrieve the list of technicians and put in a var

[2014-10-02 05:11] FWAJL opened #157 "Implement executeAdd method in the controller"
Use the location version of the method to implement this.

The execution flow is:
1. initiate the AJAX $result variable
2. retrieve the current Session Project
3. instantiate the PDO manager
4. get the project id from the Session Project
5. from the dataPost, you need to build a object of class Technician (Models>Dao>Technician) and set all the fields. Create a private method for that purpose in t

[2014-10-02 05:17] FWAJL opened #158 "Implement executeDelete method in the controller"
Use the location version of the method to implement this.

The execution flow is:
1. initiate the AJAX $result variable
2. retrieve the current Session Project
3. get the technician id sent by the client
4. instantiate the PDO manager
5. find the technician object by implementing a GetTechnicianFromSession method (using the Location controller example)
6. if the technician is found, delete the tec

[2014-10-02 05:20] FWAJL opened #159 "Implement executeEdit method in the controller"
Use the location version of the method to implement this.

The execution flow is:
1. initiate the AJAX $result variable
2. retrieve the current Session Project
3. build the technician object from the data sent by the client
4. instantiate the PDO manager and edit the technician
5. remove the list of technician from the Session Project. It'll be refilled afterwards in the executeListAll method
6. u

[2014-10-03 04:39] FWAJL opened #160 "Create Client table"
○ client_id : int(11)
○ client_name : varchar(100)
○ client_address : varchar(500)
○ client_contact_name : varchar(50)
○ client_contact_phone : varchar(12)
○ client_contact_email : varchar(50)

[2014-10-03 04:42] FWAJL opened #161 "Create Technician table"
○ technician_id : int(5)
○ technician_name : varchar(50)
○ technician_phone : varchar(20)
○ technician_email : varchar(50)
● technician_active : smallint(6)

[2014-10-03 04:43] FWAJL opened #162 "Update Project table"
I think we will need a link between project and client because a client can ask for many projects, doesn’t he ?

[2014-10-03 04:49] FWAJL opened #163 "Implement the technician _manager.js"
1. take the location_manager.js file (in Web/js/app/controllers)
2. update it to use the technician ajax urls
3. update the id for the click events
4. rename everything that is "location" into "technician"
5. implement the various methods to fit the technician task

[2014-10-03 04:51] FWAJL opened #164 "Technician user interface"
1. create the resource xml file
2. create the views
3. update the menus xml file to show the technician link

[2014-10-03 05:15] FWAJL opened #165 "Create the Dao Client class"

[2014-10-03 08:01] #165 closed, assigned to WebDevJL

[2014-10-03 08:02] #161 closed, assigned to WebDevJL

[2014-10-03 08:04] #160 closed, assigned to WebDevJL

[2014-10-05 15:40] #150 closed, assigned to nobody

[2014-10-05 15:47] #151 closed, assigned to nobody

[2014-10-05 19:02] #152 closed, assigned to nobody

[2014-10-05 22:04] #153 closed, assigned to nobody

[2014-10-06 22:16] #155 closed, assigned to nobody

[2014-10-06 22:55] #156 closed, assigned to nobody

[2014-10-06 23:08] #157 closed, assigned to nobody

[2014-10-06 23:21] #158 closed, assigned to nobody

[2014-10-07 00:14] #159 closed, assigned to nobody

[2014-10-07 00:46] #163 closed, assigned to bsaiken

[2014-10-08 20:15] bsaiken opened #168 "Add Client Info to Project Interface"

[2014-10-08 20:16] bsaiken opened #169 "Create tables for Outside Resources in database"

[2014-10-08 20:16] bsaiken opened #170 "Create tables for Tasks in database"

[2014-10-08 21:15] bsaiken opened #171 "Add button to duplicate Tasks (use existing as template)."

[2014-10-09 19:02] bsaiken opened #172 "Remove deprecated databases and gits."

[2014-10-13 16:21] #170 closed, assigned to bsaiken

[2014-10-13 21:53] #169 closed, assigned to bsaiken

[2014-10-13 22:00] bsaiken opened #173 "Bug - Project Edit button"
After first logging in, the "Edit this project" button does not re-direct to the updated Project list.  However, manually reloading the page shows the updated Project info.

If I edit a Location using "Edit this Location", the "Edit this Location" button works.

After editing a Location, the "Edit this Project" button then works.

[2014-10-15 22:58] bsaiken opened #174 "Resources User Interface"

[2014-10-16 21:31] bsaiken opened #175 "Make categorized lists for Service Providers"
Task involves using Category (service.service_type) to categorized the Service Providers list.

Also, create a form on the Tasks: Service Providers tab with the categorized list.

[2014-10-17 14:30] bsaiken opened #176 "Make the Project manager data editable"
I started this, but I am stuck at making the "Edit Info" button work.  See Line 13 of top.php.

[2014-10-17 19:14] #119 closed, assigned to nobody

[2014-10-17 19:19] bsaiken opened #177 "Adding project > client details not saved"

[2014-10-17 19:20] #177 closed, assigned to bsaiken

[2014-10-28 06:09] WebDevJL opened #178 "Session project not updated"
After selecting a project to show its locations, I updated the project name. When I come back to the list of locations, the project name is the updated name.

[2014-10-29 05:31] #178 closed, assigned to WebDevJL

[2014-11-03 15:36] #173 closed, assigned to WebDevJL

[2014-11-03 15:41] #164 closed, assigned to bsaiken

[2014-11-03 16:03] #154 closed, assigned to nobody

[2014-11-03 16:04] #162 closed, assigned to nobody

[2014-11-03 16:33] bsaiken opened #179 "Add Project Select Button"
Add a button to select a Project (set the $current_project) from the main page (Your Projects) so that the Locations and Tasks left menu items will work.  Currently we get this error:

Fatal error: Call to a member function project_name() on null in /Users/brianscottaiken/Sites/FieldWorkAssistantMVC/Applications/PMTool/Views/Location/showForm.php on line 4

and similar errors for location list, ta

[2014-11-04 23:12] #137 closed, assigned to nobody

[2014-11-04 23:23] bsaiken opened #180 "Code Questions"
1. In routes.xml, are the AJAX routes for Facility and Client relevant?
2. Is FacilityManager_PDO.php, what is line 27?  Why is password information needed here?
3. Is the directory /Users/brianscottaiken/Sites/FieldWorkAssistantMVC/Applications/PMTool/Views/xFacility a relevant directory - can it be deleted?

[2014-11-07 05:04] #168 closed, assigned to bsaiken

[2014-11-07 05:12] WebDevJL opened #181 "Store facility and client info in Session Project"
We need to store facilities and clients info in the respective Session project to harmonize the app workflow.

This will be done when the three lists (project, facility, client) are retrieve.

Then, when each is updated, we update the object stored in the Session project.

[2014-11-07 14:43] #180 closed, assigned to nobody

[2014-11-09 20:18] bsaiken opened #182 "Tasks UI"

[2014-11-15 16:38] FWAJL opened #184 "Merge f-taskUI to Development questions"
My remarks as I go through the merge:

Web\js\app\controllers\location_manager.js => why not using the random data generator? As we are developping, I think it is useful so we do not enter the data manually at every test.

[2014-11-17 02:13] #174 closed, assigned to bsaiken

[2014-11-17 03:13] bsaiken opened #187 "Move current f-taskUI to dev branch including recent changes"

[2014-11-18 06:21] WebDevJL opened #188 "tabs.js and tabs.css are not working properly"
The logic to shows tabs broke the locations form. The logic relies on the click on a tab that has the "tab" class.

We need to review this at some stage.

[2014-11-19 05:25] #179 closed, assigned to nobody

[2014-11-19 05:32] WebDevJL opened #189 "Tidy up the Database"
As I wrote in the email yesterday, I need to tidy up the DB to generate clean Dao classes. Also, some primary keys and constraints must be added to keep data consistancy.

[2014-11-19 05:33] WebDevJL opened #190 "Generate Dao classes"
Regenerate all the Dao classes once the DB is tidied up.

[2014-11-20 06:32] WebDevJL opened #193 "ProjectHelper::StoreTasks"
Implement the method to load Task ids for a given project.

[2014-11-20 06:50] WebDevJL opened #194 "Build UserHelper (PM session management)"

[2014-11-20 13:55] FWAJL opened #196 "Project Number generator"
Because of the link between project and task_coc_info, project_number is unique in project. For now, it is not an issue but we should think about a way to generate a project_number that will always be unique.

As of version 1.5.4, you won't be able to add a project and it will not notify it fails.

Open to discussion regarding its implementation.

[2014-11-20 21:49] bsaiken opened #197 "Move forms from Modules to individual Views"

[2014-11-21 05:09] #196 closed, assigned to nobody

[2014-11-21 08:07] FWAJL opened #199 "Integrate Service Providers to Project manager data"
For this task you need to store the Service Providers into the **Project manager** session array (see UserHelper.php => MakePmSession method).

When you have retrieved the service providers, you need to fill the PmSession with the objects retrieved and use it to display the lists (active and inactive). Then, you will always query the pm session array to read the list of service providers.

Tip: to

[2014-11-21 13:12] FWAJL opened #201 "Integrate Technicians to Project manager session data"
Store the technicians object list into the Pm Session array and use it in the UI

[2014-11-21 22:33] #197 closed, assigned to nobody

[2014-11-23 19:53] bsaiken opened #202 "Current Project Breadcrumb"
Add Breadcrumb to Projects list when "Set as Current Project" is selected.

Remove "My Projects > List All" banner.

[2014-11-23 20:10] #184 closed, assigned to nobody

[2014-11-24 05:12] #189 closed, assigned to WebDevJL

[2014-11-24 05:13] #194 closed, assigned to WebDevJL

[2014-11-24 05:51] #190 closed, assigned to WebDevJL

[2014-11-24 05:54] WebDevJL opened #205 "Build TaskHelper (Tasks session management)"
Similar task to the PM and Project helper

[2014-11-24 17:02] bsaiken opened #206 "Prevent multiple logins with same user ID"

[2014-11-25 06:47] #181 closed, assigned to WebDevJL

[2014-11-25 22:34] #187 closed, assigned to WebDevJL

[2014-11-25 22:45] bsaiken opened #211 "Use checkboxes to set default active/inactive states for Projects, Tasks, Locations and Technicians."

[2014-11-26 05:07] #134 closed, assigned to nobody

[2014-11-26 07:29] #201 closed, assigned to nobody

[2014-11-27 05:44] WebDevJL opened #216 "Add, edit, delete and list tasks"
The task form needs to be cleaned up because it doesn't follow the standardize layout and naming rules.
Also, we need to be able to add a task without inconsistent data before being able to add task locations.

To do:
1) Add a task from the task_info form only
2) List the tasks in the dual list view
3) Edit via contextual menu
4) Delete via contextual menu and button on edit form
5) Move active/in

[2014-11-30 13:27] #216 closed, assigned to WebDevJL

[2014-11-30 13:29] #205 closed, assigned to nobody

[2014-11-30 13:39] #193 closed, assigned to nobody

[2014-12-01 05:26] WebDevJL opened #232 "Task locations Interface"
In two lists, have the list of project's locations on the right and task's locations on the left.
Using a similar logic as active/inactive list, add locations to a task.

1) Load the form as active/inactive list layout
2) Load the project locations
3) Initialize the task location list (list of locations ids) used to filter the project locations to retrieve just the objects wanted.
4) Display a mes

[2014-12-01 06:08] WebDevJL opened #233 "Task Interface TODOs list"
This task only lists what we need to do for the Task Interface. Each item must be taken out and put into a new issue once we know what to do.

1) Rethink the tabs for task if we can load everything in 1 page.

[2014-12-03 05:37] WebDevJL opened #237 "Add a new PM"
Make possible to add a new pm

[2014-12-03 05:41] #237 closed, assigned to WebDevJL

[2014-12-03 05:51] FWAJL opened #240 "Locations are not loading in the dual list"
After selecting a project, the locations don't load, if they exist, in the dual list. However, they load once add at least a new one

[2014-12-03 05:58] #240 closed, assigned to WebDevJL

[2014-12-04 02:18] #202 closed, assigned to nobody

[2014-12-04 05:43] FWAJL opened #248 "Database: ON DELETE CASCADE"
When we delete a record, for ex a project, we must delete all the records for it. Using the foreign keys setup, it is possible.

Just add to the schema script the ON DELETE CASCADE which will delete all related data.

[2014-12-04 06:02] #248 closed, assigned to WebDevJL

[2014-12-04 16:24] bsaiken opened #249 "Upload and view technician photos"

[2014-12-05 05:12] FWAJL opened #250 "Prevent the same PM to log at the same time"
When the same PM logs at the same time, it can create inconsistencies in the data. Therefore, we need to prevent that to happen.

Using a log table, we verify that a PM is not currently logged in to authorized the PM to log in.

Tasks to do:
- create table user_log: check with the lead dev for the table definition before moving the next steps.
- insert a log at every login event to the application

[2014-12-05 06:08] FWAJL opened #251 "Renaming relation tables: task location, task technicians..."
All task relation tables renamed to singular.

[2014-12-05 14:42] #206 closed, assigned to nobody

[2014-12-05 14:52] #199 closed, assigned to nobody

[2014-12-05 14:52] #182 closed, assigned to nobody

[2014-12-05 14:53] bsaiken opened #252 "Write mapping UI SOW document"
Step 1 - Prepare SOW.

[2014-12-09 05:59] #232 closed, assigned to WebDevJL

[2014-12-09 06:44] #251 closed, assigned to WebDevJL

[2014-12-09 17:18] bsaiken opened #260 "Task UI Navigation"
Currently re-directs to ListAll.  Needs to properly display Locations list.

[2014-12-11 15:45] bsaiken opened #270 "Task Locations List error"
Task Locations lists are showing locations that have been deleted from the database.  I am guessing these locations are being held in the Project Array even after they have been deleted.

![screen shot 2014-12-11 at 9 44 31 am](https://cloud.githubusercontent.com/assets/8228624/5396785/7104b7e2-811a-11e4-8552-6af88ac7c9cc.png)
![screen shot 2014-12-11 at 9 44 10 am](https://cloud.githubusercontent

[2014-12-11 22:07] bsaiken opened #271 "Navigation Issues"
Ongoing Issue to have a repository of any navigation inconsistencies.  Delete the item from the list below when complete.

1) Task deletion not working.
2) Service > ListAll not working in DEV mode.
3) In Task Edit mode, after clicking though tabs, clicking on the "Task Info" tab re-directs to "Select Project"

[2014-12-11 22:17] bsaiken opened #272 "Automatically set the Current Project."
If the PM has only one (active) Project, make it the current Project.

[2014-12-11 22:18] bsaiken opened #273 "Add alphabetization for Technicians list"

[2014-12-11 22:21] bsaiken opened #274 "Fix Location Add/Edit form to show the buttons at the bottom"

[2014-12-11 22:24] #260 closed, assigned to nobody

[2014-12-11 22:31] bsaiken opened #275 "Disable multi-select for Tasks active/inactive."

[2014-12-11 22:32] bsaiken opened #276 "Add button for Project Duplication"

[2014-12-11 22:34] bsaiken opened #277 "Add contextual menu option to make a Task the Current Task"

[2014-12-11 22:35] bsaiken opened #278 "Make (single) activated Task the Current Task."

[2014-12-11 22:38] bsaiken opened #279 "Add multi-select to assign Locations to Task Locations (Task UI)."

[2014-12-12 10:34] FWAJL opened #287 "Analytes UI"
Should the UI look like the location UI? I remember that you said you could add analytes with a list of names.

Please confirm.

[2014-12-12 15:23] #211 closed, assigned to nobody

[2014-12-13 04:17] bsaiken opened #288 "Task Technicians UI"
Branch: feature_tasktab_technicians

[2014-12-15 05:30] #279 closed, assigned to nobody

[2014-12-15 15:44] #288 closed, assigned to WebDevJL

[2014-12-16 19:10] bsaiken opened #301 "Tasks displayed multiple times"
![screen shot 2014-12-16 at 1 09 35 pm](https://cloud.githubusercontent.com/assets/8228624/5459997/cfed0094-8524-11e4-8d7e-3837da79787a.png)

[2014-12-18 00:58] bsaiken opened #309 "Update PmArray: Categorized Services"
Add an additional level so services can be listed by category.

[2014-12-18 01:03] bsaiken opened #310 "Add location_document relation table."
Add table to make possible storage of multiple Location documents (photos).

This will make the location_document row redundant.  Rename this to location_address as it may be beneficial, in the future, to have Location addresses.

Also, add a row to the location table for location_category, also for potential future expansion.

This will require modification to related files - either modify the fi

[2014-12-18 01:15] bsaiken opened #311 "Create pm_info table to enable "Edit_info" on top menu."
Rename project_manager table to pm_info table.  All the rows are needed - the pm should be able to change all attributes (except pm_id).

Modify the project_manager table.  Exclude "pm_" rows and "hint" row.   This table will be accessible only by the website administrator who will, in a future enhancement, be able to access all project manager's info and all projects of all project managers.  We

[2014-12-18 13:54] FWAJL opened #312 "Create the Location Document UI"
Brian, please describe the UI as you imagine it.

[2014-12-22 05:06] #310 closed, assigned to WebDevJL

[2014-12-22 15:34] bsaiken opened #318 "Items not displayed on login"
Items are not being displayed in the lists.  I suspect this is because when I first login, an initial instancce of the pM Object is not being created.  Compare:

![technicians in the database](https://cloud.githubusercontent.com/assets/8228624/5526813/ed9469cc-89b4-11e4-8a55-edd10d93b17f.png)

to:

![technicians listed](https://cloud.githubusercontent.com/assets/8228624/5526821/06c3f980-89b5-11e4-

[2014-12-22 15:59] bsaiken opened #319 "Change Location displays so Add/Edit and Lists are separate pages"

[2014-12-23 03:10] #319 closed, assigned to bsaiken

[2014-12-23 05:21] #275 closed, assigned to nobody

[2014-12-23 06:50] #318 closed, assigned to WebDevJL

[2014-12-23 11:55] #271 closed, assigned to nobody

[2014-12-23 11:56] FWAJL opened #326 "Task deletion not working"

[2014-12-23 11:56] FWAJL opened #327 "Service > ListAll not working in on dev branch"
What is DEV mode?

[2014-12-23 11:57] FWAJL opened #328 "Task Info tab not working properly (in edit)"
In Task Edit mode, after clicking though tabs, clicking on the "Task Info" tab re-directs to "Select Project"

[2014-12-24 12:08] #327 closed, assigned to nobody

[2014-12-24 16:09] #301 closed, assigned to bsaiken

[2014-12-24 22:17] #312 closed, assigned to bsaiken

[2014-12-25 01:40] bsaiken opened #334 "Add prompt box for Task Name to add a Task"
This will send the user directly to edit mode with the Task Name pre-populated.
This should solve the navigation issue with the tabs.  :-)

[2014-12-25 16:07] #270 closed, assigned to WebDevJL

[2014-12-25 16:07] #188 closed, assigned to nobody

[2014-12-25 16:08] #138 closed, assigned to nobody

[2014-12-29 18:35] bsaiken opened #337 "Delete Tasks"

[2014-12-30 05:58] WebDevJL opened #339 "ServiceUI: Context menu and related function"

[2014-12-31 06:12] #309 closed, assigned to WebDevJL

[2014-12-31 06:12] #328 closed, assigned to nobody

[2014-12-31 06:12] #339 closed, assigned to WebDevJL

[2015-01-01 00:01] bsaiken commented on #337
Duplicate of issue 326.

[2015-01-01 00:01] #337 closed

[2015-01-01 00:39] bsaiken opened #343 "Enable checkbox for Service Providers tab (Task UI)"

[2015-01-01 16:31] #233 closed

[2015-01-01 16:32] #175 closed

[2015-01-01 16:36] #172 closed

[2015-01-01 16:36] bsaiken commented on #136
Can this be closed?

[2015-01-01 16:36] bsaiken commented on #133
Can this be closed?

[2015-01-01 16:38] bsaiken commented on #311
THis is a duplicate Issue

[2015-01-01 16:38] #311 closed

[2015-01-01 16:38] #274 closed

[2015-01-01 17:13] bsaiken commented on #287
Yes, we do need to be able to edit and delete single analytes.

Delete can be the same function.

Edit changes only the analyte name (spelling).  We can handle that with a javascript prompt box.  I am going to write a SOW for the creation of a generic alert/confirm/prompt tool that will solve this issue.

[2015-01-01 20:38] bsaiken commented on #276
Parallel with Issue #171

[2015-01-01 20:38] #276 closed

[2015-01-01 20:39] bsaiken commented on #171
Buttons added.  Code to be completed after Javascript Popup Box task.

[2015-01-01 20:41] bsaiken commented on #334
This will be modified for Popup box tool task for freelancer.  SOW ready for review and discussion.

[2015-01-01 21:34] FWAJL commented on #133
@baiken : yes.

--
Jérémie Litzler
On 1 Jan 2015 17:36, "bsaiken" <notifications@github.com> wrote:

[2015-01-01 21:35] FWAJL commented on #136
@baiken : yes.

--
Jérémie Litzler
On 1 Jan 2015 17:36, "bsaiken" <notifications@github.com> wrote:

[2015-01-02 16:03] WebDevJL commented on #287
Done and released:

- Tab UI for show form
- Add list of analytes
- Tab UI for lists (similar to Services)
- List field and lab analytes
- Build the Project_field_analyte and Project_lab_analyte tables and dao classes
- Move analytes from list A (PM analyte) to list B (Project analyte)

Left to do:
- Delete a single analyte
- Edit a single analyte

[2015-01-02 18:19] bsaiken opened #347 "Fix date format: datePicker"

[2015-01-02 22:02] bsaiken opened #348 "Directories for technician and location documents."
This is a copy of location_document to upload technician photos.
We will also need new folder(s) created.  e.g.
Web/uploadfiles/
                       .../location_photos/
                       .../tech_photos/

The /uploadfiles/ folder can be used in the future for other docs as needed.

[2015-01-04 01:44] bsaiken commented on #176
I made some changes to this UI.  The most important being the change to

[2015-01-04 04:42] bsaiken commented on #249
I am going to make a SOW for this.

[2015-01-04 04:49] bsaiken opened #352 "Unable to add Locations to Task Location list"

[2015-01-04 04:58] #343 closed

[2015-01-04 05:00] #347 closed

[2015-01-04 05:03] bsaiken opened #353 "Make scrollbar for lists draggable"

[2015-01-04 05:06] bsaiken commented on #352
After further testing, the locations are being added (moved), but the code hangs up.  If you navigate away and return you will see the changes.

[2015-01-04 05:20] bsaiken opened #354 "Editing a Task makes the task inactive. Needs to stay active (or keep the same status)."

[2015-01-04 07:51] FWAJL commented on #249
@baiken : ok

--
Jérémie Litzler
On 4 Jan 2015 05:42, "bsaiken" <notifications@github.com> wrote:

[2015-01-05 04:18] bsaiken opened #355 "Style updates."
Styling changes.
Increased left and right margins.
Changes to make the site more consistent for all UIs.

I would like to make the upload list button on the right active...see Location > Upload List

[2015-01-05 05:23] WebDevJL commented on #354
This means that there must be a checkbox input set to true by default on the task form.

[2015-01-05 05:25] WebDevJL commented on #353
This is something built in the library jQuery UI by default. It is very likely to be a CSS tweak to perform.

[2015-01-05 08:32] WebDevJL commented on #287
Done and released:

- Tab UI for show form
- Add list of analytes
- Tab UI for lists (similar to Services)
- List field and lab analytes
- Build the Project_field_analyte and Project_lab_analyte tables and dao classes
- Move analytes from list A (PM analyte) to list B (Project analyte)
- Bug fix in display when adding project analytes (v1.5.27)

Left to do:
- Delete a single analyte
- Edit a singl

[2015-01-05 08:39] WebDevJL opened #356 "Apply the Analyte and Service Provider javascript manager techniques to Project manager"
See analyte_manager.js and project_service.js files for implementation

[2015-01-05 15:49] bsaiken commented on #354
This will not work.  If a user is editing a task that is inactive, the task needs to stay inactive.
It is unusual to edit an active task, but it may happen.  This may need require a prompt box - I will add this to the agenda for discussion.

[2015-01-05 16:12] WebDevJL commented on #355
@baiken :

please list the items to update. Or Let's create a milestone for CSS
updates. Each item will be an issue.

It's more efficient than creating an issue without details.
On 5 Jan 2015 05:18, "bsaiken" <notifications@github.com> wrote:

[2015-01-05 16:37] #352 closed

[2015-01-05 16:45] bsaiken commented on #356
The Analytes UI is not working properly, so why would you apply these techniques to Project manager?  Project manger is currently working fine - is this change necessary???

[2015-01-05 17:02] bsaiken opened #357 "Analytes UI Breadcrumb and header text"

[2015-01-05 17:18] bsaiken opened #358 "Moving Lab Analytes redirects to Field Analytes tab"

[2015-01-05 17:26] bsaiken opened #359 "Enable Analytes UI context menu "Delete""

[2015-01-05 17:29] bsaiken opened #360 "Load Analytes from FWM list"

[2015-01-05 17:38] #359 closed

[2015-01-05 17:40] bsaiken commented on #287
Leave "Edit a single Analyte" for discussion.

[2015-01-05 17:45] #136 closed

[2015-01-05 17:45] #133 closed

[2015-01-05 21:26] FWAJL commented on #360
Please describe more this issue. What is FWM list?

--
Jérémie Litzler

On 5 January 2015 at 18:29, bsaiken <notifications@github.com> wrote:

[2015-01-05 21:28] FWAJL commented on #356
I'm not sure why you say it does not work. I wouldn't release something
that doesn't work.

It is necessary because the old method is too messy and creates a lot of
dead code.
It will be applied to the new functions. Old function will use it later.

--
Jérémie Litzler

On 5 January 2015 at 17:45, bsaiken <notifications@github.com> wrote:

[2015-01-06 05:13] WebDevJL opened #362 "Items moved to "Project" list are not removed from "All" list."

[2015-01-06 05:17] WebDevJL opened #363 "Delete a single analyte (step 1)"
Do only the contextual menu way

[2015-01-06 05:18] WebDevJL commented on #287
Delete a single analyte in issue #363

[2015-01-06 05:19] WebDevJL opened #364 "Delete a single analyte (step 2)"
Activate Delete button in Edit mode

[2015-01-06 05:20] WebDevJL opened #365 "Edit an analyte"

[2015-01-06 05:20] WebDevJL commented on #287
Edit an analyte is left to discussion. See issue #365

[2015-01-06 05:20] #287 closed

[2015-01-06 05:21] WebDevJL opened #366 "Test notification for Brian"
@bsaiken : please comment this if you received an email notification.

[2015-01-06 07:42] WebDevJL opened #368 "Upload Location Photo"
Similar to issue #249.

[2015-01-06 07:50] WebDevJL opened #372 "Review milestone A-1 for Mapping UI"
Review the code done by @danish2014

[2015-01-06 07:51] WebDevJL commented on #372
See pull request #361

[2015-01-06 10:22] #252 closed

[2015-01-06 18:36] bsaiken commented on #355
I have modified the forms to have a uniform look across all pages.

[2015-01-06 18:42] bsaiken commented on #366
You will need to explain

[2015-01-06 18:44] #364 closed

[2015-01-06 21:41] FWAJL commented on #364
@bsaiken: why did you close this?

--
Jérémie Litzler

On 6 January 2015 at 19:44, bsaiken <notifications@github.com> wrote:

[2015-01-06 21:43] FWAJL commented on #366
@bsaiken <https://github.com/bsaiken> : Every time I do "@bsaiken
<https://github.com/bsaiken>", you should get an email notification...
Don't you?

--
Jérémie Litzler

On 6 January 2015 at 19:42, bsaiken <notifications@github.com> wrote:

[2015-01-06 21:46] FWAJL commented on #368
@bsaiken <https://github.com/bsaiken>: why did you close this? We need to
talk about managing issues because I don't understand what you are doing...

--
Jérémie Litzler

On 6 January 2015 at 19:41, bsaiken <notifications@github.com> wrote:

[2015-01-07 04:50] bsaiken opened #377 "Undefined index: ttk_st"
I was working to reformat the task UI view and I came across this bug.  I cannot figure out what causes it.

[2015-01-07 04:50] bsaiken commented on #377
![screen shot 2015-01-06 at 9 46 39 pm](https://cloud.githubusercontent.com/assets/8228624/5641071/05f5a2ca-95ee-11e4-8448-e4c97f7c6c4a.png)

[2015-01-07 05:19] WebDevJL commented on #355
Related to 7663799b0f87b27e87b94fae3941062fa9737076

[2015-01-07 05:46] WebDevJL opened #379 "Add button doesn't work in upload list form"

[2015-01-07 05:47] WebDevJL commented on #379
@bsaiken : you seem to have broken the code and the add button doesn't work anymore.

[2015-01-07 06:00] WebDevJL commented on #379
@bsaiken : you changed the attribute name from "lab_analyte_name" to "lab_analyte_names" and the javascript doesn't find the values anymore.

[2015-01-07 06:07] WebDevJL commented on #379
@bsaiken : also, since you remove the tab, there is no current to differentiate the field analytes textarea from the lab analytes textarea.

[2015-01-07 14:52] FWAJL commented on #354
If it does, then it does because it is problably not loading the value "active" properly. Or maybe I'm missing something.

[2015-01-07 16:15] WebDevJL commented on #379
Don't close issues that are not released. Please. Thank you.

[2015-01-07 16:56] bsaiken commented on #379
You are making code changes to fix this issue and I may change the UI so that the fix you create is irrelevant.  This is why I did not create the issue myself.  This is also why I closed it.  You are having a squirrel moment.

[2015-01-07 16:56] #379 closed

[2015-01-07 18:18] #366 closed

[2015-01-07 19:02] #355 closed

[2015-01-07 19:02] #357 closed

[2015-01-07 19:02] #358 closed

[2015-01-07 19:02] #362 closed

[2015-01-07 19:02] #363 closed

[2015-01-07 19:02] #377 closed

[2015-01-07 21:00] bsaiken commented on #372
Actually, you are the assignee...

[2015-01-07 22:00] bsaiken opened #384 "Modify tabbed UIs to match Analytes List All structure"
I have thought it through and the form layout you created for Analytes/listAll is exactly what I need for analytes/uploadList.  Brilliant.
I can do this no worries.
When I finish, there will be a l little back-end work to make it functional.
This layout resolves an issue I was having with the task/showForm layout as well.
I will also modify the project/showForm layout so that all tabbed layouts ar

[2015-01-08 05:27] FWAJL opened #385 "All buttons will be in the center of middle column"
To apply on listAll and uploadList views.

[2015-01-08 05:28] FWAJL opened #386 "Reactivate tabs on Analyte > Upload List view"

[2015-01-08 05:29] FWAJL opened #387 "Create the common analytes tables"
common_field_analytes:

   field_analyte_id
   field_analyte_name (varchar 50 - so there is room for field analtye name and units)

common_lab_analytes:

   lab_analyte_id
   lab_analyte_category (we will list lab analytes by category in the common lab analytes list to make them easier to find, but we will NOT list by category in any other analytes list.
   lab_analyte_name

These tables will not

[2015-01-08 05:33] FWAJL opened #388 "Update the listAll and uploadList titles"
The <h4> headings for the analyze UI will be:

   analyte/listAll - Field Analytes tab: left side: "Analytes to be used for this Project" - no change
   analyte/listAll - Field Analytes tab: right side: "All your analytes (available for all projects)"
   analyte/listAll - Lab Analytes tab: left side: "Analytes to be used for this Project" - no change
   analyte/listAll - Lab Analytes tab: right si

[2015-01-08 06:00] FWAJL commented on #387
All the column name must follow the naming structure as the other tables, hence "common_" must be added.

[2015-01-08 18:51] bsaiken commented on #388
https://github.com/FWAJL/FieldWorkAssistantMVC/commit/b7070485987c154bb60c7e666bb33dcc78196114

[2015-01-08 18:52] bsaiken commented on #387
Yes, of course.

[2015-01-08 18:54] bsaiken commented on #386
Tabs have been inserted with this commit, but still in progress so there are bugs.

https://github.com/FWAJL/FieldWorkAssistantMVC/commit/b7070485987c154bb60c7e666bb33dcc78196114

[2015-01-08 19:16] bsaiken commented on #387
I think I have done all I can do for the analytes/uploadList module until this is finish, so we can create the common analyte lists.

As an aside...I notice you use css styling like "class: hide" and style="display: none;"  until some condition is met.  Why hide things?  Are these really necessary?  I find them terribly annoying.

[2015-01-09 01:03] bsaiken commented on #384
Question:  The  task ui has a different module for each tab.  That is not the way Analytes is set up - it's just one module for both tabs.  So it begs the question...should the task ui still have a separate module for each tab, or follow the analytes ui style with one module that holds all tabs.

[2015-01-09 02:47] bsaiken commented on #384
Of course, this applies to the project ui - so I am going to stop until I know which way you want the modules built.

[2015-01-09 05:09] FWAJL commented on #384
The Task UI has a lot of tabs. The Analyte UI has only two tabs. It is manageable to for the Analyte UI to have one view for the 2 tabs but the Task UI is too complex to do the same. At least right now, it is faster to built a view per tab for the Task UI.

[2015-01-09 05:11] FWAJL commented on #384
The Project UI is also simple, even simplier than the Analyte UI because it doesn't have multiple tabs for ListAll view. The challenge with the Analyte UI was the dual list management. That's why it has its own list module and is not using the common modules

[2015-01-09 05:13] bsaiken commented on #384
So that means a module for each tab for task ui and one module for project ui?

[2015-01-09 05:30] FWAJL commented on #372
@bsaiken : let me know when you're happy with @danish2014's work so I can validate his code.

[2015-01-09 05:31] danish2014 commented on #372
@bsaiken  : I have corrected A-1 issues

On Fri, Jan 9, 2015 at 11:00 AM, FWAJL <notifications@github.com> wrote:

[2015-01-09 05:38] FWAJL opened #393 "Use class="hide" instead of inline css"
To avoid inline css, replace style="display: none" with class="hide".

[2015-01-09 05:45] bsaiken commented on #372
I will not be able to review the work until he pushes the changes to the
FWAJL/FieldWorkAssistantMVC feature_mapping branch.

I just checked what is there and it is not fixed.

Brian

On 09.01.2015 05:30, FWAJL wrote:

[2015-01-09 05:46] FWAJL commented on #393
@bsaiken : this is to answer your question from #387. Because in the Project UI and Analyte UI, we have  everything loaded at once, we can want to show everything. Only the active tab content will be displayed. The rest is hidden. Hence the default is "class=hide".
It is necessary to do so otherwise the UI would be ok.

The style="display: none" (aka inline css) are not a good practice so I replac

[2015-01-09 05:48] FWAJL commented on #387
@bsaiken: see #393 for the answer.

--
Jérémie Litzler

On 8 January 2015 at 20:16, bsaiken <notifications@github.com> wrote:

[2015-01-09 05:51] FWAJL opened #395 "Build the browser history correctly"
Because of all the AJAX requests and the navigation logic, the browser history is messed up, e.g. when you click the back button, it doesn't go where you were last.

Therefore, we need to build the Browser history as we navigate and make ajax request.

This is a major issue.

[2015-01-09 06:00] bsaiken commented on #372
I think we are waiting on you now.  No rush from my end - I am off to
bed and will review tomorrow.

Brian

On 09.01.2015 05:30, FWAJL wrote:

[2015-01-09 06:09] FWAJL commented on #353
@bsaiken : when the Analyte UI is done, we need to apply the same div <div class="scroll-bar"></div> to the list modules.

[2015-01-09 06:17] FWAJL commented on #354
@bsaiken : fix is ready. It is done as I described.

[2015-01-09 07:15] FWAJL commented on #384
Yes.

[2015-01-09 07:36] FWAJL commented on #372
@bsaiken : I think @danish2014 committed his work.
@danish2014 : since you are a contributor to https://github.com/FWAJL/FieldWorkAssistantMVC, please push the commit to https://github.com/FWAJL/FieldWorkAssistantMVC on the feature_mapping branch. It will avoid a pull request. Plus, @bsaiken wants to have it on our repository, not on your fork.

Thank you.

[2015-01-09 07:44] FWAJL commented on #372
@danish2014 : please read [this] (https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/4.Use-the-repository-with-Git) before committing your work properly. It'll avoid you troubles :)

[2015-01-09 13:29] FWAJL commented on #142
@bsaiken,

Autocomplete doesn't require a submit since we are using jQuery. In fact, the autocomplete can be done as you type in an input box or as you check a box.

Therefore, the first thing to do is to define where do we need autocomplete. Then we will probably use the autocomplete of jQuery.

[2015-01-09 15:16] bsaiken commented on #353
Unless you have already done this, I do not want you doing it.  This was to be assigned to a freelancer.

[2015-01-09 17:12] bsaiken commented on #372
Hi Jeremie,

I was able to clone the forked branch and review the revised mapping
work. The front end for Milestone A-1 now displays correctly. Please
review the back-end code for conformance asap, then we can move forward.
  I will release payment once you are satisfied the code is acceptable.

Brian

On 09.01.2015 05:30, FWAJL wrote:

[2015-01-10 18:35] bsaiken commented on #395
This may be something to farm out to a freelancer

[2015-01-10 18:40] bsaiken commented on #393
The issue I have is that some things are getting hidden with a style="display: none" and I need to see everything during development.  For example, the checkboxes at the bottom of the task_info form were getting hidden, possibly because the tabs weren't ready yet.  I must be able to see everytihng, even if it is not ready.

[2015-01-11 03:11] bsaiken commented on #393
Also...we use JQuery to hide the divs we don't want until they are selected. We already have a function written for that for the task ui, which we could also apply to the project ui.

[2015-01-11 19:53] bsaiken opened #397 "Create technician_document table (copy of location_document table)."

[2015-01-12 08:01] FWAJL commented on #395
This is a core task. Let me think about it.

--
Jérémie Litzler

On 10 January 2015 at 19:35, bsaiken <notifications@github.com> wrote:

[2015-01-12 08:03] FWAJL commented on #393
The tabs are working for the Project UI already. Your updates weren't
correct and I pushed a fix ( see the comment I made in your commit ).

--
Jérémie Litzler

On 11 January 2015 at 04:11, bsaiken <notifications@github.com> wrote:

[2015-01-12 12:43] FWAJL opened #399 "Mapping UI questions"
[>> Here are some questions regarding the mapping UI <<] (https://docs.google.com/spreadsheets/d/1QfO1nBDlqg8HweVqU0hY1QhbWlUnNxKy7Y6Lh42QKb0/edit?usp=sharing)

[2015-01-12 13:04] FWAJL commented on #372
See my first comments here: https://docs.google.com/document/d/1o1YfriWqDpzH6ODv4obhQJlvvEJMj2AJ4Q-HF8y_-PQ (I'm not done yet).

[2015-01-12 16:42] bsaiken commented on #399
No questions - did you intent to attach a file?

[2015-01-12 17:27] bsaiken commented on #372
Have you sent these comments to Danish?  You need to do so right away.

Brian

On 12.01.2015 13:04, FWAJL wrote:

[2015-01-12 19:32] danish2014 commented on #372
@bsaiken I got the comments
I am working on it. I will make the necessary changes soon.

[2015-01-12 20:35] FWAJL commented on #399
See link above.

[2015-01-12 20:41] FWAJL commented on #372
@bsaiken: yes. When I use @mention, he receives git notifications and I set
the sharing to "Anyone can view with the link".

--
Jérémie Litzler

On 12 January 2015 at 20:32, danish2014 <notifications@github.com> wrote:

[2015-01-12 20:44] bsaiken commented on #399
I am unable to edit the linked file.
We have a few steps to go, but soon we will not be able to have a Project (Facility) that does not have lat/long coordinates.  This will become a requirement when creating a new Project.  Will be solved with my magic popups that you are going to learn to like.

Locations can be defined without lat/long coordinates.  The coordinates should NOT be 0,0 - unless th

[2015-01-12 20:46] bsaiken commented on #372
Yes, communication protocol will be on the agenda.  One of my emails to
you accidentally went up on eLance and it contained info I did not want
Danish to see.  grrr...

Brian

On 12.01.2015 20:41, FWAJL wrote:

[2015-01-13 05:16] FWAJL commented on #399
@bsaiken : you should able to edit the file if you're connected to your Google Account.

[2015-01-13 05:24] danish2014 commented on #372
I have pushed the changes

[2015-01-13 05:42] FWAJL commented on #372
@danish2014 :

I'm sorry to insist but please follow the instructions when pushing code.
The commit comment must be: `git commit -m "Issue #[IssueId]" -m "Some additional message if you need"`

I will review the updates.
Thank you.

[2015-01-13 05:47] FWAJL commented on #372
@danish2014 : none of the items listed in the required updates have been done in this commit (5c24562cb46a76e8efa0091d52e3d8fb3828c168).

Have you forgotten to push some code?

Thank you.

[2015-01-13 05:56] FWAJL commented on #387
@bsaiken : I released in version 1.5.29 the code you made but it is not
complete, you commented a few days ago. This task however is complete and
you can go ahead with the rest.

--
Jérémie Litzler

On 8 January 2015 at 20:16, bsaiken <notifications@github.com> wrote:

[2015-01-13 05:56] danish2014 commented on #372
What is the list of updates?

[2015-01-13 06:12] danish2014 commented on #372
ok, you mean the errors you listed in doc?

[2015-01-13 06:17] FWAJL commented on #372
@danish2014 : see my first comments here: https://docs.google.com/document/d/1o1YfriWqDpzH6ODv4obhQJlvvEJMj2AJ4Q-HF8y_-PQ (I'm not done yet).

[2015-01-13 10:04] FWAJL commented on #385
@bsaiken : I don't understand the change of labels. You mark it as "status:to release" but there is no code submitted.
Like I said, we need a priority and a version label. This is for me to be able to manage the release and the flow of updates. Please help me with that.

[2015-01-13 10:06] FWAJL commented on #384
@bsaiken : Same comment as #385 .

[2015-01-13 10:09] FWAJL commented on #385
@bsaiken : you can add a reference to a commit by pasting the commit id (for ex: 6cace37a2bee00ca0ccb0b322234420530d13c88) if you didn't push the code with the issue number. It can happen but add this reference in the comments of issue like this one.

[2015-01-13 12:48] WebDevJL commented on #397
@bsaiken : After thinking about it, we will have one table for all the documents, which will be used to store:
- where the file it is (name of file),
- what type it is (this will be retrieve from the extension),
- what category it is (an image for  a location or technician for example).

The advantages:
- no need to update the database later
- dynamic upload solution: you just specify the content

[2015-01-13 13:13] WebDevJL commented on #365
We need a little specification for this since it will be done using a prompt box

[2015-01-13 13:17] WebDevJL commented on #348
@bsaiken : I think this folder creation needs to be done as part of the upload functionality.

Why? Because the way the database table are built will allow this. The only part to do in this issue is to create the uploadfiles folder.

What do you think?

[2015-01-13 13:36] WebDevJL commented on #334
@bsaiken : SOW reviewed.

[2015-01-13 13:49] WebDevJL commented on #368
Related to #397 : table structure and more specifications.

[2015-01-13 13:49] WebDevJL commented on #249
Related to #397 : table structure and more specifications.

[2015-01-13 15:40] bsaiken commented on #397
@WebDevJL : Do it.

[2015-01-13 15:42] bsaiken commented on #385
I made the changes that put the button s in the middle, so as far as I know the code is ready to release.

[2015-01-13 16:19] bsaiken commented on #384
Project form is being displayed incorrectly.

[2015-01-13 16:41] bsaiken opened #400 "Navigation button issues"
I almost always need to press a button more than once to get a response.  Sometimes three times.

[2015-01-13 17:10] #353 closed

[2015-01-13 20:58] FWAJL commented on #397
@bsaiken: it will be pushed tomorrow to the dev branch.

--
Jérémie Litzler

On 13 January 2015 at 16:40, bsaiken <notifications@github.com> wrote:

[2015-01-13 20:58] FWAJL commented on #385
It is released since this morning.

[2015-01-13 21:05] FWAJL commented on #400
@bsaiken: give as many as occurences as you can because I'm not finding one
so far.

I have not had the time to look why the server online is slow. Maybe we
need an issue for that and I think that is why you are having problems on
button clicks.

--
Jérémie Litzler

On 13 January 2015 at 17:41, bsaiken <notifications@github.com> wrote:

[2015-01-13 21:19] FWAJL commented on #384
@bsaiken: do you want me to correct it or will you do it?

--
Jérémie Litzler

On 13 January 2015 at 17:19, bsaiken <notifications@github.com> wrote:

[2015-01-13 21:57] bsaiken commented on #384
@WebDevJL : Let's talk about who does it during our meeting.

[2015-01-13 23:02] bsaiken commented on #334
This issue, and related issues, cannot be released unit the layout changes are completed.

[2015-01-14 05:15] FWAJL commented on #372
@danish2014 : my list is complete. I didn't add new items to the 13 points. Are you having troubles to process some of them?

[2015-01-14 05:48] FWAJL opened #401 "Remove task location if the project location is set inactive"
Scenario:
- you have a list of 10 project locations that are active.
- you had them to the task locations list
- you set 2 project locations (in location/listAll) as inactive

What happen to the task locations related to the 2 project locations just deactivated? I would say they must be deleted on the action of updating the project locations.

@bsaiken : please confirm the accuracy of this.

[2015-01-14 05:49] FWAJL opened #402 "Remove task technicians if the technicians is set inactive"
Same as #401 but technicians.

@bsaiken : same processing here?

[2015-01-14 05:50] FWAJL commented on #401
Related to #402

[2015-01-14 09:26] WebDevJL commented on #400
@bsaiken : possible lead => the javascript and css library take too long to load?

I think we need to include them differently in the header/footer template. When we are working locally, it is useful to have a local copy but online, we could CDN urls (hosted files on Google or other providers for free) or we could use the minified or gzipped version of the libraries.

Solution would be to have a c

[2015-01-14 14:46] bsaiken commented on #401
Only active locations can be used for a Task.  Same for Technicians.

[2015-01-14 15:05] WebDevJL commented on #273
@bsaiken : I will start this by using the database filtering solution and I will apply it every list (because the select method is common to all).

[2015-01-14 15:09] WebDevJL commented on #401
@bsaiken : ok so we need to fix this bug then.

[2015-01-14 15:19] WebDevJL commented on #401
@bsaiken : to prioritized, please.

[2015-01-14 15:19] WebDevJL commented on #402
@bsaiken : to prioritized, please.

[2015-01-14 16:40] bsaiken commented on #402
We will do this later, after Tasks can become activated, then the process of deactivating a technician will check first to see if the technician is assigned to an active task or is unavailable because they are on another active task that is happening during the same time..

[2015-01-14 16:42] bsaiken commented on #401
This will need to wait until we have active tasks.  Locations should not be made inactive while they are assigned to an active task.  Or, the task itself may render the Location inactive.

[2015-01-15 05:25] FWAJL commented on #384
@bsaiken : first bug was the closing on line 31 of Applications/PMTool/Views/Task/Modules/task_form.php. See the commit below.

[2015-01-15 05:32] FWAJL commented on #384
@bsaiken : second bug was that you had duplicate code and add the 3 column-display too many times. The three files (project_info_lists.php, facility_info_lists.php, client_info_lists.php) are not useful at all. Look at the showForm view of Project now. That's all we need to do. See the commit below.

[2015-01-15 10:32] #399 closed

[2015-01-15 17:22] bsaiken commented on #384
I don't understand this comment.  showForm of project view is not fixed.
![screen shot 2015-01-15 at 10 19 53 am](https://cloud.githubusercontent.com/assets/8228624/5762600/60be52fc-9ca0-11e4-8dad-db03c17ebeb9.png)

[2015-01-15 17:30] bsaiken commented on #388
I cannot verify this.  Content of page is being blocked with style="display: none;"

[2015-01-15 17:31] #386 closed

[2015-01-15 17:33] #354 closed

[2015-01-15 17:36] #387 closed

[2015-01-15 17:45] bsaiken commented on #393
I still do not understand how this is fixed.  For the analyte/uploadList, there is still a style= "display:none"; even though there is no "hide" class.

![screen shot 2015-01-15 at 10 41 50 am](https://cloud.githubusercontent.com/assets/8228624/5762991/926b2a3e-9ca3-11e4-8b1f-3dd4ce20a18d.png)

[2015-01-15 17:53] bsaiken commented on #348
I thought we decided this in the meeting.  So I am removing the questions status.

[2015-01-15 21:02] FWAJL commented on #384
@bsaiken : unless I tell you I have *released *it, it is not live. Here, I
am informing you I have found the bug and I have fixed it in the code. I
also explain you what was wrong and you can see the commit for more
details. Do you understand?

--
Jérémie Litzler

On 15 January 2015 at 18:22, bsaiken <notifications@github.com> wrote:

[2015-01-15 21:03] FWAJL commented on #393
@bsaiken: like my comment earlier says, this is not fixed but I have found
the solution and the fix has been applied all the list except the Analyte
lists. I will apply the fix to it as part of #384.

--
Jérémie Litzler

On 15 January 2015 at 18:45, bsaiken <notifications@github.com> wrote:

[2015-01-15 21:04] FWAJL commented on #348
@bsaiken: this is grand. Thank you.

--
Jérémie Litzler

On 15 January 2015 at 18:53, bsaiken <notifications@github.com> wrote:

[2015-01-15 21:06] FWAJL commented on #388
@bsaiken: I will do it as part of #384.

--
Jérémie Litzler

On 15 January 2015 at 18:30, bsaiken <notifications@github.com> wrote:

[2015-01-15 21:36] bsaiken commented on #384
I thought the status was "to review".  If it had been, then I would have followed the procedure correctly.  Not sure how I saw the status wrong...

[2015-01-16 05:03] FWAJL commented on #384
@bsaiken : It was set to review but then we saw it was not complete so it was moved back to in dev. You can see it in the label history.

[2015-01-16 17:41] bsaiken opened #403 "Add forms UI"
@WebDevJL
I have decided how to implement the forms.  We will add a left menu item for forms.  This UI will look a lot like the services UI, so I started to prepare it, but then I realized the Services UI is not up to date.

forms/listALL: Left column: "Forms for the current project"; Right column: "All available forms"

forms/showForm:  We don't have the webform yet - we can talk about it at our

[2015-01-16 20:16] bsaiken opened #404 "Active Task UI"
@WebDevJL
I have decided how to prepare a UI for Tasks that are activated, or "Live".
I know these will get broken down into separate issues, but here I am listing out the individual tabs.

### Task Status
This tab will display basic info about the task, but none of this will be editable.  Items on this page include:
- Task name
- Deadline
- Current Date
- Days Remaining
- List of Technicians work

[2015-01-19 06:00] FWAJL opened #407 "Bug fixes for release 1.5.30"

[2015-01-19 09:12] FWAJL commented on #404
Ok.

--
Jérémie Litzler

On 16 January 2015 at 21:16, bsaiken <notifications@github.com> wrote:

[2015-01-19 09:12] WebDevJL opened #408 "Remove table inspection_question"

[2015-01-19 09:19] FWAJL commented on #403
@bsaiken: Ok for the Forms UI. I created a milestone in git for the related
tasks.

I'm not sure what is not up to date with the Service UI. Please give me
more details.

The DB table will be removed in the next release.

I have briefly reviewed your code but since it is new stuff, I'll look in
details later, waiting you finish.

--
Jérémie Litzler

On 16 January 2015 at 18:41, bsaiken <notificati

[2015-01-19 14:59] WebDevJL commented on #407
@bsaiken : just do the unit test to validate this.

[2015-01-19 17:46] bsaiken commented on #397
@WebDevJL  I am closing this, assuming the table "document" satisfies this issue.

[2015-01-19 17:46] #397 closed

[2015-01-19 17:47] #326 closed

[2015-01-19 17:49] bsaiken commented on #384
@FWAJL
There are some minor css changes that needs to be fixed.  I will do them.  Brian

[2015-01-19 17:49] #384 closed

[2015-01-19 17:50] bsaiken commented on #385
@FWAJL
There are some minor formatting changes that are needed (css).  I will take care of it.

[2015-01-19 17:50] #385 closed

[2015-01-19 17:51] bsaiken commented on #400
@FWAJL
So far, additional testing has shown the response is slow, not broken, so I am lowering this to low priority.

[2015-01-19 17:52] bsaiken commented on #407
@FWAJL
I checked the status: to review items.
Continuing to routine unit test.

[2015-01-19 17:52] #407 closed

[2015-01-19 18:40] bsaiken opened #409 "Analytes UI formatting"
@WebDevJL
I made the following changes:
nav.css
.content_left > li{
  display: block;
  padding: 2px;
  border-bottom: solid 1px #999;

This was done previously but not pushed to dev.  This allows all left menu items to appear on the screen (my laptop) without needing to scroll.

app-style.css
removed .high-textare class
(deprecated)

analyte form modules (.php)
changed .high-textarea to .list-pan

[2015-01-19 19:34] bsaiken opened #410 "Popups Discussion thread"
@WebDevJL
FYI:  I have hired the popups freelancer.

[2015-01-19 19:41] FWAJL commented on #400
@bsaiken : ok. The improvement described above could be a lead. We'll see
later.

--
Jérémie Litzler
On 19 Jan 2015 18:51, "bsaiken" <notifications@github.com> wrote:

[2015-01-19 21:49] bsaiken commented on #400
Hanging Error when clicking "add locations"

![screen shot 2015-01-19 at 2 46 04 pm](https://cloud.githubusercontent.com/assets/8228624/5808393/21789eac-9fea-11e4-9284-4b0ecfba778a.png)

Also happened when trying to edit technician info.

![screen shot 2015-01-19 at 1 14 20 pm](https://cloud.githubusercontent.com/assets/8228624/5808408/4fccee70-9fea-11e4-9872-934b7607aeb9.png)

[2015-01-19 22:26] bsaiken opened #411 "Contextual menu unavailable for Project field analytes"

[2015-01-19 22:35] bsaiken opened #412 "Sort common lab analytes by category"

[2015-01-19 22:46] bsaiken opened #413 "Duplicate entries when moving anaytes to Project analytes list"
![screen shot 2015-01-19 at 3 44 22 pm](https://cloud.githubusercontent.com/assets/8228624/5809120/2db237b6-9ff2-11e4-89ab-3b5ecae85292.png)

[2015-01-20 07:06] WebDevJL commented on #411
@bsaiken : I know. Give me a case where we need it? As far as I know, the Project Analytes just need to be removed with the button between the two lists, don't they?

[2015-01-20 07:13] WebDevJL opened #415 "Common lab analyes not displayed"

[2015-01-20 07:17] WebDevJL commented on #415
@bsaiken : I see them (see attached screenshot)
![screenshot_2015-01-20-08-12-49](https://cloud.githubusercontent.com/assets/3506074/5813368/b290893a-a07c-11e4-8d2a-08f424162f32.png)
. You can add some via http://dev.fieldworkmanager.com/analyte/uploadCommons

Make sure when you add some via the phpMyAdmin, you log in again.

[2015-01-20 07:24] WebDevJL commented on #413
@bsaiken : duplicated are not really. plus you removed one since you took the screenshot.

See attached.
![issue413-2](https://cloud.githubusercontent.com/assets/3506074/5813449/cca9777c-a07d-11e4-9613-731c4beb9d11.png)
![issue413-1](https://cloud.githubusercontent.com/assets/3506074/5813450/ccb0de18-a07d-11e4-9726-8b938cbffab7.png)

[2015-01-20 07:54] WebDevJL commented on #400
@bsaiken : added to agenda.

[2015-01-20 07:55] FWAJL commented on #410
@bsaiken: OK

--
Jérémie Litzler

On 19 January 2015 at 20:34, bsaiken <notifications@github.com> wrote:

[2015-01-20 07:57] FWAJL commented on #409
@bsaiken: I'll look into it.

--
Jérémie Litzler

On 19 January 2015 at 19:40, bsaiken <notifications@github.com> wrote:

[2015-01-20 08:03] WebDevJL commented on #385
@bsaiken : ok. I saw the updates from #409

[2015-01-20 08:13] WebDevJL commented on #412
@bsaiken : please prioritize this. Then reassign to me.

[2015-01-20 08:19] WebDevJL opened #420 "Build core file upload"
1) we need to upload files like describe in #397.
2) implement photo upload for locations to start.

[2015-01-20 08:25] WebDevJL commented on #420
Resources:
- http://www.w3schools.com/php/php_file_upload.asp
- http://www.dropzonejs.com/

[2015-01-20 12:53] WebDevJL commented on #420
***Be careful of PHP.ini config:***
post_max_size is set to 8mo
upload_max_filesize is set to 2mo

@bsaiken :
We have to limit the amount data uploaded at once. Can we define a size limit for each file?
Currently, we can upload a max of 4 files of less than 2mo each.

[2015-01-20 15:28] bsaiken commented on #420
By "mo", do you mean "Mb"?  I think "mo" is french.

I checked our Hurray host plans and I do not see any limitations based on our plan type.

We can talk about the upload files size we will need Wednesday.  Please add to agenda.

[2015-01-20 15:38] bsaiken commented on #412
Medium priority is fine.

[2015-01-20 15:42] bsaiken commented on #400
@FWAJL
I'm confused how we can have priority:low and status: to be prioritized   at the same time.

[2015-01-20 15:47] bsaiken commented on #413
You need to add the constraint so there are no duplicates on  field_analyte_name_unit.
Similar for lab analytes.  If the user tries to add the same analyte a second time, we should just ignore this.  Coming up, we will add a popup alert box so the user knows this.   Also, when we add the autocomplete feature, there will be less likelyhood of a duplicate entry.

[2015-01-20 15:53] bsaiken commented on #415
The ability to add common analytes will be a feature we include when we
create the login account for the admin user.

I opened an issue to start listing the items the admin user can do.
Another thing they will be able to do is add/remove PMs.  List all PMs.
View the data for any PM.  etc.

Brian

On 20.01.2015 07:17, Jérémie Litzler wrote:

[2015-01-20 15:55] bsaiken opened #421 "Create separate user login for admin (restricted - webmaster only)"
Admin user shall be able to:

PM > List All

`Can add, edit, delete PMs.`
Link to email PMs

Project > List All
Can Edit (view) and Delete Projects

Technicians > List All
Can edit and Delete Technicians.
Can set/unset current PM to limit Technician List.
Breadcrumb to display Current PM

Locations > List All
Can edit and delete Locations.
Can set/unset current PM and current Project to limit Loca

[2015-01-20 15:57] bsaiken commented on #411
Let me think about this...

[2015-01-21 09:40] WebDevJL commented on #415
@bsaiken : moved to the Admin User UI milestone.

[2015-01-21 09:43] WebDevJL commented on #413
@bsaiken : ok. Will look at this.

[2015-01-21 09:48] WebDevJL commented on #409
@bsaiken : I have merged your commit to dev. Are you done or have you got something left to commit?

[2015-01-21 09:49] WebDevJL commented on #403
@bsaiken : the commit you made is merged to dev branch. Is this ready to go? if so, set the proper status so I know what to do. Thank you.

[2015-01-21 09:52] WebDevJL commented on #372
Reviewing the code and updating the comments list.

[2015-01-21 09:55] WebDevJL commented on #400
@bsaiken : status updated. Sorry for the confusion

[2015-01-21 10:43] WebDevJL commented on #420
@bsaiken : I meant Mb ;)

I will show how it is limited

[2015-01-21 16:43] bsaiken commented on #403
@FWAJL
I created a mockup of what the field forms UI will look like:

Google Drive ▸ FieldWorkManager ▸ Field Forms UI.pdf

So, what I did is outdated.  After our discussion we can formlized this issue so we can move it forward.

[2015-01-21 18:12] FWAJL opened #425 "Escape special character in PDO"
escape single quote

[2015-01-21 18:21] FWAJL opened #426 "Modify contextual menu"
Contextual menus to have only "Edit" and "Set". All other functions ("Save", "Delete" and "Copy") from center column buttons.

[2015-01-21 18:23] FWAJL opened #427 "Deactive contextual menu where not needed"

[2015-01-21 19:06] FWAJL commented on #420
@bsaiken: I changed the values.

post_max_size is set to 16mo
upload_max_filesize is set to 4mo

[2015-01-23 06:02] FWAJL commented on #410
Hello @gsouvik,

Welcome to FWM.

Please let me know if you need any help to start. Brian said you were having issue to view the branch? Is it still the case?
Also, I have added info to the database installation helper, to setup the user in particular.

Talk soon.

[2015-01-23 06:34] gsouvik commented on #410
Hello @FWAJL ,

Thank you for your message. I've managed to setup the app on my localhost finally, I was having some issues initially.

I'll continue developing on the first milestone and shall definitely ask if I have more questions or need any help regarding the code/repo.

Thanks again,
Souvik

[2015-01-23 07:17] WebDevJL opened #430 "Milestone A – Tooltips"
@gsouvik :

This is the issue you will commit the work under. when you do git commit, the first comment specifies the issue number.
An issue is also viewed as a task.

Please read the wiki, Part 3 for more details. I invite you to read the rest also.

Let me know if you have questions.

Thank you.

[2015-01-23 07:20] FWAJL commented on #410
@gsouvik,

Please let me know what is missing from the initial installation on localhost as I would like to improve it if necessary

See issue #430 for the first milestone. You can ask question related to that milestone there. Otherwise, general question can be asked here.

Thank you.

[2015-01-23 07:33] gsouvik commented on #410
@FWAJL
The codebase in itself didn't have any issue. The routing was performed by the .htaccess on the root, which was hidden and I could not find it from the finder.

I think a note could be added in the wiki stating the app depends of mod_rewrite and the initial request is handled by the root .htaccess. It is quite obvious though, but someone coming in new might miss it. Just wanted to share my

[2015-01-23 07:59] FWAJL commented on #410
@gsouvik : Good point. I'll add that. Thank you.

[2015-01-24 23:59] bsaiken opened #436 "Task form updates"
Cleaned up styling for Task Form
Re-added check boxes to the form - now that I am decided on the tabs structure, I re-did the tabs toggling depending on the work type
Moved text to xml file

[2015-01-25 00:06] bsaiken opened #437 "Incorporate task_form checkboxes and select list value to form handling"

[2015-01-25 05:57] bsaiken opened #438 "Clean up tabs"
Changed "tabs_close" to a single shared file (it was the same file in all cases).
Routes and keys also updated.
Removed tabs from UIs where not used.
Deleted deprecated files.

[2015-01-25 08:09] gsouvik commented on #430
Hello @FWAJL,
I need a bit of help. I've finished the milestone A on my local and now need to push it back to the github repo.
I did a "git branch" on my local and found that there's only one branch available to me and it's "dev". Should I make all my commits to this branch and then push it to live. I'm a newbie to git/github.
Also for your reference I cloned the repo at https://github.com/FWAJL/F

[2015-01-25 18:17] bsaiken opened #439 "Task UI, Active Task UI, Complete Task UI creation"
Modified Task tab text with resource keys
Created Tab Keys for active and completed tasks
Created URL Keys for Active and Completed Tasks

[2015-01-25 18:57] bsaiken opened #440 "Use arrows for activate and de-activate buttons."
Is there any reason not to use arrows over text for these buttons?  I prefer arrows.
I did the arrows for the Project UI, but the Title text does not appear.  Do you know why?

[2015-01-25 20:57] FWAJL commented on #430
Hello @gsouvik,

It is normal you have only one branch locally when you start. You need to create the feature branch you must work on locally and then push the updates to the same feature branch remotely.

Look at [this wiki part](https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/4.Git-branching-model). It explains what you need to do.
The most important part to remember to `git pull` before you

[2015-01-25 20:59] FWAJL commented on #410
@gsouvik : please read [this document](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0). This will help you going forward with us.

[2015-01-26 05:05] FWAJL commented on #438
@bsaiken : good initiative.

[2015-01-26 05:48] FWAJL commented on #425
@bsaiken : this is more tricky than I thought. We need to use the PDO class of PHP to build clean sql queries.
The single quote is a character reserved for the sql syntax and that's why it fails when add one in a data string.

[2015-01-26 05:56] FWAJL commented on #415
@bsaiken : are you still having this issue?

[2015-01-26 05:57] FWAJL commented on #411
Look at #426.

[2015-01-26 05:57] #411 closed

[2015-01-26 07:33] gsouvik commented on #430
@FWAJL

Thank you for the information. That helped me a lot. I'll create a branch "feature_popup" and then push everything to it. Thanks again

[2015-01-26 08:47] FWAJL commented on #430
@gsouvik

Good :) Let me know if you have issues.

[2015-01-26 14:12] FWAJL commented on #440
@bsaiken : I'm sure what you mean. Can you share a screenshot with a example? Thank you.

[2015-01-26 14:13] FWAJL commented on #440
@bsaiken : I'm sure what you mean. Can you share a screenshot with a example? Thank you.

[2015-01-26 16:42] bsaiken commented on #425
@WebDevJL
This is a very low priority item, but since you looked into it anyway, it is clear that your proposed solution is too complicated and not the way to go.  This can be solved by adding front-end data validation, which will screen out potential offending strings.
Close this Issue and create a new issue for data validation.  Include this specific issue in the comments.  The issue can be low

[2015-01-26 16:45] bsaiken commented on #415
I see them.  Closing this issue.

[2015-01-26 16:45] #415 closed

[2015-01-26 16:48] bsaiken commented on #388
This is finished.  I may refine the text in the future, but it is good for now.

[2015-01-26 16:48] #388 closed

[2015-01-26 16:54] bsaiken commented on #408
@FWAJL
This table has not been dropped.  I tried to drop it, but it would not phpMyAdmin would not allow it due to a feign key restraint.  You will need to drop the table.

[2015-01-26 16:59] bsaiken commented on #440
Here is the arrow.

![screen shot 2015-01-26 at 9 59 20 am](https://cloud.githubusercontent.com/assets/8228624/5903952/06dfbf00-a542-11e4-9f26-f7f61a724c87.png)

[2015-01-26 17:02] bsaiken commented on #440
It is working now.

[2015-01-26 17:02] #440 closed

[2015-01-26 17:04] bsaiken commented on #393
I am closing this Issue.  I will open a new Issue if it comes up again.

[2015-01-26 17:04] #393 closed

[2015-01-26 17:07] #409 closed

[2015-01-26 17:08] #436 closed

[2015-01-26 17:09] #438 closed

[2015-01-26 17:10] #439 closed

[2015-01-26 17:12] bsaiken commented on #404
We need to leave this as preliminary until we create separate new issues for each phase, and then this will become a milestone.  I may refine this from time to time until it is formally set up.

[2015-01-26 19:20] bsaiken opened #443 "RIght clicking is in Google chrome immediately redirects"

[2015-01-26 19:23] bsaiken opened #444 "Add data validation to popups task"

[2015-01-26 19:32] bsaiken opened #445 "Replace tables with ol in task_info form"

[2015-01-26 19:37] bsaiken commented on #400
Website hung up when trying to promote Project Locations to Task Locations.
![screen shot 2015-01-26 at 12 35 39 pm](https://cloud.githubusercontent.com/assets/8228624/5906836/104f0954-a558-11e4-9ed7-04bbec39da3a.png)

[2015-01-26 19:48] FWAJL commented on #408
@bsaiken: for some reason, it didn't exist this morning when I run the sql
query (which is my job, you don't need to do). It was already deleted so
the task is done.

--
Jérémie Litzler

On 26 January 2015 at 17:54, bsaiken <notifications@github.com> wrote:

[2015-01-26 19:49] FWAJL commented on #425
@bsaiken

We can leave this opened to remember it needs to be done. We'll link it the front end validation task.

[2015-01-26 19:51] FWAJL opened #446 "Front-end escape single quote"
escape the single quote from user inputs to avoid problems with the sql queries.

The updates must take place in the dataservice.js file, just before calling the PHP scripts.

[2015-01-26 19:52] FWAJL commented on #425
Temporary solution awaiting to find resources to do: #426

[2015-01-26 19:53] FWAJL commented on #446
Related to #425

[2015-01-26 19:59] bsaiken commented on #408
I just took a screen shot of our database - it is there.

![screen shot 2015-01-26 at 12 58 55 pm](https://cloud.githubusercontent.com/assets/8228624/5907302/26e92412-a55b-11e4-8c18-0e6eb6f2ffc6.png)

[2015-01-26 20:02] bsaiken commented on #425
I don't understand why, since you have created Issue #446, this Issue stays open.  Every open Issue is one more thing I need to look at every week.

[2015-01-27 03:13] bsaiken commented on #356
Can we close this Issue?

[2015-01-27 05:23] FWAJL commented on #443
@bsaiken

I have tried all the contextual menus and right-click works and let me choose the option.
Please be more specific and list where it happens.

[2015-01-27 05:28] FWAJL commented on #400
@bsaiken

Did you click and nothing happened? I think we need to take care of this soon otherwise it will become a real inconvenience.
I think I need to change how the JavaScript and CSS libraries are loaded.

Let's add this to the agenda.

[2015-01-27 05:39] FWAJL commented on #445
See my comment in your commit eb968fea7bf2cc9ea877559839abbce8cd0daa7f

[2015-01-27 06:20] gsouvik commented on #430
Hello @bsaiken @FWAJL
I pushed the changes for the milestone A - tooltip for the active and inactive lists. Currently those are implemented only for the Project and Technician screens.
Please review and let me know if the solution looks good.
Thank you.

[2015-01-27 07:34] FWAJL commented on #430
@gsouvik @bsaiken

We will sure do. Thank you for the work.

[2015-01-27 08:11] FWAJL commented on #425
@bsaiken

Because I want to keep in mind that this the best solution even if it is complex to implement. We can't just get rid of a problem by ignoring it. See my email about moving the issues you don't want to see elsewhere.

Thank you.

[2015-01-27 08:17] FWAJL commented on #408
@bsaiken

There was a second table related to the first. I have updated the script and ran it live. It is now done.

[2015-01-27 08:17] #408 closed

[2015-01-27 08:21] FWAJL commented on #425
@bsaiken

We can close it only once we create the issue in [the backlog](https://github.com/FWM-Team/FWM-Backlog-Issues/issues). This one is.

[2015-01-27 08:21] #425 closed

[2015-01-27 08:24] #356 closed

[2015-01-27 09:28] FWAJL commented on #437
@bsaiken

Please describe what you mean by form handling? Do you mean store the data in the DB?

Thank you.

[2015-01-27 15:45] bsaiken commented on #437
Yes.  The checkbox values need to be stored so the next time the user
opens the task the proper tabs are display and the trigger values are
recorded.  Also, if it is a recurring trigger, the frequency value needs
to be stored.

Brian

On 27.01.2015 09:28, FWAJL wrote:

[2015-01-28 08:13] #410 closed

[2015-01-28 15:17] bsaiken commented on #443
@FWAJL
It is only happening in Chrome.  I have tried everything I can think of to get rid of the issue.

Safari, Firefox, and Opera work correctly.

[2015-01-30 15:32] bsaiken opened #463 "Update logo"
I had the logo updated.

[2015-01-30 15:36] bsaiken commented on #463
Question - why do we have a label "Assignee" when we can assign Issues another way (below Milesone is "Assignee"?

[2015-01-30 16:06] WebDevJL commented on #463
That was for your use originally. I kept it but I don't personally use it. I assign tasks directly to the appropriate person when applicable.

So if you want to remove the labels Assignee, go ahead

[2015-01-30 16:12] WebDevJL commented on #412
@bsaiken

I'll check on Monday if the logo has been released. If not I'll make sure it is.

[2015-01-30 16:13] WebDevJL commented on #463
@bsaiken

I'll check on Monday if the logo has been released. If not I'll make sure it is.

[2015-01-30 16:42] bsaiken commented on #463
The logo release is a low priority.  Just a slight tweak.  Whenever is
fine.

Brian

On 30.01.2015 16:13, Jérémie Litzler wrote:

[2015-01-30 17:00] gsouvik commented on #430
@FWAJL @bsaiken
Code re-organized and tooltip issue (double hover) is fixed, feature_popup branch is updated with the changes.
Thank you

[2015-01-30 21:16] bsaiken opened #464 "Modify the tables in the form documents to <ol> structure"
Instead of td -
use: li, input, span, input
etc.

[2015-01-30 21:23] bsaiken opened #465 "Clean up app-style and app_theme css files"
App-theme: colors/fonts/border style
App-style: position/margins/widths/heights

[2015-01-30 22:42] bsaiken opened #466 "Analytes UI Specs"
The specs for the Analytes UI is here:
https://docs.google.com/open?authuser=baiken.rides%40gmail.com&id=1onrElsC4W4lGtn-o2hXM1CrwevL7d_wPwguOuiNLJj0

[2015-01-31 08:07] gsouvik commented on #430
@bsaiken @FWAJL
feature_popup branch updated, Config/tooltipandpopupstrings.xml removed

[2015-02-02 05:30] FWAJL commented on #430
@gsouvik @bsaiken

Looks good to me.

[2015-02-02 05:31] FWAJL commented on #465
@bsaiken

added heights to the style.

[2015-02-02 19:46] bsaiken commented on #446
I tried single quotes for the 2/2/2015 unit tests.  Surprising result.  For adding a Technician (only), the "Add" button caused the site to freeze up, but the technician name (including the single quote) was added.

![screen shot 2015-02-02 at 12 44 31 pm](https://cloud.githubusercontent.com/assets/8228624/6007706/7901a912-aad9-11e4-84c6-59af90057dbe.png)

[2015-02-02 21:23] gsouvik commented on #430
Hello @bsaiken @FWAJL
I've added the Milestone B related codes and have pushed the feature_popup branch. The following functionality is added:
1) For delete actions in the list items a bootstrap confirm box is added.
2) The text for the confirm box is pulled from the xml file I created earlier as part of milestone A.
3) If there's no message defined for a section (e.g. technician or task) the syst

[2015-02-03 05:13] FWAJL opened #479 "Milestone B – Confirm Boxes"
@gsouvik

Commit code for the milestone B under this issue.

Thank you.

[2015-02-03 05:16] FWAJL opened #480 "Milestone C – Alert Boxes"
Decription:
Prepare a widget to display alert boxes at specified locations as shown in Attachment A. The text to be displayed by the alert boxes are to be in an editable xml file. Alert boxes in this context are being used for data validation. The function will need to check the content of the form for correct values before continuing.

@gsouvik

Commit code for the milestone C under this issue.

[2015-02-03 05:19] FWAJL opened #481 "Milestone D – Prompt Boxes"
Decription:
Prepare a widget to display prompt boxes at specified locations as shown in Attachment A. Prompt boxes require input to be stored in the database or on a web form. In some cases, a redirect will be required to continue to the correct page. Content of prompt boxes (instructions) are to be in an editable xml file.

@gsouvik

Commit code for the milestone D under this issue.

Thank you.

[2015-02-03 05:20] FWAJL commented on #479
@gsouvik

Please read the [Workflow document](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0/edit) to help us organize the git issue. Let me know if something is unclear.

Thank you.

[2015-02-03 05:33] FWAJL commented on #430
@gsouvik

I like what you have done. It looks good to me. Please wait for @bsaiken's feedback before moving to next milestone.

Keep up the good work.

Thank you.

[2015-02-03 05:38] gsouvik commented on #479
@FWAJL
Thanks for sharing the document. I shall follow the steps outlined in that doc for the future tasks starting with milestone B.
Thanks again.

[2015-02-03 05:43] gsouvik commented on #430
@FWAJL
Thank you for the feedback. @bsaiken also shared a note related to this release. I'll implemented the rest of the points outlined there and commit the code later down the day.

Thank you.

[2015-02-03 08:03] FWAJL commented on #430
@bsaiken

Can you share the note, please? Thanks.

[2015-02-03 21:10] gsouvik commented on #479
@bsaiken @FWAJL
I've changed the way the confirm box was behaving initially. In this commit:
1) The confirm box is no longer tied to the the <li>, it could now be attached with any event, with bit of code addition.
2) The confirm box now works from the contextual menu, the delete button on the view screen (showForm) and while you "Activate" back any entity. For example if an inactive technician is

[2015-02-03 22:20] bsaiken commented on #466
@FWAJL
I changed the status to "very high".  This will need to be done for Milestone D in the popup work, and Souvik is moving ahead quickly.

[2015-02-03 23:43] bsaiken commented on #465
@FWAJL
What happens when we need to apply a border style a margin to a class or id?

[2015-02-04 05:48] FWAJL opened #482 "Run DB script for Feb-03 2015"
Run script on live DB

[2015-02-04 05:50] FWAJL commented on #482
@gsouvik @bsaiken

[Script is here](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-02-03.sql)

[2015-02-04 05:50] #482 closed

[2015-02-04 05:51] FWAJL opened #483 "Run DB script for Feb-04 2015"
Script to run on live DV:

https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-02-04.sql

[2015-02-04 07:23] FWAJL commented on #465
@bsaiken

You have to show me because I don't understand "a border style a margin to a class or id". Is there a missing work?

[2015-02-04 08:29] gsouvik commented on #479
@bsaiken @FWAJL
The confirm box is removed from the activate event for project/technician section. I tried implementing it for the Task but when I'm accessing the Task section I get the following warning:

Warning: Invalid argument supplied for foreach() in <My local physical path to webroot>/FieldWorkAssistantMVC/Applications/PMTool/Helpers/TaskHelper.php on line 73 Fatal error: Call to a member

[2015-02-04 09:00] FWAJL commented on #479
@gsouvik

Basically, you need a project selected to view the tasks (same for locations, analytes, services).
In a way, it will be your task in the next milestone, I think. Using a popup, the user will be warned to select a project to view certain sections of the application.

You can work by just selecting a project in the project list. Then you will be able to view the Task list.

Let me know if

[2015-02-04 09:14] FWAJL commented on #479
@gsouvik

Your code is clean and I think you have a good aptitude to follow how we have coded the application.
Also, it is very nice that you follow the instructions about making the code reusable when applicable.
So I validate the commit fd16c909f1d64972e9368eb80fc423752a17719d

Thank you for that.

[2015-02-04 09:30] FWAJL commented on #466
@bsaiken

SOW doc reviewed. You can comment the docs to answer my questions.
I'll create the issues for the updates.

Thank you.

[2015-02-04 09:30] #466 closed

[2015-02-04 09:52] gsouvik commented on #479
@FWAJL
Thank you for the information that I would have to select a project in order to view the tasks section. Now I can access it. Also thank you for your comments regarding my code. For me It's always great to be part of new ways of coding style and project structure and I'm really excited to be able to contribute to it.

Thanks again,

[2015-02-04 10:09] FWAJL opened #487 "Rework the uploadList UI for Analytes"
[Slides here](https://docs.google.com/file/d/0B0NK6kSZhZ2BMzBOLTBhYVkwVE0) and [Answers to points here in the doc](https://docs.google.com/document/d/1onrElsC4W4lGtn-o2hXM1CrwevL7d_wPwguOuiNLJj0/edit).

This applies to both tabs.

1. Selecting an item on the right hand list (common analytes) brings up the “Activate” button, or left arrow (not the “Add Common Anaytes to Project” button.  Using the

[2015-02-04 10:11] FWAJL commented on #487
@bsaiken

Can be started when the questions are answered in the Google Doc. Thank you.

[2015-02-04 10:13] FWAJL opened #488 "Rework the listAll UI for Analytes"
[Slides here](https://docs.google.com/file/d/0B0NK6kSZhZ2BMzBOLTBhYVkwVE0) and [Answers to points here in the doc](https://docs.google.com/document/d/1onrElsC4W4lGtn-o2hXM1CrwevL7d_wPwguOuiNLJj0/edit).

This applies to both tabs.

1. No duplicates are allowed for Analytes (either side)
See Slide 3.

2. The only button available is the the “Activate” button.
See Slide 4.

3. No contextual menus wil

[2015-02-04 14:16] gsouvik commented on #479
@bsaiken @FWAJL
Confirm box added to the event "activate task". Please review and let me know so that I may proceed to the next milestone.

Thank You

[2015-02-04 15:51] bsaiken commented on #465
@FWAJL
What happens when we need to apply a border style and margin to a class or id?

[2015-02-04 16:26] bsaiken commented on #463
I don't know what happened, but the logo did not update.  I uploaded the correct logo to Hurray Host.

[2015-02-04 16:26] #463 closed

[2015-02-04 16:31] #464 closed

[2015-02-04 16:34] #372 closed

[2015-02-04 16:37] #445 closed

[2015-02-04 16:45] bsaiken commented on #365
@FWAJL
We can close.  This will be done with Issue #481.

[2015-02-04 16:46] bsaiken commented on #360
@FWAJL
We can close this.  This will be addressed with Issue #488

[2015-02-04 16:47] #334 closed

[2015-02-04 19:50] bsaiken commented on #402
@FWAJL

I think this Issue, and #401, should be in the Backlog.  Is there a simple way to migrate Issue to and from the Backlog (without having to create a duplicate backlog issue and delete the Issue here)?

[2015-02-04 19:54] bsaiken commented on #365
@FWAJL
This is an example of what I think of as a duplicate Issue.  When you created Issue #481, this issue became redundant.  I would like to purge redundant or deprecated Issues as we go.

[2015-02-05 05:14] FWAJL commented on #479
@gsouvik @bsaiken

Looks good to me. Thank you.

[2015-02-05 05:27] #365 closed

[2015-02-05 05:39] bsaiken commented on #479
@FWAJL @gsouvik

Please move on to Milestone C.

Thanks

Brian

[2015-02-05 08:54] FWAJL commented on #465
@bsaiken

For margin, it goes into app-style.css

For border,

- In app-theme.css, you add the css to the classes:
`border-color: #ff0000;`

- in app-style.css, you add the following css to the classes:
`border: 5px solid;` (where there is no color, just size and style of border)

[2015-02-05 09:18] #360 closed

[2015-02-05 14:48] bsaiken commented on #465
@FWAJL
So you split them.  I was starting to do that, but just wanted to make sure.

[2015-02-05 14:55] FWAJL commented on #465
@bsaiken

that way, it is consistent to what I told you. Thank you for spotting this details.

[2015-02-05 23:19] bsaiken commented on #443
@FWAJL
This is happening because in Chrome the contextual menu fires on the mousedown, and then it redirects on the mouseup.  Not supposed to, but the chromium folk won't fix it.
There is an easy work-around:
I added this to app-theme.css:
.context-menu-list{
    margin-left: 10px;
}
This way, on the mouseup event, the cursor is not hovering over the menu.  If you are OK with this fix, we can just

[2015-02-06 05:12] FWAJL commented on #443
@bsaiken

Good find.

In the meantime, please don't change the code on the server like that.
If you can't push the updates, please ask me to do it and I will take care of it.
Otherwise, it conflicts with my release and I have to discard the changes on the server and then I spend more time getting the code, committing and pushing it.

Thank you.

[2015-02-06 05:50] #483 closed

[2015-02-06 05:51] FWAJL opened #489 "Run DB script for Feb-06 2015"
Script to run on live DB:

https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-02-06.sql

[2015-02-06 09:36] FWAJL commented on #402
@bsaiken

Just copy the title and the url and [create a new issue in the Backlog](https://github.com/FWM-Team/FWM-Backlog-Issues/issues/new) with this description:

"\[See this issue\]\(https://github.com/FWAJL/FieldWorkAssistantMVC/issues/{id_of_issue}\) for details"

[2015-02-06 09:39] FWAJL commented on #401
@bsaiken

Do the same action as #402 to archive the issue to the Backlog

[2015-02-06 15:37] bsaiken commented on #443
This was an unusual situation, where the problem only occurred on the
server.  Your proposed course of action is absurd: Make changes on my
local machine (which I have no idea of knowing if they will work),
pushing them, waited for you to release the code, re-test...that may
have taken weeks.

An alternative would have been for me to change the code on the server,
then once I found the solution, d

[2015-02-06 16:32] bsaiken opened #493 "Bluehost setup"

[2015-02-06 16:36] #401 closed

[2015-02-06 16:36] #402 closed

[2015-02-06 16:37] bsaiken commented on #402
I understand.  I knew this was an option, I just thought there might be
a shortcut.

Brian

On 06.02.2015 09:36, FWAJL wrote:

[2015-02-06 21:14] gsouvik commented on #480
Hello @bsaiken @FWAJL

I've done the coding for milestone C and pushed to the feature_popup branch. In this commit:
1) As per attachment A, when adding a project the app checks if the project name and facility name are left empty. Further it checks if the project name entered is already there in the database. In each of those cases it displays an alert box. The content of the same comes from the x

[2015-02-06 23:00] bsaiken commented on #480
@FWAJL @gsouvik
On the front end, you applied the condition to the Facility Name, not the Facility Address.  The Facility Name can be empty, but they must enter a Facility Address.

[2015-02-07 14:30] gsouvik commented on #480
@bsaiken @FWAJL
I've excluded the facility name from the validation and have added the facility address. Please note that there was a previous layer of validation (a red toast message is shown on top right corner) which still checks for facility name. I haven't touched that logic. Please let me know if that needs to be modified too.
Thank you.

[2015-02-08 01:15] bsaiken commented on #480
@gsouvik @FWAJL

Thanks Souvik.

Yes, of course I know about the toastr messages.  We are using them during development.  Your popup work will eventually replace them, where needed.

The front end is correct.  I will let you know, after we check the coding, when we will be ready to do Milestone D.

[2015-02-08 13:23] mehedee1 commented on #493
Hi,
I have checked http://dev.fieldworkassistant.net which is working partially. It seems to me project, Technicians, location section is working well. But getting error for Task > add > Location or technicians.
Forms field, Service provider > add > Location or technicians.
Errors are undefined variable, non- object.

Do you see same error or anything else?

In addition the php is 5.4

[2015-02-08 14:29] bsaiken commented on #493
@mehedee1 @FWAJL
The site is working perfectly on Bluehost.  Thank you for setting this up.  The errors you are seeing are actually not errors.  In order to enable some of the menu items, the user must first select a Project.  We are in the process of implementing alert boxes to advise the user of this need.
Nothing related to forms is working yet.  That is because this is the part of the site I a

[2015-02-08 14:29] #493 closed

[2015-02-09 20:15] bsaiken commented on #489
@FWAJL
I updated my local database.  Will this impact freelancers?

[2015-02-09 20:17] #479 closed

[2015-02-09 20:18] #443 closed

[2015-02-10 05:30] FWAJL commented on #489
@bsaiken @gsouvik @mehedee1

Yes, I recommend that everyone runs the database updates locally.

[2015-02-10 17:12] bsaiken commented on #420
@FWAJL
Version 1.6.1 has been released.  Is this ready to be closed?

[2015-02-10 21:26] bsaiken commented on #480
@gsouvik @FWAJL
Souvik,
I talked to Jeremie, and I want you to move on to Milestone D.  However, we do want some code modifications.  You can modify C while you work on D as it is the same issue.
You can retrieve session data, rather than querying the database, for alert and prompt boxes.  We revised our Wiki to better explain:  https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/6.-How-to-code-in

[2015-02-11 09:30] gsouvik commented on #480
@bsaiken @FWAJL
I shall wait for the more detailed comments before proceeding into milestone D.
Thanks,
Souvik

[2015-02-11 12:06] FWAJL commented on #480
@gsouvik @bsaiken

I won't have time to explain nor write the specific comments today. I'm sorry.

[2015-02-11 17:07] bsaiken commented on #480
@gsouvik @FWAJL
Souvik, There is no need to wait.  You may move on to Milestone D.
Do keep in mind that much of the data you may need to retrieve is held in session arrays.  Using the session arrays is preferred, but not mandatory.

[2015-02-11 18:42] bsaiken commented on #400
@FWAJL
Check the timestamp on this one.  The site was working slowly.  This page took 3 seconds to load.

However, GIT also was slow, so maybe it is not our site after all.

![screen shot 2015-02-11 at 11 40 23 am](https://cloud.githubusercontent.com/assets/8228624/6153587/e20a3b4e-b1e2-11e4-8b5f-5b84d639d54b.png)

[2015-02-11 19:38] gsouvik commented on #480
@FWAJL @bsaiken
I've tested the Session object and found the projects there, I shall refactor the code for milestone C to remove the ajax call and continue with milestone D tomorrow. Shall keep you updated.
Thank you.

[2015-02-11 20:31] FWAJL commented on #480
@bsaiken

Let's not close this just yet. I have not released the code.

[2015-02-12 07:58] FWAJL commented on #480
@gsouvik @bsaiken

Please read [this document](https://docs.google.com/document/d/1Uhx4JUmiApVc1szbA62tHKc8SJgOHZTsGAxmQwR4ueo/edit?usp=sharing) and then move on to the following:

For the projects, as you login, they are automatically stored in the Session Projects. So the step 2 will be true.
To find the project, you will call `FindObjectByStringValue` in CommonHelper class like this:

`$match =

[2015-02-12 08:49] gsouvik commented on #480
@FWAJL
Thank you for the documentation and the code snippet. However when I tried using it I got a fatal error stating "FindObject" not found. Then I changed that to "FindObjectByStringValue" and now I'm getting the following:

Notice: Undefined variable: prop_name in /Library/WebServer/Documents/FieldWorkAssistantMVC/Applications/PMTool/Helpers/CommonHelper.php on line 147

Fatal error: Method na

[2015-02-12 09:51] FWAJL commented on #480
@gsouvik

What you wrote works but it would be better to use the logic I suggested.
I have committed a fix for the error. Please `git pull` and it should work.
Let me know.

PS: Thank you for your progress understanding this custom framework.

[2015-02-12 10:22] gsouvik commented on #480
@FWAJL
It works now, shall use the methods you provided. Shall ask questions if I face any issues further.
Thank you.

[2015-02-12 11:01] gsouvik commented on #480
@FWAJL
I need a bit of help from you. I'm suddenly experiencing a peculiar problem when I'm accessing the following URL:
http://localhost/FieldWorkAssistantMVC/service/listAll

The controller must be "ServiceController" and the action is "executeListAll". But peculiarly not a single change I'm making to that action reflects on the frontend. I've gone as far as renaming the controller itself to som

[2015-02-12 11:58] FWAJL commented on #480
@gsouvik

There is no caching. However, the url ~/service/listAll is rooted to ProjectServiceController, action manageServices.
I think that is why you don't see your updates reflected on the web page.

I hope that solves your issue.

[2015-02-12 13:23] gsouvik commented on #480
@FWAJL @bsaiken
I've refactored the code for milestone C to read from session if the data is available there first. I have pushed it to the feature_popup branch. Proceeding to milestone D.
Thank you.

[2015-02-12 14:22] FWAJL commented on #480
@gsouvik @bsaiken

I shall look at it tomorrow.

One last question: was my documentation about reading data clear? Do you understand how to use the Session data now? Please always ask if you are not sure, just like you have been doing so far. It is refreshing.

Thank you.

[2015-02-12 14:56] gsouvik commented on #480
@FWAJL @bsaiken
Yes the documentation explained the process. When solving a problem, mostly I'm trying to follow similar code blocks already existing in the system. I shall definitely ask about helper methods and general paradigm, if I sense that it could probably have already been implemented.
Thanks,
Souvik

[2015-02-12 19:54] bsaiken commented on #465
@FWAJL
Is the class "legend" ever used?  There are some css styles, but the only place I see .legend used is in the index.php modules, and I can't see where any of those are used.  Aren't all the index.php modules and the .legend class deprecated?

[2015-02-12 20:26] bsaiken commented on #465
@FWAJL
If we have this css:
.ui-selecting { background: #FECA40; }
.ui-selected { background: #F39814; color: white; }

Is the css below redundant?:
#group-list-right .ui-selecting, #group-list-left .ui-selecting { background: #FECA40; }
#group-list-right .ui-selected, #group-list-left .ui-selected { background: #F39814; color: white; }

[2015-02-13 00:21] bsaiken opened #504 "Task Field Forms UI"
Should be self explanatory.  This is the same logic for Technicians and Locations.  I have shown the Technicians example here.

"Available Technicians" in the screen shot below would be analogous to "Project Forms" from Issue #437.
Then Project Forms could be promoted to Task Forms (as Available Technicians could be promoted to Task Technicians.  see url:  /task/technicians).

![screen shot 2015-0

[2015-02-13 00:23] bsaiken opened #505 "Remove deprecated toastr comments (those replaced with popups)"

[2015-02-13 00:39] bsaiken opened #506 "Modify Layout to 5 - 1- 5 - 1 (12) and left margin increase"
![project ui revision - google slides_page_1](https://cloud.githubusercontent.com/assets/8228624/6179997/73401cd8-b2dc-11e4-84ba-92f0a8f97c08.png)
![project ui revision - google slides_page_2](https://cloud.githubusercontent.com/assets/8228624/6179998/734401fe-b2dc-11e4-8d0f-fe2fef502141.png)
![project ui revision - google slides_page_3](https://cloud.githubusercontent.com/assets/8228624/6179999/7

[2015-02-13 04:09] bsaiken commented on #506
@FWAJL
I started mapping out the DIV structure of all our pages:
https://docs.google.com/document/d/1qIjBqQrEeCugH4pJHewCdZHZSlqSBIkYSiI39ZjyCTM/edit
There are some inconsistencies and I think we can create a template that applies to all pages.
Take a look at this and we can discuss at our next meeting.

[2015-02-13 05:07] FWAJL commented on #465
@bsaiken

To first question:

Do a Command+Shift+F to find in the whole project where the word legend is used. It looks like it is not used.
I don't think we use any index.php view indeed. You deleted them if you want.

To second question:
You can put the css proposed instead the second that is redundant indeed.

[2015-02-13 05:30] FWAJL opened #507 "Run DB script for Feb-13 2015"
@gsouvik @bsaiken @mehedee1 :

Run update script on local machines if you don't have the table project_service in your local database.

The file: [Database/Scripts/Updates/2015-02-13.sql](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-02-13.sql)

Thank you.

[2015-02-13 05:45] bsaiken commented on #465
@FWAJL
Of course I did a search for .legend before I asked.  There are number of apparently deprecated classes.  Also, sometimes classes are amended or inserted with scripts, so it is not always easy to tel, even with a search.  That's why I was asking you.
I found a number of deprecated files.  I am going to test the site tomorrow and then I will commit changes with the deprecated files deleted.

[2015-02-13 07:35] FWAJL commented on #465
@bsaiken

To second question:
You can put the css you have suggested instead the second and current css. The latter is redundant indeed.

[2015-02-13 13:43] FWAJL commented on #480
@bsaiken @gsouvik

The updates are fine. I will release on Monday.

[2015-02-13 13:52] gsouvik commented on #481
@FWAJL @bsaiken
I was working on this milestone and had a question related to the "Analyte" section of the requirement as described in attachment A. It describes Analyte > List All >> Item > Edit. But there is no context menu in the active list and there is no edit option on the context menu showing on the inactive list. My question is, do I have to create the context menu wherever applicable and

[2015-02-13 18:45] bsaiken commented on #481
@gsouvik @FWAJL
The Analyte UI is still being developed (we needed to make changes).  I thought it would be done by the time you stared Milestone D.  Save this until the end, then if we are still not ready for you, I will have you move on with other issues.
Thanks

[2015-02-13 18:51] gsouvik commented on #481
@bsaiken @FWAJL
Thank you for the information, yes I've started with the other portions of the milestone D. Shall keep you updated with the progress.

[2015-02-14 18:54] #507 closed

[2015-02-15 10:04] FWAJL commented on #489
Run on live database

[2015-02-15 10:04] #489 closed

[2015-02-16 02:02] bsaiken opened #520 "Mapping - Milestone A"

[2015-02-16 02:02] bsaiken opened #521 "Mapping - Milestone B"

[2015-02-16 02:02] bsaiken opened #522 "Mapping - Milestone C"

[2015-02-16 02:03] bsaiken opened #523 "Mapping - Milestone D"

[2015-02-16 02:03] bsaiken opened #524 "Mapping - Milestone E"

[2015-02-16 05:50] FWAJL opened #525 "Run DB script for Feb-16 2015"
Related to #487.

Update the unique constraints on field_analyte and lab_analyte tables to take into account the PM_ID.

The file: [Database/Scripts/Updates/2015-02-16.sql](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-02-16.sql)

[2015-02-16 05:50] FWAJL commented on #525
Run on live database.

[2015-02-16 05:51] #525 closed

[2015-02-16 16:14] damirius commented on #520
OK, so I've added maps for Selected Project/All Project's Locations/Task Locations.
I also had to rewrite some parts of the All Projects map action. Since I had to use project_active field to show different marker icon I added new helper method which I used for both Selected Project map and for All Projects. Where I send both project object and facility object instead of just facility ones. This w

[2015-02-16 17:11] gsouvik commented on #481
@FWAJL @bsaiken
"Task" section of the milestone is completed and pushed to feature_popup. Continuing with the other portions and shall update again shortly.
Thank you.

[2015-02-16 17:53] bsaiken commented on #520
@FWAJL @damirius
I have checked the front end against the SOW and all requirements are met.
Waiting for code review.

[2015-02-16 18:17] bsaiken commented on #481
@gsouvik
Can you be more specific?  I just checked the feature_popup branch and I do not see these modifications.

[2015-02-16 18:49] damirius commented on #520
@FWAJL @bsaiken

I still have few things to change. I want to remove few things that weren't necessary in the code and I want to combine all map js files into one. I just pushed that so you can take a look and tell me what do you want to see changed since I'm probably finished for today.

[2015-02-16 18:50] bsaiken opened #529 "Promote Project Locations to Task Locations not working."
Error Loading Tasks

[2015-02-16 18:50] gsouvik commented on #481
@bsaiken
As per attachment A, The portion of the requirement which specifies the Task related changes, are implemented (please refer to the image for the details of the requirement).
Steps to test:
1) Click on "Add this task". If task name is empty the system presents a prompt box asking the user to enter a new task name.
2) When user enters a new task name and clicks Ok, the system checks if the

[2015-02-16 18:56] bsaiken commented on #520
@damirius @FWAJL
Keep in mind that I review the front end and Jeremie reviews the code.  I would like to check the front end first, before Jeremie reviews.  If we need to go through several rounds of review, because of code teaks, that's no problem.  Just keep the "assignee" updated, which i think you did.

[2015-02-16 19:10] bsaiken commented on #481
@gsouvik @FWAJL
I understand.  You applied the popup to "btn_add_task", which is in the task/showForm URL.  That is fine, and it works correctly.  Please do not change this.
However, I wanted the popup applied to "btn-add-task-manual", which is the left menu button.  Please add the popup there.
Brian

[2015-02-16 19:26] gsouvik commented on #481
@bsaiken @FWAJL
Ok, I understand the requirement now, I have a quick question. As the entire left menu is accessible throughout the user session, someone could directly click Task > Add while on any other screen. Do you want the system to first navigate to the actual showForm page for the Task and then automatically show the prompt box? Because, adding a task is dependent on project selection (set

[2015-02-17 00:34] bsaiken commented on #481
@gsouvik @FWAJL
You are correct.  This should not work if a Project has not been selected. In order to complete the Milestone, manually select a Project.  I will open a new Issue to make sure a Project is pre-selected on login.
When I wrote the SOW for the popups, I knew the list was not comprehensive, but this one I did not catch.

[2015-02-17 00:46] bsaiken opened #530 "New popup - Prompt box to select Project when required for navigation."
If current Project is not set, some menu items will not work.

[2015-02-17 00:48] #530 closed

[2015-02-17 00:51] bsaiken commented on #481
@gsouvik @FWAJL
I apologize, my mistake.  The conflict you are talking about is resolved by lines 5, 6 and 7 of Milestone D.
I didn't miss it after all.

[2015-02-17 01:29] bsaiken opened #531 "Create now Hurray Host shortcut."
I need access to: /DEV/mobile-200514

[2015-02-17 05:10] FWAJL commented on #531
@bsaiken

Here you go: http://m.fieldworkmanager.com/

[2015-02-17 05:13] FWAJL commented on #529
@bsaiken

I tested it and it works. Please provide more details about your context.
Is the site slow loading page? Are you having Internet connection problems?

Thank you.

[2015-02-17 08:32] gsouvik commented on #481
@bsaiken Thanks for the clarification regarding the requirement.

@FWAJL Loading that prompt box from any left hand menu would require it to:
1) Load a module (the view of the promptbox) globally for every screen.
2) Fetch the title, messages for the prompt box from the xml and keeping it ready globally, because we don't know when the user would click "Task > Add" and on which screen the user woul

[2015-02-17 08:33] damirius commented on #520
@FWAJL @bsaiken

I've updated some code in the map controller mostly and reorganized map js files. I also found some bug with task locations, since I didn't preload them in sessions before, like I do with regular project locations.

I also wanted to ask about js redirects, since it's stated that I need to redirect user in project_manager.js and location_manager.js when they click on the map links.

[2015-02-17 08:59] FWAJL commented on #520
@damirius @bsaiken

The "current task / project" will being taken care of with the popup dialogs. It is under development at the moment. In general, avoid using redirect like you did in MapController at lines 38-42, 60-64, 82-90.

At the moment, we select a project or a task to avoid the exceptions.

At the moment, the task locations are loaded when you load the url "task/locations". Have a look t

[2015-02-17 09:52] FWAJL commented on #520
@damirius @bsaiken

I like the way you thought about and did the generalization of the map js file. More about it soon.

[2015-02-17 10:22] damirius commented on #520
@FWAJL
I'll remove php redirects with the next push.
Task locations are properly preloaded now, like you suggested I took a look at the task controller to see how are locations loaded there and used the same helper method to load them in the map controller action. That was one of the changes in the previous commit.

Also wanted to say that I'm not expecting you to review my code as soon as possibl

[2015-02-17 10:31] FWAJL commented on #520
@damirius

Yes, I saw the new code. I'm glad you are finding your way around easily. Keep it up :+1:
I'm always here if you need help.

More soon.

Thank you.

[2015-02-17 12:35] FWAJL opened #532 "Move the Maps API js file so it doesn't load on every page"
Add it to the map routes only.

[2015-02-17 12:39] FWAJL commented on #400
@bsaiken

The logs (query run on the live database: `SELECT * FROM `log` WHERE log_id in (4267,4268,4278,4279)`) show fast PHP response.

The map API shouldn't be loaded on every page (Issue created: #532).

Again, I think the amount of http requests (for each image, javascript and css files) is the next possible cause of the problem. Reducing the amount is an action to take (merging js files into

[2015-02-17 15:03] bsaiken commented on #529
@FWAJL
I was using internet explorer.  First time I have tested with that browser.

[2015-02-17 15:07] #531 closed

[2015-02-17 15:15] bsaiken commented on #480
@FWAJL @gsouvik
This is working correctly on the live server.
Thank you

[2015-02-17 15:17] #465 closed

[2015-02-17 15:29] #487 closed

[2015-02-17 15:34] FWAJL commented on #529
@bsaiken

Ok, two solutions:

1. Have someone take care of IE support.
2. Have someone to add a message for IE users to use either Chrome or Firefox.

I find a lot of issues with IE with my main job and it will be time consuming to solve all of them.

Thank you.

[2015-02-17 15:35] bsaiken commented on #529
@FWAJL
I checked IE again this morning - it is working.  I will be doing more IE tests in the future.  So, for now, I will keep this issue open at low priority.

[2015-02-17 21:11] gsouvik commented on #481
@bsaiken @FWAJL
Line no 3 of milestone D is coded and pushed to feature_popup. The requirement was for copying an existing project into a new one with proper validation.
I've implemented this on both - the context "Copy" menu and the "Copy" button on the view screen. Please review and let me know your feedback.

Thank you.

[2015-02-17 22:27] bsaiken commented on #481
@FWAJL @gsouvik
The front end looks great.  Would it be possible to update the breadcrumb?  Once I have created the new Project (the copy), the breadcrumb says "Add new Project" - which leads me to think I still need to do something, but in fact the new Project has been created.

[2015-02-18 08:39] FWAJL commented on #506
@bsaiken

What are the inconsistencies according to you?
To me, the map view is an obvious exception.
The rest is consistent. Please prepare a list for the cases you think it is not.

Thank you

[2015-02-18 12:16] gsouvik commented on #481
@bsaiken @FWAJL
1) Project copy feature - breadcrumb is now getting updated after the copy is complete to reflect the newly created project.
2) Task copy feature - implemented, this is as per line 4 of milestone D.
Please review and let me know.
Thank you.

[2015-02-18 12:31] FWAJL commented on #481
@gsouvik @bsaiken

I'm starting the review. Thank you for your work, Souvik.

[2015-02-18 13:46] gsouvik commented on #481
@FWAJL @bsaiken
Milestone D is quite big and has around 7 points. Out of those only 3 are completed. I'm releasing as each point gets completed. Also I wanted to know your suggestion regarding point 2 in my previous message.

So just wanted to update that this milestone is still in "dev" status, and please let me know your thoughts about point 2 when you have a chance.
Thank you.

[2015-02-18 16:11] WebDevJL commented on #481
@gsouvik

Thank you for letting me know.

I think we'll create separate issues for eah next points. You'll commit the code under those.

I'll talk to @bsaiken regarding this and will confirm everything.

Keep up the good work.

[2015-02-18 17:29] FWAJL opened #539 "Field Task Analytes UI"
New tab under Task edit mode

[2015-02-18 17:30] FWAJL opened #540 "Lab Task Analytes UI"
Add new tab in the Task edit mode

[2015-02-18 18:02] FWAJL opened #541 "Popups - Milestone D - Step 1 of Prompt Boxes"
@gsouvik @bsaiken

***Analyte > List All >> Item > Edit*** in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:03] FWAJL opened #542 "Popups - Milestone D - Step 2 of Prompt Boxes"
@gsouvik @bsaiken

***Task > Add*** in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:05] FWAJL opened #543 "Popups - Milestone D - Step 3 of Prompt Boxes"
@gsouvik @bsaiken

***Projects >  List All > Item >>
View Info > Copy***

in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:06] FWAJL commented on #543
@gsouvik

Is it done coding as part of #481 ? Thank you.

[2015-02-18 18:07] FWAJL opened #544 "Popups - Milestone D - Step 4 of Prompt Boxes"
@gsouvik @bsaiken

***Tasks >  List All > Item >>
View Info > Copy***

in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:08] FWAJL opened #545 "Popups - Milestone D - Step 5 of Prompt Boxes"
@gsouvik @bsaiken

***Locations > List All
Task > List All***

in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:10] FWAJL opened #546 "Popups - Milestone D - Step 6 of Prompt Boxes"
@gsouvik @bsaiken

***Locations > Add
Task > Add***

in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:11] FWAJL opened #547 "Popups - Milestone D - Step 7 of Prompt Boxes"
@gsouvik @bsaiken

***Locations > Upload List*** in [Popups SOW - ATT A](https://docs.google.com/document/d/16j7SAqwu5Xd7rw7EbU3uFwl6QpKP3ymcBYouSXSa5vA)

[2015-02-18 18:14] FWAJL commented on #481
@gsouvik

Please find the issues created [here](https://github.com/FWAJL/FieldWorkAssistantMVC/milestones/Popups%20UI)

[2015-02-18 18:18] FWAJL commented on #520
@damirius

I hope you are doing good.

Here is the point to look at in my review to finish the milestone:

1. In MapController at lines 38-42, 60-64, 82-90, please remove the redirect if statement. This will be taken care of with the popup dialogs. In general, avoid using redirect.
2. In MapController at line 137, you build the list of markers. However, if a project has no facility coordinates, a

[2015-02-18 18:24] gsouvik commented on #543
@FWAJL
Yes, it is already coded and front end tested by @bsaiken

[2015-02-18 18:26] gsouvik commented on #544
@FWAJL
This is also coded as part of #481

[2015-02-18 19:24] damirius commented on #520
@FWAJL

Hi, I am doing well. Thanks for asking. I was working on some Milestone B stuff which I have stashed so we can move on it quickly when we finish this up.

1. Removed all redirects. I'll avoid adding new controller redirects from now on.
2/4/5 These 3 tasks are almost the same, I've added small check in MapHelper before pushing elements in the marker array.
3. I thought of that while I was

[2015-02-18 20:57] bsaiken commented on #520
@FWAJL @damirius
I would like to clarify a couple of Jeremie's comments.

2. Note that in order to create a Project, the Project MUST have a Facility address, and Milestone E will automatically create a lat/long from the address.   Therefore, it will not be possible to have a Project with no Facility coordinates.  Consider this in determining if the check in CreateFacilityMarkerItems is necessary.

[2015-02-18 21:03] FWAJL commented on #543
@gsouvik

Ok I will move it to code review. Thank you.

[2015-02-19 05:45] FWAJL commented on #541
@gsouvik

This one is not started, right?

Thank you.

[2015-02-19 06:00] gsouvik commented on #541
@FWAJL
No this is not started yet, probably the UI for analyte was not completely ready at the time I started milestone D, I'll check again and see if I can start with it. Also I'll change the status.
Thank you.

[2015-02-19 07:30] FWAJL commented on #541
@gsouvik

No, I'm finishing the Analyte UI (see issue #488). I'll notify you when it is completed. This will avoid conflicts as we would work on the same files otherwise.

Thank you.

[2015-02-19 12:05] FWAJL commented on #488
@bsaiken

In point 2, please explain how does the user remove an analyte from the project list if you can only activate ?

Also I have a problem understanding the point 3. How do you initiate the edit and delete action without a contextual menu?
For me the options in the contextual menu when clicking an item will trigger the popup instead of loading the showForm view.
Does it make sense to you and

[2015-02-19 14:15] FWAJL commented on #541
@gsouvik

I'm awaiting for Brian feedback to complete issue #488. Once it is answered, you can start working on this issue since I'll be done.

Thank you.

[2015-02-19 14:20] gsouvik commented on #541
@FWAJL
Ok, currently I'm working on 5, 6 and 7 and won't have a chance to start 1 soon.
Thank you.

[2015-02-19 18:08] bsaiken commented on #488
@FWAJL
Point 2: This refers to the uploadList url, not the listAll url.
Point 3: I just meant the standard contextual menus we have been using, which create a redirect.  We will use contextual menus to access the popup prompt box.

[2015-02-19 20:32] damirius commented on #521
@bsaiken @FWAJL

Do you have some images I can use for the sidebar icons, "select items", "add marker", "draw line or shape" and "measure distance and areas"?

Thanks

[2015-02-19 20:36] bsaiken commented on #521
@damirius
I thought they were standard.  Give me just a little time...

[2015-02-19 20:45] bsaiken commented on #521
@damirius
As long as the icons here are public domain, I would use these.
http://www.gstatic.com/mapspro/images/icons-toolbar-002.svg

[2015-02-19 21:06] gsouvik commented on #546
@bsaiken @FWAJL
When Location > Add or Task > Add is accessed, and no project is yet selected, the system shows a prompt box with list of projects and asks the user to select one. When use selects a project and clicks ok, the user is redirected back to the Location > Add or Location > Add pages.
Thank you.

[2015-02-19 21:09] gsouvik commented on #547
@bsaiken @FWAJL
When Location > Upload list is accessed, and no project is yet selected, the system shows a prompt box with list of projects and asks the user to select one. When use selects a project and clicks ok, the user is redirected back to the Location > Upload list page.

Please review and let me know you feedback.
Thank you.

[2015-02-19 21:21] damirius commented on #521
@bsaiken

Thanks!

[2015-02-19 21:29] FWAJL commented on #488
@bsaiken

Thank you for the clarification.

[2015-02-20 01:18] #520 closed

[2015-02-20 01:27] bsaiken commented on #542
@gsouvik @FWAJL
This function works, but it has not been applied to the specified attribute: btn-add-task-manual.  In our discussion, this was to be done after Step 6.  So, I am keeping the Issue open and re-assigning to Souvik.

[2015-02-20 01:37] bsaiken commented on #543
@gsouvik @FWAJL
There is an problem with this Issue.  When I create a copy, I am directed to the project/showForm url, but the contents are empty.

![screen shot 2015-02-19 at 6 33 18 pm](https://cloud.githubusercontent.com/assets/8228624/6280130/17e0d762-b866-11e4-95ca-2ccb8512928f.png)

However, the new Project has been added, and the form entries are correct.

![screen shot 2015-02-19 at 6 33 4

[2015-02-20 01:39] bsaiken commented on #543
@gsouvik
Perhaps the easiest fix is to have the re-direct go to project/listAll.

[2015-02-20 01:42] #544 closed

[2015-02-20 01:46] bsaiken commented on #488
@FWAJL
This look done - is ti ready for unit testing?

[2015-02-20 01:48] bsaiken commented on #413
@FWAJL
I think this Issue is deprecated and can be closed.

[2015-02-20 04:02] bsaiken opened #555 "Task Services UI"
Same as Technicians, Analytes, etc.  Very simple.  Just promote from Project Services to Task Services.

I know we talked about other functions, but I just realized the other functions won't be here - that will be in the Task Monitoring UI.

The Task UI only builds (inactive) tasks.

[2015-02-20 04:06] bsaiken commented on #420
@FWAJL
Version 1.6.1 has been released. Is this ready to be closed?

[2015-02-20 04:40] bsaiken opened #556 "Task Lab Matrix UI"
![screen shot 2015-02-19 at 9 38 47 pm](https://cloud.githubusercontent.com/assets/8228624/6281505/e7409fec-b87f-11e4-8676-09eee39adbb4.png)

[2015-02-20 04:41] bsaiken opened #557 "Task Field Matrix UI"
See #556

[2015-02-20 04:47] bsaiken opened #558 "Task COC UI"
Use task_coc_info_form.

[2015-02-20 06:19] FWAJL commented on #420
@bsaiken

No.

[2015-02-20 07:37] FWAJL commented on #543
@bsaiken

Refresh/Reload your cache, please. Google Chrome keeps the old version of the JavaScript files.

[2015-02-20 07:44] FWAJL commented on #545
@gsouvik

If you are done, can you please follow [step 4 of the workflow](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0/edit#heading=h.xpfs9q8dkrfl)?

Thank you.

[2015-02-20 07:45] FWAJL commented on #546
@gsouvik

If you are done, can you please follow [step 4 of the workflow](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0/edit#heading=h.xpfs9q8dkrfl)?

Thank you.

[2015-02-20 07:47] FWAJL commented on #488
@bsaiken

It is not released, as per status. It will be in version 1.6.6.

Thank you.

[2015-02-20 07:50] gsouvik commented on #543
@bsaiken @FWAJL
I just tested the following URL using Chrome (Version 40.0.2214.115 (64-bit)) and FF 35.0.1 both running on mac osx:
http://dev.fieldworkmanager.com/project/listAll
and found the "copy project" feature to be working from both the context menu and the copy button on the view screen. Attached are my screenshots.

My local version from the "feature_popup" branch also works fine. It ma

[2015-02-20 07:59] FWAJL commented on #521
@damirius

Keep in mind that if the milestone is too large or if you have to change a lot of code, let's discuss to split it into sub issues so that the code review for a first sub issue can be done while you continue next sub issues.

We will work more efficiently that way.

Thank you.

[2015-02-20 08:05] gsouvik commented on #545
@FWAJL
I just reviewed the document you sent me in your last message. I understand that i need to explain the steps to unit test the feature. Actually I explained the steps in my earlier message as a paragraph in this thread, but here it is again step by step:
1) User clicks Location > List All or Task > List All
2) If a project is not yet set as "current project", the system shows a prompt box wi

[2015-02-20 08:07] FWAJL commented on #413
@bsaiken

Indeed. Closing.

[2015-02-20 08:07] #413 closed

[2015-02-20 08:08] gsouvik commented on #546
@FWAJL
Actually I explained the steps in my earlier message as a paragraph in this thread, but here it is again step by step:
1) User clicks Location > List Add or Task > List Add
2) If a project is not yet set as "current project", the system shows a prompt box with list of projects and asks the user to select one. The prompt box has a title message which can be set in the xml file and changed fo

[2015-02-20 08:11] gsouvik commented on #547
@FWAJL
Steps for unit testing this issue:
1) User clicks Location > Upload List
2) If a project is not yet set as "current project", the system shows a prompt box with list of projects and asks the user to select one. The prompt box has a title message which can be set in the xml file and changed for each controller.
3) If the user selects a project and clicks OK, the selected project is set as a

[2015-02-20 08:43] FWAJL commented on #545
@gsouvik

Thank you for the detailed tests.

Also when you are done coding and that you've committed the work, please assign the issue to the front-end reviewer (here it is @bsaiken) and change the status to "function review".

That way we know exactly who is to do something.

I have done it for this issue. Follow this example for the others.

Thank you for helping me organize our work.

[2015-02-20 08:49] gsouvik commented on #541
@FWAJL @bsaiken
I'm have a couple of questions regarding this requirement, certain areas are not clear to me. Here are those:
1. Analyte > List All >> Item > Edit - I could not find any context menu "Edit". Do I need to create it?
2. Or do I have to open a prompt box for edit, whenever the user right clicks any item on the lists? The user would enter a name and clicking OK would be redirected to t

[2015-02-20 08:52] gsouvik commented on #545
@FWAJL
I shall do that for all the next tasks I'm working on, thank you.

[2015-02-20 08:52] damirius commented on #521
@FWAJL

The thing is that I already started working on this while you were reviewing code for Milestone A, so a lot of the things are done already. This milestone B is a lot of similar to the milestone C, so I'm currently finishing up js code which will have all this functions integrated so when I start working on next milestone I can focus more on PHP and just add few ajax calls for data saving.

[2015-02-20 09:36] FWAJL commented on #521
@damirius

Thank you for the update. You can take your time. We realized for another task (popup) that a milestone had to be split for an easier code review.

In any case, I won't look at the code until next week anyway.

Continue the good job!

[2015-02-20 09:46] FWAJL commented on #541
@gsouvik

See the screenshot. Just update the text value of the first contextual menu option and bind the prompt box to the menu option click instead of loading the view showForm, like it is done in most UI.

Let me know if it clarifies it for you.

Thank you.

![your field analytes - field work manager 2015-02-20 10-43-21](https://cloud.githubusercontent.com/assets/7524388/6284136/59a35120-b8ed-1

[2015-02-20 10:29] damirius commented on #521
@FWAJL

Since you mentioned popup prompts, I need to use few popup windows for milestone C. First one I'll need is one for entering location name, description and photo when adding new marker and second is for displaying project info when user clicks on project boundary shape. I wanted to ask if those prompts will be used for this too?

Thanks

[2015-02-20 10:54] FWAJL commented on #521
@damirius

I think that @bsaiken will answer your question.

@bsaiken: upload photos is not done yet. So I don't know if @damirius will be able to start Milestone C. Can you tell us what you would like to do?

Thank you.

[2015-02-20 15:01] bsaiken commented on #543
@gsouvik
Please test in Firefox.

[2015-02-20 15:18] bsaiken commented on #521
@damirius @FWAJL
We are just about done developing a suite of bootstrap popup prompts, so if you need popups I would like you to adapt the popup structure we have, per the SOW.

Damarius - Jeremie had been working on the code to handle uploading and displaying documents, including photos, but has not been able to finish this yet as I have him assigned to other work.  Would you be interested in tak

[2015-02-20 15:45] damirius commented on #521
@bsaiken

I'm interested, but I would like to see specifications for that other project (or rather part of the project) so that I know what exactly needs to be done.
Also I'm not perfectly clear on this part:
"For your part, we could put a test photo in the database and all you would need to do, for Milestone C, is display it."
I'm little confused about Milestone C there, since as far as I know we

[2015-02-20 15:50] bsaiken commented on #542
@gsouvik @FWAJL
Since Issue #546 passed function review, you cam complete this Issue.

[2015-02-20 16:02] bsaiken commented on #521
@damirius
You are correct, I meant Milestone D.  You would need to be able to upload and display photos.  Photos are not part of Milestone C.  When I say "photo" here, I mean exclusively a photo image, taken with a smartphone or tablet, of a specific Location.  The purpose of the photo would be, for example, to help a Field Technician identify and find the Location.  I am not talking about generic

[2015-02-20 16:33] damirius commented on #521
@bsaiken
I was mislead by info prompt shown on slide 13, since there's little camera icon in the lower right part of the window. Also, I understand that photos are the actual photos of the locations so it's all clear.

Thanks

[2015-02-20 16:34] bsaiken opened #559 "Document handling questions"
@damirius @FWAJL
I have created a new github Milestone "Document Handling".  Note that github Milestones have nothing to do with eLance Milestones - this was a bit confusing to me at first!

The github Milestone "Document Handling" groups all Issues related to document handling.  So you could look at the communication history for each of the related issues to help you get oriented.

This is what h

[2015-02-20 16:37] bsaiken commented on #521
@damirius
I see.  That camera icon is inherent from the Google Maps interface, which I used to create the slides.  You could use it or ignore it if it does not serve our needs.

[2015-02-20 16:44] damirius commented on #559
@bsaiken

Thanks, I'll take a closer look at those issues first. Since @FWAJL said that he will review my mapping Milestone B code at the start of the next week I'll probably work on this over the weekend so we can start using it before I hit Milestone D for mapping.

Thanks again

[2015-02-20 16:55] bsaiken commented on #559
@damirius
If you you are going to spend any amount of time on it, I would want to make formal arrangements, so I could pay you.  If we did it as a minor change of scope within the mapping project, that is easy as long as it is in $50 increments.  Just let me know what you want to do.  I will be available and working on the site all weekend.

[2015-02-20 16:59] gsouvik commented on #543
@bsaiken
Tested again, Indeed, randomly at times (actually on dev, as not running from local, so a bit slow) the redirect to edit screen fails to load the newly added data.
Probably the reason is I'm reusing most of the codes from the method "project_manager.add" which redirects the user back to "project/listAll". But my code tries to explicitly redirect it to the edit screen and hence the conflic

[2015-02-20 17:49] bsaiken commented on #543
@gsouvik
We will need to send this back to Jeremie.  Thanks for your patience.

[2015-02-20 17:52] bsaiken commented on #543
@FWAJL
There is still an error in Firefox.
I tried getting rid of the pm/getItem call and the google maps call (on my local machine) but I still get the bug.
![screen shot 2015-02-20 at 10 47 49 am](https://cloud.githubusercontent.com/assets/8228624/6306188/8f253be6-b8ee-11e4-9640-afebd231d61e.png)

[2015-02-20 21:42] damirius commented on #521
@bsaiken @FWAJL

There's a new commit for this milestone on feature_mapping branch.
Please note few things:
We will probably need to remove circle shape, from boundary tool since we can't normal LatLng path from it. Tell me if that's posing some problems.
Adding new marker will not place it in the list since it's not actually saved in the db.
Editing existing marker with no LatLng data will add th

[2015-02-20 22:08] bsaiken commented on #521
@damirius
Remove the circle and the rectangle from the boundary and measuring tools.
Will you use some kind of "Add" button to save markers to the db?
I noticed you have the breadcrumb in the sidebar.  We don't need it since the page already has a breadcrumb.
The sidebar is enormous - we can fix this, yes?

[2015-02-20 22:33] damirius commented on #521
@bsaiken
I'll remove the circle and rectangle shapes

The plan is that when the user clicks on the map and creates the marker, prompt box will show so that user can enter the name of the location and to click save so that marker get stored in the location table. If he closes the prompt box by clicking cancel, marker will not be saved and it will be removed from the map. I had already placed some i

[2015-02-20 22:36] bsaiken commented on #521
@damirius
That all sounds good.  We could even move the sidebar to a separate div because you are correct - covering up markers is a no-no.

[2015-02-20 23:23] bsaiken commented on #506
@FWAJL
I changed the layout by just changing lg-md-2 to lg-md-1.  This also but some white space on the right, with I wanted.
A few minor other margin changes.
I also changes the forms so the text boxes and areas are uniform and use the space.
A few deprecated files were removed.

[2015-02-21 16:38] bsaiken opened #560 "Modify tooltips"

[2015-02-21 17:41] bsaiken commented on #560
@FWAJL
I am preparing to modify the tooltips so they appear on the list header glyphicon instead of each item.  I also want the tooltips universally available and editable (html enabled).

As an aside: In working on the tooltips I found some mistakes in the css files, which I corrected.

These commits are ready to release.

But before going forward I have a question.  I am comparing the code for t

[2015-02-21 20:53] bsaiken commented on #426
Contextual menus to have only "Edit" and "Set".  All other functions ("Save", "Delete" and "Copy") from center column buttons.

[2015-02-22 16:28] damirius commented on #521
@bsaiken

Can you tell me if that's all for the function review so I can assign this back to me and finish up the changes?

[2015-02-22 16:50] bsaiken commented on #521
@damirius @FWAJL
Sorry, I thought you were still working.  It is ready for code review.

[2015-02-22 18:04] damirius commented on #521
@bsaiken

Sorry for misunderstanding, I wanted to ask you if there is anything else that needed to be done aside from that rectangle/circle shape removal and putting sidebar to separate div? Also project name should be removed right? I wanted to finish those things up so I can push the changes for function review again, before @FWAJL takes a look at code tomorrow.

[2015-02-22 18:49] bsaiken commented on #521
@damirius
It looks like there is just some formatting, which can be done later.

[2015-02-22 19:02] damirius commented on #521
@bsaiken

I have already changed the code so I've pushed all the changes on feature_mapping branch. Map layout is divided into two columns, one for map-info sidebar and one for the actual map. I also removed shape/rectangle options from shape/ruler controls and I've removed "breadcrumb" from sidebar also. This will resolve the issue with covering up the markers without any need for hiding the side

[2015-02-22 19:36] gsouvik commented on #541
@bsaiken @FWAJL
As per the image above, the analyte edit feature is coded. Following are the steps to test it:
1) Assuming a project is set as current project, the analyte listAll screen is accessed.
2) On the right hand list of the listAll screen, one of the item is right clicked to show the context menu.
3) Edit is clicked which shows the prompt box, the title is editable from xml, the analyte n

[2015-02-22 19:54] bsaiken commented on #521
@damirius
This is fine.  We can do the fine-tune formatting later - and that is not really your job.

[2015-02-22 22:03] bsaiken commented on #542
@gsouvik
Everything else is in code review, so you could finish this if you want.

[2015-02-22 22:14] gsouvik commented on #542
@bsaiken
I just did.

Steps to test:
1) Try adding Tasks from left hand menu.
2) The add task prompt box appears, all functionality as before. On cancelling the prompt, redirects the user to task/listAll.
3) If no project is set yet, first project selection prompt box appears. When a project is selected, opens the add task prompt box.

Thank you.

[2015-02-23 07:53] FWAJL commented on #543
@gsouvik @bsaiken

I have little time to explain in more details so I'll try to be brief.

When adding a project (which is composed of a project object, a facility object and a client object), there is 3 steps in the JavaScript code:
1. we add the project to the database ([here](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Web/js/app/controllers/project_manager.js#L306)) and get it ID (

[2015-02-23 08:28] FWAJL commented on #559
@bsaiken @damirius

The code I have done so far on document upload is showcased when editing a technician. I have not completed the whole thing but the upload part is almost complete.

Adding documents should be straight forward and almost nothing needs to be added. To test from end to end.

Now, we need a FileLoader (FieldWorkAssistantMVC\Library\Core\Utility\FileLoader.php) to read the database

[2015-02-23 15:01] FWAJL commented on #521
@bsaiken

I have a conflict in priorities: this issue is ready for code review as the popup milestones are ([issues to review in very high priority](https://github.com/FWAJL/FieldWorkAssistantMVC/issues?q=is%3Aopen+label%3A%22priority%3Avery+high%22+assignee%3AFWAJL+label%3A%22status%3A+code+review%22)).

Can please downgrade the priorities where it applies so I know where to start first?

Thank

[2015-02-23 16:58] bsaiken commented on #543
@FWAJL @gsouvik
I tested the copy Project feature in Firefox and it worked fine.

[2015-02-23 18:06] bsaiken opened #564 "Task Tabs update"

[2015-02-23 19:42] #529 closed

[2015-02-23 20:55] FWAJL commented on #559
@damirius

FYI, I have chosen to build the document value to be unique but if you have another idea or an experience to share, please do.

Thank you.

[2015-02-24 04:55] #171 closed

[2015-02-24 04:57] bsaiken opened #565 "Use arrows for activate and de-activate buttons"
Change the "move to active" and inactive list buttons to be arrows.

[2015-02-24 05:15] bsaiken commented on #565
@FWAJL
Since all the buttons are the same, I prepared a module "promote_buttons" to apply to every page.

As I was doing this work several questions came up:
1) It appears the module Service -> listAll is deprecated.  It's function is taken by manageServices.  This means we have an inconsistency in the way the modules are constructed.  Shouldn't this be fixed?  Why can't this follow the same patte

[2015-02-24 05:23] FWAJL commented on #541
@gsouvik

Ready for release.

[2015-02-24 05:31] FWAJL commented on #542
@gsouvik

Ready for release.

[2015-02-24 05:53] FWAJL commented on #543
@gsouvik

Ready for release.

[2015-02-24 06:04] FWAJL commented on #545
@gsouvik

I have one small question: if we needed to use the popup_projectselector partial view (in Views/Modules), could it be done?

If so, I think we can rename the partial view to be more generic? What do you think?

Thank you.

[2015-02-24 06:05] FWAJL commented on #546
@gsouvik

Ready for release.

[2015-02-24 06:06] FWAJL commented on #547
@gsouvik

Ready for release.

[2015-02-24 06:47] gsouvik commented on #545
@FWAJL
You mean the popup_projectselector.php shared module? Yes, it can be used anywhere else, as most of it's functionality is controlled by external JavaScript. Point to keep in mind though, it uses active_list_module for the projects, so that is a dependency.

Please let me know if that helped, I'll be happy to explain more if the above is unclear.
Thank you.

[2015-02-24 07:58] FWAJL commented on #545
@gsouvik

I understand it very well. We can therefore remove this dependency by making the variable name generic so it can be used in any case.
The specific list module is decided in the controller, so it is possible.

What do you think?

Thank you.

[2015-02-24 09:31] gsouvik commented on #545
@FWAJL
Yes, that may be done. Mostly everything is populated from the controller and the js, so it may be reused making the variable name generic.

Thank you.

[2015-02-24 10:24] FWAJL commented on #545
@gsouvik

Great stuff.

Good job working on this. It looks really nice and I appreciate the code quality.

[2015-02-24 11:41] damirius commented on #559
@FWAJL

All clear. I don't see a problem with assigning unique value to a document name.

[2015-02-24 11:59] gsouvik commented on #545
@FWAJL Thank you. It's great to be a part of this project!

[2015-02-24 14:37] bsaiken commented on #543
@gsouvik @FWAJL

I tested the released version.  Works in Google Chrome.
Not working in Firefox.  Not working in Safari. Not working in Opera.

This will need to be fixed.

[2015-02-24 14:43] #541 closed

[2015-02-24 14:43] #542 closed

[2015-02-24 14:43] #545 closed

[2015-02-24 14:43] #546 closed

[2015-02-24 14:43] #547 closed

[2015-02-24 16:08] WebDevJL commented on #543
@gsouvik

I think it has to do with the client cache again if it works on chrome.

I will look into this solution : http://stackoverflow.com/questions/32414/how-can-i-force-clients-to-refresh-javascript-files

[2015-02-24 16:26] bsaiken commented on #543
@gsouvik @FWAJL
I emptied the caches on all the troublesome browsers and there was no change.

[2015-02-24 16:40] gsouvik commented on #543
I haven't had a chance to look at the code after @FWAJL fixed it last round. @bsaiken I have a feeling it is originating due to the redirects. I shall try to look into it again and get back to you by my tomorrow morning or as earlier as possible.
Thank you.

[2015-02-24 20:51] FWAJL commented on #543
@gsouvik @bsaiken

I tried Firefox and Safari (can't install Opera on my Mac as it requires OS-X 10.7 min.) and I successfully created copies of projects.

@bsaiken : can you test and give us a screenshot of the network tab, please?

[2015-02-24 22:51] bsaiken commented on #543
@gsouvik @FWAJL
I suggest, when testing, you do NOT use the contextual menu Copy button.  This contextual menu option is going to go away.  Navigate to an existing
![screen shot 2015-02-24 at 3 46 52 pm](https://cloud.githubusercontent.com/assets/8228624/6361157/fa29915c-bc3c-11e4-96ea-c97240464871.png)
 Project (with View Info) and use the Copy button.  This does not work.  See attached - same js

[2015-02-25 05:07] FWAJL commented on #543
@gsouvik @bsaiken

The fix is live. Now, it will work.

Thank you.

[2015-02-25 05:40] bsaiken commented on #543
@FWAJL @gsouvik
I still get this in Opera.  The project is added, though.  So a re-direct to listAll would avoid this issue and I'm OK with that.

![screen shot 2015-02-24 at 10 37 46 pm](https://cloud.githubusercontent.com/assets/8228624/6365529/16a18d2e-bc76-11e4-98a4-9015c960abe1.png)

[2015-02-25 06:08] gsouvik commented on #543
If @FWAJL is not working on this code block, I can try changing some code and see if it fixes it. Also, for me the issue never shows up on local, it's always on live (http://dev.fieldworkmanager.com/). Please let me know.

[2015-02-25 06:12] FWAJL commented on #543
@gsouvik

Have you tried after I released the fix? The redirect was fixed. But I forgot to rename the second "copyWithName" function to use the normal Add function in project_manager.js.

It shouldn't happen again. I will need to add a update for the cache automatic refresh tomorrow.

Also, your url doesn't seem correct on the screenshot. Why is there no query string?

[2015-02-25 06:20] gsouvik commented on #543
@FWAJL
I'm sorry, but I don't understand you message. I didn't post any screenshot recently into this thread. So confused, sorry for the confusion again, but do I need to check this code or it is already fixed? @bsaiken please let me know.

[2015-02-25 07:36] FWAJL commented on #543
@gsouvik

Sorry. I mixed Brian's post with yours. Yes, I have fixed the issue and it does happen in Firefox anymore. In fact, it would have happened in Chrome too.

I can't test in Opera so @gsouvik @bsaiken can you both test it? Thank you.

[2015-02-25 08:43] gsouvik commented on #543
@FWAJL @bsaiken
I have FF, Chrome and Safari, I tested thoroughly on those and here's my test result:
Test URL: http://dev.fieldworkmanager.com/

Firefox:
Summary: Worked with occasional failures
Details: The Project copy worked and redirected to the edit screen of the newly added project. This worked 4 out of 6 attempts. The failure cases opened the edit screen but no data was shown.
Reasons of f

[2015-02-25 09:37] FWAJL commented on #543
@gsouvik

Thank you for the update and the detailed testing.

@bsaiken

I think this is linked to issue #400. I highly advise to build a tool to merge all javascript files into one. Same things with the css files.

While in development, it makes sens to have many files to seperate the concerns but once we release it on the live server, it is preferable to merge files into one. Instead of having 7

[2015-02-25 10:01] FWAJL commented on #565
@bsaiken

1) You created this ProjectService controller and the manageServices and yes, it could have been done in the ServiceController, ListAll method. At the time, I was surely busy with something and I didn't ask why you did this. Anyway, it is working and yes, you remove the ListAll module under the Service views folder.

2) Prefer using the second option. You update any where you find the fi

[2015-02-25 10:09] FWAJL commented on #560
@bsaiken

Use what is done in the active_list module.

I have unified the 2 modules to be consistant.

[2015-02-25 10:10] gsouvik commented on #543
@FWAJL @bsaiken
Yes, I think it definitely has something to do with multiple calls to a lot of file, which occasionally results in timeouts. The concrete proof to this is the issue never shows up on local. It's always on http://dev.fieldworkmanager.com/. Over a fast internet connection and the server performing to it's best, it's unlikely we would see this issue. But on one of the slow sessions, i

[2015-02-25 10:12] FWAJL commented on #395
@bsaiken

Ok to farm out the dev for this. I don't have time to think about it. It is very specific task.

Basically, we need someone who is experience in dealing with browser history and building a good history with a web application using PHP and JavaScript heavily.

[2015-02-25 10:50] FWAJL commented on #278
@bsaiken

I can't find the line of code you are talking about. I think the file has evolved too much since.

Please clarify this:
- do you want to activate one task at a time? If so, this is already the case.
- do you want to limit the number of active task to one?

In the previous comments, I'm not sure what you want.

Thank you.

[2015-02-25 10:52] FWAJL commented on #559
@bsaiken @damirius

Are we all clear? Is there more clarifications to give?

Thank you.

[2015-02-25 14:46] FWAJL opened #571 "Refresh cache on client side to solve js and css files update issues"
Add version number to js and css files path when building each page.

[2015-02-25 16:38] bsaiken commented on #278
@FWAJL
Right now, the user needs to take an action to assign a value to $current_task.  What I am talking about is, if there is only one active task, assign this value automatically.  I make the same argument for Projects.

[2015-02-25 17:10] FWAJL opened #572 "Reduce the http requests when loading javascript and css files"
### What we need

For each route, we need to create a single .js and .css file so that there are two requests done in a live environnement.

### How to do it?

The first request to each route will:
- combine all the js files into one for this route and store it in a file so the next time the route is requested, the file is read.
- combine all the css files into one for this route and store like th

[2015-02-25 17:17] damirius commented on #521
@FWAJL

Is review done for this one?

[2015-02-25 17:18] FWAJL commented on #521
@damirius

Just writing it ;) Hang on :)

[2015-02-25 18:00] FWAJL commented on #521
@damirius

Only a couple remarks to take care of:
- There is a problem with facilities with no coordinates. The marker icon doesn’t display or is missing. See [this screenshot](https://docs.google.com/file/d/0B2j01q2xtCOtOTdISXBMZk1jeUU/edit?usp=drivesdk) for Facility 362. Can you look into it?
- Can you please use a CSS class instead of inline CSS? Add the class and its CSS in the app-theme.css.

[2015-02-25 18:02] FWAJL opened #573 "Milestone C – Add and move markers - Stage 1"
The “Add” button ( ) is only used in Location Mapping Mode.

When mapping Locations as in (A)(2) above, Location Mapping Mode, the button is used to Add a Location.

- Include a prompt box to ask for the Location name. Follow the existing code structure for adding a prompt box.
-The Location lat/long should be automatically added to the database.

Visual: Slides 13 & 14

Note: All Markers shall be

[2015-02-25 18:06] FWAJL opened #574 "Milestone C – Add and move markers - Stage 2"
Include the ability to place a Location onto the map using the sidebar that lists Locations.  Click the Location name or icon that does not have a lat/long (light blue) and then click the spot on the map where the Location should be.

Visual: Slides 15 & 16

[2015-02-25 18:07] FWAJL opened #575 "Milestone C – Add and move markers - Stage 3"
The “Draw line or shape” button () is used to draw a project boundary.  The Current Project must be selected.

- The Project Boundary is stored for the Current Project here: facility.boundary
- If a boundary is drawn, the default zoom level for a single Project is the boundary.
- Clicking anywhere inside the boundary displays the Project info window.
- This is needed because Locations may be added

[2015-02-25 18:07] FWAJL commented on #522
@damirius

I'm splitting this issue into the 3 stages to make it easier to review your code later.

Please commit the code separately for each issue below:
Stage 1: https://github.com/FWAJL/FieldWorkAssistantMVC/issues/573
Stage 2: https://github.com/FWAJL/FieldWorkAssistantMVC/issues/574
Stage 3: https://github.com/FWAJL/FieldWorkAssistantMVC/issues/575

Thank you.

[2015-02-25 18:10] damirius commented on #522
@FWAJL

Sorry, but it would be great if you could notice me of changes like this before, since Milestone C is done. I've finished it up and waited for the review of Milestone B.

[2015-02-25 18:16] bsaiken commented on #522
@damirius @FWAJL
Technically, according to the agreement, you should wait until a Milestone is approved before moving ahead with the next Milestone.  I understand, of course, that sometimes that is not practical from a coding perspective.  However, please adhere to this where possible.
No harm done, though, and I am eager to see the new code.  If you push it to the feature_mapping branch I will lo

[2015-02-25 18:17] #543 closed

[2015-02-25 18:18] #481 closed

[2015-02-25 18:19] FWAJL commented on #543
@gsouvik @bsaiken

The problem we have will be part issue #571.
I'll think about how to do it.

[2015-02-25 18:23] bsaiken commented on #543
@gsouvik
This is our issue to resolve.  Your work is complete and I have released your payment.  See eLance message for more.  Thanks.

[2015-02-25 18:27] damirius commented on #522
@bsaiken @FWAJL

I understand. I had to organize my time better since I finished almost everything by Friday if you don't count few changes to the sidebar positioning. I will wait from now on before milestone is fully reviewed.

Do you want me to include all changes from Milestone B (css reformat and broken inactive icon for facilities) together with Milestone C in the new push?

Thanks

[2015-02-25 19:08] gsouvik commented on #543
Thanks @bsaiken

[2015-02-25 19:13] damirius commented on #521
@FWAJL

Marker icon wasn't set in the controller, now it is. I was under the wrong impression that facilities must be set.
Also can you tell me which browser are you using since my sidebar is showing normally in firefox and chrome, with no overflow?

I've used js to add background-color for active controls and markers in the sidebar. If you mean that, I've changed it to addClass/removeClass and ad

[2015-02-25 20:08] damirius commented on #521
@FWAJL

I made some tweaks to map-info sidebar in css. It should fix the issue with overflowing.

[2015-02-25 20:30] damirius commented on #522
@bsaiken @FWAJL

New commit is up.

Controls:
Ruler should be activated for all map pages.
Marker edit should be activated only for "All project's location" page
Boundary edit should be activated for all map pages except the first (All projects)

Marker edit control:
Click on it to activate it in the sidebar, map should become clickable. If map is clicked, user will be presented with a prompt. Pro

[2015-02-25 21:01] FWAJL commented on #521
@damirius

Yes, addClass / removeClass is a good solution to the css in the maps.js

Ok I'll look at it. Thank you

[2015-02-25 21:23] damirius commented on #521
@FWAJL

Just wanted to say that I'm using map_manager.js instead of maps.js, I just moved and renamed the file. Maps.js is still there but it isn't included anywhere. I'll probably remove it since we don't need it anymore. It isn't exactly service so I opted for classic manager file like others we use for locations/tasks/projects etc.

[2015-02-26 00:52] bsaiken opened #578 "Remove ProjectService Module"

[2015-02-26 01:03] bsaiken commented on #521
@damirius @FWAJL
I just looked at the mapping UI.  There are still some formatting issues with the sidebar.  However, as long as everything functions correctly, please do not spend time refining the css.  I will likely want to play with the view myself until I can get it looking like I want.

In case you are curious, this is what I see.  But, again, no need to rush and fix this.

![screen shot 201

[2015-02-26 02:04] bsaiken commented on #522
@damirius
I am still working on the review and I found a bug that is hampering my review process:
When I move Locations to "inactive" they are deleted.
If you can not easily re-create the problem, please let me know and I will give more details.

[2015-02-26 02:30] bsaiken commented on #522
@damirius @FWAJL
I have a more comprehensive review.
1) If there are no Locations, or none of the Locations have coordinates, the map center and zoom needs to be the Project coordinates.
2) The button to de-activate Locations is deleting the Locations.
3) Inactive Locations should be small_X, including Locations without coordinates in the sidebar.
4) When I add a Facility boundary, nothing is disp

[2015-02-26 05:48] FWAJL commented on #404
The commit will be released as part version 1.6.7.

[2015-02-26 05:51] FWAJL commented on #521
@bsaiken

Can I release this tomorrow?
Thank you.

[2015-02-26 07:19] FWAJL commented on #532
@bsaiken

Already live.

[2015-02-26 08:02] FWAJL commented on #572
@bsaiken

Basic specification complete.

[2015-02-26 09:10] damirius commented on #522
@bsaiken @FWAJL
1) OK, that will be changed to first fit the boundary if boundary is available, then to fit the markers boundary if there are more than 1 marker, then to center and zoom on 1 marker if there is only one location marker and in the end to center on facility marker.
2) I can't recreate that bug in the location list page. I had to use different controller action for editing my location

[2015-02-26 09:15] damirius commented on #532
@FWAJL

I know this is closed, but I just want to say that adding version number on the end of every external script will break few things.
Take a look at this link https://maps.googleapis.com/maps/api/js?libraries=drawing,geometry?v=1.6
If you remove ?v=1.6 it will work properly and geometry library will be properly loaded.
Is there a reason to add the version for external scripts?

[2015-02-26 09:40] FWAJL commented on #532
@damirius

I will remove the version from the external librairies.

Thank you for spotting that.

[2015-02-26 09:54] FWAJL commented on #522
@bsaiken @damirius

4) The fix is pushed via #532.

[2015-02-26 09:58] damirius commented on #522
@FWAJL

Regarding deactivating locations, I've found the problem. At first it looked OK, but locations were being deleted from the DB.
On line 175 of LocationHelper.php there is call for DeleteLocation function. Now we are sending the name of DAL which should do that. As far as I can see we are sending "TaskLocation" as the name of the DAL. So I assume that point of that was to remove task from lo

[2015-02-26 11:53] FWAJL commented on #522
@damirius

Deleting a `task_location` deletes a link between the table `task` and the table `location` using respectively the `task_id` and the `location_id` of each. We store the pair in the table `task_location`, not in the table `location`.

So if you call `LocationHelper::DeleteLocation` with `Task_Location` as the DAL name, it'll delete the task_location item, not the location.

See `Location

[2015-02-26 12:10] damirius commented on #522
@FWAJL

I understand all that.
I was actually talking about `LocationHelper::UpdateLocations` method. If you check line 175 you will see a call made to `self::DeleteLocation` with 'TaskLocation' beeing sent as `$dal_name` parameter.

As I said, this will not work since the object being sent as the third parameter is the `Location` object and TaskLocationDal manager is deleting the location instead

[2015-02-26 13:09] FWAJL opened #583 "Deactivate a location deletes it"
@bsaiken

As @damirius has found out while doing issue #522, when we deactivate a location, we delete it also.

The reason is that when we deactivate a location, we need to delete the related ***task_location*** if there is any.

TODO:
- After the edit of the location (either activate/deactivate), we need to update the sessionProject (or at least make it is up-to-date).
- Delete the task_location

[2015-02-26 13:11] FWAJL commented on #522
@damirius

I see now. Good job spotting it. We'll wait for @bsaiken to decide who does this.
The issue #583 is created for the fix of the bug.

Thank you.

[2015-02-26 14:45] bsaiken commented on #521
@FWAJL
Please do.

[2015-02-26 15:47] damirius commented on #583
@FWAJL @bsaiken

Can someone tell me which branch do we want to use for this one?

[2015-02-26 17:46] bsaiken commented on #583
@FWAJL @damirius
I made a new branch for you: feature_dd.  Use this for all hourly work.
You can use the same login: mapping ; mapping
https://github.com/FWAJL/FieldWorkAssistantMVC/tree/feature_dd

[2015-02-26 17:49] bsaiken commented on #583
@damirius
Normally, I will set everything up.

[2015-02-26 17:57] damirius commented on #583
@bsaiken

Thanks, I have it done on my local branch already. I'll migrate the code needed for this and let you know when it's pushed here.

[2015-02-26 18:22] damirius commented on #583
@bsaiken

I've added modified code on that branch and pushed it here. Can you tell me from where you branched this feature_dd branch? I noticed that "activate/deactivate" button is displayed as an arrow. Just asking since I don't know how old that code is there.

[2015-02-26 18:26] bsaiken commented on #583
@damirius
I JUST CREATED THE BRANCH FROM THE DEV branch.  The code you have is the most up to date there is.
Lots of changes going in with the site, which is why you need to do frequent pulls.

[2015-02-26 18:31] bsaiken commented on #583
@damirius
Maybe I was premature to have you work on a separate branch, since this code is needed for the mapping UI.  It would probably work best if you copied the new LocationHelper to your local feature_mapping branch.

[2015-02-26 18:39] damirius commented on #583
@bsaiken

OK, not a problem. It will be pushed together with other changes that you asked for in the function review for mapping Milestone C.
I would appreciate your input on marker icon changes for that. When that is done I'll have the code ready and pushed for the next round of reviews.

[2015-02-26 18:41] bsaiken commented on #522
@damirius
This is looking good.

Reminder that Task Location markers are red_circle.

[2015-02-26 18:53] damirius commented on #522
@bsaiken

I'll copy it here from your eLance message as a reminder:
https://www.google.com/fusiontables/DataSource?docid=1BDnT5U1Spyaes0Nj3DXciJKa_tuu7CzNRXWdVA#map:id=3
Project markers (active)     : purple_stars
Project markers (inactive)    : wht_stars
Location markers (active)    : blu_circle
Location markers (inactive) : small_blue
Task Location Markers     : red_circle

So only one that was

[2015-02-26 19:03] bsaiken commented on #426
@FWAJL
The changes I made in the commit, above:
https://github.com/FWAJL/FieldWorkAssistantMVC/commit/177ad335c9147638d9e7c9a794ef1749ac71fc52
have been lost on the feature_housekeeping branch.

[2015-02-26 20:00] damirius commented on #522
@bsaiken
New version of feature_mapping branch is pushed.

I noticed that I had implemented some code for currentProjectLocations map which sets default coordinates to facility coordinates if there are no markers. I used that for task locations map too.
I've included those changes to LocationHelper which solve that bug with the location removal when making them inactive.

As far as the marker icon

[2015-02-26 20:19] bsaiken commented on #583
@damirius @FWAJL
I found a bug in the Task Locations UI.  I think it was cased by work on this Issue.
Navigate here:
Task > List All
Right click a task and select "Edit" (or "View Info").
Click on Locations tab.
Try promoting one Location from "Project Locations" to "Task Locations".  Does not work.
The error does not occur for promoting multiple Project Locations.

![screen shot 2015-02-26 at 1 1

[2015-02-26 20:22] bsaiken commented on #426
I just completed the code for this.

[2015-02-26 20:31] bsaiken commented on #404
@damirius @FWAJL
I noticed an error in the JQuery contextual menu selector for the Task UI.  This was to set up for the Active Task UI.
A child selector must be used (e.g. #inactive-list .select_item) instead of renaming the class because the active_list and inactive_list modules get re-used across multiple UIs.
I corrected this in my most recent commit, but it may take a few days for the fix to p

[2015-02-26 21:05] bsaiken opened #584 "Create new tables for autocomplete feature"
Create master_lab_analyte (copy of common_lab_analyte)

[2015-02-26 21:11] bsaiken opened #585 "Implement autocomplete on Servce Category"
Add autocomplete for the Service Category form element (Service > Add).
The source of the autocomplete options is in the list of `service_type` in the `service` table for the current pm_id (note - these will be in the PM Array).

See [Session Array definition](https://docs.google.com/spreadsheets/d/1HcS6kgDvSaYjffgWfBO7S_Eq3HKsOYfuL-b-0x5Rczw/edit#gid=1372629556).

[2015-02-26 21:13] bsaiken opened #586 "Implement autocomplete on Lab Analytes (uploadList)"
The Lab Analytes autocomplete list will come from the table "master_lab_analyte".
Issue #584 must be completed first.

[2015-02-26 22:56] bsaiken commented on #140
Right now, we can upload a long list of Locations from the UI:
Location > Upload List
It looks like this:

![screen shot 2015-02-26 at 3 51 52 pm](https://cloud.githubusercontent.com/assets/8228624/6403833/68739ea8-bdcf-11e4-80f3-31c7d023baa3.png)

Click "Add" and I the four Locations, (A, B, C D), will be inserted.

![screen shot 2015-02-26 at 3 53 13 pm](https://cloud.githubusercontent.com/asset

[2015-02-26 23:35] bsaiken opened #587 "Revised Popups SOW - ToolTips"
@gsouvik
Re-write active_list.php and inactive_list.php to remove the tooltips from the listed items.  I already made archive files active_list_archive.php (etc.) so the work is not lost.

Replace with tooltips as shown in revised popups sow.pdf.  I have modified the Project > List All UI to show the proper application.  Except, I did not complete the tooltip - I just have a span title as a tempor

[2015-02-27 02:21] bsaiken commented on #272
@FWAJL
Too easy!
Some files (and one deleted file) got pushed unintentionally.  Sorry, I thought I set only the relevant files.  The other changes are OK, just not part of this Issue.  I'm trying to clean up my act.

[2015-02-27 05:44] FWAJL commented on #560
@bsaiken

So far the code is done to add the "i" and "?" glyphicon.

[2015-02-27 05:49] bsaiken commented on #560
@FWAJL
This is all going to get redone entirely.
This change is just a sample for Souvik to follow.

[2015-02-27 05:52] FWAJL commented on #565
@bsaiken

Incorporated into the releaase 1.6.7

[2015-02-27 05:53] FWAJL commented on #404
@bsaiken @damirius

It is merged to dev. I will merge it to the other feature branches soon.

[2015-02-27 06:19] bsaiken commented on #427
@FWAJL
I believe this is deprecated.

[2015-02-27 07:01] FWAJL commented on #427
@bsaiken

Ok

[2015-02-27 07:01] #427 closed

[2015-02-27 07:02] FWAJL commented on #560
@bsaiken

I understand. I will release it then.

[2015-02-27 07:14] FWAJL commented on #522
@damirius

Don't forget to change the status label  and the Assignee. See Step 4 of [the worflow document](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0).

Thank you in advance.

[2015-02-27 07:17] FWAJL commented on #586
@bsaiken

Why a new table? Is common_lab_analyte not enough?

[2015-02-27 07:33] gsouvik commented on #587
@FWAJL @bsaiken
I have a question which is common for all the tasks I would be working on in the coming days. I was unsure where to post it, so I just put it here. Do I continue developing on the feature_popup branch for this task and the other ones like "autocomplete"?
Thank you.

[2015-02-27 07:43] FWAJL commented on #571
@bsaiken

It looks like it is working for me. Hopefully it will for everyone too in the live url.

[2015-02-27 08:37] FWAJL commented on #587
@gsouvik

Yes, keep working on it, please.
Thank you.

[2015-02-27 10:34] damirius commented on #583
@FWAJL

Hey, can I get your input on this since I can't recreate the bug? If you could try it out on feature_mapping branch just to see if you are getting same error when adding project locations to task locations.

[2015-02-27 10:35] damirius commented on #522
@FWAJL

Forgot this time, sorry.

[2015-02-27 11:55] FWAJL commented on #140
@bsaiken

Additional info for the specification: the seperator is a ***TAB*** character.

[2015-02-27 14:44] FWAJL commented on #522
@damirius

Not worries. It is a lot to learn in a short time and everyone works differently.
Thank you for your work so far :+1:

[2015-02-27 14:55] FWAJL commented on #583
@damirius

Can't check it until Monday.
However, I can try to point you in the right directions:
- Have a NetBeans or your IDE debugger running
- Set a breakpoint at [line 11 of the TaskLocationController](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_popup/Applications/PMTool/Controllers/TaskLocationController.php#L11). Step into the `LocationHelper ::UpdateTaskLocations` and check

[2015-02-27 15:04] damirius commented on #583
@FWAJL

Well good thing is that it doesn't have anything to do with that other modification on `UpdateLocations` method. Since we are using `UpdateTaskLocations` for this. Well, now when I think about it, it's not really a good thing, it would probably be better if it had something to do with our last problem :)

In any case, thanks for the tips.

[2015-02-27 15:24] bsaiken commented on #586
@FWAJL
common_lab is not enough.

[2015-02-27 15:30] bsaiken commented on #571
@FWAJL
I have had no problems, so I will close and re-open if it starts again.
Getting rid of the Google maps API on every page made a bid difference.

[2015-02-27 15:37] bsaiken commented on #140
@FWAJL
Are you sure that it is *always* a tab character?

[2015-02-27 16:07] FWAJL commented on #140
@bsaiken

We'll have to check (which I did). However a user could modify the data
after pasting it.
What do you do in that case?

--
Jérémie Litzler
On 27 Feb 2015 16:37, "bsaiken" <notifications@github.com> wrote:

[2015-02-27 16:07] FWAJL commented on #571
@bsaiken

I'm glad you are happy with the solution.

Thank you.

--
Jérémie Litzler
On 27 Feb 2015 16:30, "bsaiken" <notifications@github.com> wrote:

[2015-02-27 16:09] FWAJL commented on #586
@bsaiken

Please describe it as much as possible.

Creating a new table, especially when it's a copy of another one very
similar is maybe not the solution.

Thank you.

--
Jérémie Litzler
On 27 Feb 2015 16:24, "bsaiken" <notifications@github.com> wrote:

[2015-02-27 16:11] #571 closed

[2015-02-27 16:16] bsaiken commented on #583
@damirius @FWAJL
I just De-activated a technician from the Task Technicians tab and the technician was deleted.
It only happened the first attempt, but still a fatal flaw.

[2015-02-27 16:18] #565 closed

[2015-02-27 16:18] FWAJL commented on #272
@bsaiken

I wanted to show how to do it and while checking the data, I did the
code... Oops.

So I will write some sentences to explain what to do and let you code it.

If you can't figure it out or even if you can, and I'll show you my
solution.

What do you say?
--
Jérémie Litzler
On 27 Feb 2015 03:23, "bsaiken" <notifications@github.com> wrote:

[2015-02-27 16:20] #564 closed

[2015-02-27 16:23] #560 closed

[2015-02-27 16:26] bsaiken commented on #140
We give them a tooltip telling them how it needs to be done.  If they
don't follow the procedure, we will need to do some data validation to
regent the submit.

I don't need to cover every option, just provide a couple common
options.

Brian

On 2015-02-27 16:07, FWAJL wrote:

[2015-02-27 16:26] bsaiken commented on #586
That is the correct solution in this case.

On 2015-02-27 16:09, FWAJL wrote:

[2015-02-27 16:28] bsaiken commented on #272
@FWAJL
Why are you doing anything?  I did it.  It works.
Don't tell me you're bored and don't have enough to do...
Brian

[2015-02-27 16:49] bsaiken commented on #522
@damirius
The only thing I see is that Task Locations are not red_circle.

*As far as the marker icons go, if you would like to see something different we can change that easily from the config where they are linked.*
I did not find the config file you are referring to.

[2015-02-27 16:55] damirius commented on #522
@bsaiken

This is the linked marker icon for task locations http://maps.google.com/mapfiles/kml/paddle/red-circle_maps.png
Config file is `appsettings.xml` under the Mapping section

[2015-02-27 16:57] bsaiken commented on #521
@damirius @FWAJL
There are issues with this release.

1) Task markers are undefined.

![screen shot 2015-02-27 at 9 54 59 am](https://cloud.githubusercontent.com/assets/8228624/6416898/ddb639cc-be66-11e4-99ec-9751a3cbc846.png)

2) All Projects not displaying some icons and the sidebar is displaying duplicate entries.

![screen shot 2015-02-27 at 9 52 14 am](https://cloud.githubusercontent.com/asse

[2015-02-27 17:03] bsaiken commented on #522
@damirius
I see why I was not finding it.  I was searching for red_circle (which is what I identified, above) but it is really red-circle.
I'm not sure I like having to go to google maps every time for a marker.  Is there a better alternative?

[2015-02-27 17:05] #506 closed

[2015-02-27 17:05] damirius commented on #521
@bsaiken

I would appreciate if you could send me your current sql dump, so I can test it with all that new stuff I see on those screenshots and see what's up.

Thanks

[2015-02-27 17:08] #488 closed

[2015-02-27 17:12] damirius commented on #522
@bsaiken

If you go here: https://www.google.com/fusiontables/DataSource?docid=1BDnT5U1Spyaes0Nj3DXciJKa_tuu7CzNRXWdVA#map:id=3 and click on the marker that is set as our task location icon (it's in a 4th row in that bunch of default shaped markers on the right side) what does the popup says? For me it shows "Icon name: red_circle" in the first line.

I can save those that we use in some local dir

[2015-02-27 17:21] FWAJL commented on #272
@bsaiken

You asked me on Wednesday and I wanted to help you understand.

What is wrong with doing what you asked?

--
Jérémie Litzler

On 27 February 2015 at 17:28, bsaiken <notifications@github.com> wrote:

[2015-02-27 17:54] bsaiken commented on #521
@damirius
The Milestone B test was done on the live site.  You should be able to duplicate the bug.  Let me know if you can't.

[2015-02-27 17:59] bsaiken commented on #272
I also said I was going to try it again myself and send you an email if
I needed further clarification.

It's true I still do not understand how to modify the ProjectController
to accomplish this...

But then I had the inspiration for the JQuery solution.

Unless you have any compelling reason to dis my solution, we can leave
it as it is.

Now, we still have to set the currentTask with only one ac

[2015-02-27 18:05] bsaiken commented on #278
see Issue #272

[2015-02-27 18:10] #573 closed

[2015-02-27 18:10] #574 closed

[2015-02-27 18:10] #575 closed

[2015-02-27 18:23] damirius commented on #521
@bsaiken

NoLatLng icon wasn't set by that controller, it works on other pages, we changed that in some of the previous commits on feature_mapping.

Also those aren't duplicate entries I believe. You can check facility names for each project and see that facilities have the same name for most of them. Some of them use EC as facility name others use Facility 490 as the name.
For example project 490

[2015-02-27 18:54] bsaiken commented on #521
@damirius
Thanks - I get it now.

[2015-02-27 18:55] #521 closed

[2015-02-27 22:15] #400 closed

[2015-03-01 19:57] gsouvik commented on #587
@FWAJL @bsaiken
Just a small status update - New tooltip coded till row 10 of "Revised Popups SOW". Shall complete the rest and commit again.
Also, this issue too has multiple parts, for example tooltips, alerts, confirm and prompt boxes. Wondering if it's a good idea to break those into different issues.
Thank you

[2015-03-02 04:56] bsaiken commented on #587
@gsouvik @FWAJL
Whether or not to make separate Issues is up to you and Jeremie.  I don't need it to track progress.  Also, since you are now hourly I do not need it to track payments.  Still, I understand that for Jeremie's review, it may be beneficial.

[2015-03-02 05:12] bsaiken commented on #587
@gsouvik @FWAJL
I have created the attached file to aid in tracking.  I added item numbers, so you can identify which you have done.  I have already highlighted the one I see you have completed.
![revised popups sow - progress_page_2](https://cloud.githubusercontent.com/assets/8228624/6435667/0cc92594-c060-11e4-847b-723fc8dd0dc0.jpg)
![revised popups sow - progress_page_3](https://cloud.githubuser

[2015-03-02 05:24] FWAJL commented on #583
@damirius @bsaiken

On http://dev.fieldworkmanager.com/, I have added "Joe2" to the task technician of Project 490 and removed it from the task technicians. It didn't delete the technician but just the link. I have checked the database after the action to be sure and re-logged in.

Another point is that it will not remove the link between technician and task technicians if the technician is delete

[2015-03-02 05:27] FWAJL commented on #140
@bsaiken
That's grand.

[2015-03-02 05:30] FWAJL commented on #586
@bsaiken

Can you please still describe the use of these master_lab_analyte?

I want to understand why it is the correct solution in this case.

Thank you.

[2015-03-02 05:53] FWAJL commented on #272
@bsaiken

jQuery is a solution but it means you refresh the page by performing a redirect after request the setting the current project. That is 2 requests that can be avoided.

The PHP solution in the controller requires no additional request as it is done as part the initial project/listAll load.

To do the PHP solution, you need:
- to get the project arrays in session
- to get the pm array
- to

[2015-03-02 06:03] bsaiken commented on #586
@FWAJL
The common analyte list is a brief list of analytes that are most commonly used in my field.
I added this feature as a convenience.  It is not absolutely necessary since the user could simply enter any analyte name of their choosing.  Giving the user this options will reduce spelling errors and, for field analytes, provide an example of the appropriate syntax (which includes the units).

Th

[2015-03-02 06:06] FWAJL commented on #587
@gsouvik @bsaiken

Since the work has already started, please do a single commit for each item under this issue.
- Do a `git add` for the files of a given item in the list
- Do a `git commit -m "Issue #587" -m "item X"` to commit the item in the list individually.

I would understand if you already committed everything locally.

Thank you.

[2015-03-02 06:11] bsaiken commented on #272
@FWAJL
You are being shortsighted.  The amount of time two server requests would take, compared to the amount of time a user would require to manually choose the current project (or task) is insignificant.  This is merely efficiency for the sake of efficiency.

The response I prefer is to table this as a backlog issue, since we have a working solution (albeit, less efficient).

[2015-03-02 06:14] bsaiken commented on #587
@FWAJL
Jeremie, the control file (in case you would like to see it) is here:
https://docs.google.com/document/d/1nBIZciJDj5_M6JgzYy7q1YdgY8h1Kx3BKXxwGkw795o/edit

[2015-03-02 07:30] FWAJL commented on #586
@bsaiken

I understand now.

The common list can be part or the whole of the master list. Now it makes sense.

Thank you.

[2015-03-02 07:35] FWAJL commented on #272
@bsaiken

Where do you see in my response that the PHP solution is the current one where the user selects a project in the contextual menu? I did not say that at all.

The selection is done as part of loading the project and project/listAll views (to cover all scenarios).

Maybe now you understand.

[2015-03-02 07:42] FWAJL opened #591 "Revised Popups SOW - Confirm Boxes"
All the details here:
https://docs.google.com/document/d/1J4FdPNLQT8Wls87Cybk6pvmHp2sZeOdAj-_ehFex4zc/edit

[2015-03-02 07:43] FWAJL opened #592 "Revised Popups SOW - Alert Boxes"
All the details here:
https://docs.google.com/document/d/1Ai74kFFUw_m02AhOb32gIRugvQHLGscmsGCs_iv8Nys/edit

[2015-03-02 07:44] FWAJL opened #593 "Revised Popups SOW - Prompt Boxes"
All the details here:
https://docs.google.com/document/d/14P3Q-WD4BhlufjOs6wlgxQxDYD42CeV8hjMcifcWOXQ/edit

[2015-03-02 07:49] FWAJL commented on #587
@bsaiken

Thank you for sharing

@gsouvik

After looking at the whole list just now, I have created a separate for each popup type (Alert, Prompt, Confirm, etc). This issue 587 is for the ToolTip since you've started already.

Keep committing the code I have described above in the all issues please.

Confirm: issue #591
Alert: issue #592
Prompt: issue #593

Thank you.

[2015-03-02 12:10] gsouvik commented on #587
@FWAJL @bsaiken
Thanks, now that we have separate issues I'll commit under those. If a task is partially complete, I'll commit it under the relevant issue with list of items in the message.

[2015-03-02 12:25] FWAJL commented on #522
@damirius @bsaiken

Ready to release tomorrow.

[2015-03-02 12:35] #532 closed

[2015-03-02 14:32] damirius commented on #583
@bsaiken @FWAJL

@FWAJL Aren't all relation tables set with `on delete cascade` foreign keys so we don't have to worry about that?

[2015-03-02 14:34] gsouvik commented on #587
@bsaiken @FWAJL
I just noticed a requirement which might be conflicting each other, so I wanted to confirm. For item 18 and 29, a tooltip and an alert box is required. But the trigger in both the cases is click() on the same icon. Does that mean, clicking on that glyphicon both the tooltip and the alert box would show up? We would also have to keep in mind, the alert box dims the background. Pleas

[2015-03-02 15:55] bsaiken commented on #587
@gsouvik
You are correct.  I made a mistake.  item 18 should be on hover().  The tooltip will say "Click to see map legend".

[2015-03-02 15:56] gsouvik commented on #587
@bsaiken @FWAJL
According to Revised popup SOW no 15, 16 and 17 we have to add the tooltip to the div with id=map-info-ruler-icon. When added, it looks like this
![inner_div](https://cloud.githubusercontent.com/assets/2292482/6444206/044135a2-c122-11e4-9c8e-a7c53dc6c0b9.png)

But if it is added to it's outer div (map-info-ruler), it looks like the following:
![outer_div](https://cloud.githubuserco

[2015-03-02 15:57] bsaiken commented on #587
@gsouvik
In fact, all the tooltips should be on hover - it was just a typo.

[2015-03-02 15:59] bsaiken commented on #587
@gsouvik
With respect to the map sidebar tooltips, this will need to be re-formatted as the icons and the entire side bar is too large.  I suggest you skip this for the moment and I will look today at the formatting.

[2015-03-02 16:01] gsouvik commented on #587
Thanks @bsaiken for the info.

[2015-03-02 16:09] bsaiken commented on #272
@FWAJL
I see that we will need to discuss this in the meeting Wednesday.

[2015-03-02 18:14] bsaiken commented on #522
@FWAJL
Since you are releasing tomorrow morning, I will wait for unit testing until then.

[2015-03-02 18:26] bsaiken commented on #587
@gsouvik
I looked at the mapping layout and it may take some time to fix this.
So, I would hold this until the end.
In the mean time, think about using the "container" option
http://stackoverflow.com/questions/19630749/how-to-make-bootstrap-3-tooltip-work-with-parent-div-with-overflowhidden

or, we could just use a title, as shown in the screen shot, whihc would be an acceptable solution for me.

[2015-03-02 18:41] gsouvik commented on #587
@bsaiken
The container option would let us attach the tooltip to any container of our choice which is parent to the control where the tooltip is added. Which is similar to the case where we directly add it to it's parent div i.e. map-info-add. It doesn't break the UI and looks good (shared a screenshot earlier). It might be a solution for the time being. Let me know your thoughts.

[2015-03-02 19:16] bsaiken commented on #587
@gsouvik
Whatever Firefox Inspector does to add it's tooltips, it looks just like I would want.  The tooltip is on top (out of the way) and the w to the icon.  Can we do that?

![screen shot 2015-03-02 at 12 14 51 pm](https://cloud.githubusercontent.com/assets/8228624/6448260/ed327a7a-c0d5-11e4-9b74-d465f9dc49ef.png)

[2015-03-02 19:35] gsouvik commented on #587
@bsaiken
Understood, this is how it looks like when we apply the tooltip to it's parent container and place it on top. I've added both the screenshots for double line and single line. Please review and let me know, if you don't prefer this, we can set the basic title as suggested by you previously.

![single_line](https://cloud.githubusercontent.com/assets/2292482/6448616/41e7c280-c141-11e4-8ab5-6

[2015-03-02 19:36] bsaiken commented on #587
@gsouvik
Looks great.

[2015-03-02 20:32] gsouvik commented on #587
@bsaiken @FWAJL
The remaining items for the tooptip issue is completed. Points 15, 16 and 17 from the SOW are implemented only for the map/allProjects screen, as we discussed that the UI might change for that section on all the relevant pages. Let me know if I should add this to the other pages too, and I shall do the same.

For the screens "Task > List All >> Edit > Technician tab" and "analyte/u

[2015-03-02 20:55] bsaiken commented on #587
@gsouvik @FWAJL
Yes, I will need to add a span class there as well as for the Service Providers view.
I'll take care of it today.  Jeremie will likely be able to push the change to your branch tomorrow.

[2015-03-03 01:45] bsaiken commented on #587
@gsouvik
The problem is not css.  We have an inconsistency in our div structure for the technician and location tabs.  In order to match the div structure, you need to add two divs before col-lg-5, like this:

<div class="content-container container-fluid">
  <div class="row">
  <div  class="col-lg-5 col-md-5">

Then you need to close out the divs at the bottom of up_field_analyte_lists (and _lab_

[2015-03-03 05:38] FWAJL commented on #583
@damirius

You are right actually. Sorry for the mistake in my statement. I'll remove it. What you say is true.

However, it only works on delete action, not update.

[2015-03-03 08:00] damirius commented on #583
@FWAJL

Yea. Actual problem is with session updates like you said and "active" field updates. Deactivating locations is no problem currently I think. There is a small bug with technicians and their relation to tasks. It's a problem with removing relations between technicians and tasks on deactivation of technicians, similar to locations.

The thing is if you deactivate technician from technician/l

[2015-03-03 15:27] damirius commented on #583
@FWAJL @bsaiken

New commit for this bug is on feature_mapping, since we agreed to push fixes for these bugs on this branch.

Recreating the bug on older versions of the branch or any other branch:
Set some project at the current project
Go to Technicians->Add, add new Technician for testing leave it active like it is set by default
Go to Tasks->List All, right click some task to edit it
On Techni

[2015-03-03 16:22] bsaiken commented on #430
@FWAJL
Tooltips not working in Safari.  They work as with "Title" attribute.
Tooltips work correctly (in Safari) on my local Host with the feature_popup branch.

[2015-03-03 16:32] #480 closed

[2015-03-03 17:13] #522 closed

[2015-03-03 18:03] bsaiken opened #602 "Change "Edit" button to "Save""
Change in /showForm views

[2015-03-03 18:27] bsaiken commented on #430
@gsouvik
Please note the Safari bug I found and see if you can duplicate.
I could not find some of your more recent changes on feature_popup branch.  Please check after the recent merge.
Please use Issue #586 to submit any new tooltip work as it will help us track progress.
I have update the eLance documents with respect to progress tracking.  Please look at the new documents.

[2015-03-03 18:48] gsouvik commented on #430
@bsaiken
You mean you are not seeing the second round of tooltip updates I committed yesterday on the "feature_popup" branch? Or are you reviewing on live branch where it was supposed to be merged?

I just checked on my local feature_popup branch and all the tooltip points are working. I haven't pulled from yesterday as @FWAJL notified me a merge is in progress.

[2015-03-03 19:04] bsaiken commented on #583
@FWAJL @damirius
I tested on the live site and do not get the bug.
If this is fixed, please close Issue.

[2015-03-03 19:08] bsaiken commented on #430
@gsouvik
I check the live branch and the feature_popup branch.
I just wanted to make sure no work was lost.
Are you able to test with Safari?  When I test with Safari, the Project > List All tooltips do not work - they appear as Titles.
![screen shot 2015-03-03 at 12 08 09 pm](https://cloud.githubusercontent.com/assets/8228624/6470016/fbef7e00-c19d-11e4-9e2c-b2bd6f80bd46.png)

[2015-03-03 19:22] gsouvik commented on #430
@bsaiken
Here are my findings:

On the live branch (http://dev.fieldworkmanager.com) :
NOT a single tooltip update is available. The reason you see those as in the screenshot, because those are basically the titles which were added initially to demo the UI and NOT the functional tooltip.

On MY LOCAL "feature_popup":
The complete tooltip work is up and working as per my release report yesterday. T

[2015-03-03 19:40] bsaiken commented on #430
@gsouvik @FWAJL
It is possible Jeremie has not done the merge and release yet.
I do unit testing on Monday or Tuesday morning, and if things are not there that should be, I put up the red flag.  It should all be sorted out by tomorrow morning.

Did you notice on the update file that I added some items?

[2015-03-03 19:52] gsouvik commented on #430
@bsaiken
Yes, I noticed you have added 13a and 14a for the tooltips section. I'll code those once this merge issue gets resolved.
Thank you.

[2015-03-04 05:28] FWAJL commented on #430
@bsaiken @gsouvik

I was performing a merge from dev to feature_popup. It was completed yesterday evening @ GMT+1.

I have checked and all the popups are showing except maybe the task locations (not done yet? items 13a and 14a).

Please `git pull`. Thank you.

[2015-03-04 06:11] FWAJL commented on #430
@bsaiken

Since there is 2 items left to do, we'll release it next time. I will release the items done.

Thank you.

[2015-03-04 06:12] FWAJL opened #615 "Milestone A – Tooltips"
@gsouvik

Commit the code under this issue the last 2 items.

Thank you.

[2015-03-04 15:09] #583 closed

[2015-03-04 15:19] #578 closed

[2015-03-04 15:26] bsaiken opened #617 "Modify task/locations and task/technician views div structures"

[2015-03-04 15:28] #426 closed

[2015-03-04 15:32] #277 closed

[2015-03-04 15:51] bsaiken commented on #615
Outstanding items:
13a
14a
15
16
17

[2015-03-04 15:54] bsaiken commented on #587
@gsouvik @FWAJL
Let's use this Issue now instead of #615.
I will fix the div structure.
Outstanding items:
13a
14a
15
16
17

[2015-03-04 15:56] gsouvik commented on #615
@bsaiken
I'm in the process of coding those, shall update after a short while. For 15, 16, 17, i assume those needs to be updated to all the map related pages. Currently it is done only for the allprojects page.

[2015-03-04 16:37] bsaiken commented on #523
@damirius
FYI.  I was looking at the current code on the feature_mapping branch, and the URL /map/taskLocations is displaying the map for the URL /map/currentProjectLocations.

[2015-03-04 17:11] damirius commented on #523
@bsaiken

Can you send me screenshot of that? It looks fine on local and on dev.

[2015-03-04 17:28] FWAJL commented on #586
@bsaiken @gsouvik

I have code available to speed up the process. I will share it soon.

[2015-03-04 18:03] damirius commented on #523
@bsaiken @FWAJL

Like we agreed I'll split milestones in few parts so that they will be easier to review.
This one is for first part of Milestone D, project info window.

[2015-03-04 18:15] FWAJL commented on #523
@damirius @bsaiken

Thank you for the work. We'll look at it.

[2015-03-04 18:38] bsaiken commented on #523
@damirius @FWAJL
I have just a couple minor comments.

Clicking on the map icon activates the info popup.  Can you also enable the popup with the sidebar icons?

When I click "Edit Boundary", the map shows the boundary, but I still need two clicks to edit the boundary: 1) click on sidebar control element "map-info-shape-icon", then 2) click on the map control element with the title "Draw a shape".

[2015-03-04 22:02] gsouvik commented on #615
@bsaiken @FWAJL
Outstanding tooltip items completed. Comprises of 13a, 14a, 15, 16 and 17 from SOW.
Thank you.

[2015-03-04 22:19] bsaiken commented on #615
@FWAJL
https://docs.google.com/document/d/1Ps3FB3CJXtVRnn5tB2p41jO2lsi1M0WKqYLhs78lXDY/edit

[2015-03-04 23:02] bsaiken opened #623 "Mapping Bug Fix"
@damirius

I was working with the website and I found an item that has not been corrected.
I added a new Project.  This Project was given coordinates in Austin, Texas.
The map/allProjects and map/currentProject URLs worked fine.
However, when I added new Locations, ones without coordinates, the URL map/currentProjectLocations should zoom to the coordinates of the Project coordinates.  However, thi

[2015-03-05 00:49] bsaiken opened #624 "Remove arrow button index references"

[2015-03-05 03:59] damirius commented on #523
@bsaiken

Biggest problem is the ruler, since it uses the same tools for drawing as boundary. So we will need to know if user wants to add/edit boundary or just measure area or distance. I use buttons to distinguish those 2 options since that google's drawing library doesn't contain separate ruler controls.
It is possible to add marker control there since it is part of the drawing controls, but I'

[2015-03-05 04:01] damirius commented on #623
@bsaiken

Commit pushed to feature_mapping branch

[2015-03-05 05:25] bsaiken commented on #523
@damirius
I thought the tools might be standard and readily available.  I have used Google My Maps and the tools don't have these conflicts.  I don't want to create a bunch of custom work.  I will share a couple screen shots on eLance that shows the tools on one of my maps as an illustration, because I like the way the tools work.

[2015-03-05 05:32] FWAJL commented on #272
@bsaiken

This is live already.

[2015-03-05 05:32] #272 closed

[2015-03-05 05:47] bsaiken commented on #623
@damirius
The same fix should apply to the /map/taskLocations URL.  The default map center, whether you are mapping Project or Task Locations, should be the Facility coordinates.  After Milestone E is complete, every Facility should have coordinates, but if it does not (say the user deletes them), then the default is the center of the USA.

[2015-03-05 05:52] bsaiken commented on #272
I am nominating your for the longest method name of all time.

Brian

On 2015-03-05 05:32, FWAJL wrote:

[2015-03-05 06:12] FWAJL commented on #584
TODO: run the script in the commit on live.

[2015-03-05 06:13] FWAJL commented on #584
@bsaiken

Done.

[2015-03-05 06:13] #584 closed

[2015-03-05 15:18] gsouvik commented on #587
@bsaiken @FWAJL This is completed as per issue #615.

[2015-03-05 15:25] gsouvik commented on #591
@bsaiken @FWAJL
The confirm boxes are complete as per requirement defined in Revised_Popups_SOW_3_4_2015.
Thank you.

[2015-03-05 16:41] gsouvik commented on #592
@bsaiken @FWAJL
I have a question regarding the requirement described in item 29 of Revised_Popups_SOW_3-4-2015.pdf. Is it required that the legend information would be editable in the xml? or it would be fixed for the this particular "type" of alerts?

Thank You.

[2015-03-05 17:08] bsaiken commented on #592
@gsouvik
I do not want the legend editable by the user.  I will need to build the legend contents.  Let me know how you want to do that.  Would you create a module that I could then fill in with html?  I will create the legend today so that you can use the contents as you see fit.

[2015-03-05 17:33] gsouvik commented on #592
@bsaiken
So basically each of those glyphicon­-question­-sign when clicked would show an alertbox which would have a number of legends displayed. I guess each such alertbox could have different set of legends. I think, as you have suggested, when you provide me the legend contents, I'll just put them into the system with "tags". And we can attach any number of legends with the alertbox just by tho

[2015-03-05 17:39] damirius commented on #623
@bsaiken

done

[2015-03-05 17:42] bsaiken commented on #592
@gsouvik
There is only one legend.  I will give you a mockup later today and double check the implementation.

[2015-03-05 17:56] bsaiken commented on #623
@damirius @FWAJL
Yes, Thank you.

[2015-03-05 18:43] damirius commented on #523
@bsaiken

Here is the drawing tools example: https://developers.google.com/maps/documentation/javascript/examples/drawing-tools

Those are all controls that come with that library. I use that together with geometry library that helps me with measurements for the ruler.

[2015-03-05 20:21] bsaiken commented on #623
@damirius
I have found another bug.

When I navigate to the URL /map/taskLocations, the map is showing Task and Project Locations.  The map is supposed to show only Task Locations.

Also, I am preparing a map legend, and there is something wrong with the image "measle_blue.png".  It does not line up with the other icons.  I think this may have to do with the naming convention.  Other images use a

[2015-03-05 21:14] bsaiken commented on #592
@gsouvik @FWAJL
I have pushed changes to the feature_housekeeping branch with the map legend module (map_legend.php).  This is just for you to view, so I have temporarily placed it at the bottom of the Map > All Projects page (see image below).  You could hide the div and use jquery to view it with the legend glyphicon is clicked.

You will probably want to change the placement from the loadView.p

[2015-03-05 21:41] damirius commented on #623
@bsaiken

In SoW for Milestone A part 3 it was stated in notes that all project locations should be displayed.
"Task mode shows all Project locations, but the Task Locations have a different marker."

It was weird for me to use that marker for inactive locations since it's totally different from others. Anyway it isn't lining up because it is 7x7px while others are 32x32. I'll edit it to be 32x32

[2015-03-05 21:53] bsaiken commented on #623
@damirius
You are right - I did ask for Task and Project markers on the Task map.  Now that I am using it, i can see the folly in that.   I did go back to look at the scope and I missed that - funny, since I wrote it.

Let's stick to the scope so we can finish the job.  I knew I would want some changes once I had the map and start using it, so we can deal with all changes later.

[2015-03-05 22:04] damirius commented on #523
@bsaiken

I've changed few things. First off, marker highlighting is added. When you mouse over markers on map linked markers in the list will be highlighted and vice versa.
I've edited that blue dot marker for inactive locations to be 32x32px icon just like others, so they line up better in the list.
I've also added default activated control, which we can set through query param "active".
For exa

[2015-03-05 22:50] bsaiken commented on #523
@damirius
From the controls you referenced above, we only need is "Add a marker", "Draw a shape" and "Stop Drawing".
We are adding the following function: when we add a new marker (Location), we get a popup box asking for the marker name.

Another control that we have, which is really different from adding a marker, is placing a sidebar marker on the map.  I didn't really say in Milestone C how to

[2015-03-05 22:58] bsaiken commented on #523
@damirius
Notwithstanding my prior comment, which are changes that can be made later, this looks good.
Info window working in Project Mapping mode.  Do you want Jeremie to review code before doing Location and Task mapping mode info windows?

[2015-03-06 00:35] bsaiken commented on #523
@FWAJL
Jeremie,
Go ahead and review the code.  If the info windows for the Project Map are correct, I think it's a safe bet the others will be.  That way, I can get Damir to finish this job over the weekend (provided he has time).

[2015-03-06 03:11] bsaiken commented on #278
@FWAJL
I would like to modify this slightly.  I would like the currentTask set immediately when the user logs in (like the currentProject is).  That way, I can set up the "demo" login with one Project and one active task and users can navigate anywhere, without having to select a Project or a Task.

[2015-03-06 06:22] FWAJL commented on #523
@damirius @bsaiken

Just  two little comments:
1) Please use resource files to store the text values found the files. You need to create in the map resources file the resx keys for each text value and replace the current text values with $resx[“key”].
  - FieldWorkAssistantMVC/Applications/PMTool/Views/Map/Modules/popup_prompt.php at lines 24 and 25 (“Ok” and “Cancel”)
  - FieldWorkAssistantMVC/Ap