[2015-04-16 16:31] FWAJL commented on #877
@bsaiken

(2) => Make a list of the possible email templates, please.

[2015-04-16 16:39] nadirhamid commented on #803
Status has been set to review @bsaiken @FWAJL

[2015-04-16 17:45] FWAJL commented on #803
@bsaiken @nadirhamid

As per your comment in #880, any database updates need to be requested. So I will make the changes you request as I think they are useful.

After that, we have a tool that generate the Dao classes automatically.

We will comment more soon after looking at your commits.

[2015-04-16 19:10] FWAJL commented on #813
@bsaiken

#877 is a prerequisite.

[2015-04-16 19:22] FWAJL commented on #803
@bsaiken @nadirhamid

A general request, as follow up of our last comment in #880: issues are to be created once we decide that there is a need for it. We write the SOW milestones which can be one or several issues depending on the milestone. Then if one of these issues needs more work out of scope, we will consider adding the work to the issue (the case here for the database updates) or create ne

[2015-04-16 19:23] FWAJL commented on #875
@bsaiken
Understood.

[2015-04-16 19:48] FWAJL commented on #814
@damirius @bsaiken

One bug: I added a FT and his login saved is firstname@domain whereas I saved the email to be firstname@domain***.com***. See my commit for the fix.

@bsaiken just try to go to the logout url and login again.

[2015-04-16 19:49] FWAJL commented on #879
@bsaiken

To be safe ;)

[2015-04-16 21:21] bsaiken commented on #814
@FWAJL @damirius
Worked for me.

[2015-04-17 02:47] #844 closed

[2015-04-17 03:00] #763 closed

[2015-04-17 03:18] bsaiken commented on #803
@nadirhamid @FWAJL
Nadir,
If you have committed for me to review, You need to change the status to `status: function review`
Remove the `status: in dev` (this means you are actively working on it.
You must also set the assignee to `bsaiken`, otherwise, I am not aware you are ready for the code to be reviewed.
Also, as I mentioned to you before, you cannot modify the `appsettings.xml` file, or the

[2015-04-17 03:47] bsaiken commented on #803
@nadirhamid @FWAJL
I have attempted to test this code, and I cannot get it to work on my local machine.
Please test the code yourself before making a commit to ensure that it is working correctly.

[2015-04-17 04:07] bsaiken commented on #803
@nadirhamid @FWAJL
I was able to get the site to function and do some preliminary testing.  When I choose who to communicate with, I get the popup confirmation box below:

![screen shot 2015-04-16 at 11 02 21 pm](https://cloud.githubusercontent.com/assets/8228624/7195876/2901cea4-e48d-11e4-81e0-2d85f04a6e09.png)

Did you add this?  I do not know where it came from.  The popup confirmation box shou

[2015-04-17 04:18] bsaiken commented on #804
@nadirhamid
You cannot add the `status: ready to start` label.
I decide if Issue are ready to start.

[2015-04-17 05:20] FWAJL commented on #803
@nadirhamid @bsaiken

Nadir,

My first comments and requests about your code:

1. I see many files being created anad having no use or purpose... ex: `FieldWorkAssistantMVC/Applications/PMTool/Helpers/:w` or `FieldWorkAssistantMVC/Applications/PMTool/Helpers/Contr*`. Can you remove them please?
2. What is the use of `FieldWorkAssistantMVC/Applications/PMTool/Models/Dal/2`?
3. `FieldWorkAssistantMV

[2015-04-17 05:30] FWAJL commented on #803
@nadirhamid @bsaiken

I need to review the database updates to do. Bare with me a little and I'll submit the updates. Thank you.

[2015-04-17 08:51] FWAJL commented on #395
Possible solution: http://html5demos.com/history

[2015-04-17 08:59] damirius commented on #746
@bsaiken

We can leave this one open if you wish since we will need to update user list page for admins with new roles. Or we can use other issues for that, however you wish.
Thanks

[2015-04-17 11:54] gsouvik commented on #778
@FWAJL
I've nearly done the coding but having problem with just one thing. Can you please provide me the steps by which I could test the method
`executeUpload`
of the `FileController` class on my local computer. I want to see what data is passed into the variable `dataPost`.

Thank you.

[2015-04-17 12:11] FWAJL commented on #778
@gsouvik

All is in [this view module](https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Applications/PMTool/Views/Modules/upload_file.php) at lines 6 and 7.

On other note, what IDE do you use? NetBeans? Eclipse?

[2015-04-17 12:16] gsouvik commented on #778
@FWAJL
I already noticed it's in that view module, but I DONT know where that view module get's included and in which route I can get it.

Can you please copy paste the link of the page from your local which uses that view module.
I use Eclipse and Sublime text, may I know why you wish to know?

Thanks.

[2015-04-17 12:56] FWAJL commented on #803
@nadirhamid @bsaiken

I have added a new column `discussion_start_time` of TIMESTAMP type and it is set with the current timestamp at insertion.

I have added a new column `discussion_content_time` of TIMESTAMP type and it is set with the current timestamp at insertion.

However, I do not see the point of `discussion_content_is_receiver`? Can you explain?
In the table structure, the `discussion_co

[2015-04-17 13:23] bsaiken commented on #781
@mehedee1
I see that the copies of the master files are being created.  But you have not inserted the location fields yet, have you?

[2015-04-17 14:17] FWAJL commented on #778
@gsouvik @damirius

Go to http://dev.fieldworkmanager.com/technician/showForm?mode=edit&technician_id=1 to view the upload photo example.

Please read this and hopefully, it is clear enough for you: https://docs.google.com/document/d/1jLMfE0X370rFGxqRYw3sLca38mrYaLnvhjjaSN0rwfc
If not, please ask Damir for help as I won't be available much this weekend.

Finally, I am using NetBeans and it has a g

[2015-04-17 14:47] nadirhamid commented on #803
Hi so,

'discussion_is_receiver' is in part a request to move 'discussion_content_type'
and 'discussion_content_value' into the 'discussions' table. So:

discussions =>
'discussion_receiver_user_type'
'discussion_receiver_value'

discussion_content =>
'discussion_is_receiver'

[2015-04-17 16:23] testingbydev commented on #845
@FWAJL

If we create a new page then where all do we need to specify that in the code files. Or if you have any manual/Guide on how to use this MVC that would be helpful too . We have created a page and that shows error.

[2015-04-17 16:30] damirius commented on #778
@gsouvik

You'll need few things to post to file/upload (executeUpload action) along with the file.
"itemCategory" should contain string with primary key of the linked table. For example on technician page we upload technician pictures to `document` table also, but we need to link them somehow to the `technician` table, so we use "technician_id" as the "itemCategory" there, it's called `document_c

[2015-04-17 16:50] gsouvik commented on #778
@damirius @FWAJL
Thank you both for the input. It really helped.
In between I've figured out how the Document model (DAO) has to be populated. Next I understand that we are not actually uploading a file but copying an existing file into different ones. But the requirement states we have to use the existing code of `execudeUpload`. As @FWAJL suggested I'm simulating the $_FILES array which that met

[2015-04-17 16:56] bsaiken commented on #845
@testingbydev
I may be able to help if you can show me the error.
Did you modify routes.xml?

[2015-04-17 17:43] damirius commented on #778
@gsouvik

Ah, I see. So if I got it correctly, when you activate the task on the task list some template form should be copied into multiple pdfs depending on the number of locations in the activated task right?

If that's the case, we can reuse some of the code of `executeUpload` action in the `TaskController->executeUpdateItems` action, since if I'm correct that's the one which changes the task

[2015-04-17 17:47] FWAJL commented on #803
@nadirhamid @bsaiken

Ok I see now. This is more details than what you previously gave. I will look at it more on Monday.

Regarding upgrade/concern:

1. you can pass on from the Javascript a CSV value for a list of values instead of an array of string. In the controllers, you create the array of string or int values in seconds. No need for an update.
2. Regarding the Dal concern (#842 and #843),

[2015-04-17 17:59] gsouvik commented on #778
@damirius
Exactly my thoughts. That should be the best approach. I'll definitely let you know if I run into any more problems.

And very true, move_uploaded_file would always look into the temp folder of the server, it won't work with regular webroot files.

Cheers!

[2015-04-18 08:38] gsouvik commented on #778
@bsaiken
Finally I've been able to reuse the maximum amount of available code and copy the master template into location specific PDF file.

Please note I haven't added any validation if the user deactivates the task and activates it back again. In that case currently multiple PDFs are generated again. Also as the guid is always auto generated and a new string every time, all the PDF names are dif

[2015-04-18 13:49] bsaiken commented on #778
@gsouvik
Deactivating Tasks will not be possible once the site is more fully developed.  So don't worry about Task deactivation and re-activation.

I see that the task forms are created.  There is one other thing to fix.  The `document_title` needs to be modified.  The table entry for `document.document_title` would be "title"_"Location Name", where "title" is the `document_title` of the master fo

[2015-04-18 15:58] mehedee1 commented on #781
I have added pdftk method in location_copy.php

Copied file does not follow guid_id as you wanted to do with fileupload methods. Just I have used what did before. I have not stored output file name in document. You can see pdftk code and then imply with your fileupload method.

I do not know whole data map between pdf form and database. So I have used just "Location 1" and Location 2 to show pdftk

[2015-04-18 16:22] gsouvik commented on #778
@bsaiken
But on my local that's exactly what is happening. Please see the screenshot of the document table after I executed the script.

The task location names were `MW-5B` and `MW-6B` and I'm using the `document.title` field for the master form title, which in my case reads `Well Purge 2`.

The only thing which I might have missed is the processing of `FWMx-titletext.pdf` to `titletext` part on

[2015-04-18 19:27] bsaiken commented on #778
@gsouvik
I see now.   You do not need to process `FWMx-titletext.pdf`.  My mistake.

Now you can move on to listing them!

[2015-04-18 19:47] bsaiken commented on #781
@mehedee1
I see that the copied form was populated with the Location field.  Now we need to copy the forms correctly so the selection of the forms can be dynamic.  We just completed the form copy feature on the main site, so give me a couple days to transfer the updated site to Bluehost.

[2015-04-18 19:51] bsaiken commented on #778
@FWAJL
Jeremie,
Once you this code is ready for release, will you [please update the Bluehost site (don't forget the database).  Mehedee is ready to populate the pdf fields, but we need this file copy feature working for him to continue.

[2015-04-19 07:46] FWAJL commented on #803
@nadirhamid @bsaiken

Here is my suggestion for the tables structure based on your comments and the progress of understanding the needs:

![discussion thread tables](https://cloud.githubusercontent.com/assets/7524388/7218563/10350e18-e677-11e4-86d9-a712a1f778b6.png)

When a PM selects one FT, it will create a discussion (new row in discussion table, you get a new id) and you will need to insert th

[2015-04-20 00:51] nadirhamid commented on #803
Hi,

Yes this sounds about right, as soon as you have the SQL updated I will
use it in my later draft

[2015-04-20 04:40] FWAJL commented on #803
@nadirhamid @bsaiken

Please see the commit above with all you need to continue.

Also, could you tell us if you understood / have questions about my [comment made earlier](https://github.com/FWAJL/FieldWorkAssistantMVC/issues/803#issuecomment-94037569). We would appreciate an answer from you. Thank you.

[2015-04-20 04:55] FWAJL opened #890 "Run DB scripts for Version 1.6.18"
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-04-14.sql
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-04-16.sql
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_thread/Database/Scripts/Updates/2015-04-17.sql
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_thread/Database/Scripts/Updates/2015-04-2

[2015-04-20 05:36] FWAJL commented on #778
@gsouvik @bsaiken

At first look, the code is working fine. Good job completing it @gsouvik :+1: . And thank you to @damirius for helping.

However the code is not doing what we need and we querying the database when we should query the session data.

1. In `CreateLocationSpecificPDF`of `TaskHelper`, at lines 289-291, we only copy the first template of `$template_data` for each task location where

[2015-04-20 06:24] testingbydev commented on #845
@FWAJL

Yes we have modified routes.xml file. We are not able to understand the internal routing. we have created a new page and need to set routing for that page.I would try to commit the changes that we have done for creating new page.

[2015-04-20 07:15] testingbydev commented on #845
@FWAJL

We are able to create the "WECOME" page , now should i commit the page and push on repository ?

please suggest

[2015-04-20 07:21] FWAJL commented on #845
@testingbydev @bsaiken

Please commit the work to the feature_mobile branch. Please follow the steps described in https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/4.Git-branching-model to link your local feature_mobile branch to the remote feature_mobile branch.

Please read this document (https://github.com/FWM-Team/FWM-Backlog-Issues/issues/4) also and follow the workflow described (set the p

[2015-04-20 08:26] gsouvik commented on #778
@FWAJL
Following changes are made:
1) If there are multiple master templates associated with a task, all of them are copied into location specific PDFs.
2) Instead of querying the database for location, it is now fetched from session using the `FindIndexInObjectListById` method.

Please review and let me know if this looks right.

[2015-04-20 09:11] testingbydev commented on #845
@FWAJL

Can you let me know the repository url where we need to commit the code . Also we need the information to add a  key pair from my system to commit the code on your repository.

On https://github.com/FWM-Team I am not able to see how can i accept the request and be a part of team.Please guide on this as well.

[2015-04-20 09:30] FWAJL commented on #845
@testingbydev @bsaiken

I'm sorry, did you not follow the wiki for Installation? (it is found here: https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/2.Installation)
How do you retrieve the repository?

[2015-04-20 09:37] FWAJL commented on #845
@testingbydev

Regarding the FWM team, I have sent you a request to join several time. You should have received an email from GitHub. I will look into it.

[2015-04-20 10:04] testingbydev commented on #845
We retrieved the repository from
https://github.com/FWAJL/FieldWorkAssistantMVC
 and used the command "git clone https://github.com/FWAJL/FieldWorkAssistantMVC.git"

[2015-04-20 10:55] FWAJL commented on #845
@testingbydev

Good. Please make sure to follow the guidelines to submit the code, especially selecting your branch "feature_mobile". Thank you.

[2015-04-20 13:37] testingbydev commented on #845
@FWAJL

We are facing an error in committing  the code on repository, Attaching an screenshot for the same. Can you please see where i am going wrong.
![screenshot from 2015-04-20 17_31_45](https://cloud.githubusercontent.com/assets/9897157/7231061/63d34246-e790-11e4-804b-be35fb5d6897.png)

[2015-04-20 13:40] testingbydev commented on #846
@FWAJL

I am not sure what we have to do in this milestone. can you please help me in identifying the task that i have to do in this milestone. May be i would need your help in 2-3 milestones to understand the way you guys work , Also let me know if you have any user manual for the MVC that we are working upon,

[2015-04-20 14:05] FWAJL commented on #846
@testingbydev @bsaiken

Brian can help you describe what you need to do.

As for the documentation, we have the wiki of the repository and for the rest, please have a look at the code and take one example from the start of the request to the end.

But before you go further, you need to wait that Milestone A is reviewed by @bsaiken and then @FWAJL.

[2015-04-20 14:18] bsaiken commented on #845
@testingbydev
The instructions for committing code are here:
https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/3.Use-the-repository-with-Git
You must follow each step.
You may only commit code to the feature_mobile only.
I am available to help if needed.

[2015-04-20 14:20] bsaiken commented on #846
@testingbydev
You must complete Issue #846 before starting on this task.

[2015-04-20 14:23] gsouvik commented on #727
@bsaiken @FWAJL
I again tried started with this issue and ended up finding myself in some queries:

1)  So the right hand side under the heading "Forms used for this task" would fetch data from two tables - `document` and `task_template_form`. The records from `document` would be grouped under the sub heading "Location-specific forms" and those from `task_template_form` would be grouped as "Task-s

[2015-04-20 14:28] FWAJL commented on #845
@testingbydev @bsaiken

I see that you are on the wrong repository. We work on https://github.com/FWAJL/FieldWorkAssistantMVC. Please follow the guidelines as Brian stated. Thank you.

[2015-04-20 15:04] testingbydev commented on #845
![error](https://cloud.githubusercontent.com/assets/9897157/7233018/5d40cf82-e79c-11e4-99e1-5a491e497214.png)

We are using the correct repository, screenshot i sent you was for test repository that we created.

Please make sure you have the correct access rights
and the repository exists.
 Repository URL : git remote add origin git@github.com:/FWAJL/FieldWorkAssistantMVC

[2015-04-20 15:04] bsaiken commented on #727
@gsouvik

1) We decided not to have "Task-specific forms" at this time.  So, there will only be Location-specific forms, and they don't need a category grouping - just display the list of forms.  The Location-specific forms are the ones you created in Issue #778.  The forms were generated from template, but they are now independent.  So the `task_template_form` table is no longer relevant.  You on

[2015-04-20 15:05] bsaiken commented on #727
@FWAJL
Jeremie - Question.
If we have two Tasks that are occurring at the same time, and the Tasks share some of the same Task-locations, that could cause a problem, no?

[2015-04-20 15:06] bsaiken commented on #727
@FWAJL
I did not include you on the comment to Souvik - my mistake.  You need to go to github to see the comment to have context for my question about multiple simultaneous Tasks.

[2015-04-20 15:09] bsaiken commented on #845
@testingbydev
You are not following the instructions to commit code that is described here:
https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/3.Use-the-repository-with-Git

[2015-04-20 15:54] bsaiken commented on #845
@testingbydev
If you need additional help committing code to the repository, I can be available at Skype or we can use TeamViewer to review your steps.  Let me know.

[2015-04-20 15:56] testingbydev commented on #845
@bsaiken

I would try more but still If you can be available tomorrow on skype then it would be helpful.

[2015-04-20 16:01] bsaiken commented on #845
@testingbydev
Tomorrow (Tuesday) is a travel day for me.  I am available, from 1pm - 3pm Pacific Daylight Time.  I could also be available tomorrow 6am - 8am Central Daylight Time if you notify me in advance.

[2015-04-20 17:43] bsaiken commented on #176
@damirius @FWAJL
This is working, but I re-opened because I noticed a problem.
We need a re-direct after clicking "Save" - the page does not refresh.
Re-direct to the home page (/project/listAll).
The array needs to be updated, too.  I see the database is updated, but when I refresh nothing on the page is changed - neither the pm_form contents, nor the header info (with the pm_name).

[2015-04-20 18:03] bsaiken opened #891 "Add check to make sure the `master_form.title` is unique"

[2015-04-20 18:05] bsaiken opened #892 "List master forms on the right hand column at `/form/masterForm` (admin UI)"
Also, provide a contextual menu to view and delete master forms.

[2015-04-20 18:10] bsaiken opened #893 "List common lab and field analytes on the right hand column at `/analyte/uploadCommons` (& /labanalyte/...) - admin UI"
This is related to Issue #892.
Also, provide a contextual menu to view (edit) and delete common analytes in both cases.

[2015-04-20 18:54] bsaiken opened #894 "Map Task Locations - Bug"
Clicking "Map - Task Locations" showed the Project Locations, but there were no assigned Task Locations.

No Task Locations:

![screen shot 2015-04-20 at 1 52 41 pm](https://cloud.githubusercontent.com/assets/8228624/7237930/8eb05976-e764-11e4-8dec-a246e56caa3d.png)

But Locations appear on the map - and this is apparently the Project Locations map.

![screen shot 2015-04-20 at 1 54 04 pm](https:/

[2015-04-20 19:01] bsaiken commented on #894
@damirius
Damir, I am still having trouble with this UI - clearly.  This is not a bug, but I will need to change the interface.  Even I can't understand it!
Sorry for the false alarm.

[2015-04-20 19:01] #894 closed

[2015-04-20 19:48] bsaiken opened #895 "Edit field analytes at /analyte/listAll"
@gsouvik @damirius
Please see my comment on Issue #992 on Field Analytes.  The bugs may be related.  In any case, fix both under this Issue please.

[2015-04-21 04:10] #890 closed

[2015-04-21 06:26] FWAJL commented on #727
@gsouvik @bsaiken

1) A correction:

It is document.document_category = "task_location_id" and use the document_value to find the task locations for a selected task (the id of the task locations is the first string in value before the "_").

2) We will need a completed_form table with a link for each task location to its document. Then when we reactivate a task on a recurring basis, we will search

[2015-04-21 09:58] testingbydev commented on #845
@FWAJL
Issue #845 has been resolved. uploaded code on repository featured_mobile branch.

[2015-04-21 11:01] FWAJL commented on #845
@testingbydev @bsaiken

Please always include Brian's @mention in your messages.
Please set the status and assignee to the correct value when you are done. Please read our [Workflow document](https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0/edit?usp=sharing)

Now, please revert your change in appsettings.xml as in the [Installation manual](https://github.com/FWAJL/Fi

[2015-04-21 11:54] testingbydev commented on #845
@bsaiken

Make changes that you have requested.

[2015-04-21 12:33] bsaiken commented on #845
@testingbydev
If you want me to review your code, you need to:
Change the Labels to `status: function review`
Change the Assignee to: bsaiken

[2015-04-21 15:11] nadirhamid commented on #803
@bsaiken @FWAJL

1. I have no need to use the Javascript array anymore, when I do I will once
again look at this comment

2. Recently I have tried to push having received merge conflicts as I have begun doing work on Discussion_person.php and other classes I am unable to put up updates, please let me know of a resolution
Auto-merging Applications/PMTool/Resources/Enums/ViewVariablesKeys.php
Auto-m

[2015-04-21 17:11] bsaiken commented on #845
@testingbydev @FWAJL
I can see the Welcome page - now we are over the biggest hurdle!

You need to move the view module (welcome.php) from /Views/Project/ to /Views/Mobile.
 The Project module is only for Project pages.

Line 698 of the routes.xml file will look like this:
<route url="mobile/welcome" module="Mobile" action="welcome" resxfile="mobile" type="ui" role=“3”>

Lines 713 - 719 in routes.

[2015-04-21 17:22] bsaiken commented on #803
@nadirhamid @FWAJL

To commit code, you must follow the instructions at:
https://github.com/FWAJL/FieldWorkAssistantMVC/wiki/3.Use-the-repository-with-Git
They are pretty straightforward.

Always start with a git_pull.  The site is being updated regularly and you will quickly fall behind.  I recommend at least daily, but certainly before you commit any code.

You may only commit code to the featur

[2015-04-21 19:28] gsouvik commented on #727
@bsaiken @FWAJL
Thank you both for the input. I've completed the coding as per the most updated comments. Please note I haven't added anything for the completed forms at this point as I understand that portion is not yet completed.

I have a question regarding the viewing of the form. Is this already done for any other issue already or I would have to develop this feature from the scratch. Also pl

[2015-04-21 20:14] FWAJL commented on #803
@nadirhamid @bsaiken

Like Brian said, you fell behind because as you coded, you didn't do regular pulls. If you are unfamiliar with this issue you are havin, the conflicts exist because I have committed code you should have used to make your dev work by doing a `git pull`.

The 3 files that are problematic are to be merged manually. No other way. You need to check what is yours and what is from t

[2015-04-21 20:19] nadirhamid commented on #803
@FWAJL  @bsaiken

Ok. I will look at the changes and pull, it should not be a problem

[2015-04-21 20:40] bsaiken commented on #727
@gsouvik
I will answer your question first.  @mehedee1 already set this up using fancyapps.  The fancyapps js library is already uploaded to the site at /Web/js/addons/fancyapps.  I liked this solution just fine.

Mehedee is working with me to pre-populate the pdf forms with information from the database, but he's not up to speed on our MVC code structure.

The software he uses (pdftk) does not ex

[2015-04-21 22:15] bsaiken commented on #727
@gsouvik
I tried testing but I am seeing some problems.  Let me know if you are seeing the same things.
1) When I activate a task, I am having to refresh the page to see the activated task on the left hand side.  There should be a redirect so that the activate task list is automatically re-populated.
2) a m not seeing that the template files are being copied, and new files are created.
3) This may

[2015-04-22 07:07] gsouvik commented on #727
@bsaiken @FWAJL
We are accessing locations from Session. When session data was not available or not yet populated, the JS stalled. Fixed this issue by checking and populating Session data.

@mehedee1 Can you please share a link where I may review how the PDFs look when opened using fancyapps. Also please share any code you think, I might reuse.

Thank you.

[2015-04-22 13:08] damirius commented on #749
@bsaiken

You can use right click context menu on user/listAll page when you login as admin. Just right click any user and click 'switch'. It will take you back to the login page, fill out the info and submit it for you.
You can check it out on feature_damir branch.
Thanks
@FWAJL

I opted for redirecting the user back to the login and filling it up automatically instead of making ajax call to /aut

[2015-04-22 14:03] FWAJL commented on #749
@damirius @bsaiken

I think we could just show the left menu of the PMs without logging out / logging in.
The list of PM Session array should be stored in the PmsSessionArray (or similar, can't remember the exact spelling).
Logging in as a PM is basically adding one single PM session array to this array of PM session array.

As an admin, if we set the Current PM Session to be the one selected, the

[2015-04-22 16:14] FWAJL commented on #395
@bsaiken

I have been thinking about this and if you show the tool to your future clients, you can't tell them not to type single quotes.

We may need to re-prioritize this by the end of May.

[2015-04-22 16:33] FWAJL commented on #727
@bsaiken @gsouvik

Comment https://github.com/FWAJL/FieldWorkAssistantMVC/issues/727#issuecomment-94653011 updated as @bsaiken suggested.

[2015-04-22 17:27] bsaiken commented on #845
@tarun_nagar @FWAJL
You are not a contributor - will you be committing code?

[2015-04-22 18:38] bsaiken commented on #845
@testingbydev
Please help me understand who is going to be contributing code to the site.

We have had code committed by tarun_nagar, but they are not identified as a github contributor, nor are they identified in the github system.  I am concerned about the site security if anyone can commit code without being identified as a contributor.  Can you confirm the identity of tarun_nagar?  If they are

[2015-04-22 18:42] bsaiken commented on #845
@testingbydev
FYI: I will be doing the function review of your work using an iPad mini.  When I send you screen shots requesting changes they will be taken using my iPad mini.  Of course, I want the views to look good on all platforms, but I did want you to know I will do all function reviews with a mobile device.  So, make sure you test with a mobile device before releasing for me to review.
Than

[2015-04-22 20:21] gsouvik commented on #726
@bsaiken @FWAJL
While I wait for @mehedee1 to provide me with a link (and a bit of code) where I may review how fancyapp is used to open PDFs (for #727), should I start with this issue?

[2015-04-22 23:02] bsaiken commented on #726
@gsouvik
Please do.  If you get stuck, proceed on any assigned to you that are `ready to start`.

[2015-04-22 23:40] bsaiken commented on #746
@FWAJL
I am closing this - I would rather create new Issues.

[2015-04-22 23:40] #746 closed

[2015-04-23 00:29] bsaiken commented on #727
@gsouvik @FWAJL
I have tested the code on the feature_devsupport branch.  This is not working for me.  New forms are not generated.  I still have to refresh the page to see the task promoted to the active side.

When I try this on the live Hurray Host site, I do not need to refresh the page the new forms are generated.  However, however, the new forms do not appear on the active task forms tab.

S

[2015-04-23 00:42] #814 closed

[2015-04-23 00:44] #812 closed

[2015-04-23 00:48] bsaiken commented on #749
@damirius @FWAJL
Perfect - exactly what I wanted.  Thanks!

[2015-04-23 00:51] bsaiken commented on #778
@gsouvik @FWAJL
I am confused about the status of this Issue.

See my comment on Issue #778

[2015-04-23 00:55] #876 closed

[2015-04-23 05:43] gsouvik commented on #727
@bsaiken @FWAJL
Please do another pull and test again. To be on the safer side I changed couple of lines of code.

On a separate note, it's very difficult to debug if I don't see the actual error message. Please post a screenshot of the AJAX call response from your browsers console so that I may know why the error occurs.

Also #778 is the main issue on which this issue depends and both should get

[2015-04-23 07:49] damirius commented on #446
@bsaiken @FWAJL

Single quotes shouldn't be escaped in JSON only double quotes and control char (" and \), see here http://www.json.org/.

If you want to sanitize inputs it would be best to do it where it counts and that's before executing queries, since sanitizing all of the ajax data can cause more problems than it can prevent.
This should be done in DALs that we use including BaseManager class.

[2015-04-23 08:27] damirius commented on #810
@bsaiken @FWAJL

Nice catch Jeremie!
I've found the root of the problem, calling `utils.showPromptBox` or `utils.showPromptBoxById` was setting passed callback functions for `OK` and `Cancel` buttons. The problem was that if user closes the prompt and then opens it again those functions will be set again on 'OK'/'Cancel' button click. So we were binding the function to that trigger multiple times

[2015-04-23 08:51] damirius commented on #751
@bsaiken @FWAJL

This should be fixed now. Only "new project name" prompt will open up instead of every prompt we have on the page. Existing address and coordinates will be used for the new project(facility).

[2015-04-23 09:08] FWAJL commented on #446
@damirius @bsaiken

I agree the PDO (back-end side) is better.

How much time do you think it would take you to use bindValues solution? Most of the DAL classes use the BaseManager class so in reality, it is mainly that one to do.

If it is too risky, then go for the PDO::quote solution.

[2015-04-23 09:15] damirius commented on #176
@bsaiken @FWAJL

I've tested it in Chrome, Firefox and Safari. In all those browsers, page is successfully refreshing after saving data and it's updating the session as well. You can check it out in this video, it's not the best quality but you can see that the page is refreshed and updated data is read into the form, also you will notice that name is updated in the top bar.
https://drive.google.c

[2015-04-23 09:17] damirius commented on #446
@FWAJL @bsaiken

I don't think that it's that much. We got number of DALs which use their functions instead of base ones, but I think I can do it fast enough. I'll start now, I'll keep you updated if I notice something unusual.

[2015-04-23 09:19] FWAJL commented on #446
@damirius @bsaiken

Great! Thank you for taking care of it!

[2015-04-23 12:24] FWAJL commented on #176
@damirius @bsaiken

I think we can do what Brian asks for. Just do a switch in `UserController->executeEditCurrent` based on the value of `$this->app->user()->getUserType()`.

Then for each type, we will have a Helper method that does what you have done lines 60-70. In this case, the helper is the PmHelper.

Then, on return of the method, you can set the url to go to next: `$result["returnUrl"] =

[2015-04-23 12:39] damirius commented on #446
@bsaiken @FWAJL

There is quite a lot changed here, I spent some time testing all of the existing pages, listings, forms, file uploads (master/user forms, ft/location pictures) and so on. I ran in some problems on some controllers, mainly because we have some fields in our tables which can't be set to null, but we didn't assign them values on the insert, so keep your eye on that. There is possibil

[2015-04-23 12:55] damirius commented on #176
@FWAJL @bsaiken

Yes, we can change the 'redirect' url based on the user type. I can implement that.

But as I see here, that currently page does not refresh and on manual page refresh, session data isn't properly set, so submitted changes aren't taking place. I can't reproduce that bug, since my automatic page reload works. I would like to see what's up with that. Since page isn't redirecting/ref

[2015-04-23 13:03] FWAJL commented on #446
@damirius

Already done? Man, you are fast!!! We will look into it. Thank you for your work :100:

After looking quickly at your commit, if you need to set some field to string values, you can do it directly in `CommonHelper->PrepareObject`, don't you?

[2015-04-23 13:17] damirius commented on #446
@FWAJL

Yea, `PrepareUserObject` is setting undefined values to null by default, which I think is OK way to go. Since we don't know the type of the DAO parameter (field) from there I opted not to set it to "" (empty string) since I guess it can cause some problems if we set all undefined fields to "" because some of them can be different types. So I edited some `add` methods in some controllers wh

[2015-04-23 13:37] FWAJL commented on #446
@damirius

I knew you would say that. I think the fix for that would be to update my Dao class generator to create typed members from the database definition. Didn't try to see if it is possible in PHP.

Your solution is fine for now.

[2015-04-23 13:58] anuj-yadav commented on #846
@bsaiken
 Please Can you suggest us to resolved some task such as  Adding Keys at "/Resources/Enums"
We didn't get this Point..

[2015-04-23 14:36] damirius commented on #734
@bsaiken @FWAJL

**RUN db update script 2015-04-23.sql FIRST**

Go to Projects->List All page, right click on some project-> Select (as current Project)
Logout
Log back in, you will see that same project is still selected as the current

On the first run all projects have their field set to 0, so first project from the list will be selected, we used this method till now.
When current project is ch

[2015-04-23 14:42] damirius commented on #446
@FWAJL

I'm used to annotations for those things, but we need good parsing method for that and some work.
`ReflectionClass` contains some useful methods like this one http://php.net/manual/en/reflectionclass.getdoccomment.php
If you have any ideas do tell me, maybe we can come with some nice solutions for this.
In any case it will take some time to implement all that, so we will have to check what

[2015-04-23 15:07] bsaiken commented on #727
@gsouvik
I can't tell if there is a problem here, because activating Tasks requires a refresh, and does not create copes of the template files.  So maybe this would work, but without Issue #778 complete, I don't know.
Here are some screen shots to show how it is hanging up and requres a manual refresh.
I am bout to click "OK"...
![screen shot 2015-04-23 at 7 58 33 am](https://cloud.githubuserconte

[2015-04-23 15:20] bsaiken commented on #727
@gsouvik
When I check the live site, it works...

![screen shot 2015-04-23 at 8 11 16 am](https://cloud.githubusercontent.com/assets/8228624/7300386/ba69931a-e990-11e4-976a-2c9bce2ef595.png)

![screen shot 2015-04-23 at 8 13 06 am](https://cloud.githubusercontent.com/assets/8228624/7300407/dbf5191e-e990-11e4-87a9-7ac8771baa84.png)

The document table is populated...
![screen shot 2015-04-23 at 8 1

[2015-04-23 15:31] bsaiken commented on #446
@FWAJL @damirius
I am unable to login as a PM.

![screen shot 2015-04-23 at 8 31 05 am](https://cloud.githubusercontent.com/assets/8228624/7300792/2f7b0b46-e993-11e4-9458-0f1a42b7a51a.png)

[2015-04-23 15:36] gsouvik commented on #727
@bsaiken
1) Please delete the Web/uploads/task_location directory and try it. If it still doesn't refresh, go to point 2. Also I assume you pulled from dev_support just before this test.

2) As soon as you click "OK" and it halts, network tab shows a call `updateitems`. Clicking on it Chrome should show you the details of the call and errors if any. Please post that screenshot here. Following is a

[2015-04-23 15:49] bsaiken commented on #176
@damirius @FWAJL
This is now working on the live branch.
I am having issue testing the feature branches locally.  Not sure why.  Jeremie and I may need to sort that out.

[2015-04-23 15:49] #176 closed

[2015-04-23 15:56] damirius commented on #446
@bsaiken

If you are on feature_damir branch, keep in mind that newest commit is for Issue #734 and with that commit you will have to update your database with the newest SQL script '2015-04-23.sql'

I'm not sure that this will fix it, but from the error it seems that `UserProjects` aren't set properly which can be caused by the lack of the `project_is_default` field in the db.
Just wanted to make

[2015-04-23 16:17] bsaiken commented on #446
That's likely it. I had not updated the database today.

Sent from my iPhone

[2015-04-23 16:51] anuj-yadav commented on #845
@bsaiken
Please Can you suggest us to resolved some task such as
Adding Keys at "/Resources/Enums"
We didn't get this Point.

[2015-04-23 17:01] testingbydev commented on #845
@bsaiken
Please Can you suggest us to resolved some task such as
Adding Keys at "/Resources/Enums"
We didn't get this Point.

[2015-04-23 17:38] bsaiken commented on #845
Coding questions should be put to FWAJL

Sent from my iPhone

[2015-04-23 18:56] bsaiken commented on #446
@FWAJL @damirius

Jeremie, I pulled the new database and I still get the same error.  As it is, I cannot function review Damir's work.

Any ideas?

[2015-04-23 19:03] FWAJL commented on #727
@bsaiken @gsouvik

I have tried Souvik's code and it works. When I activate a task with one template form and 4 locations, I see the forms in the Active UI.

Try the following:

1) Run the last database backup from Database/Scripts/Online backups/ (from April-21)
2) Download the whole upload folder from Hurrayhost as a zip, unzip it and replace your local folder.
3) Login as test PM
4) Select the

[2015-04-23 19:08] bsaiken commented on #446
@FWAJL @damirius
I completely re-installed the site.  The error only happens on the feature_damir branch.

[2015-04-23 19:11] bsaiken commented on #846
@testingbydev
You must complete Issue #845 before starting on this task.

[2015-04-23 19:12] FWAJL commented on #446
@bsaiken @damirius

My MAC has gone crazy so I can't test locally for now. I tested all Damir's updates up to the one for this issue at lunch time and I can say it is quality work.

For this one, I shall look at it tomorrow as he said to watch out for functions that might not work.

Also, have you run his SQL script locally? The current live database doesn't have his script yet.

[2015-04-23 19:21] bsaiken commented on #727
@FWAJL @gsouvik
Here is where it hangs up.
![screen shot 2015-04-23 at 12 20 32 pm](https://cloud.githubusercontent.com/assets/8228624/7305514/355650a0-e9b3-11e4-81d1-48f3131df3f4.png)

I have having trouble testing other branches, too.  So it may be my machine.

[2015-04-23 19:23] bsaiken commented on #845
@testingbydev @FWAJL
You must put coding questions to Jeremie (FWAJL).

[2015-04-23 19:23] FWAJL commented on #727
@bsaiken @gsouvik

Please click on updateItems and then response tab. We need to see the details of why it halted.

Have you checked all the 6 points I mentioned above? Thank you.

[2015-04-23 19:24] bsaiken commented on #446
@FWAJL
grrrr....your scripts don't work on my machine.  I will reply here again if I can get the script to work.

[2015-04-23 19:34] FWAJL commented on #446
@bsaiken

Brian, it is not my script. It is Damir's. He did an update to the project_manager table. You need to run his script to do a proper function review.

Have you tried? Please try. Thank you.

[2015-04-23 19:35] bsaiken commented on #446
@damirius
Where is the SQL script `2015-04-23.sql`?
Can't find it anywhere.

[2015-04-23 19:36] FWAJL commented on #446
@bsaiken @damirius

Here: https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_damir/Database/Scripts/Updates/2015-04-23.sql

[2015-04-23 19:47] bsaiken commented on #446
@FWAJL @damirius

Finally...

I just added "Joe's hauling" as a service provider successfully.  If I understand correctly, that is a successful function review.

Thanks!

[2015-04-23 19:50] bsaiken commented on #810
@FWAJL @damirius
I only got one Project!

[2015-04-23 19:52] bsaiken commented on #751
@FWAJL @damirius
WORKS.  I even tested with a single quote in the Project name.  No issues.

[2015-04-23 19:56] bsaiken commented on #735
@damirius
Can we implement the same solution here that we did for Issue #734?

[2015-04-23 19:58] bsaiken commented on #803
@FWAJL @damirius
Jeremie,
Damir has agreed to take on the Discussion thread Milestone.  Huzzah!  You are currently assigned to this Issue, so I will leave it to you to get him up to speed on where we are.

[2015-04-23 21:06] bsaiken commented on #727
@gsouvik @FWAJL
See if this helps.
![screen shot 2015-04-23 at 2 04 50 pm](https://cloud.githubusercontent.com/assets/8228624/7307452/e1f8f232-e9c1-11e4-8983-d389db2afa15.png)

[2015-04-23 22:22] bsaiken commented on #892
@damirius
Damir,  I am finding that it would be helpful to have the list of master forms for the admin, so they can view and delete the forms.
I gave it a go, but I realize it is a bit more involved than I first thought.

[2015-04-24 04:33] WebDevJL commented on #446
@damirius @bsaiken

Having limited access to my computer, I can't give you the specific unit tests so I'll describe what you need to test :

Everywhere you have an input that is a string, test it.

For project, technician, location, task, analyte, etc... And you should test the add and edit functions of each.

I hope that's clear enough.

Thank you.

[2015-04-24 04:40] WebDevJL commented on #810
@bsaiken @damirius

Can you provide more details please?
Thanks.

[2015-04-24 04:43] bsaiken commented on #810
@FWAJL
I tested and it is working.
I think we are ready for code review.

[2015-04-24 04:50] WebDevJL commented on #803
@bsaiken @damirius

Awesome!
I will give him the pieces to start working in the morning.
Thank you.

[2015-04-24 04:53] bsaiken commented on #446
@FWAJL
I tested this all kinds of crazy ways - I was unable to create an error.  I even tested impossible entries involving a single quote.  Nary a problem.
I think it is ready for code review.
Brian

[2015-04-24 05:35] testingbydev commented on #845
@FWAJL
Please Can you suggest us to resolved some task such as
Adding Keys at "/Resources/Enums"
We didn't get this Point.

[2015-04-24 05:47] gsouvik commented on #727
@bsaiken @FWAJL
The only way that error is possible when the table `task_template_form` has data but NO matching data is available in `master_form`. The foreign key relation is not available and the script is not finding any matching master form corresponding to the task template.

As @FWAJL suggested in earlier messages, please start from the beginning, creating master forms, then assigning them

[2015-04-24 06:37] FWAJL opened #902 "Run DB script for Apr-23 2015"
[code]

[2015-04-24 07:04] FWAJL commented on #727
@bsaiken @gsouvik

Just FYI: the copy of the forms at task activation only works when we copy master form. Copying user forms doesn't work because it is not implemented.

So @bsaiken : are you using a user form in your case? Thank you.

[2015-04-24 07:17] FWAJL commented on #803
@damirius

Please work on the feature_thread branch. The dao classes and SQL updates are what you need and they are all on it. (see commits above).

Here is the SOW: https://docs.google.com/document/d/1cZpNqRRcmy0ASNOrrYDSZypINuZ2wjyNv_EIxOV48F4/edit?usp=sharing (Only the database details have changed and the SOW doesn't reflect this. All the up-to-date details are here: https://github.com/FWAJL/F

[2015-04-24 07:50] FWAJL commented on #845
@testingbydev @bsaiken

Please be more specific in your question. Do you need:

1. to add a constant key in one of the files at https://github.com/FWAJL/FieldWorkAssistantMVC/tree/dev/Applications/PMTool/Resources/Enums
2. to know what is the use of https://github.com/FWAJL/FieldWorkAssistantMVC/tree/dev/Applications/PMTool/Resources/Enums
3. to know how to add constant key values and in which to

[2015-04-24 09:01] damirius commented on #803
@FWAJL @bsaiken

Just wanted to let you know that I'm working on this. Interesting issue! I have some fancy ideas, I'll share them when we come to those parts :). First I need to fix some parts of the existing code.

Cheers

[2015-04-24 09:37] WebDevJL commented on #803
@damirius @bsaiken

Let me know if you need database updates as we thought it through and I'm hoping we have all we need.

Keep up the good work :+1:

[2015-04-24 09:47] damirius commented on #803
@FWAJL @bsaiken

Since you are here, just wanted to make sure that I got this right. When PM clicks on service or FT from the list and then 'promote' it we create new discussion right? So we need separate discussions for each pm->ft/service pair.
For example PM selects FT named 'John' from the list and starts the discussion, we create new row in the `discussion` table, with current `task_id` and t

[2015-04-24 10:03] FWAJL commented on #803
@damirius @bsaiken

What you describe looks right to me. @bsaiken : do you agree?

Technically, I have made the tables for discussion so that we could have many persons instead of 2 only. But right now, we need the most simple solution possible. Evolution will come later.

[2015-04-24 10:28] FWAJL commented on #803
@damirius

BTW, look at #877 for email solution. Let me know if you are familiar with it or if you know another one you prefer.

I am still "designing" the tables right now. Hopefully, I will be ready when you need to send emails.

Thank you.

[2015-04-24 10:53] bsaiken commented on #803
@damius @fwajl

That does sounds correct. We wanted to keep it simple - two way conversations only between the PM and someone else.

We also wanted it to be complete. The PM can talk to anyone involved in the Task.

People can always phone, text, or email, but this way the information gets archived with the task, and often the conversations are important - especially later.

Sent from my iPhone

[2015-04-24 11:00] bsaiken commented on #727
@fwajl @gsouvik

Jeremie, I believe I tried everything you suggested. Since you are certain it works, in this case skip my review and I will review when it goes live on the server.

We do need user form implementation.  The only difference between a user form and a master form is who uploads the form: master (admin); user (PM).

Don't get too generic about copying forms. We will eventually have to

[2015-04-24 11:07] FWAJL opened #906 "Add user forms when Tasks are activated. Use the field user_form_id to look up the template in the table user_form."
@bsaiken @gsouvik

From @bsaiken's comment (https://github.com/FWAJL/FieldWorkAssistantMVC/issues/727#issuecomment-95895018):

Can you complete the details so Souvik knows what is involved.

Thank you.

[2015-04-24 11:07] FWAJL commented on #727
@bsaiken @gsouvik

New issue is required I think what is described above > issue #906

[2015-04-24 11:15] FWAJL opened #907 "Create a table email and its Dao class"
Create a table email that stores the email details (not the actual email content however, see issue #910) and its Dao class (in Library)
  - email_id
  - email_from
  - email_to_addresses
  - email_bcc_addresses

[2015-04-24 11:16] FWAJL opened #908 "Create a table email_template and Dao class"
Create a table email_template for the body and subject template
  - email_template_id
  - email_template_name => the class name + "_" method name of the method requesting to send an email.
  - email_template_subject
  - email_template_body
  - email_template_type => xslt, placeholders
  - email_template_value => xslt serialized object, array of key/values for placeholders.

[2015-04-24 11:18] FWAJL opened #909 "Implement "Send emails" function."
Library to use to implement email sending methods: https://github.com/PHPMailer/PHPMailer

Classes will be stored in Library/Core/Email

[2015-04-24 11:20] FWAJL opened #910 "Store the automatic email as files"
Store the email object serialized into an xml file then saved to the document table and the Uploads/email folder.
This is to allow resend of an automatic email (creation of PM, FT, service provider or client accounts).

[2015-04-24 11:22] FWAJL commented on #803
@damirius

I have updated #877 with the issues to complete. Look at #909 for sending email library classes.

[2015-04-24 13:27] damirius commented on #803
@FWAJL @bsaiken

Uh, where to start. I had to rewrite some of the existing stuff we had there. I left communication tab view more or less intact for now. Had to change that startCommWith action we use for setting currentDiscussion and I've added sendMessage action for sending discussion messages (adding discussion_content).

Since we can have multiple discussions for the same task, between pm and

[2015-04-24 13:29] damirius commented on #804
@bsaiken @FWAJL

I mentioned in the previous issue that I will implement history chat box here with the messages from services/FTs since they are the same (I'll later implement file attachments for the service users).
Just want to see if we want messages from the author (PM) there also?

[2015-04-24 13:31] damirius commented on #805
@bsaiken

Can you tell me in the first case where attachments aren't uploaded from the user's machine, which documents exactly is PM selecting to send? Are they on the server already? Since you said that he needs to select a document from "a list in a prompt popup". From where we are fetching that list?

[2015-04-24 14:34] bsaiken commented on #805
@damirius

There are two possible sources for attachments:
1) Files that are on the user's machine (obviously)
2) Forms that are associated with the Task.  So these form are already on the server.

The forms associated with the task will be listed at `/activetask/forms`.  Populating this view is ongoing: Issues #778 and #727.  Any of the forms that will be listed on this tab may be attachments.  Y

[2015-04-24 15:00] bsaiken commented on #804
@damirius @FWAJL

Damir, I just wanted to make a general comment about this SOW.  I wrote a very specific and defined SOW because I had thought I was hiring someone new to the project.  Since you are on the job, and working hourly, I am more flexible in how this tool gets implemented.

I am confused about your statement that services/FTs are the same.  What does that mean?

Here is another thing t

[2015-04-24 15:17] bsaiken commented on #803
@damirius @FWAJL
Since the email tool is set up as separate Issue (#909), we can continue on this Issue without the email.

Outgoing messages can be typed, stored, and displayed.  Since incoming messages are stored in the database, we could manually populate the database to see a stored incoming message.  That's how we were planning to test it.

I am still unclear how the incoming message arrives.

[2015-04-24 16:54] testingbydev commented on #845
@FWAJL
we have done pages for mobile site for user Role 3 according the project structure.

[2015-04-24 18:22] bsaiken commented on #845
@testingbydev
The proper next step is to change the status to `status: function review`, and set me as the asignee (bsaiken).  I did it for you, but it will move things along more smoothly if you do it.

[2015-04-24 20:38] bsaiken commented on #845
@testingbydev @FWAJL
I was able to review the result and it looks like a good start.  There are some coding problems that I caught, so I will provide them here.  Normally, I will not do a code review, but the site was not working and I needed to make some changes.

You must review your code to make sure it works prior to making a commit.

Here are code problems I found:
1) You must modify line 53

[2015-04-25 12:08] damirius commented on #804
@bsaiken @FWAJL

When I say that FT/Services are the same, I'm talking about our current db design regarding discussions. Which is a good thing. Discussion is between two users. If you recall when we redesigned our permission model we changed db tables, so services,FTs,PMs,clients are just users with some additional information stored in their respective tables.
So currently you can have discussio

[2015-04-25 12:16] damirius commented on #803
@bsaiken @FWAJL

Both outgoing and incoming messages are stored, so we can have 'chat history' box and use it later for 'archived task chat' and so on.

I don't know how will FT dashboard look. If they have some way to look at active tasks that they are assigned to we can add communications tab there too if PM started some discussion with them and then we can show chatbox there too, similar to one

[2015-04-25 12:18] damirius commented on #805
@bsaiken

Clear as day.

[2015-04-25 14:51] damirius commented on #804
@bsaiken @FWAJL

I've added chatbox on communication tab of active task view.
Since we changed the discussion table structure, I'll try to explain here how to add new "incoming" message.
Go to task list and choose some active task to view. Go on communications tab.
Check your `discussion` table in the DB. If there are some existing discussions they will be stored there.
Go back in your browser, ch

[2015-04-25 16:44] bsaiken commented on #803
@damirius @FWAJL
I do not know how the FT dashboard will look either.  That is Issue #850.  It will likely look like whatever you develop - just formatted for a mobile device.

[2015-04-25 18:09] bsaiken commented on #804
@damirius @

Perfect.  Just what I wanted.  I am moving this to code review, but please review the comments below.

Jeremie, once the code review is finished, please notify me when the live database is updated to accommodate this function.  I used Damir's reset script for testing, but then all my data entries were lost, including some users.  So, I will revert back to the old database for now.

Th

[2015-04-25 20:34] bsaiken commented on #906
@FWAJL
Why would we ignore user forms?

[2015-04-25 20:43] FWAJL commented on #906
@bsaiken @gsouvik

Because of what you said here (in bold from #727):

If a task form is a user form then it halts the execution. Therefore we need to add a bit of code to prevent that hence this issue.

[2015-04-25 21:27] bsaiken commented on #906
@FWAJL @gsouvik
I think you have a misunderstanding of the difference between a user for and a master form.  Both should be copied as many times as there are locations.

Your statement `If a task form is a user form then it halts execution` is incorrect.

We will not make one copy for every location in all instances.  The best example is the chain of custody form.  That form will only have one cop

[2015-04-26 09:02] gsouvik commented on #906
@bsaiken @FWAJL
Just wanted to add my input to this discussion, at this moment we are not explicitly filtering user forms from the table `task_template_form`. So all the forms are being pulled from that relationship table (including the user forms too). But when the corresponding template form is looked up, it is currently being done from only the master forms (and NOT from the `user_form` table),

[2015-04-26 15:29] bsaiken commented on #906
@gsouvik @FWAJL
Option 1 is the correct choice.  So, I have modified the name of this Issue to reflect that.

[2015-04-27 05:01] FWAJL commented on #804
@damirius

It doesn't work for me. I have added a new FT in order to have a user associated with him. Still, it says "Discussion couldn't be start". See below:
![screen shot 2015-04-27 at 06 33 43](https://cloud.githubusercontent.com/assets/7524388/7341782/d57f7b7c-eca8-11e4-8e4e-24ec8139ad4a.png)

My first thoughts about your comments @bsaiken is that we can't avoid not creating the user row for

[2015-04-27 06:53] FWAJL opened #916 "Consolidate AddUser function in code"
In order to create user for each type (pm, admin, ft, service and client), we need to consolidate the code to be reusable.

[2015-04-27 06:54] testingbydev commented on #845
@FWAJL  @bsaiken

We have made all the required changes that you have suggested above, Now regarding the new header look can you suggest how it should look like, any recommendations from your side ? After that we would push the code to repository.  Also let us know what all sections would come in this panel .

[2015-04-27 06:54] bsaiken commented on #804
@fwajl
I had to run Damir's database reset for it to work.

We need to move forward with the discussion thread development and not delay.  Dealing with users can wait. We can add this to our discussion Wednesday.

Sent from my iPhone

[2015-04-27 07:37] FWAJL opened #917 "Run DB script for Mar-27 2015"
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/10704b2624be9beeda52a67eb75560caa1b428a0/Database/Scripts/Updates/2015-04-27.sql

[2015-04-27 07:39] FWAJL commented on #916
@damirius

Please run the script for this update on your branch => Issue #917.

[2015-04-27 12:29] FWAJL commented on #879
#916 is implementing email in the user object. This is not necessary anymore.

[2015-04-27 12:29] #879 closed

[2015-04-27 17:21] bsaiken commented on #845
@testingbydev @FWAJL
Perhaps you made the changes, but you did not commit the code to github; therefore, I cannot review.

[2015-04-27 17:23] bsaiken commented on #804
@FWAJL
I had to run Damir's database reset for it to work.

Please see my comment, above.

[2015-04-27 18:54] gsouvik commented on #906
@bsaiken
Considering the fact that #778 and #727 which are both not resolved due to this issue, I'm starting with this next even though it has low priority than other tasks. Please confirm.
Thanks.

[2015-04-27 20:30] bsaiken commented on #727
@gsouvik
Can you complete this so that the generated forms show in the list.  That's top priority.

[2015-04-27 20:32] bsaiken commented on #726
@gsouvik
Souvik,
This is also a high priority item.  Where are we on this Issue?

[2015-04-27 21:55] bsaiken commented on #845
@testingbydev
As far as how the page looks, I just had a questions about whether we could use to change how it looks.   I played round with the CSS and made the glypicons and logo bigger, so I answered that for myself.   There is no need for you to do that in this stage.  Just move all the CSS for the mobile pages into a new CSS file and include only the mobile CSS file in the routes.

Here is the

[2015-04-28 04:38] FWAJL commented on #916
@damirius

Please `git pull`on the feature thread branch. Thank you.

[2015-04-28 04:50] #917 closed

[2015-04-28 04:59] FWAJL commented on #803
@bsaiken @damirius

I'm sorry guys but this is not working. I am using the PM "test" and the project "EC-TX". I have added a FT that has a user row in the DB.
However, I get a "Error reading discussion thread". It is trying to look into the session to find a thread which doesn't exist since I didn't start any.
![screen shot 2015-04-28 at 06 53 27](https://cloud.githubusercontent.com/assets/7524388

[2015-04-28 05:32] gsouvik commented on #727
@bsaiken @FWAJL
But this is already tested to be working on my and @FWAJL computer. This could not be reproduced on your end because of issue #906 . That's what I meant in my comment in that thread. If we fix #906, implicitly it would fix this and #778.

As an issue there is there is nothing more to code in this. Let me know your thoughts.

[2015-04-28 05:36] bsaiken commented on #727
@FWAJL @gsouvik
Jeremie,  I am OK viewing this on the live site, so you could release the code.

[2015-04-28 05:39] bsaiken commented on #803
@FWAJL
Did you use Damir's database reset script?

[2015-04-28 06:28] WebDevJL commented on #727
@bsaiken

To do 100% sure, you are ok to release the code where if a task has a form that is referencing a user form, it will not activate. If the task form are just master form, it will work.
![task-with-user-form](https://cloud.githubusercontent.com/assets/3506074/7363903/7b0e176a-ed80-11e4-96e3-7e3eb6d4e400.png)
![task-activation-with-user-form-fails](https://cloud.githubusercontent.com/assets/

[2015-04-28 06:32] WebDevJL commented on #803
@damirius @bsaiken

Where is it Damir's db reset script?
We have a problem if the data is necessary to make this work. It should work with any data.
I will need to take a detailed look at the code to see what is going on.

@damirius : have you pushed everything?

[2015-04-28 12:32] gsouvik commented on #726
@bsaiken
As per your very first comment on this issue, I've just reused the modules from `/map/taskLocations` and simply used a view which loads them to show the map. I'm unaware of the requirements for map related tasks so could not test any functional details.

Please review and let me know about any changes and I shall make those. Thanks.

[2015-04-28 13:03] testingbydev commented on #845
@FWAJL @bsaiken
We have Redone the code structure according to MVC coding structure  and changing the Header Design For mobile and Tablet. please review the code.

[2015-04-28 13:11] WebDevJL commented on #845
@testingbydev

Be careful in the commenting of your commit: the syntax is `Issue #845` without the [ ].

Adding reference to commit:https://github.com/FWAJL/FieldWorkAssistantMVC/commit/2939413459adbbce0ea0d417db1cffb861caded0

[2015-04-28 13:17] damirius commented on #803
@FWAJL @bsaiken

I sure did pushed everything. If it says "Error reading discussion thread" it's maybe because you didn't start any. You can try to click on the FT and start the thread with him by clicking promote arrow. After that thread should be created.

[2015-04-28 13:34] bsaiken commented on #727
@FWAJL
Absolutely release it.  This Issue is holding up others.  We cannot afford that right now.
All that is needed is that only master forms get used.  Since, in the beginning, I will be the only user, it is a problem we can fix later.

[2015-04-28 13:43] WebDevJL commented on #803
@bsaiken @damirius

It finally did. I will carry out my code review. Please notify me of any update you make regarding the discussion work as I might do updates as well.

Thank you.

[2015-04-28 14:05] testingbydev commented on #845
@WebDevJL

Sure i would take care next time.
Let me know if code has been approved and we can move to next issue

[2015-04-28 15:23] testingbydev commented on #845
@FWAJL @bsaiken

Do i need to follow any step for sending code to review ?

[2015-04-28 15:25] bsaiken commented on #845
@testingbydev
See my comment from April 24.  set status to `function review`.  Assign `bsaiken` as assignee.
Also, per Jeremie's comments, reference the Issue number when you make the commit.
If you do these things, everything moves along smoothly.  If you do not, it will delay our review.
Also, we have asked several times to follow our instructions and you have not.  Please ask questions if you a

[2015-04-28 15:38] bsaiken commented on #845
@testingbydev  @FWAJL
You did not make the required change to the auth.js file, as I had instructed in my previous comment.  Therefore, the cannot not work.
Please do not commit code that does not work.  Do you review your code before you commit it?
You must make another commit and follow the instructions for submitting code.

[2015-04-28 15:52] bsaiken commented on #727
@FWAJL
Jeremie,
I just tried testing this again, and it does not work on my local machine.  So, if it's working for you, I definitely need to see this on the live site.  I rearranged your priorities so this is the highest priority.

[2015-04-28 16:02] bsaiken opened #919 "Map UI changes for task view (active task and `/map/taskLocations`)"
Details to follow...

[2015-04-28 16:02] WebDevJL commented on #727
@bsaiken

The current of items to be released and this one will be released tomorrow morning.

Thank you.

[2015-04-28 17:00] bsaiken commented on #727
Super - thanks.

Brian

On 2015-04-28 16:02, Jérémie Litzler wrote:

[2015-04-29 04:25] #902 closed

[2015-04-29 04:58] FWAJL commented on #845
@testingbydev @bsaiken

As per our [comment](https://github.com/FWAJL/FieldWorkAssistantMVC/issues/845#issuecomment-94378746), we have a clear procedure written that everyone follows. Please read it in details. Thank you.

https://docs.google.com/document/d/1COa-OrxiAMfBzTmQfwsDU2xYbwZBWwRpbOxLzmWKvW0/edit?usp=sharing

Thank you.

[2015-04-29 05:00] FWAJL opened #926 "Edit email edition for existing users"
For Admin, Client, Technician and Service providers, allow the email address to be modified in their user row in the database.

[2015-04-29 05:05] FWAJL opened #927 "Task COC requires Outside Resources checkbox"
When editing the Task COC, you need a service provider. Therefore the checkbox "Outside Resources required" should be automatically checked when checking "Submitting samples to a laboratory".

[2015-04-29 11:12] testingbydev commented on #845
@FWAJL   @bsaiken
Now we have done to make changes for line 53 in auth.js " window.location.replace("mobile/welcome");"
I have checked it on browser tab and mobile screen but unable to check it on mobile device due to ethernet issue.

[2015-04-29 14:05] bsaiken commented on #845
@testingbydev @FWAJL
This works, thank you.  And thank you for following our code submission procedure - it will really help with things as we move forward.
Now Jeremie will do code testing and we will get back to you soon about starting the next Issue.
DO not start the next Issue until we get his approval.

I see that we are still displaying the `left-aside` section.  We do not need this, but we

[2015-04-29 14:10] testingbydev commented on #845
@bsaiken
Thank you for feedback. i will use the mobile emulator and setup the site on our development server so i can checkout in mobile device also.

[2015-04-29 15:10] bsaiken commented on #828
@FWAJL
Working.  I temporarily changed the admin password to "1111", so be aware of that.

[2015-04-29 15:10] #828 closed

[2015-04-29 15:13] bsaiken commented on #810
@FWAJL
I tried adding a Project and it is requiring the Client email address.  This is wrong.  The client email address requirement must be removed.

[2015-04-29 15:17] bsaiken commented on #751
@FWAJL
This did not work.  I think it is related to the requirement to have the client email address.  The client email address requirement must be removed.

[2015-04-29 15:18] #749 closed

[2015-04-29 15:21] #734 closed

[2015-04-29 15:24] #446 closed

[2015-04-29 15:31] bsaiken commented on #726
@FWAJL @gsouvik
This may be a bug...but it may be related to this Issue.  Please handle this accordingly.

When I now choose `Map > Task Locations`, and the Task has not yet been selected, I get a Prompt box asking me to select a Task.  The problem is, the list shown in the Prompt box is only Active Tasks.  This must be the complete list of Tasks (Active and Inactive) that are related to the curre

[2015-04-29 15:40] #727 closed

[2015-04-29 15:42] bsaiken commented on #916
@FWAJL
I am not sure how I would unit test this.  Please advise, or close the Issue.

[2015-04-29 19:54] damirius commented on #805
@bsaiken

I know that you said that we will probably have /activetask/forms popup ready before I start doing issue #808, but I see that we will need it for this one too right?

[2015-04-29 20:07] gsouvik commented on #726
@bsaiken @FWAJL
When I developed that prompt box I used the already created action `task/getlist` to get the list of tasks for a project. That action is not changed while working on this issue. So this must be due to some problem with that action, we need to correct how it fetches and stores tasks for a project in order to fix it.

[2015-04-29 20:08] damirius commented on #804
@FWAJL @bsaiken

I see that our priority is still discussion milestone here, but we are still running into a lot of obstacles. For example this problem with users. When I was working on our role system, we were talking about all types having user entry in the db. So this stands for FTs, Services, Clients, PMs.
Discussion DB table design was built on that assumption and I think it will serve our pu

[2015-04-29 20:11] gsouvik commented on #778
@bsaiken @FWAJL
Now that #727 is fixed, what should be status of this issue.

[2015-04-29 21:28] bsaiken commented on #805
@damirius @FWAJL

Well, we ran into this snag.  What do we do if we try to communicate with someone who does not have an email address?  I do not want to make email addresses required.  I say it's not "required" but it is completely impractical if a PM sends a message to a FT and they are unaware of it.   At least, entering the email address should not be required to enter data into the system.  I

[2015-04-29 22:19] bsaiken commented on #726
@gsouvik
This was Issue #593, and this particular feature was done on March 9, in case you are curious.
I think what happened was, at the time we did not have the Active Task UI started yet.
Anyway, it's not really that important.  The corresponding list for `Map > Task Locations` should be all Tasks (active and inactive) for the current Project.  I will make a new Issue and assign it to you, Souv

[2015-04-29 22:19] #726 closed

[2015-04-29 22:21] bsaiken opened #928 "Modify the `Map > Task Locations` popup to include active and inactive Tasks (see Issue #593)."

[2015-04-29 22:26] bsaiken commented on #804
@FWAJL @damirius
I think my comment for #805 will answer this.  We only communicate with "registered" users - e.g. - those with a user entry in the database.  Then, we deal with getting the user into the database somewhere else.

If we need to split this into separate Issues then let's do it.

[2015-04-29 22:28] bsaiken commented on #778
@FWAJL @gsouvik
I agree, so I am closing this Issue.  We can always re-open it or create a new Issue if need be.

[2015-04-30 03:47] bsaiken commented on #927
@FWAJL
Actually, you don't need a service provider.  You need a lab, which is a type of service provider with a specific category (e.g. Labs).  This is a special case.  We could handle the selection of a lab on the COC form itself.  Let me think about this.

[2015-04-30 05:08] bsaiken commented on #926
@FWAJL
Why would we need to do this?  Everyone can edit their email address.
Besides, I thought I could always edit any entry in the database.  The only weird one is the password, because it is encrypted.

[2015-04-30 05:52] gsouvik commented on #404
@bsaiken @FWAJL
All the related sub tasks related to this issue are closed. Just wanted to bring to your notice that it's still assigned to me. Let me know what should be the status of this issue now. Thanks.

[2015-04-30 05:53] #404 closed

[2015-04-30 06:24] WebDevJL commented on #927
@bsaiken

Err... what you said is kinda of contradictory, isn't it? Anyhow, except if you have assigned service providers to a task and some of them are labs, the COC form data can't be saved.

But now we have done forms, incl. the COC form as PDF, do we need this really and issue #558 ?

[2015-04-30 06:28] WebDevJL commented on #926
@bsaiken

With #916, the PMs, FTs, Client and Service providers have their user row created when providing their email. Then, a PM or an Admin or themselves can edit their email after creation and at the moment, it updates the tables project_manager, client, technician and service. It should update the table user instead as the email value should only be there to create consistency in the applicat

[2015-04-30 08:20] WebDevJL commented on #804
@damirius @bsaiken

Issue #916 is taking care of adding a user row for PM, FT, Client and Service provider. What Damir for the technician is reused. I just made it generic. The only thing not done is making the Service provider email mandatory.

Also, Damir, do you understand how we want to code the attachments part of the Discussion work?

[2015-04-30 08:33] WebDevJL commented on #805
@bsaiken @damirius

In your proposal, I see that, in the end, we will need an email value. So why not make it mandatory now so we are sorted?
Issue #916 takes care of this. But if you don't want email required now, we can still add the user row with a dummy email so that we can later just update the email value.
The default email value could be "user_type + user_value @test.com" which will be uniq

[2015-04-30 08:36] damirius commented on #804
@FWAJL

If I'm correct we will have 2 types of attachments. One is regular upload of files from the local machine, and the other is choosing already existing files on the server which, if I'm not mistaken, are those automatically copied forms for that task.

[2015-04-30 12:41] WebDevJL commented on #804
@bsaiken @damirius

Yes, those are the sources of attachments. What I would like to know also is if you understand how attachments will be included in the message/email sent.

Basically, once the form(s) are selected or document(s) are uploaded, we will create "download" links to those files so the recipient(s) can get the files in a browser. So we are not using the attachment as email have but ra

[2015-04-30 13:04] damirius commented on #804
@FWAJL @bsaiken

Yea, that's easiest, since we still don't know if we will use email for sending actual messages, plus showing download link will be great for chatbox.

[2015-04-30 13:29] gsouvik commented on #906
@bsaiken @FWAJL
When task forms are copied into location specific PDFs, user forms are now taken into account. Steps to test are same as before, just promote a task to active which has both user and master forms assigned to it.
Thank you.

[2015-04-30 14:54] bsaiken commented on #927
@FWAJL
I'm surprised by your response.  If anyone were to understand the distinction, it would be someone who speaks computer language, which is necessarily precise.  Saying we need a Service Provider to collect filed samples for lab analysis is imprecise because we categorize service providers.  So, in this case, we can use the more precise language that we need a service provider with the catego

[2015-04-30 14:56] bsaiken commented on #926
@FWAJL
I understand this, in the context of your comment on #805.

[2015-04-30 15:03] bsaiken commented on #805
@WebDevJL @damirius
Yes, this is a great idea.  However, instead of `@test.com`, let's make it `@fieldworkmanager.com", that way, I can catch and be notified of the site activity.  So, I say go with the default email value.

[2015-04-30 15:12] bsaiken commented on #804
@damirius @WebDevJL
With fancybox, we can view the pdf files, even do some entry (I think).  But, downloading is important, especially for the Field Technicians. If they are at a remote site, they can just fill out downloaded files and upload them later, when they have internet access again.

[2015-04-30 15:16] bsaiken commented on #804
@damirius @WebDevJL
I don't necessarily want to send messages via email, but it's sort of moot since, without email, the user wouldn't know there was a message unless they logged in and looked.  And I can tell you, the way field work goes, that is not practical.  Emailing will be necessary.

[2015-04-30 16:10] bsaiken commented on #906
@FWAJL @gsouvik
I have to push this directly to code review, because I am unable to get this working on my local machine.  I had the same problem with master forms, and it works just great on the live site.  I am hopeful the problem will correct itself, eventually, as my local site and database is updated.  But I have already spent too much time trying to chase down this problem.

[2015-04-30 16:18] FWAJL commented on #927
@bsaiken

Ok Brian. I will rephrase it: unless if you have assigned ***service providers of category "Labs"*** to a task and some of them are labs, the COC form data can't be saved.

I will wait for your answer tomorrow. Thank you.

[2015-05-01 05:56] FWAJL commented on #916
@bsaiken

Logged as a PM:

1. Add a project with a client email address. Is it successful?
2. Add a technician with email address. Is it successful?
3. Add a service provider with email address. Is it successful?

Logged as an Admin:

1. Add a PM with an email address. Is it successful?

Finally:

1. Can you log in with all the users created above?

Thank you.

[2015-05-01 06:50] bsaiken commented on #916
@FWAJL
If I try to log in as client or service provider, I get a successful toastr message, but it does not load anything.
If I try to login as a FT it goes to the wrong page.
I can't add a PM in the admin UI because it is requiring the user password and user login fields to be filled out.  So I can't test to see if the email field might get used to create the PM login credentials.
If you are OK w

[2015-05-01 08:10] FWAJL commented on #916
That's normal. We don't have a page to display yet but the successful notification means you logged in.

If you mean "wrong page as not the page the Mobile team has built", then it is normal. The default on live server is what Damir did.

And if you type the credentials? I did try and it works.
![screen shot 2015-05-01 at 10 06 41](https://cloud.githubusercontent.com/assets/7524388/7428088/023654b

[2015-05-01 08:10] #916 closed

[2015-05-01 13:18] gsouvik commented on #928
@bsaiken @FWAJL
"Select a task" prompt box now shows all tasks - active and inactive ones. Previously it was just displaying the active tasks.

[2015-05-01 16:58] FWAJL commented on #805
@bsaiken @damirius

This is done in above commit.
1. Client and Service provider don't require email but can provide 1 if they want.
2. If they don't provide an email address, they will have their user email set to "client_id_1234@fieldworkmanager.com" or "service_id_1234@fieldworkmanager.com".
3. Technician and Project manager that are added have the email field required so we use the given value

[2015-05-01 17:21] WebDevJL commented on #906
@gsouvik

Please look at the coding update I made in the function that you made to create task location forms.

I fragmented the function into smaller functions to get a state where each function does one thing. It does exactly the same thing at the end.

Tell me if you understand this as it helps us reusing functions later on.

As a challenge, I'd like you to think about it when coding. It'd be v

[2015-05-01 20:23] bsaiken commented on #927
@FWAJL
We forgot to talk about this...service provider (Lab) form entry value can't be null.
But, for simplicity's sake, let's just remove the `Laboratory` select list from this form page.  The Lab can get saved on the Services tab.

I realize that eventually we will need to add some code the validates a task when it is being promoted to become active, (e.g. verify a Lab has been selected if we ar

[2015-05-01 20:24] bsaiken commented on #927
@WebDevJL
I assigned this to you, but you could pass it on to Souvik....

[2015-05-01 20:54] bsaiken opened #941 "Enable form viewing using right-click"
@gsouvik @FWAJL
Souvik,
This slipped though the cracks, so I just created a new Issue.
This is operating on my sister-site: http://dev.fieldworkassistant.net/
You can login there using the test:test credentials.
There, you can navigate to `/task/listAll`.  If you select the Task `Task`, and right-click to edit, you will see on the `Forms` tab a form listed: `Well Purge`.  Right click on this, and

[2015-05-02 07:09] gsouvik commented on #906
@WebDevJL
Yes, you refactored the code to greater granular level which is great when we plan to reuse it for other calls as well. I already implement this approach, but shall make future functions even more modular as per this example.

Thank you.

[2015-05-02 14:55] bsaiken opened #942 "Update Bluehost"
Jeremie,
I tried using the Bluehost site to activate a task and generate location-specific forms.  I got an odd error message I haven't seen.  I tried uploading the latest database, but it did not fix the problem.

Can you try updating the Bluehost site one more time, and make sure it has the latest generation of the database?

If I still get the error I'll give you details.

I want to see if Mehe

[2015-05-02 15:08] bsaiken commented on #846
@testingbydev
Requirements for Milestone B are detailed here:
https://docs.google.com/document/d/1uSf9MTsVg0RzOapusLlkYn2noA2gZXOH86xFuZaZ10s/edit

In order to meet the May 8 deadline, please make initial code submittal by May 6.

[2015-05-04 05:15] FWAJL commented on #942
@bsaiken

Database updated to version 1.6.19.
Site updated to version 1.6.19.

Thank you.

[2015-05-04 05:15] #942 closed

[2015-05-04 05:22] FWAJL commented on #927
@bsaiken

I'm sorry I'm not explaining the problem properly.

This issue is related to #558.

We can NOT just remove the Lab select list. Why? Because the Task COC ***requires*** a service provider of category "Lab" which is a foregin key from table service in table task_coc. So by removing the select list, the Task COC data can NOT be saved.

So what you're wanting to have is to remove the foreig

[2015-05-04 05:38] bsaiken commented on #927
@WebDevJL
Yes, removing the foreign key seems the easiest way to go.

[2015-05-04 10:01] damirius commented on #805
@bsaiken @FWAJL

Great. Now we need that popup prompt with task forms which we will show as links, is that done?

[2015-05-04 14:49] bsaiken commented on #810
@WebDevJL
You did not reference this Issue in your commit.  Which branch do you work on?  DEV?

[2015-05-04 14:55] #779 closed

[2015-05-04 14:55] #780 closed

[2015-05-04 14:55] #777 closed

[2015-05-04 15:01] bsaiken commented on #781
Mehedee,

We now have the form copy function working on the Bluehost site.  Can you please look at it.  I have set up a sample task, `Populate`.  If you activate this Task, three forms will be created (one form for each Location).  The Locations are: `Avery`, `BSA`, `Curry`.  What I would like you to do is insert the code necessary to put the Location name on the three new forms that are created.

[2015-05-04 15:02] bsaiken commented on #942
Fantastic - thanks!

I have Mehedee working on the form population effort now.

Brian

On 2015-05-04 05:15, FWAJL wrote:

[2015-05-04 15:07] bsaiken commented on #805
@damirius @FWAJL @gsouvik
I have Souvik working on this - Issue #941.
However, it is just some js, and needs to be applied to each UI where we have forms for the viewing, so if you want to implement this for your work, there may not be an overlap - we can divide and conquer.  I have already loaded the library files.  To keep everyone up on the progress, I would post a comment to Issue #941 stating

[2015-05-04 15:29] gsouvik commented on #805
@bsaiken @FWAJL @damirius
As I was mentioned in the last message, just to update, I've progressed quite a bit into this task and it should be ready in couple of hours.

[2015-05-04 17:38] FWAJL commented on #810
@bsaiken

It is been committed under #805. Yes, it is on the dev branch.

[2015-05-04 19:26] FWAJL opened #945 "Run DB script for Version 1.6.20"
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/232688bd1e923270571d44ddb7b4ca48c0c87543/Database/Scripts/Updates/2015-05-04.sql

[code]

https://github.com/FWAJL/FieldWorkAssistantMVC/blob/dev/Database/Scripts/Updates/2015-05-05.sql

[2015-05-04 19:30] FWAJL commented on #558
@bsaiken

See the database update on issue #945. The Service select list is removed.

You can now test from the dev branch.

Thank you.

[2015-05-04 20:16] bsaiken commented on #810
@FWAJL
I still see the toastr comment and it does not re-direct to the Project list.

Now, we could remove the toastr comment and that solves that problem.  But aren't we supposed to redirect tot he Project list after an insert?

![screen shot 2015-05-04 at 1 14 10 pm](https://cloud.githubusercontent.com/assets/8228624/7461486/91b68a5e-f25f-11e4-81da-9169c9093182.png)

[2015-05-04 20:38] gsouvik commented on #941
@bsaiken @FWAJL
I've coded the feature so that forms are fetched dynamically and opened using the Fancy box. Currently I've implemented it on the following routes:
activetask/forms
task/forms

Let me know if this needs to be implemented on other places too and I shall do that. Thank you.

[2015-05-04 20:59] bsaiken commented on #558
@WebDevJL
I am still seeing required fields (which should not be required) and it is not saving.

![screen shot 2015-05-04 at 1 58 19 pm](https://cloud.githubusercontent.com/assets/8228624/7462368/c170b5de-f265-11e4-8185-3364cd960350.png)

![screen shot 2015-05-04 at 1 58 29 pm](https://cloud.githubusercontent.com/assets/8228624/7462372/cb7ed754-f265-11e4-9a41-6f502fc8e117.png)

[2015-05-04 21:02] bsaiken commented on #558
@WebDevJL
Now, I have had some trouble on my local machine getting things working and they work fine on the live site.
So, if you are sure this is working, I am OK with you pushing the code and I will enjoy seeing it live.

Yes, I did do the database update and pulled an update from the DEV branch, so that is not it.

[2015-05-04 21:13] bsaiken commented on #941
@gsouvik
Beautiful.  Thanks.

[2015-05-04 21:53] bsaiken commented on #881
@FWAJL
Isn't this implemented now?
The thing is, We do NOT want the client email to be required, but we already got around that, no?

[2015-05-04 21:55] bsaiken commented on #878
@FWAJL
I thought this was done, and we already set up a default email and username so the Service Provider email field was not required...

[2015-05-04 21:58] bsaiken commented on #892
@damirius
Damir,  This, and #893, I could assign to someone else.  I want you to be free to wrap up the discussion thread UI.  Also, I have some mapping UI updates coming your way soon.
But, if you want it, I won't take any work away from you.

[2015-05-04 22:06] bsaiken commented on #758
@FWAJL
Can we close this Issue?

[2015-05-04 22:06] #672 closed

[2015-05-04 22:07] #557 closed

[2015-05-04 22:07] #556 closed

[2015-05-05 05:03] FWAJL commented on #558
@bsaiken

Please run this locally:

[code]

and do a git pull for the required field update.

Then it will work as you want.

Thank you.

[2015-05-05 05:13] FWAJL commented on #881
@bsaiken

Implemented in #916. Email is not required anymore as per comment here: https://github.com/FWAJL/FieldWorkAssistantMVC/issues/805#issuecomment-98177542.

Closing.

[2015-05-05 05:13] #881 closed

[2015-05-05 05:14] FWAJL commented on #810
@bsaiken

The toastr notification is not the problem. Rather it tells the accurate result of the test. A client is not inserted (client + user row in respective table).

Try another a git pull locally from dev branch. I have changed the version number to refresh your cache.

[2015-05-05 05:16] FWAJL commented on #878
@bsaiken

Same comment as #881.

Closing.

[2015-05-05 05:16] #878 closed

[2015-05-05 05:17] FWAJL commented on #758
@bsaiken

No, it is not done. Let's keep it for later.

[2015-05-05 09:21] damirius commented on #805
@bsaiken @FWAJL

OK, so this is the prompt for viewing the forms, but for this thing we need just a list of forms where PM can select one of them to add to the chat message right?
You said that I need to show this:
*2) Forms that are associated with the Task. So these form are already on the server.*

I know that we wanted to create copies of the forms when we activate the task, I don't know if we

[2015-05-05 10:50] damirius commented on #805
@bsaiken @FWAJL

I've added local attachments for now. You can check it out on feature_thread branch.

You can check it out by going to Communications tab of some active task.
Activate some discussion with service provider.
Click Attach File button, upload box should show up after textarea.
Choose some file, when it finished uploading, full path to the file should show up in the message text area.

[2015-05-05 10:51] damirius commented on #892
@bsaiken

OK, we can assign this to someone else if you need me for mapping UI updates too.

[2015-05-05 11:06] WebDevJL commented on #805
@damirius

We could add a character counter and the maxlength attribute on the textarea element to prevent over typing. What do you think?

[2015-05-05 11:26] damirius commented on #805
@FWAJL

Sure, that's a good idea. Do you think that we need to raise that char limit first?

[2015-05-05 12:13] WebDevJL commented on #805
@damirius

This is 1000 characters:

Make it configurable in the appsettings.xml and put a note that we need to update the database if raising the limit.
And update the size with a DB script.

[2015-05-05 15:39] bsaiken commented on #805
@damirius @FWAJL
Agreed.  The length at this point is not so important, so let's make it flexible until I discover the proper length.
Is this ready for me to review?

[2015-05-05 15:43] bsaiken commented on #805
@damirius @FWAJL
As far as which forms are attachable, we limit the list to those that appear in the active task pane - the ones we created activating the task - the ones that are already listed on the forms tab.  So this list is already there.

This excludes master and user form templates and maybe some other docs, but I will see if I need to include them later.

[2015-05-05 16:00] testingbydev commented on #846
@FWAJL
please tell about the process of how can we assign a project to FieldTechnician.

[2015-05-05 16:34] testingbydev commented on #846
@FWAJL
please help us to understanding the Project and Task MVC Code Structure .....

[2015-05-05 18:10] testingbydev commented on #846
@FWAJL
We Can't Find Any Session Project In Session if  we have not any project in session then this is redirect Project list to select Project on project Controller but there are User Role 3 not Access the Project Controller So We have to need permitted project  controller for user role 3 if we can't then how can we manage it in Mobile Controller and we cannot understand the process for a project

[2015-05-05 18:33] damirius commented on #805
@bsaiken @FWAJL

OK can you walk me through creation of those forms.
I'm trying to create them like this:
Go to Tasks->Add, enter the name of the new task.
Select "Task requires completion of a field form" so I get the form tab.
Go to form tab, I will get all user forms for that PM and all global template forms.
Promote some of them to this task.
Go to Tasks->List All, make this task active, right

[2015-05-05 18:38] bsaiken commented on #805
@damirius @FWAJL
It sounds like everything you did is correct, except:
There is one form created for each Location.  If you did not identify any Task Locations, there won't be any forms.

[2015-05-05 18:43] damirius commented on #805
@bsaiken @FWAJL

Oh, so that's it. Thanks! I'll work on that prompt for form attachments then.

[2015-05-05 18:59] bsaiken commented on #846
@testingbydev @FWAJL

I can answer this question:
`please tell about the process of how can we assign a project to FieldTechnician.`

You do not need to make any assignments.  The assignments are already made.

First, understand that Field Technicians are not related to Projects.  For the purpose of your work, the relationship you are interested in is Field Technician <-> Task.

When a new Field T

[2015-05-05 19:16] bsaiken commented on #846
@testingbydev @FWAJL
I can also help a little on this question:
`We Can't Find Any Session Project In Session if we have not any project in session then this is redirect Project list to select Project on project Controller but there are User Role 3 not Access the Project Controller So We have to need permitted project controller for user role 3 if we can't then how can we manage it in Mobile Contr

[2015-05-05 19:19] bsaiken commented on #558
@FWAJL
Yes, thanks.

[2015-05-05 19:21] bsaiken commented on #804
@damirius
Is this ready for code review?

[2015-05-05 19:27] bsaiken commented on #805
@damirius
I am not able to execute discussions on my local machine.  Is this because your work is in progress?
![screen shot 2015-05-05 at 12 25 00 pm](https://cloud.githubusercontent.com/assets/8228624/7481026/eb797052-f321-11e4-82d8-99414def4c2c.png)
![screen shot 2015-05-05 at 12 27 19 pm](https://cloud.githubusercontent.com/assets/8228624/7481050/17a3bee4-f322-11e4-9d96-15ed0a08cf5a.png)

[2015-05-05 19:36] bsaiken commented on #805
@damirius @FWAJL
Oops.  That was a false alarm.    We have Field Technicians in the system are not Users because they were put into the system prior to the auto-user generate code.
I will clean up the database later today or tomorrow.

[2015-05-05 22:04] damirius commented on #805
@bsaiken @FWAJL

Also I think I need to change that error message, since it occurs when current discussion isn't set and that will occur every time when pm just logs in.

[2015-05-05 22:21] damirius commented on #804
@bsaiken @FWAJL

I believe that we already done that but we run into that problem with non existing users for services/fts because of invalid emails and what not. So we set it on hold till we fix that.

[2015-05-05 23:23] bsaiken commented on #805
@damirius
Error messsages are fine during the development phase.  I will eventually get rid of them.  This one, though, I agree is distracting because it is misleading.

[2015-05-05 23:25] bsaiken commented on #804
@damirius @FWAJL
OK - I am clearing out the database.  I'll post here when I am done.

[2015-05-06 00:09] bsaiken commented on #804
@damirius
The database is purged.  Only one FT per PM now.  I may have deleted the login you had been using.  Use `mapping`.

Would this work if I inserted the necessary entries into the database?

[2015-05-06 00:18] bsaiken commented on #805
@damirius  @FWAJL
There is now one Service Provider if you login as `test:test`.
Their credentials are `TestSP@TestSP.com:TestSP@TestSP.com`

[2015-05-06 04:29] #945 closed

[2015-05-06 07:04] testingbydev commented on #846
@FWAJL
So we have to need  to allow user.role = 3 for project and task controller and other releted files.

[2015-05-06 08:48] gsouvik commented on #815
@bsaiken @FWAJL
The field and lab analyte matrix screens now have pagination on the analytes. Previously if there were too many analytes assigned to a particular task, these screens were breaking up.

This push fixes that issue. Currently we show 7 analytes per page (controlled from app settings xml). If there are more analytes for a particular task, we show them using pagination.
Thank you.

[2015-05-06 09:31] testingbydev commented on #846
@FWAJL
i am enabling the project controller for user.role = 3 then if we have not any project in Session then it will redirect on proct select project then there are no project listed so we need to add a project but when we adding a project then there are error in "Call to a member function pm_id() on a non-object in <b>/opt/lampp/htdocs/FieldWorkAssistantMVC/Applications/PMTool/Controllers/Projec

[2015-05-06 09:56] damirius commented on #804
@bsaiken

It should

[2015-05-06 12:31] damirius commented on #805
@bsaiken @FWAJL

I've pushed new commit on feature_thread branch for the other part of this issue.

Go to Task->List All, right click on some active task which contains forms and services, select 'Check task status'.
Go to Communications tab, select some service from the list. Click on the arrow to active discussion between logged in PM and that Service provider.
Send and Attach File button will s

[2015-05-06 14:07] #558 closed

[2015-05-06 14:18] bsaiken commented on #751
@WebDevJL
This still has a bug.
![screen shot 2015-05-06 at 7 17 32 am](https://cloud.githubusercontent.com/assets/8228624/7495006/08dad4e4-f3c0-11e4-81eb-0cc06e664f14.png)

[2015-05-06 14:20] #941 closed

[2015-05-06 14:22] #928 closed

[2015-05-06 14:27] #906 closed

[2015-05-06 14:36] bsaiken commented on #815
@gsouvik @FWAJL
That's perfect - thanks.

[2015-05-06 14:45] bsaiken opened #958 "Add text overflow truncation to the matrix table."
This is related to Issue #815.  I want to clean up the look a bit more.
Sometimes, the text is too long to fit in the box and it does not display cleanly.
I found some simple ways to do this, here is just one:
https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/
The trouble with this option, is I don't see a way to view the whole text string, which is important too.
I want the user t

[2015-05-06 14:48] bsaiken commented on #805
@damirius
Is there a database update needed for this?  My first attempt to test did not work.

[2015-05-06 15:02] bsaiken commented on #804
@damirius @FWAJL
I successfully tested this by inserting the reply into the database (since the Mobile UI is not yet working).
Note that because of the manual insertion, I had to log out and log back in to see the reply.
![screen shot 2015-05-06 at 8 00 17 am](https://cloud.githubusercontent.com/assets/8228624/7495955/1e84ef90-f3c6-11e4-9acc-2f6b99f33013.png)

[2015-05-06 15:07] WebDevJL commented on #958
@bsaiken @gsouvik

What about using Souvik's tooltips?

[2015-05-06 15:08] WebDevJL commented on #751
@bsaiken

Please prepare the test case. Is it related to client address still?

[2015-05-06 15:10] WebDevJL commented on #751
@bsaiken

Disregard my last comment. The attachment took long to load. Sorry.

Let's discuss it during our talk.

[2015-05-06 15:15] damirius commented on #805
@bsaiken

DB update is not needed. You just need to logout then login, since there are new routes added. If that doesn't help, can you tell me where it breaks?

[2015-05-06 15:26] bsaiken commented on #958
@FWAJL
That's find, but that won't truncate the text.

[2015-05-06 15:30] damirius commented on #805
@bsaiken

Here is the video demonstration:
https://drive.google.com/file/d/0B7Laiv0PjSvDZzJKRnBBbjJZLUU/view?usp=sharing

[2015-05-06 15:31] gsouvik commented on #958
@bsaiken @WebDevJL
Yes, we can use the tooltips we developed previously. On a separate note the solution with CSS ellipses has some drawbacks on certain browsers it seems. To bypass that problem we can simple truncate the text using PHP whenever it exceeds certain predefined character count.

So "A very long text" would look like "A very..." when we truncate it based on 10 character limit. However

[2015-05-06 16:44] bsaiken commented on #958
@gsouvik
I did not intend for you to use CSS, just pointing out one possibility.  I trust you to come up with the right solution.

[2015-05-06 17:16] FWAJL commented on #846
Brian answered this question here: https://github.com/FWAJL/FieldWorkAssistantMVC/issues/846#issuecomment-99182252

As pointed out in [the first Step of this document](https://docs.google.com/document/d/1uSf9MTsVg0RzOapusLlkYn2noA2gZXOH86xFuZaZ10s/edit#heading=h.vnxfirhpqbrc), you need to use the MobileController, not the ProjectController nor the TaskController.
Also, in [the 4th Step of this doc

[2015-05-06 17:31] testingbydev commented on #846
@FWAJL  @bsaiken

Jeremy we would definitely need your assistance in understanding the framework startup.
We have been able to understand following things in the MVC :
- Routing needs to be defined for user role.
- JS and CSS files structure.
- Resource XML files for adding key resources in local folder like mobile.en.xml .

Now what we need to understand from you is :

- What is the use of Keys a

[2015-05-06 17:35] FWAJL commented on #778
@bsaiken

As I said, I see a bug. I will look into it as I think it is something I did.

[2015-05-06 17:39] testingbydev commented on #846
@bsaiken

we are not able to submit the partial code today because we are still not able to grab the MVC completely. your response to above questions may help us to move ahead.

[2015-05-06 17:44] gsouvik commented on #958
@bsaiken
Ok, so truncating the text using Php and using our tool tip to show the full text when user hovers over it.

[2015-05-07 00:01] bsaiken commented on #958
@gsouvik @FWAJL
Super.  I look forward to seeing it.
Also, please modularize (if that's the correct word) the code so it could be used in other contexts.  As per the final comment on Issue #906.

[2015-05-07 00:21] bsaiken commented on #805
@damirius @FWAJL
In order for this to work on my local machine, I need to have Service Providers that are users.  I tried to add a new Service Provider in order to initiate the new code that automatically makes them a user.  However, I am unable to insert a new Service Provider.
I believe this problem is not worth solving because it is temporarily localized to the conditions on my machine.  This w

[2015-05-07 01:34] bsaiken opened #959 "Task Activation - Laboratory confirmation"
On activating a Task, if the checkbox id="lab_sample_box" is checked, check to see if a Service Provider with the category "Labs" has been selected.  If there is no Lab selected, use a prompt box with the message: "This Task is asking for Laboratory Analysis, but you have not identified a Laboratory.  Check "Confirm" to continue with out a Laboratory, and click "Cancel" to return to the Task Edit

[2015-05-07 11:47] gsouvik commented on #958
@bsaiken @FWAJL
The field and lab analyte matrix cells now support ellipsis and our tool tip shows the complete text on mouse hover. In truest sense this can be applied to any container which is holding some text. That makes it completely reusable anywhere across the code base.

I've used our tooltipandpopupstrings.en.xml file to store the settings for each Controller/Action pair, so the number of

[2015-05-07 15:57] bsaiken commented on #778
@WebDevJL
I tested this on the DEV branch and it works.  I will leave it to you to close this Issue.

[2015-05-07 16:32] bsaiken commented on #958
@gsouvik
There are still a few things I want to change.
We will need more than a 13 character limit.  that's only 10 characters with the `...`.  For the items we will display, that is much to few, even for the abbreviation.
So, I tried reducing the font size.  That helps some.  Then I see that the cell allows the text to wrap.  That helps, but no if there is a very long word, like in the example.

[2015-05-07 16:33] bsaiken opened #965 "Error editng Field Anayte names"
![screen shot 2015-05-07 at 9 25 39 am](https://cloud.githubusercontent.com/assets/8228624/7520511/0f2b4932-f49c-11e4-9abe-ef427dfbfc4f.png)
![screen shot 2015-05-07 at 9 25 36 am](https://cloud.githubusercontent.com/assets/8228624/7520520/17806a9a-f49c-11e4-8a2c-7f877058b397.png)

[2015-05-07 17:23] damirius commented on #806
@bsaiken @FWAJL

Do we have some dashboard for service providers? Or rather when I login as service provider do we have landing pages or something like that? I'm asking because I want to know where will they see their chatbox and how are we planing to send messages to PMs.
Code is already in place, everything we use for PMs can be reused for anyone else since our discussions table and code itself

[2015-05-07 18:27] bsaiken commented on #806
@damirius @FWAJL
We have no dashboard for Service Providers yet.

Option one: we only have emails back an forth between the PM and service providers.  The PM would see the chatbox, the SP will only receive and send emails.  Is that feasible?

Option two: we have emails only as notifications - to notify the recipient there is a message, then they can view and respond by clicking a link, taking then

[2015-05-07 18:35] damirius commented on #806
@bsaiken @FWAJL

I think that option two will be easier to implement since we would need some cron called scripts which will try to fetch incoming mails. Now that said, if we use them only as notifications we would still need those pages where SPs and FTs will see their messages. If we have that we may implement sending messages from there as well.

[2015-05-07 18:43] gsouvik commented on #958
@bsaiken @FWAJL
In any case we have a fixed height and width. So we can allow for fixed characters width wise and at most 2 lines of text. In other words we can user wrapping and ellipsis together to make the best of the space available. Writing some Php, the name `1,1,1-trichloroethane` could be made to look like:

1,1,1-trichlo
roethane

And if it is bigger than that, for example `1,1,1-trichlor

[2015-05-07 19:36] FWAJL commented on #778
@bsaiken

Actually, it was released in version 1.6.21 so you can test it. I did and it works but a second person testing is always good. Close the issue if you don't find another bug.

Thank you.

[2015-05-07 19:45] FWAJL commented on #806
@bsaiken @damirius

Damir, I've not looked in details at the code but if you code it right, implementation should be very easy and building the page can be done quickly. The Mobile integration for FT will progress soon. Maybe, think about an implementation for the SPs? What do you say @bsaiken ?

Thank you! Keep up the good work guys :+1:

[2015-05-07 20:02] bsaiken commented on #806
@damirius @FWAJL

Having an email as notification with a link to the chatbox page is similar to what we have here in github - and part of the source of my inspiration.  Service Providers will, like Project Managers, access the site from a desktop environment, so emailing responses is not necessary.  If we implement Option 2 for SPs, this could be easily adapted for Clients (and other user types).

[2015-05-07 20:25] bsaiken commented on #958
@gsouvik
I am trying to imagine all contexts this would be needed.  And other alternatives.

Almost every long-named chemical that would be a Field of Lab Analyte has an abbreviation.  For example, 1,1,1-trichloroethane = 1,1,1-TCA.  So, I could add a column `analyte_abbrev` to each of the tables `lab_analyte` and `filed_analyte`.  Then we could place a restriction on `analyte_abbrev` so that the

[2015-05-07 20:25] #778 closed

[2015-05-08 07:49] FWAJL commented on #806
@bsaiken @damirius

This is definitely a feature that will be useful. An email or a web notification are both notifications. Therefore, where we decide to send an email, we can create a web notification and vice-versa. Do you see ? Therefore, we could add other type of notifications.

[2015-05-08 09:07] FWAJL commented on #751
@bsaiken

You indadvertedly deleted data you shouldn't have... All the clients we add for each project have been deleted. However, we have no mechanism to add a client to an existing project. In fact, only when creating a project that a client is added too. To add a client when not existing for an existing project (same for the facility), we need new functionality.
Or we can add the clients back,

[2015-05-08 09:17] FWAJL commented on #751
@bsaiken

If you want to add the data back, here is the last backup data that had clients:

[code]

[2015-05-08 12:25] gsouvik commented on #958
@bsaiken
so I'm not touching it right now, or should I implement the wrapping I suggested?

[2015-05-08 14:49] bsaiken commented on #806
@FWAJL @damirius

My idea was to eliminate the need for emailed notifications.
However, we can't completely eliminate emails because SPs and Clients would not know they had a message.  FTs would know, because while they are working they are logged in much of the time.

The way this relates to THIS Issue, is that SPs receive an email, notifying them of a message, but the way they respond is by logg

[2015-05-08 14:54] bsaiken commented on #751
@FWAJL
That was not inadvertent.  We are now creating client users when we add a new Project.
It's a good point, though.  I will go back and delete the Projects and Facilities as well.
I want all the Projects to have Client users.  I'll work on purging the database this weekend.  The only thing I won't get rid of is the existing users, so everyone an still log in.

[2015-05-08 15:00] bsaiken commented on #958
@gsouvik @FWAJL

I don't think what Jeremie is suggesting will change anything, he is just moving the truncation code in the BaseController, so it could work anywhere.  And there are indeed may other contexts where this is going to be useful.

Still, let's make sure you and Jeremie are on the same page.  I'm not sure he saw my earlier comment.
You can work on other things until Jeremie chimes in a

[2015-05-08 16:02] bsaiken opened #966 "Error mapping Project Locations"
Create a new Project.  Do NOT add any Locations.
Click `Map > All Project's Locations`

The map centers on the coordinated 0,0.

The default map center should be the Facility coordinates.

[2015-05-08 16:51] bsaiken opened #967 "Error displaying Boundary when Facility name is changed"
Select a Project with a Boundary (or draw a boundary).  Then, edit the Facility name in Project Edit mode.  The boundary disappears.
Video uploaded to eLance.

[2015-05-08 17:17] WebDevJL commented on #958
@bsaiken @gsouvik

The update I made is independent of the way you trim the analyte name. In fact it is only about how to get and store the tooltips in memory. The trimming remains a separate function.

So you can both continue your work on deciding how to display / trim the analyte name the best way possible.

Thank you.

[2015-05-08 17:23] WebDevJL commented on #751
@bsaiken

We have built functions to delete projects and the rest from the website. Please use that instead of using the database access of hurray host.

What you did create data inconsistencies and bug that don't happen because a client is deleted when the project is from the site.

Let me know if you understand.

The users can't be deleted from the database using the website. Only via hurray hos

[2015-05-08 18:02] bsaiken opened #968 "Changes to Mapping - Task Locations view"
1) Add heading to sidebar to show Task Locations separated from Project Locations.
2) Exclude Project Locations that do not have coordinates.
3) Reduce the size of Project Location markers in the Task Location map view.

See images below:
![screen shot 2015-05-08 at 10 55 42 am](https://cloud.githubusercontent.com/assets/8228624/7542428/89382daa-f571-11e4-95c7-8c5e9938afb4.png)
![screen shot 2015-

[2015-05-08 18:15] bsaiken commented on #751
@FWAJL

I was testing a theory (I supposed I could have asked): if I delete the client user info, then go into Project edit mode and add Client info, would a user then get created?  I see that is not how it works.  Client user creation is a one-time thing.

Your deletion routines don't cover all the situations we now have.  For example: if I go into the admin UI I have the ability to delete a Clie

[2015-05-08 19:01] bsaiken commented on #140
@gsouvik @FWAJL
Souvik,
We are going to need this for other instances, so I upped the priority to "very high".  This is related to what we were talking about with Issue #958.
In the admin UI, we have the ability to upload the Field Analytes and Lab Analytes.  However, there would currently be no way to upload the abbreviation for each.  But, if you could upload the analytes as comma separated valu

[2015-05-08 19:01] gsouvik commented on #958
@WebDevJL @bsaiken
On a separate note just wanted to update that the page at `task/labMatrix` is broken, however `task/fieldMatrix` looks fine.

[2015-05-08 19:09] gsouvik commented on #140
@bsaiken
I was actually looking at #965 to fix. So do you want me to stop that and start with this. Alternatively I can finish that and then start this immediately next.

[2015-05-08 19:51] bsaiken commented on #965
@gsouvik
Both are important.  I'd work in the way that is most efficient for you.

[2015-05-08 19:55] bsaiken commented on #958
@gsouvik @FWAJL
Yes, I see that.  Is this on you or Jeremie?

[2015-05-08 20:02] gsouvik commented on #958
@bsaiken @FWAJL
This may be due to the refactored code, the view files were changed only for `task/fieldMatrix` or some variable mismatch. If you want me to fix it, I'll do so the next time I'll work on these according to issue priority.

[2015-05-08 20:51] gsouvik commented on #965
@bsaiken
This bug is now fixed.
The bug was - `analyte_manager.js` had a function whose signature was changed, but the call was not updated accordingly.
https://github.com/FWAJL/FieldWorkAssistantMVC/commit/1ddbc6fedd7299927772c9b3857a46529af1e5af

Please review and let me know. Thank you.

[2015-05-09 05:10] mehedee1 commented on #781
I see the status on hold. Should I work as per previous requirements?

[2015-05-09 05:11] bsaiken commented on #781
@mehedee1
Sorry about that.  Charge ahead!

[2015-05-09 19:52] FWAJL commented on #751
@bsaiken

The reset script in Database/Scripts is the database purge solution which removes all the data and add only the necessary admin and pm to start using the site.

Just catalog these requirements in your features to build someday in that new document you made.

[2015-05-09 20:00] FWAJL commented on #958
@bsaiken @gsouvik

This is fixed in the last commit on that branch.

[2015-05-09 22:43] bsaiken commented on #751
@FWAJL
Can we set up the reset so that it does not purge users?

[2015-05-09 22:47] bsaiken commented on #958
@FWAJL @gsouvik
Then I think this moves to code review.

[2015-05-09 23:27] bsaiken opened #969 "Changes to Mapping - Projects view"
Remove Sidebar icons (no sidebar functions for this view).
Add sidebar header text: "Facilities"

[2015-05-09 23:44] bsaiken opened #970 "Changes to Mapping - Selected Project view"
Use the newly created popup view `popup_current_project_info.php`
Remove the sidebar (this view only)
Make the google map menu always available in this view.  Include `Draw a shape` only - to be used to draw Facility boundaries.

[2015-05-10 03:07] bsaiken opened #971 "Changes to Mapping - Project Locations view"
1) Enable drag and drop of Locations without coordinates from the sidebar to the map area.  Update coordinates automatically (like we do now when we more Location markers on the map).
2) Like other pages, remove the sidebar menu and make the Google menu all the time.  On this map, enable the `Draw a line` and `Draw a shape` menu items.  Put the resulting values (area or distance) next to the featu

[2015-05-10 03:09] bsaiken opened #972 "Changes to Mapping - Legends and info windows"
Custom legend for each view and modify info windows to follow the same format as the forms pages.

[2015-05-10 03:16] bsaiken opened #973 "Modify the Active Task maps tab"
Related to Issue #726 (closed).
Add a legend glyphicon.
Use the same (new) legend for the Task Locations map page.
Add info windows.
Use the same (new) info window for the Task Locations page.
Release of Issue #972 is a prerequisite.

[2015-05-10 06:01] mehedee1 commented on #781
I have set up a sample task, Populate

I am not clear. Where is it?

The Locations are: Avery, BSA, Curry

These data will be inserted into pdf form? or file name will be with this name?

[2015-05-10 07:39] FWAJL commented on #751
@bsaiken

Yes, we can include all the users into the reset script.

--
Jérémie Litzler
On 10 May 2015 00:43, "bsaiken" <notifications@github.com> wrote:

[2015-05-10 15:41] bsaiken commented on #781
@mehedee1
I'm not sure I understand this question.  I found this Task, "Populate", straight away.
I made a copy of this Task, `Populate-demo` and activated it.
Now I have three forms:
![screen shot 2015-05-10 at 8 35 58 am](https://cloud.githubusercontent.com/assets/8228624/7554956/f0141e38-f6ef-11e4-8f11-d4acd88da111.png)

The Locations are supposed to be inserted into `Well ID` on the each form:

[2015-05-10 15:43] bsaiken commented on #751
@FWAJL
Super.  Let me know when it is ready and I will do a reset and re-enter only the Project data I want.

[2015-05-10 16:09] bsaiken opened #974 "Changes to Mapping - Active Task view"
Take a look at the map legend.  Use the map legend view module: `popup_maplegend_active_task.php`.

The color of the marker depends on the work being performed.  All Task Locations start out red (not started).  So the color of the marker will be:
 * Red - not started (when the Task is first activated).
 * Yellow - in process.  This will be the condition after the first time the Field Technician do

[2015-05-11 04:50] FWAJL commented on #751
@bsaiken

Here it is: https://github.com/FWAJL/FieldWorkAssistantMVC/blob/36b21df0f1c76bcbdea1d84a4543e23a4f6c5f91/Database/Scripts/baiken_fwm_1_db_reset.sql

Thank you.

[2015-05-11 04:52] FWAJL commented on #810
@bsaiken

Status?

[2015-05-11 05:21] FWAJL commented on #803
@damirius

The code looks ok but I would have just one request for the next code you write.

1. can you make sure that a controller method doesn't query data from the directly from the database?
2. can you make sure that a controller method doesn't query data from the directly from the session when it needs processing (taking a list or value without processing is fine though)?
3. can you make smal

[2015-05-11 05:23] FWAJL commented on #804
@bsaiken

This is requiring issue #850. On hold for now.

[2015-05-11 10:17] damirius commented on #803
@FWAJL

I have one problem with discussions and sessions. In most cases in our code when we for example add new tasks or locations as PM, they are directly connected to that user. Only that user can see the tasks/locations, so we use sessions to store read data from the db and we update those session arrays with data when we update or delete that data easily. For discussion threads it's a little d

[2015-05-11 11:19] FWAJL commented on #803
@damirius

In the example of Analytes, we could lock a resource when being edited. That's the first and probably best solution I see. Also we would need to add timestamp in every table to check if DB refresh is necessary.
However, we would need to think about the best implementation and I don't have time for that.

In the example of discussion, let's just refresh the data all the time. However, si

[2015-05-11 11:35] damirius commented on #803
@FWAJL

I understand, but how much do we get by that? We still query the db every time we need to show messages, just instead of fetching all rows we first check for the latest timestamp then if it is bigger value than timestamp in the session we refresh the data. That's two queries, we can also do it with one where we fetch always all data that have timestamp set to bigger value than the one in s

[2015-05-11 11:56] FWAJL commented on #803
That's a good solution! You can query the DB for the new data only since you know the last timestamp from the session. Then you update the session data.
I like that. If you want, do it as it will be more efficient for sure going forward.

[2015-05-11 12:10] gsouvik commented on #140
@bsaiken @FWAJL
From your last comment:

May be you wanted this feature for Analytes, and NOT locations? But this issue is for Locations, that's why I just wanted to confirm before I started, Thank you.

[2015-05-11 13:51] mehedee1 commented on #781
I was logging with test. That is why I could not see. with pdf log in it is OK.

Now location name is inserted into pdf form. You can see. I am working on viewing pdf form in all mode.

[2015-05-11 16:04] mehedee1 commented on #781
now you can view pdf on two pages:
1. /task/forms
2./activetask/forms?task_id=70
If need such view option on any other pages, please specify.

[2015-05-11 16:27] bsaiken commented on #140
@gsouvik @FWAJL
I want this for Analytes AND Locations.  Since it is a similar process (uploading comma separated values) I mentioned it here because I thought it might affect the way you wrote the code.

[2015-05-11 16:38] bsaiken commented on #781
@mehedee1
I just ran a test and I am not able to view the pdf files.
Also, I downloaded and looked at the file that was created, and the Well ID field was not populated.
![screen shot 2015-05-11 at 9 36 56 am](https://cloud.githubusercontent.com/assets/8228624/7569986/76494254-f7c1-11e4-92e9-3947bbf475fb.png)

[2015-05-11 16:42] bsaiken commented on #972
@FWAJL
Can you release this so we can move forward with Issue #973?

[2015-05-11 16:49] mehedee1 commented on #781
I am not sure we are on the same page. So I have created screen video for you.
http://screencast.com/t/oUhGWTXtsNUr

[2015-05-11 16:51] WebDevJL commented on #972
@bsaiken

This is merged on all branches. Will release when I get the chance.

Thank you.

[2015-05-11 16:57] bsaiken commented on #972
@FWAJL
Oh, of course that's good enough.  Thanks!

[2015-05-11 20:07] bsaiken commented on #781
@mehedee1
This is working for me now.  I saw from the video that you scrolled to Lab Analytes > Upload List before you viewed the pdf files.  When I did that, it started working.  Is this a required step in the process?  Because Lab Analytes have nothing to do with the form population.

[2015-05-11 20:19] bsaiken opened #984 "Prevent duplicate forms on Task Activation"
@gsouvik @FWAJL

Jeremie, I want your opinion on my proposed approach.

Activating a Task copies the master or user forms.  If the task is deactivated, then reactivated, duplicate forms are created.  This will happen every time the Task is activated and re-activated.

We need to add code so that this Task Activation function will only happen once, no matter how many times the Task is activated.  T

[2015-05-11 20:26] #784 closed

[2015-05-11 20:31] bsaiken commented on #803
@damirius @FWAJL
I was reading your discussions and I see that Damir wrote
`Only thing that I can do is to fetch discussion data from the db again to see if there are any new messages.`
Why wouldn't Issue #807 resolve this?

[2015-05-12 08:46] mehedee1 commented on #781
On two places you can see pdf form.
1. /task/forms
task > list all > inactive task > edit > forms > now you can view master form

2./activetask/forms?task_id=70
task > list all > active task > check task status > forms > Forms used for this task > now you can view copied location pdf form.

If any where you want to view pdf form, please let me know. I will apply this function on that page.
If not

[2015-05-12 11:00] FWAJL commented on #984
@bsaiken @gsouvik

Do you have another use case where we would need this? Please give examples if possible.

Your proposition is a possible solution indeed. So if you deactivate the task, the "activated" flag remains set to 1 so that we only don't create the forms twice?

[2015-05-12 15:59] bsaiken commented on #984
@gsouvik @FWAJL

This is correct, so let's move forward with this implementation.  Jeremie, please made the database change and give us an update script.  I have not doe a database reset yet, so give me a new database reset script as well.

As far as an example of other use cases, there are several, but I do not think we will get to them by the end of May.  For example, when a Task is activated fo

[2015-05-12 17:48] mehedee1 commented on #781
What I have done:
1. I have changed script as new data table:
Web/includes/location_copy.php
Web/js/other/interact_pdf.js

2. To view master pdf form
Web/includes/masterform_link.php
js/app/controller/task_form,js (view callback)

3. To view copied location form
Web/includes/active_task_form_link.php
js/app/controller/active_task.js (view callback)

[2015-05-12 17:49] damirius commented on #806
@FWAJL @bsaiken

I've pushed new commit which contains chatbox page for SPs, it's on the feature_thread branch.
Like I mentioned, we don't have landing page for SPs, as the matter of fact we don't have any pages for SPs. In any case I've added serviceprovider/discussion page which SPs will use for communicating with PMs.
Here is the video: https://drive.google.com/file/d/0B7Laiv0PjSvDNWs5YVI2ZklFc

[2015-05-12 18:01] damirius commented on #803
@bsaiken @FWAJL

The thing is that we currently read most of the stuff from database only once and store it in session. After that, when we need that data again we read it from the session. That's OK for data that only one user can edit.
For example we log in as PM and we access technician list. Controller calls some methods to check if we already read technician list before. Since we didn't, cont

[2015-05-12 18:44] bsaiken commented on #803
@damirius @FWAJL
We created Issue #807 because we knew this would be a problem.  So why can't the answer to Issue #807 be that the function called by the "button" is to re-initialize the session arrays and refresh the page?  This would be the solution for PMs (only).

For other users, an email notice would be required.  Clients and SPs would not normally be logged in to the site, so they would oth

[2015-05-12 19:57] bsaiken commented on #806
@damirius @FWAJL
I ran into several problems, some may be bugs.
I added a new Service Provider, and `user.user_value` was the same as a previous user.  See `user_value=53` in the attached.
![screen shot 2015-05-12 at 12 44 01 pm](https://cloud.githubusercontent.com/assets/8228624/7596706/9858ec94-f8a4-11e4-8131-00c18ebc7b10.png)

The second problem is that when I add a new Service Provider, the `u

[2015-05-12 20:07] bsaiken commented on #806
@damirius @FWAJL

I have an alternate idea for this.  Since the SP will necessarily be getting an email every time there is a new message:  Include a link in the email that includes, along with the url, their username, password, and discussion_id.  Then they are automatically logged in and go to the correct discussion.  This info is not that sensitive, and they would already be somewhat protected

[2015-05-12 20:11] damirius commented on #806
@bsaiken @FWAJL

We need role 6 for services, role 4 is a visitor role, currently not used. So we need to add new `user_role` record, set `user_role_id` to 6 and `user_role_desc` to 'Service'. That said we need to update baiken_fwm_1_db_reset.sql file which we use for db reset.

Also just changing redirect in auth.js wont gonna cut it since we have the `role` attribute set in `routes.xml` for each

[2015-05-12 20:15] bsaiken commented on #781
@mehedee1
I just tested this and I got the new forms, and I see they are populated, and I can view them.
However, I am seeing some "forms" that do not belong there, the `.jpg` files.  Where did they come from?
![screen shot 2015-05-12 at 1 15 27 pm](https://cloud.githubusercontent.com/assets/8228624/7597527/fad6a29a-f8a8-11e4-833c-af21bb994ad8.png)

[2015-05-12 20:18] bsaiken commented on #806
@damirius @FWAJL
Oh yes, I forgot to change the routes.xml file!
There is still a problem that needs fixing - when I add a new SP, the code currently sets the `user_role_id` to 4.  Will the changes you suggested fix that?

[2015-05-12 20:29] bsaiken commented on #806
@damirius @FWAJL
OK - messages are working great, but I am unable to attach files by either party.

[2015-05-12 20:40] damirius commented on #806
@bsaiken @FWAJL

You can do a pull on feature_thread branch. I've added option to login through url for serviceprovider/discussion.

You can visit url directly, it should look something like this: serviceprovider/discussion?discussion_id=6&username=wqe&password=a94a8fe5ccb19ba61c4c0873d391e987982fbbd3g496lJL683
password is encrypted password from the db, username is user login and discussion id is

[2015-05-12 20:52] damirius commented on #806
@bsaiken @FWAJL

Also I forgot to mention service creation script. We should change that so that new SPs are set to proper role. It doesn't matter now, since serviceprovider/discussion can be accessed by anyone now, but it would be great to set it up properly if we need some pages restricted only to SPs.

[2015-05-12 21:04] bsaiken commented on #806
@damirius
I tried the direct url, but I had to enter it twice for some reason.
Give me some time to look at the upload Issue.
Or, this may help:
![screen shot 2015-05-12 at 2 02 27 pm](https://cloud.githubusercontent.com/assets/8228624/7598528/b1448c6c-f8af-11e4-926c-20eb4cd1f293.png)
![screen shot 2015-05-12 at 2 02 42 pm](https://cloud.githubusercontent.com/assets/8228624/7598532/b8e71fb6-f8af-1

[2015-05-12 21:08] damirius commented on #806
@bsaiken

OK, so file is being uploaded, but there is some problem with generation of absolute path which should be shown in the message. I'll take a look into it.

[2015-05-13 04:15] FWAJL commented on #984
@bsaiken @gsouvik

Code committed on devsupport branch for Souvik.

As for the DB reset script, it is unchanged from last time and is here:

[2015-05-13 04:16] bsaiken commented on #806
@damirius
I just noticed another little bug - well, I guess it's not a bug just yet.
The menu item `Service Provider > Discussions`, meant for the Service Provider landing page, is available on the PM UI, and of course it should not be there.
![screen shot 2015-05-12 at 9 14 10 pm](https://cloud.githubusercontent.com/assets/8228624/7603669/2afd1164-f8ec-11e4-8021-e6bbffa4175e.png)

[2015-05-13 04:27] bsaiken commented on #806
@damirius
Per my previous comment - if the SP is only going to see the communications page, there is no need for a left menu, so we should hide it until (and if) we have at least two menu items.

I tested further with the database reset.  I am having the same problem.  I did confirm that the attached files are getting saved in the /Web/uploads/discussion folder.

[2015-05-13 04:31] FWAJL commented on #803
@damirius

Sorry Damir but there is a bug when a PM tried to initiate a new discussion a person (FT or SP). The bug only happens the first time you select to the person and click the arrow. The second time it seems to work fine.

See my screenshot for details:
![screen shot 2015-05-13 at 06 31 32](https://cloud.githubusercontent.com/assets/7524388/7603800/b84cec54-f939-11e4-8a09-c6e3197d4f41.png)

[2015-05-13 04:47] bsaiken commented on #803
@damirius @FWAJL
I was monitoring and did some additional testing.  I was able to re-create the error, but only on the first login attempt with a new task, new FT, and new SP.  Every time after that, there was no error.  I even tried logging out and clearing the cache.  Even that did not re-create the error.

![screen shot 2015-05-12 at 9 44 13 pm](https://cloud.githubusercontent.com/assets/822862

[2015-05-13 06:24] FWAJL commented on #806
@bsaiken @damirius

Is it a must-do for the end of May? there are many optimizations that we need to do for the Left Menu and that could be done later. Please create an issue if so.

Thank you.

[2015-05-13 10:35] damirius commented on #803
@bsaiken @FWAJL

This should be fixed now.

[2015-05-13 10:42] mehedee1 commented on #781
I do not see on  Populate Demo 1. But remains on  Populate Demo 2.

My script just copy files files and open related pdf form. It will better to ask your lead developer why those here. I think some extra data updated in database. That is why those are here.

[2015-05-13 10:55] damirius commented on #806
@bsaiken @FWAJL

I've added other function which should help us create full path to attached files. Can you tell me if attachments work now and if the full path is formatted correctly?
Also I've removed the serviceprovider menu.

[2015-05-13 11:29] FWAJL commented on #806
@damirius @bsaiken

I would add that the attachments should be clickable links. Otherwise, it works for both source of attachments. Good job! :+1:

[2015-05-13 11:34] #845 closed

[2015-05-13 15:42] bsaiken commented on #803
@damirius @FWAJL
A few loose ends to tie up, but this is working now.  thanks

[2015-05-13 15:46] bsaiken commented on #806
@FWAJL @damirius

Attachments are handled in Issue #808.

[2015-05-13 15:47] #751 closed

[2015-05-13 15:53] #810 closed

[2015-05-13 16:14] FWAJL opened #985 "Redirector (or one time link) for automatic action"
See https://github.com/FWAJL/FieldWorkAssistantMVC/issues/806#issuecomment-100138534

[2015-05-13 16:15] FWAJL commented on #806
@bsaiken @damirius

The auto login is not a bad idea except this clear password. A solution would be a redirector url that works like this:

- The SP goes here: http://dev.fieldworkmanager.com/rd?guid=azhgf13v13bv213b123
- The redirector url goes here: http://dev.fieldworkmanager.com/serviceprovider/discussion?discussion_id=6&username=wqe&password=a94a8fe5ccb19ba61c4c0873d391e987982fbbd3g496lJL683

[2015-05-13 16:23] FWAJL commented on #585
A autocomplete example I've done for another project:
[code]

[2015-05-13 16:50] FWAJL opened #986 "Enable new roles for Service and Client"
- Add the roles id 6 and 7 to the database.
- Update the classes \Library\Enums\UserRoleType and \Library\Enums\UserRole appropriately.
- Update UserHelper::GetTypeFromRoleId method to use the new roles

[2015-05-13 18:15] FWAJL commented on #985
Enable the link to be unique so that only one hit is allowed.

[2015-05-13 22:49] bsaiken commented on #986
@FWAJL
Easy enough - I'll take this on.

[2015-05-13 22:53] bsaiken commented on #806
@damirius @FWAJL
Just a note about the security.  It is important, but not for Service Provides - we will simply limit the SP access to pages that do not require security.
Clients will need strong security.  So, when we add security for Clients, we have the option of including it for SPs.
The auto-login has been created as Issue #985, but not yet assigned.

[2015-05-14 00:00] bsaiken commented on #986
@FWAJL
I made the necessary changes.
I also reset the redirect in auth.js for users with no views to: /logout.
The redirect for SPs is still set to serviceprovider/discussion for now, even though that will need to be changed, right?

[2015-05-14 00:18] bsaiken commented on #781
@mehedee1
Why have you added a copy function?  The forms should already be being copied.

[2015-05-14 02:55] mehedee1 commented on #781
When I was developing view function, I need copied file name. I do not see copy function is working.
Also during copy, location name is inserted into fields. That is why I updated.

[2015-05-14 03:49] bsaiken commented on #781
@mehedee1

That is odd.  I will look into it.  Please keep you work save and I will re-upload the site with the copy function already working.

[2015-05-14 12:49] damirius commented on #807
@bsaiken @FWAJL

I've added refresh button to serviceprovider/discussion page and to communications tab of active tasks.
Also discussion box is refreshing every 5 seconds. You can change it from config.js which is located in js/app/services.
Other than that I've added discussion thread into session, calling `getDiscussionThread` method add all messages into session if session thread is empty or it

[2015-05-14 14:36] gsouvik commented on #140
@bsaiken @FWAJL
As described in the message thread if we enter data in the following format into the screen loation>uploadList:
Loc 1	22.5667	88.3667
Loc 2	18.9751	72.8258
where the separator is Tab (typically when copied from spreadsheet applications line Numbers or Excel), our application now splits it and treats the columns as location_name, location_lat and location_long.

I'm in process of im

[2015-05-14 15:13] damirius commented on #808
@bsaiken @FWAJL

URLs in chatbox should be hyperlinked now, note that all 'a' tags have `display:block` set in css for some reason. Also links are black just like the rest of the text.

[2015-05-14 15:44] bsaiken commented on #807
@damirius
Works great - I have one question.
Is the SP message suppose to auto-refresh?

[2015-05-14 15:46] bsaiken commented on #808
@damirius
Works great.  One small change.  Shouldn't the attachment hyperlink text that is displayed be the Title (if the user entered one)?

[2015-05-14 15:50] bsaiken commented on #140
@gsouvik
I did an initial test - amazing!  Would this work if copied from a WORD table?

[2015-05-14 18:59] damirius commented on #807
@bsaiken

You mean chatbox on serviceprovider/discussion page? It should.

[2015-05-14 19:03] damirius commented on #808
@bsaiken

We are sending full path url through the message. Maybe we can add title on the end of url after hashtag, for example we have this url: http://localhost/FieldWorkAssistantMVC/Web/uploads/discussion/6_15cbbbdf-017c-4ee6-b1a6-991f00f074bd.jpg
If we add that picture with title url becomes this, http://localhost/FieldWorkAssistantMVC/Web/uploads/discussion/6_15cbbbdf-017c-4ee6-b1a6-991f00f07

[2015-05-14 19:36] bsaiken commented on #807
@damirius
Well, it does not auto-refresh.  It may be a mobile Issue, so we will deal with it then.  I just needed to know if you specifically had it turned off for the SPs.

[2015-05-14 19:47] #919 closed

[2015-05-14 19:54] gsouvik commented on #140
@bsaiken
I tested with a Word table and it worked there too. Currently we are separating the columns with "Tab". If you wish we may include "multiple space" and "comma" as separators too.

[2015-05-14 20:15] bsaiken commented on #140
@gsouvik
I tried it with a table from Pages and it did not work.  We do not need it to work in every situation - we can tell the users what software will work.
Did you mean for this to go to code review, or are you waiting on the analyte section?

[2015-05-14 20:22] gsouvik commented on #140
@bsaiken
We may send this to code review now or wait till the analyte section is up as well. Both are fine. I didn't change the labels as I am still working on the analyte section.

[2015-05-14 21:13] bsaiken commented on #140
@gsouvik
Since you're part way done, finish the analytes so we can finish this Issue.  Then check your list, because I modified your priorities.

[2015-05-15 04:08] mehedee1 commented on #781
OK, I have saved.

[2015-05-15 11:01] damirius commented on #966
@bsaiken

This should be fixed on branch feature_damir.

[2015-05-15 11:21] damirius commented on #967
@bsaiken

This should be fixed on feature_damir branch. Here is the video: https://drive.google.com/file/d/0B7Laiv0PjSvDUXJTT0haaGxQalE/view?usp=sharing

@FWAJL
I see that you have added EditUser method for client edit, I assume to add generated email address if it isn't set. Only problem is that method isn't finished and it isn't properly called from the client/edit method so it breaks.

[2015-05-15 12:36] FWAJL commented on #967
@damirius

You can finish the implementation if you can..

[2015-05-15 13:08] damirius commented on #968
@bsaiken @FWAJL

You can check out new task map. Headings are added to the sidebar, controls are hidden. Icons for project locations are smaller than icons for task locations. Ruler controls are shown all the time and info window will popup with distance/area measurements when overlay is complete.
Also Project Locations with no coordinates are hidden and Task Locations with no coordinates have the

[2015-05-15 13:13] damirius commented on #969
@bsaiken

On feature_damir branch.

[2015-05-15 13:20] damirius commented on #970
@bsaiken

Removed controls. Boundary can be edited from the popup by clicking 'edit boundary'.

[2015-05-15 13:39] gsouvik commented on #140
@bsaiken @FWAJL
As per our discussion in #958 I've added a column `analyte_abbrev` and the lab/field analytes could now be uploaded in bulk similar to the locations. Included database script in this commit which adds the columns.

[2015-05-15 14:57] bsaiken commented on #967
@damirius
I see from your video that this works, but i am unable to test because my local machine database was reset and I don't have any facilities with boundaries.  The tool to draw boundaries is disabled (I assume this is temporary pending other Issue completion).  So I will wait to complete the function review.

Per Jeremie's comment - can you fix the EditUser method?  I will make a new Issue.

[2015-05-15 16:35] FWAJL commented on #986
@bsaiken

Yes to your question.

[2015-05-15 17:05] bsaiken commented on #140
@gsouvik @FWAJL
My comment from May 8 got lost in the mix.  I meant for this to be used in the admin UI for Common Field and Lab Analytes.

I also have a question.  If you add new columns to the database, don't we need to modify the Dao classes?

[2015-05-15 18:21] gsouvik commented on #140
@bsaiken @FWAJL
Can you please let me know how I may test the admin end for the common field analytes. So this is not required for the `labanalyte/uploadList` and `analyte/uploadList` screens?

In fact I've changed the DAO classes. For example if you look at https://github.com/FWAJL/FieldWorkAssistantMVC/blob/eb96d31f089e313e35566c9dd7aaa083d7fc0748/Applications/PMTool/Models/Dao/Field_analyte.php

[2015-05-15 19:09] bsaiken commented on #140
@gsouvik
We have the admin UI up and running.  You can access it using username:password:
`admintest:1111`

That is correct, but since you already did it, we won't take it away.

I am glad you are going to look at the Admin UI because I have some other important things I want done there, but let's finish this first.  I have some very high priority items for you (#974 and #984), then we can come ba

[2015-05-15 19:29] gsouvik commented on #140
@bsaiken
Out of #974 and #984 the later has high priority label set to it. So I'm taking that up now and later return to the analyte (adding `analyte_abbrev` to common field and lab analytes) and admin related other issues.

[2015-05-15 19:44] bsaiken commented on #974
@damirius
I see your Issue list is getting light.  Please take a look at my description for the `Mobile Site Integration` Milestone.  https://github.com/FWAJL/FieldWorkAssistantMVC/milestones/21/edit
It's an email I sent to Jeremie about how the Mobile UI will get done, and you are mentioned several times, so you can see what's coming up.

[2015-05-15 19:49] bsaiken commented on #140
@gsouvik
Sorry, that was a typo.  #974 is assigned to Damir.  I meant #973.  Still, doing #984 first is a good idea.

[2015-05-16 12:48] gsouvik commented on #984
@bsaiken @FWAJL
When tasks are activated, the column `task_activated` is getting marked with 1 and it stays there forever. Depending on that column's data, if it is not 1, we are executing the location specific PDF generation process.

In other words location specific PDFs are only generated when the task is activated first time. Any subsequent activation/deactivation doesn't initiate any form cop

[2015-05-16 15:59] bsaiken commented on #984
@gsouvik
Try to Add a new Task and see if you have a bug.

[2015-05-18 12:04] damirius commented on #971
@bsaiken @FWAJL

You can check out the video with new drag and drop functionality here: https://drive.google.com/file/d/0B7Laiv0PjSvDemgwUmxlR3BXbXM/view?usp=sharing
Along with few other stuff.
Keep in mind that in video sidebar for Current Project map isn't hidden, but it's hidden in the code.

[2015-05-18 12:56] gsouvik commented on #984
@bsaiken @FWAJL
The Add task feature had a bug. This was due to the fact, while adding the "dataPost" variable was not having `task_activated` column in it explicitly defined. Strange, because on the database end a default is set. I've kept a checking and now setting it to 0 if nothing is found, and that solved the issue.

[2015-05-18 14:38] bsaiken commented on #984
@gsouvik @FWAJL
That fixes the Add task feature, but I am still seeing some major bugs.  The copy forms function is not working.  It is working on the live site, but even the DEV branch is corrupted.  Can you try promoting a Task to Active and show me that you are getting the correct forms copied?

[2015-05-18 15:12] bsaiken commented on #971
@damirius
I am getting some bizarre behaviors.  Did you make any changes to the database?

[2015-05-18 15:20] gsouvik commented on #984
@bsaiken @FWAJL
Ok, let me take up one example from my local tasks - "Monitoring"

Step 1:
The task is inactive

![1](https://cloud.githubusercontent.com/assets/2292482/7683513/44c32a2e-fd9d-11e4-99eb-9e76350b32ec.png)

Step 2:
Editing it shows it's forms, total 3 of those, one user form and couple of master form:

![2](https://cloud.githubusercontent.com/assets/2292482/7683575/9c244ed8-fd9d-11e4-

[2015-05-18 15:24] damirius commented on #971
@bsaiken

No I didn't make any changes to the db. Can you provide more details about those behaviors?

[2015-05-18 15:28] bsaiken commented on #971
@damirius
There are so many that something must be different about our machines.  I uploaded a video to eLance showing that the marker does not land where I drop it.

[2015-05-18 15:35] gsouvik commented on #973
@bsaiken @FWAJL
Status of #972 is set to "to release", but for this task to be started, the prerequisite is that issue must be "released". So should I start with this, do I have all code/modules available in my branch.

[2015-05-18 15:36] bsaiken commented on #971
@damirius
Here are some other Issues I am seeing:
In this Project's Locations map, There is a Location with coordinates, but the auto-zoom still goes to the Facility Boundary extents.  As long as there is at least one Location with coordinates, the centering should be to the Location(s) extents.
![screen shot 2015-05-18 at 8 33 25 am](https://cloud.githubusercontent.com/assets/8228624/7684170/e877

[2015-05-18 15:39] bsaiken commented on #971
@damirius
In the All Project's Loctions map, we should remove the js for clicking in the boundary area.  If we need to edit a boundary, let's do it only from the Selected Project map view.
It does not make sense in this view.  For example, one of the info window options is "Confirm relocated marker position", but the Project marker does not appear in the Project's Locations view, so this is confus

[2015-05-18 15:47] bsaiken commented on #984
@gsouvik
This is probably a database Issue then.  Let me look into it.

[2015-05-18 15:51] bsaiken commented on #973
@gsouvik @FWAJL
Given Jeremie's status (preoccupied with new twins) we can't wait for the release.  Issue #972 is on the DEV branch and should be updated on your branch, so you should be OK to go.

[2015-05-18 16:05] damirius commented on #971
@bsaiken

I've changed fitZoom to fit markers even if boundary is set. Also I've removed infowindow for boundary on project locations and task locations maps.
I can't open the video on elance that you've sent me. I think they have some problems with their servers currently, couldn't open messages for few minutes either.

[2015-05-18 17:01] bsaiken commented on #971
@damirius
The marker is not dropping where I put it.  It flies back toward the sidebar and eventually lands, but the place it lands seems to be random.

[2015-05-18 17:03] bsaiken commented on #984
@gsouvik
I think it is the database.  Will you please send me the script for the database you are using.

[2015-05-18 17:06] damirius commented on #971
@bsaiken

This seems like some bug with draggable plugin of jquery, since it should register on mouse up. I'll try to recreate the bug

[2015-05-18 17:14] bsaiken commented on #971
@damirius
I had some other thoughts.  Perhaps rather than drag and drop, it can be click and drop, that would likely eliminate the flyback.
Also, let's put the Latitude and Longitude values back into the info windows for Locations so they can be viewed and edited in the info window.
When a Location has no coordinates, the info window currently does not pop up - that sort of gave me the idea for th

[2015-05-18 17:37] gsouvik commented on #984
@bsaiken
Have you applied this script to your database?
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_devsupport/Database/Scripts/Updates/2015-05-13.sql

[2015-05-18 17:38] damirius commented on #971
@bsaiken

Well we had something like that, you had to click on marker control button then on marker and then on map. So instead of that we open the infowindow and show "place onto the map" link right?

[2015-05-18 18:04] bsaiken commented on #971
@damirius
Yes, I remember, but we got rid of the marker control button.  So antoher way to think of it is we put the "marker control button" in the info window.

[2015-05-18 18:06] bsaiken commented on #984
@gsouvik @FWAJL
I am having no luck at all.  Can you give me the script for your entire database?

[2015-05-18 18:21] damirius commented on #971
@bsaiken

You can see the changes on feature_damir branch. You can click now on marker rows in the sidebar which doesn't contain any coordinates, infowindow will popup with the option to place the marker on the map. Click on it, infowindow will be hidden and you can click on the map to place the marker. You can click on the marker row in the sidebar again to check updated infowindow, with zoom lin

[2015-05-18 19:27] gsouvik commented on #984
@bsaiken
Sent my local db through Elance.

[2015-05-18 20:45] bsaiken commented on #971
@damirius
Every time I click it looks like the marker is dropped.  See the video.

https://www.dropbox.com/s/zbqfz594k3a1kkw/click%20and%20drop.mov?dl=0

There is really only one marker there.  If I refresh the page, I only see one.

[2015-05-18 20:57] bsaiken commented on #984
@gsouvik @FWAJL

OK - this is working.  It isn't just the database.  There is a database mismatch between uploaded (master) files, which reside in a folder, and the `document` database table.  Every time, I need to start from scratch to test.

[2015-05-18 21:04] damirius commented on #971
@bsaiken

Should be fixed now in the new commit

[2015-05-18 21:11] bsaiken commented on #971
@damirius
Yes, this is working, so we can apply to the Task Locations map as well.

[2015-05-19 13:00] gsouvik commented on #973
@bsaiken @FWAJL
I've added the legend popup which was used on `map/taskLocations`. the info window is a shared module and it was already in use in the active task tab. I've also re-used the relevant tooltips which was available on the `map/taskLocations`. Please review and let me know if the integration looks good.
Thank you.

[2015-05-19 13:34] bsaiken commented on #973
@gsouvik @FWAJL @damirius
Souvik,
With Jeremie temporarily unavailable to merge branches, please commit these changes to the feature_damir branch.  He recently did a lot of mapping upgrades, so if you work from his branch, the mapping working will be better integrated.

[2015-05-19 13:57] bsaiken commented on #640
@damirius @FWAJL @gsouvik

We don't need that many pages.  In the header, we could have the name of the Task (breadcrumb) that the FT is working on.  If they have more than one, and they haven't decided, let's add a popup Prompt box asking them to select one - that's obviously well suited to Souvik.  The FT can't work on more than one Task at once, so forcing them to select to start is fine.  Of c

[2015-05-19 14:08] damirius commented on #971
@bsaiken

I've added infowindow to task locations without coordinates, you can add them to the map now just like on project locations map.

[2015-05-19 14:10] damirius commented on #973
@gsouvik @bsaiken

We can perform the merge from mapping and from devsupport branches to dev and then merge that back into feature branches, it's not a problem.

[2015-05-19 14:15] gsouvik commented on #973
@damirius @bsaiken
Yes that sounds good, so I'll sync with the dev branch, please merge your work on dev when you have a chance and let me know, I'll pull, merge and commit back these changes.

[2015-05-19 14:23] damirius commented on #973
@gsouvik @bsaiken

I've merged both feature_damir and feature_devsupport into dev branch. You can merge dev now into feature_devsupport when you are ready.

Thanks

[2015-05-19 14:43] bsaiken commented on #973
@damirius @gsouvik
Perfect.  We can continue to work on the feature branches.  Once the new code get's past the `function review`, then merge them to the DEV branch.  That's what Jeremie had been doing, but with the extra step of checking the code (which is less necessary now since you both are masters of our code style).  I need you both to forge ahead coding, so I will continue to do unit tests

[2015-05-19 15:33] bsaiken commented on #971
@damirius
Add lat/long and description to the info window.

I reviewed this on the dev branch, so if it is already done, ignore this comment and remove the function review.
Thanks

[2015-05-19 19:41] damirius commented on #971
@bsaiken

It's on feature_damir branch. It wasn't mentioned that we need description and lat/long there, I think that we intentionally removed it from task info windows when we made them.

[2015-05-19 20:06] bsaiken commented on #971
@damirius
I see it, thanks.

[2015-05-19 20:11] bsaiken commented on #974
@damirius
So, the info window for the active task view is the same as the Task View (see Issue #971), EXCEPT that we must remove the link "Remove from Task" or "Add to Task" (depending on if it is a Task location or Project Location).  Once it is an active Task it is "static", we can assign or unassigned Task Locations any more.

You could assign this over to Souvik if you want.

[2015-05-19 20:21] damirius commented on #974
@bsaiken

Already working on it. Thanks for those additional details, appreciate it.

[2015-05-19 20:32] gsouvik commented on #973
@bsaiken @damirius
I've merged dev into my local feature_devsupport so my branch has all the updated code now. I'll keep merging to dev and update you, as I complete other issues.
Thanks.

[2015-05-19 21:06] damirius commented on #974
@bsaiken

One thing to think about. We currently show both active and inactive tasks, or rather should I say started and not yet started tasks in Map->Task Locations, it doesn't make a difference. If someone goes to Tasks->List All, chooses task from the list and clicks on 'check status' and then goes there to the map (activetask/map) he will see the map with color coded markers and without abilit

[2015-05-19 21:11] damirius commented on #974
@bsaiken

Color coding is done for the active task maps, along with infowindows.
Before doing anything please update the DB, you can find sql file in the usual directory named 2015-05-19.sql
Since I had to add task_location_status field like you suggested.
Everything is on feature_damir branch.

[2015-05-19 21:47] bsaiken commented on #974
@damirius
Even though it's the same Task, the behavior for Active Tasks and Inactive Tasks is different.  In inactive mode, we are constructing, or modifying the Task.  So, it is OK to assign and un-assign Locations.  Once the Task is active, the we will not be able to assign or un-assign Locations.  So if we just get rid of the link in the info window, even thought the js function exists, there w

[2015-05-20 01:28] damirius commented on #974
@bsaiken

I understand that. I wanted to say that old map Map->Task locations (map/taskLocations), is still showing remove/add to task links since everything mentioned here is done for the activetask/map which can be accessed only through 'check status' page which is available for the active tasks anyway. So that said PM, can still access old map and remove/add locations to the task.
I understand

[2015-05-20 15:26] gsouvik commented on #766
@bsaiken
I was working with this task and had a question, do you want all the existing relations of the task with other entities which are available in the tabs to be copied into the new task?
![screen shot 2015-05-20 at 8 46 40 pm](https://cloud.githubusercontent.com/assets/2292482/7729296/a400a3d2-ff31-11e4-92e3-6f39ba9b37d1.png)

In other words, location, forms, technicians, analyte matrix, coc

[2015-05-20 15:48] bsaiken commented on #766
@gsouvik
All information should be copied, not just the first screen.  Some Tasks have null data, for example, tasks with no field analytes (and no field matrix), so there is nothing to copy.  But, if there were, it should be copied.

[2015-05-20 15:52] bsaiken commented on #892
@gsouvik
Please do #893 at the same time you do this Issue - since they are related.

[2015-05-20 15:58] bsaiken commented on #974
@damirius
Little things like this I can fix.  Since we are in a time crunch, don't be afraid to assign me more trivial tasks, especially if they are trivial and time consuming.

[2015-05-20 16:04] bsaiken opened #992 "Unit Testing - DEV branch"
@damirius
Damir,
I am going to put merge conflicts here.  I am testing the DEV branch of FieldWorkAssistantMVC.  Let me know if I should test another branch.

 * I tried editing a project and I got this:

![screen shot 2015-05-20 at 9 01 11 am](https://cloud.githubusercontent.com/assets/8228624/7730429/2a807bac-fecf-11e4-9b4e-82c418617a29.png)

 * There are a number of broken links.  Few of the le

[2015-05-20 16:04] gsouvik commented on #892
@bsaiken
Ok, I shall take this up after I complete #766. While doing so shall complete #893 as well.

[2015-05-21 11:00] damirius commented on #992
@bsaiken

This should be fixed. There were some buttons added to the facility form but no keys were set in project resource file.

[2015-05-21 14:28] damirius commented on #640
@bsaiken @gsouvik

OK so first steps are always the hardest :)
Take a look at feature_mobile branch. I've added mobile/map route. It should be the same as activetask/map page, just note that you can see the tasks which are not yet activated. I don't know if we want it this way or not. Also currently I'm fetching last task assigned to that FT, we should change when @gsouvik implements prompt box fo

[2015-05-21 14:45] bsaiken commented on #992
@damirius
There are still some conflicts.

Client info is not saved.
![screen shot 2015-05-21 at 7 41 20 am](https://cloud.githubusercontent.com/assets/8228624/7751073/e043a5aa-ff8c-11e4-9ba7-f69521800ec6.png)

The mapping changes have not been merged to the DEV branch.  I still see sidebar menu icons.
![screen shot 2015-05-21 at 7 44 03 am](https://cloud.githubusercontent.com/assets/8228624/77511

[2015-05-21 14:54] damirius commented on #992
@bsaiken

Please do a pull, I recently  merged new set of commits from feature_damir to dev branch.
Some facility buttons, add/remove/edit. I don't know where they are used, they are probably hidden since we only use save/copy buttons which are used across all 3 forms.

I'll check out what's wrong with client save.

[2015-05-21 15:00] damirius commented on #992
@bsaiken

That part with client is that method for editing client user entry if you remember. Jeremie worked on it I think and left that for me to finish. I modified that call since it was broken and it should work on the current version of the dev branch. Tell me if you are experiencing same problem after you do a pull.
In any case I should finish that method so it properly edits the user credent

[2015-05-21 15:01] bsaiken commented on #640
@damirius
All I see is the left menu.  That is working just the way I want.  The default should be left menu hidden.
Move the header functions "View and edit your details" and "logout" into the left menu and remove them from the header. The header would only show the logo, a breadcrumb with Project and Task, and the name of the Technician.  We will put the menu glyphicon to the left of the logo.

[2015-05-21 15:04] bsaiken commented on #992
@damirius
We don't have a Issue for updating the client Issue yet.  We are so short on time, if it is quicker to skip this for now, then skip it (without the broken link).  Having Client users isn't essential just yet.

[2015-05-21 15:29] bsaiken commented on #640
@damirius
Damir,
Since we are going to have a left menu, then one of the options in the left menu is to show a selectable list of Tasks.  So add that to our list of menu options.  We don't really have an Issue specifically for the left menu since we weren't going to have one.  The closest is Issue #846, so I will add a comment there so it includes the Left Menu.

[2015-05-21 15:35] bsaiken commented on #846
@damirius
Index page shall be:
 * Task Map (see Issue #848)
 * header (`menu show/hide` | `logo` | `Project > Task` (breadcrumb) | `FT Name`
 * left menu.

Left menu items are:
a) Edit info
b) logout
c) communicate
d) view map
e) notes
f) Task list

[2015-05-21 15:41] bsaiken opened #993 "When a FT logs in, if they have more than one Task assigned, add a popup to select the current Task."
See also Issue #640.

[2015-05-21 17:05] damirius commented on #846
@bsaiken

I've added few stuff on feature_mobile branch.

Add new menu options, moved logout/user edit in the menu, it will be shown only for FTs there.
Added breadcrumb for tasks in header together with FT name.
Landing page will be mobile/listTasks, where you can select the task by clicking on it. Only active tasks will be shown!
If there is only one active task in the list it will be automatica

[2015-05-21 17:31] bsaiken commented on #846
@damirius

On login I get a dead link.

![screen shot 2015-05-21 at 10 30 27 am](https://cloud.githubusercontent.com/assets/8228624/7754855/8667008c-ffa4-11e4-945b-f6b0c73ad2d9.png)

[2015-05-21 17:38] damirius commented on #846
@bsaiken

Do you have any active tasks related to this technician?

[2015-05-21 17:51] bsaiken commented on #846
@damirius
I tried starting from scratch.

I created a new Project and then tried creating a new Task for that Project and I get a similar error.
![screen shot 2015-05-21 at 10 50 20 am](https://cloud.githubusercontent.com/assets/8228624/7755191/43b7762e-ffa7-11e4-9514-14c098bd5796.png)

[2015-05-21 18:11] damirius commented on #846
@bsaiken

Hm, this error I can't recreate. I'm starting to think that tasks aren't fetched here because of some problems with the db. Error is showing that foreach loop isn't getting proper argument, which should be an array of tasks. If there are no tasks, empty array should be passed. Most common reason for this is that db manager is getting some error.

[2015-05-21 18:28] damirius commented on #846
@bsaiken

You can check out this video: https://drive.google.com/file/d/0B7Laiv0PjSvDSml3ZVRQQkFhUFE/view

[2015-05-21 19:21] bsaiken commented on #846
@damirius
I think you are correct.  When I was having trouble with some of Souvik's code, I had him send me the script for the database he was working with.  Then it worked.  So, send me your database.] and I will test with that.

The video looks perfect.

[2015-05-21 19:40] damirius commented on #846
@bsaiken

You can find my local db backup in Database/Scripts/Online-backups/baiken_fwm_1_damir_20150521.sql

[2015-05-21 20:12] bsaiken commented on #846
@damirius

That's it.  Everything you have so far is working.  I think we can close this Issue.

Later today I can do some more unit testing.  Thanks!

[2015-05-22 12:44] gsouvik commented on #766
@bsaiken
When a task is copied into a new task, all relevant relations are now copied as well. However I've left out the table `discussion` as I thought it may contain information too specific to a task and won't make much sense if we copied those too. But please let me know if I need to copy those too and I'll include the script.
Thank you.

[2015-05-22 13:22] gsouvik commented on #993
@bsaiken
I have few questions on this task:
1) I'm sure, but still would like to confirm, that technicians are assigned to a task using the technician tab when the task is edited.
2) How do I login as a technician? I have few technicians available in the table `technician`, but none of those are listed in the `user` table. However I have an entry with username as `tech` and that is not present in

[2015-05-22 14:18] damirius commented on #993
@bsaiken @gsouvik

Maybe I can help.
1) Yes that's pretty much it.
2) When you create new technician, user entry should be created for him. If I'm not mistaken credentials are email:email (login:pass).
If you want to experiment with existing technicians you can add manually entries for them. Go to user table, set user_login to whichever username you would like, password is encrypted, so the best w

[2015-05-22 14:24] damirius commented on #848
@bsaiken

I've added custom task location infowindows for mobile map.
If you open up some location, you will have few new options.
'Mark' fetches user's coordinates and populates, lat/lng fields, clicking on save button will update that marker.
'Collect data' will just redirect the user to mobile/forms, that page isn't yet done.
'Directions' will fetch users position and calculate the route from i

[2015-05-22 14:35] bsaiken commented on #993
@gsouvik @damirius
I agree with Damir, the way the landing page set we do not need this.  So, I'll get you working on other things.

[2015-05-22 14:39] gsouvik commented on #993
@damirius @bsaiken
Thanks for the explanation. Let me test the mobile branch with your database. As you suggested, the landing page is sufficient for listing the tasks it seems.

[2015-05-22 14:41] gsouvik commented on #993
@bsaiken @damirius
Noticed your message after I posted mine. Ok, I'll start with other tasks according to the priority.

[2015-05-22 14:43] bsaiken commented on #848
@damirius
This is great.  Working just the way I had hoped.

[2015-05-22 14:46] bsaiken commented on #874
@damirius
This is done, so I labeled it for code review, and to release.

[2015-05-22 15:09] bsaiken commented on #766
@gsouvik @damirius
Looks great!

[2015-05-22 16:47] bsaiken commented on #848
@damirius
FYI - I made a commit to this Issue...

[2015-05-22 17:15] damirius commented on #849
@bsaiken
Video: https://drive.google.com/file/d/0B7Laiv0PjSvDb0h0d25YQkRPV3M/view?usp=sharing

Here is the notes page. Few things that I would like to mention. I don't know if we need to show notes from all users for this task or not. Currently I'm showing notes from all FTs and PM. I can restrict this only to logged in FT if needed. Other thing is that task_instructions could be displayed in a di

[2015-05-22 18:04] bsaiken commented on #849
@damirius
Let me clarify some details about notes.  Field Technicians are almost always required to keep notes while they are working.  It is part of the work record.  But, FTs do not need to see notes from the PM or any other FT.  Notes are for a single FT only.  So, in the Mobile UI, you do not need to specify who is creating the note - it is the logged-in FT by default.  PMs will be able to see

[2015-05-22 18:08] damirius commented on #849
@bsaiken

OK, I'll restrict the notes for Mobile UI only to show notes for logged in FT.
I notice that you mention live site database, I honestly have no idea about live site db, and I don't have any access to it.

[2015-05-22 18:17] bsaiken commented on #849
@damirius
The easiest fix for the live site database would be - when you get your own database updated to include all recent changes, send me the script for the entire new database, and I will update the live site (and my local site) to match yours.

[2015-05-22 18:57] damirius commented on #849
@bsaiken

You can find latest version of my local db in Database\Scripts\Online-Backups\baiken_fwm_1_damir_20150522.sql

Also FT should see only his notes from now on on Mobile UI, but I left the option to fetch all notes for existing method if we need it later for PMs or whatever else.
Also everything is merged from feature_devsupport and feature_mobile into dev branch, and back again into featur

[2015-05-22 20:55] gsouvik commented on #892
@bsaiken
The `form/masterForm` screen now lists all the available master forms on the right hand list. Context menu added with options a) View and b) Delete.

Clicking on View, if the PDF form is actually existing, it would be opened.

Question: Master forms are associated with different tasks. Based on these forms, location specific forms are generated. When a master form is deleted, what happens

[2015-05-22 21:13] bsaiken commented on #892
@gsouvik

Master Forms Are NOT associated with Tasks.  Master forms are independent.  User forms are the same as Master forms.  The difference is: Master forms will be supplied by the webmaster (me) - hence the name "Master" forms.  User forms are supplied by the user, but both perform the same function.

These forms are templates that get used to generate the location-specific forms that Field Te

[2015-05-22 21:17] bsaiken commented on #892
@gsouvik
BTW - I tested and it looks great.

[2015-05-22 21:23] bsaiken commented on #892
@gsouvik
Make sure you do a page refresh, and update the session array, so that the newly uploaded Master forms show up on the list.

[2015-05-22 21:57] bsaiken commented on #992
@damirius
I have started testing the dev branch.  I am getting a bug uploading photos - both for Technicians and Locations.  The Photo is saved to the uploads/location and uploads/technician directories.  The `document` table is being populated.  But when the page refreshes the document location is undefined, see attached:
![screen shot 2015-05-22 at 2 33 26 pm](https://cloud.githubusercontent.com

[2015-05-22 22:02] bsaiken commented on #992
@damirius @gsouvik
I tried inserting a field analyte from the common field analytes list, and I get an error.  I can type in a field analyte name (even the exact same name as the common field analyte) and it works.

![screen shot 2015-05-22 at 2 59 17 pm](https://cloud.githubusercontent.com/assets/8228624/7780395/383055ae-0093-11e5-9f54-c49da60a44bd.png)

It works fine  using common lab analytes.

[2015-05-22 22:13] bsaiken commented on #992
@damirius
Services is missing from the left menu.

[2015-05-23 05:41] gsouvik commented on #892
@bsaiken
Yes, I'll code that too, so that newly added forms are pushed to session and show up on the right hand list.

Let me give an example for what I wanted to explain for the master form relationship data:

Step 1:
These are the master forms as seen from the admin UI (some have the records but not the actual files, just wanted to mention as the next slide show the actual files and it may be co

[2015-05-23 13:10] bsaiken commented on #892
@gsouvik
When the admin deletes a master form, the master form record will be completely deleted.  So the form will be removed from `/uploads/master_form/`, the corresponding row in `document` table will be deleted, the corresponding row in 'master_form` will be deleted, and all rows in the table 'project_form` with the corresponding `master_form_id` will be deleted.

It won't be until the next ti

[2015-05-24 00:12] bsaiken commented on #992
@damirius
I modified the left menu so that Service Providers now appears, but adding a SP does not create a new user and I get an error if I try to login with one of the existing SP users in the database.

[2015-05-24 01:57] bsaiken commented on #992
@damirius
I think for the mobile user we just need the communications and edit user modules.  Also, we need the list of forms from the `Collect Data` link in the info window.

[2015-05-24 12:17] gsouvik commented on #892
@bsaiken
Now master forms could be deleted from the contextual menu. The tables affected are `master_form`, `project_form` and `task_template_form`.

I could not include the table `document` because there it contains no proper reference to the master forms through which the records could be tracked and deleted. For example a screenshot of the table on my end looks like:
![screen shot 2015-05-24 at

[2015-05-24 13:23] bsaiken commented on #892
@gsouvik @damirius
This does it - thanks.

[2015-05-24 14:31] WebDevJL opened #994 "Database updates for release 1.6.22"
@bsaiken @damirius @gsouvik

Please paste here all the sql scripts to run for the next release. Links to the scripts are enough.

Also, when making table modifications, please update the reset script accordingly. It is located in Database/Scripts.

Thank you.

[2015-05-24 17:19] WebDevJL commented on #994
@bsaiken @gsouvik @damirius

I'm not back on duty yet but thinking ahead so please give me the all info regarding database updates.

Thank you.

[2015-05-24 19:19] damirius commented on #994
@WebDevJL

Not the best place for this, but first off CONGRATS Jeremie!
I'll see that I find all scripts which we used and paste their links here.

[2015-05-25 05:44] gsouvik commented on #994
@WebDevJL
Here's the script which I created recently which might be needed for this release:
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_devsupport/Database/Scripts/Updates/2015-05-15.sql

[2015-05-25 13:52] damirius commented on #994
@WebDevJL

https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_mobile/Database/Scripts/Updates/2015-05-22.SQL
https://github.com/FWAJL/FieldWorkAssistantMVC/blob/feature_mobile/Database/Scripts/Updates/2015-05-19.sql

[2015-05-25 14:30] gsouvik commented on #893
@bsaiken
The common Lab and Field analytes are now listed on the right hand side list. The analytes could be deleted from the contextual menu.

I have a question for the Edit menu. Would there be a prompt box where the analyte name which is being edited, would be loaded and presented to the user, and then the user could save it. What are the validations needed? What if the user selects a name whic

[2015-05-25 15:04] bsaiken commented on #893
@gsouvik
Yes, please add validation that checks for a duplicate entry, just like we have done in other parts of the website.
Also, any time something is deleted, please add your confirm popup.

[2015-05-25 15:06] bsaiken commented on #893
@gsouvik
Make sure you add a redirect to refresh the page so the newly added analytes appear in the list.
The confirm popup for analytes also applies to master forms.

[2015-05-25 15:07] gsouvik commented on #893
@bsaiken
Ok, shall do that, thanks.

[2015-05-25 15:08] bsaiken commented on #893
@gsouvik
I changed the priority to #767 since it is essentially the same behavior - checking for a unique analyte name.  Makes sense to do it now.

[2015-05-25 15:12] bsaiken commented on #893
@gsouvik
By the same token, I changed the priority of #891, since it is the same behavior - checking for a unique name.

[2015-05-25 15:13] bsaiken commented on #893
@gsouvik
and #768

[2015-05-25 17:16] damirius commented on #640
@bsaiken

I've added edit user form for FTs on both admin dashboard and on FTs Mobile UI. feature_mobile branch

[2015-05-25 17:17] damirius commented on #992
@bsaiken

I've fixed that issue with photos, as far as SPs go, on my local dev branch which is the same as remote one SP user entries are added properly. Only thing is that they are set to role 4 which is visitor instead of 6. Also we don't have special UI for them except discussions page which can be accessed directly through the link.

[2015-05-25 17:30] bsaiken commented on #640
@damirius
Looks good.

[2015-05-25 17:37] bsaiken commented on #992
@damirius
Can you change the redirect for the admin UI "switch" function so it logs in as a SP? This way I can at least get access to one SP and test the communication page.

[2015-05-25 17:49] bsaiken opened #995 "Add functions to Datepicker"
@damirius
At `/task/showForm` I have a Datepicker widget.  It works fine, except some of the functions are not turned on.  Currently, it is only possible to pick a date from the current month.  It is not possible to switch months or years.

[2015-05-25 17:50] #646 closed

[2015-05-25 17:50] #750 closed

[2015-05-25 17:52] bsaiken commented on #762
@damirius
Goes with #761.

[2015-05-25 17:53] #993 closed

[2015-05-25 17:54] #926 closed

[2015-05-25 17:54] #782 closed

[2015-05-25 17:54] #783 closed

[2015-05-25 17:55] #412 closed

[2015-05-25 17:55] #444 closed

[2015-05-25 17:56] bsaiken commented on #813
@damirius
Your list is getting thin again.  Do you think we can tackle this before the end of the week?

[2015-05-25 18:01] bsaiken commented on #849
@damirius
This is a double Issue.  We still need to be able to list and open location-forms from the FT mapping info window.  I mentioned this in  Issue #992, but it may have go lost in the sea of comments.

[2015-05-25 18:03] bsaiken commented on #848
@damirius
If this, or any other "to merge" Issue has been merged, please change the status to "to release".

[2015-05-25 18:07] damirius commented on #992
@bsaiken

We changed the flow for them. We should send them the email notification about new message with the link which contains username and encrypted pass in it together with discussion id and we fetch discussion like that. Redirecting him on that page without those variables in the url query will not work. I'll see if I can maybe implement some default discussion loading.

[2015-05-25 18:13] damirius commented on #813
@bsaiken

I guess we have emailer class implemented, but we do lack some stuff like email db backups and email storage for resending them.
I don't know if this is needed for this Issue.

[2015-05-26 02:29] bsaiken commented on #992
@damirius
Yes, I do remember.  We have not implemented this email feature with the link.  I'm just wondering if you thought you had time.

[2015-05-26 02:33] bsaiken commented on #813
@damirius
We don't have time for everything.  What I am referring to specifically here is adding a new FT user.  Instead of automatically creating a FT user, we send them an email inviting them to the website.  This requires the FT to respond before they are added as a user.  It is a security step.  If the site moves forward, a high level of security will be needed.

[2015-05-27 08:33] WebDevJL commented on #992
@bsaiken @gsouvik @damirius

I have performed the merges from the feature branches to the dev and then from dev branch to feature branches.

[2015-05-27 08:34] WebDevJL commented on #892
@bsaiken @gsouvik @damirius

Merged to dev.

[2015-05-27 08:36] WebDevJL commented on #971
@bsaiken @damirius

Merged.

[2015-05-27 08:37] WebDevJL commented on #766
@bsaiken @damirius

Merged.

[2015-05-27 08:48] WebDevJL commented on #640
@bsaiken @damirius

There might be a little check to do or a query to refine:

![issue 640 bug](https://cloud.githubusercontent.com/assets/3506074/7832237/c051821e-045d-11e5-9cc5-8404fe15322d.png)

[2015-05-27 08:50] WebDevJL commented on #994
@damirius @gsouvik

Thank you guys :+1:

[2015-05-27 14:46] bsaiken commented on #971
@FWAJL
Let's make the final release a separate Issue so we can close all the merged Issues.

[2015-05-27 14:53] bsaiken commented on #640
@damirius @FWAJL
It works fine.  If the FT has only one Task - it goes directly to the map page, even if they click "List Tasks", otherwise the list is displayed.  At one time we were going to have a popup, but we now we don't need it.  I'm not sure how you created the error.

[2015-05-27 19:00] WebDevJL commented on #640
@bsaiken @damirius

Easy to replicate : just log in with a FT with no task assigned.

[2015-05-27 20:25] gsouvik commented on #893
@bsaiken
In the admin UI, while editing the common analytes, unique check validation is added. Actual edit functionality added and  when deleting them, confirm box added.

[2015-05-27 20:38] bsaiken commented on #895
@gsouvik
This is working on the DEV branch.

[2015-05-27 21:17] gsouvik commented on #892
@bsaiken @FWAJL
Admin UI, master forms now have confirm box when user tries to delete those.

[2015-05-28 00:32] bsaiken commented on #640
@FWAJL @damirius
OK - I see the problem.  Unfortunately, as we only have a few days left, we will not have time to fix this bug.

[2015-05-28 00:35] bsaiken commented on #892
@FWAJL
I had to re-open this because of Souvik's additional commit.

[2015-05-28 15:09] #971 closed

[2015-05-28 15:10] #766 closed

[2015-05-28 15:13] bsaiken commented on #848
@FWAJL @damirius
The mobile UI is not working on the live site.  When a FT logs in, the default landing page is `/user/showDetails`.
I created a new Task and assigned a FT user to the Task, and the landing page is still `/user/showDetails`.  This situation should land on the map page for that Task.

[2015-05-28 15:15] #958 closed

[2015-05-28 15:24] #807 closed

[2015-05-28 16:52] gsouvik commented on #891
@bsaiken @FWAJL
Adjmin UI, master_form.title unique check feature implemented. Modified dropzone events so that before the file is uploaded, it checks if the title is existing. If the title is found existing, an alert message is shown. Else the dropzone queue is processed normally using JS.

[2015-05-28 17:52] bsaiken commented on #806
@FWAJL @damirius

Add "?discussion_id=XX" on the end of the current url, where XX is the ID of that discussion that we created as PM. Full address should look like "serviceprovider/discussion?discussion_id=5"

 I have started a conversation with the SP "GTI", but I got an error when I tried to login and access the discussion.

![screen shot 2015-05-28 at 10 50 11 am](https://cloud.githubuserconten

[2015-05-28 17:55] bsaiken commented on #891
@gsouvik
This requires I change the form name, but it also loses the attachment (I need to attach it again).  Can the attachment be retained so only the name needs to be changed?

[2015-05-28 17:58] #972 closed

[2015-05-28 17:59] #966 closed

[2015-05-28 18:00] #803 closed

[2015-05-28 18:01] bsaiken commented on #846
@FWAJL @gsouvik
This loads the page `user/showDetails`.

[2015-05-28 18:02] #986 closed

[2015-05-28 18:03] gsouvik commented on #891
@bsaiken
Yes, but currently the form upload process begins once the user selects a file. So if the previously selected file is retained, how does the user initiate the upload process again in the context the way that the UI is currently designed.

[2015-05-28 18:04] #970 closed

[2015-05-28 18:08] bsaiken commented on #891
@gsouvik
It may be that the user will have to re-attach the form.  But perhaps I did not explain my question clearly.
The only thing that needs to change is the Form Title, so the previously selected file *should* be retained.
However, if this is contrary to the programming logic we have written, then it is OK as-is.

[2015-05-28 18:09] #965 closed

[2015-05-28 18:11] #874 closed

[2015-05-28 18:13] #973 closed

[2015-05-28 18:13] #994 closed

[2015-05-28 18:15] #815 closed

[2015-05-28 18:18] damirius commented on #850
@bsaiken @FWAJL

It took some more time than I planned but it's here.
Workflow is similar to PM's communications tab on active tasks. FTs can start discussions with PMs, other FTs and service providers. They can't send attachments.

You can find it on feature_mobile.

[2015-05-28 18:21] gsouvik commented on #891
@bsaiken
I understand the requirement that you only wish to change the form title, but not the already selected file, because you've already selected it.

From the viewpoint of JS, it needs event to initiate the upload. Currently that event is "selection a file". So my question is, after the unique check if we retain the file, there is no need for the user to select the file again, and so the file

[2015-05-28 18:21] bsaiken commented on #984
@FWAJL @damirius
Forms are not being generated.

[2015-05-28 18:24] bsaiken commented on #891
@gsouvik
Well, since we are short on time, let's leave it as-is.  Your solution works, so let's go with it.
Thanks.

[2015-05-28 18:25] #969 closed

[2015-05-28 18:26] #892 closed

[2015-05-28 18:28] #968 closed

[2015-05-28 18:29] #808 closed

[2015-05-28 18:31] damirius commented on #995
@bsaiken

Datepicker worked normally, there was some missing images so you didn't notice left/right arrows for choosing month.

It's on feature_damir

[2015-05-28 18:43] bsaiken commented on #850
@damirius @FWAJL
Works great!
Jeremie - everything on the mobile UI works on the feature_mobile branch.  So if you merge the feature_mobile branch, it should clear up some of the other "bugs" I caught unit testing.

[2015-05-28 18:45] bsaiken commented on #995
@damirius @FWAJL
Great - thanks.

[2015-05-28 20:34] gsouvik commented on #768
@bsaiken
When adding new service, the add unique check and other validations were not working, the same is now fixed.

[2015-05-28 21:18] bsaiken commented on #768
@FWAJL @gsouvik
Thanks!

[2015-05-29 05:16] FWAJL commented on #850
@bsaiken @damirius

Every link, except logout and userDetails, that I click has an error when logged in as a FT.

![screen shot 2015-05-29 at 07 15 33](https://cloud.githubusercontent.com/assets/7524388/7876871/a13b7d28-05d2-11e5-92c6-e669e89df246.png)
![screen shot 2015-05-29 at 07 15 42](https://cloud.githubusercontent.com/assets/7524388/7876870/a139ef6c-05d2-11e5-9c0d-35b46eafea61.png)
![screen

[2015-05-29 13:30] damirius commented on #850
@bsaiken @FWAJL

OK, so first two errors are showing because user is being redirected to wrong page. I've changed that redirect on all pages to redirect the user without activetasks on mobile/listTasks. That page will show that there are no active tasks for logged in FT. All the errors were showing for the FT users without active tasks, so keep that in mind when testing.
Other than that, there wer

[2015-05-29 13:45] damirius commented on #806
@bsaiken @FWAJL

I've tried to recreate it on both feature_mobile and dev branches without success. Also I've tried with previously created discussions and with new discussion to see if there is some problem with creating discussions now.
It seems that UserConnected session variable isn't set, that should be user object in session.
You used normal login screen to login with the service user? No us

[2015-05-29 14:15] damirius commented on #761
@bsaiken @FWAJL

I've added new file controller method which can remove multiple photos.
Go to Locations->List All, choose some location.
Add some pictures or use location with existing pictures. Delete location, images should be removed from document table and from location directory.

[2015-05-29 14:27] damirius commented on #761
@bsaiken @FWAJL

There is a new commit for technician photo removal now too. Since I pushed last one on this issue too by mistake since they are essentially the same issues. Sorry about that.

[2015-05-29 14:29] damirius commented on #849
@bsaiken

I thought we are doing separate popup or page for that, when clicking collect data button. I thought that gosuvik was on that since he worked with those forms :(

[2015-05-29 14:41] bsaiken opened #1022 "Modify the table `user_role` in the database reset to include Service Provider. `user_role_id===6`"

[2015-05-29 14:43] bsaiken opened #1023 "When a new Service Provider user is added, the `user_role_d=6`."

[2015-05-29 14:45] bsaiken commented on #806
@damirius @FWAJL
I found the problem.  Actually, it is a couple of problems.  I am creating a new Issue for each.
1)  Issue #1022.  The `user_role` table must be modified.
2) Issue #1023. New SP users are being created, but the `user_role_id` is still being set to 4 - it should be 6.
Let's fix those items then I'll check again.

[2015-05-29 16:18] gsouvik commented on #767
@bsaiken
Lab and Field analyte Edit now has 'unique check' functionality. When editing, the system checks if the name is not unique and alerts the same.

[2015-05-29 19:49] bsaiken commented on #850
@damirius @FWAJL
This worked for me.  No active active tasks lands on a page instead of an error.  I wasn't expecting we'd get this done, but I like.
If there is an active Task, it goes straight to the map page.  Check.
If there are two or more active Tasks, I get  a list of tasks to choose from. Check.

[2015-05-29 19:58] bsaiken commented on #849
@damirius @gsouvik @FWAJL
You are so right!  I forgot in the heat of the rush.
Souvik, I would like you to do this if you can.

[2015-05-29 20:04] bsaiken commented on #767
@gsouvik
I get a toastr message, but no popup.  Where exactly is this implemented?

[2015-05-29 20:22] gsouvik commented on #767
@bsaiken
Taking the example of lab analytes on my local, here is how the screen looks
![screen shot 2015-05-30 at 1 46 04 am](https://cloud.githubusercontent.com/assets/2292482/7891874/b2cb65ee-066d-11e5-8dfb-879afd7e76ea.png)

Let me try and Edit "Lab 8"
![screen shot 2015-05-30 at 1 46 56 am](https://cloud.githubusercontent.com/assets/2292482/7891893/d4980006-066d-11e5-8b25-85cbb93592f1.png)

Le

[2015-05-29 21:23] bsaiken commented on #767
@gsouvik @FWAJL
 I see.  I was testing the function when trying to add a new analyte.  This is set up to edit analytes.

[2015-05-29 22:45] bsaiken commented on #847
@FWAJL
I think this is done.

[2015-05-29 22:46] bsaiken commented on #846
@damirius
I think this is fixed.  If yes, please assign to Jeremie and Label for code review.

[2015-05-29 22:47] bsaiken commented on #848
@FWAJL
Isn't this now working on the feature_mobile branch?

[2015-05-29 22:51] bsaiken commented on #805
@FWAJL
This seems to be working on the live site just fine.

[2015-05-29 22:53] bsaiken commented on #140
@FWAJL
This is working on the live site.

[2015-05-29 22:53] #140 closed

[2015-05-29 22:54] #745 closed

[2015-05-29 22:55] #781 closed

[2015-05-29 22:55] #785 closed

[2015-05-30 11:44] gsouvik commented on #585
@bsaiken
The autocomplete feature on service category field added while it is being added/edited. The code now tries to match the partial string which the user has entered on the unique service categories and returns a set of categories. An example looks like the following from my computer:

![screen shot 2015-05-30 at 5 06 16 pm](https://cloud.githubusercontent.com/assets/2292482/7897142/4152b098

[2015-05-30 12:38] gsouvik commented on #849
@bsaiken @FWAJL @damirius
I've read the comments from the top and related thread, but still need a little help understanding the requirement. Could you please let me know how I can test this on my local branch. Do I have to login as a particular type of user. Where exactly this needs to be implemented, please provide any URL if possible.
Thank you

[2015-05-30 13:10] gsouvik commented on #586
@bsaiken @FWAJL
I just wanted to confirm, this is for the screens at `labanalyte/uploadList` and `analyte/uploadList`, right? Also the table `master_lab_analyte` doesn't have data in it on my local. Should I just enter some test data and test? Also would like to confirm, the auto complete should appear on the left hand textarea as the user starts typing? Pressing enter and switching to a new line

[2015-05-30 14:47] bsaiken commented on #585
@gsouvik @FWAJL
I love it!

[2015-05-30 15:16] bsaiken commented on #849
@gsouvik @FWAJL
First, you will need to log in as a FT.  The FT UI should is updated on the DEV branch.  I do not think your feature branch should is updated.  Therefore, I suggest you checkout the feature_mobile bransh and work there.

Several conditions need to be met for you to be able to access the correct page.
First, you need to have added a Field technician so that they are added as a new u

[2015-05-30 15:18] bsaiken commented on #586
@gsouvik
Yes to all questions.

[2015-05-30 16:57] gsouvik commented on #849
@bsaiken
Thank you for explaining in details. I followed the steps and was able to get to the task page when logged in as a technician. Here's how it looks
![screen shot 2015-05-30 at 10 15 11 pm](https://cloud.githubusercontent.com/assets/2292482/7898308/a75b9e3e-0719-11e5-8d25-d47fe47fcbe0.png)

But when I clicked on "Collect Data" I was presented with a page like this:
![screen shot 2015-05-30

[2015-05-30 19:21] bsaiken commented on #849
@gsouvik
You are correct.  The "page" you see is just a place holder.  You do not actually need to create a page at all.  Just create a Popup Prompt box with the list of form(s) for this Location.  The forms listed in the Prompt Box shall have links to open the form.

There should probably also be a popup alert box if there are no forms, or if the Location is "complete".  You will know the Locatio

[2015-05-31 11:06] damirius commented on #760
@bsaiken @FWAJL

I've added photo removal for map infowindows. I've added "Remove Photo" link under the photo caption when you open it up. It should work on active task map, on regular task and project location maps and on mobile map.

You can find it on feature_damir branch.

[2015-05-31 11:07] damirius commented on #762
@bsaiken

This should be closed whenever #761 is closed.

[2015-05-31 11:10] damirius commented on #1023
@bsaiken

Fixed on feature_damir branch.

[2015-05-31 11:28] damirius commented on #984
@bsaiken @FWAJL

This should be fixed on feature_damir branch.

[2015-05-31 11:39] gsouvik commented on #586
@bsaiken
The auto complete feature for the lab analyte upload screen is done as per the questions I asked earlier.
It took little more time as I initially expected due to following reasons:

1) The DAO/DAL was not there for the mast_lab_analytes, I've added those into the codebase.
2) The jquery auto-complete widget automatically positions itself at the bottom of the element with which it is initi

[2015-05-31 13:52] bsaiken commented on #984
@damirius @FWAJL
This has been happening from time to time, so I am convinced there is some kind of bug.
Notice how there is a new location-form with the title "Test Photo".
![screen shot 2015-05-31 at 6 45 40 am](https://cloud.githubusercontent.com/assets/8228624/7902123/3ef4650e-0761-11e5-81fc-ef78bd7f58ee.png)

"Test Photo" exists, but it is associated with a Project Location (*not* a Task Loca

[2015-05-31 13:58] bsaiken commented on #586
@gsouvik
It's not working for me.  Where are you getting the list source for the autocomplete?

[2015-05-31 14:01] bsaiken commented on #849
@gsouvik
Souvik,
This is a critical item for me using the site and showing to others (which is where I may generate the additional funds to continue), so I would like you to extend your eLance Job end date so you have time to finish this Issue.

[2015-05-31 14:05] gsouvik commented on #586
@bsaiken
As described in this thread, data should come from table "master_lab_analyte". I added some test data into it and tested. Let me know if you need the test records I inserted in that table.
Also the code is pushed to feature_devsupport branch.

[2015-05-31 14:06] gsouvik commented on #849
@bsaiken
Ok, shall do that.

[2015-05-31 14:32] damirius commented on #984
@bsaiken @FWAJL

As far as I see that Test Photo isn't associated with anything if I'm not missing something. Form should be named `FORM-NAME_TASK-LOCATION-NAME`.
When task is activated, copies of each form (both user and master) should be created for each task location. So if we have 2 forms assigned to the task and 3 locations we would have 6 form copies, 2 forms for each location right?
I've tr

[2015-05-31 15:26] bsaiken commented on #586
@gsouvik
Common analytes are listed on the right side, but in your example, the autocomplete options are not on the list.  Did you create a new table, `master_analytes`?

[2015-05-31 15:29] bsaiken commented on #984
@damirius @FWAJL
If you can't see the reason in the code, I will try to re-create the specific and reproducible condition.
However, today (Sunday) I am completely booked, so there may not be time.

[2015-05-31 15:54] gsouvik commented on #586
As @bsaiken said on 27th Feb

The table `master_lab_analyte` was already available in my local database, I just created the DAO/DAL to use with it.

I asked on 30th May

So I just entered some test data in that table and that is where the auto complete list is generated from. I've already sent you the data on eLance.

So to test this, you just have to import that data into the `master_lab_analyte`

[2015-05-31 18:27] bsaiken commented on #586
@gsouvik @FWAJL
That's it.  The table was not on my local machine for some reason.
Jeremie, make sure that table is included in the database reset.

[2015-05-31 20:25] WebDevJL opened #1024 "Database updates for version 1.6.23"
@damirius @gsouvik @bsaiken

Same as before. Please list your updates here. Thank you.

[2015-06-01 06:17] WebDevJL commented on #848
@bsaiken

I don't know. Maybe the new release fixes that?

[2015-06-01 14:53] #585 closed

[2015-06-01 14:55] #586 closed

[2015-06-01 14:57] #760 closed

[2015-06-01 15:00] #761 closed

[2015-06-01 15:05] #762 closed

[2015-06-01 15:06] #767 closed

[2015-06-01 15:08] #846 closed

[2015-06-01 15:08] #850 closed

[2015-06-01 15:10] #1023 closed

[2015-06-01 16:14] #1022 closed

[2015-06-01 16:15] #1024 closed

[2015-06-01 18:21] #995 closed

[2015-06-01 18:23] #967 closed

[2015-06-01 18:24] #893 closed

[2015-06-01 18:25] #891 closed

[2015-06-01 18:27] #768 closed

[2015-06-02 04:14] #992 closed

[2015-06-02 09:48] #848 closed

[2015-06-02 09:49] #847 closed

[2015-06-02 09:50] #805 closed

[2015-06-02 09:52] #673 closed

[2015-06-02 09:53] #671 closed

[2015-06-02 15:16] gsouvik commented on #849
@bsaiken
The "task specific form" is now opened when the user clicks on "Collect Data" link.
1) Only the location specific forms are shown.
2) Clicking on the form, opens it using the fancybox.
3) If task is already completed, an alert box is shown.
4) If there are no forms available for this task, an alert box is shown.

Please review and let me know your feedback.
Thank you.

[2015-06-02 18:06] WebDevJL opened #1035 "Verify the task location forms are created correctly"

[2015-06-03 04:32] WebDevJL opened #1036 "Cleaning up the mobile site design"
- in the mobile site, the map should take 100% of width
- the menu should push the content to the left.

[2015-06-04 11:58] WebDevJL opened #1037 "Adding notes in the Mobile interface doesn't work"
Check if the button Save is linked to any WebService.
see Issue #1062.

[2015-06-04 11:59] WebDevJL opened #1038 "Link to Task page"
@bsaiken

Is it normal the "My Task" link redirect to the map?

[2015-06-04 13:38] bsaiken commented on #1038
Yes

Sent from my iPhone

[2015-06-04 15:04] #1038 closed

[2015-06-05 03:16] bsaiken commented on #1038
This is automatic when there is only one Task.

On 2015-06-04 11:59, Jérémie Litzler wrote:

[2015-06-05 12:22] WebDevJL commented on #1036
@bsaiken

I have made a first dev to clean up the UI on the Mobile part. LMK if you like. I will release next week.

[2015-06-05 14:55] bsaiken commented on #1036
@WebDevJL
Looks good.  No need to make any more changes

[2015-06-05 15:08] bsaiken commented on #849
@gsouvik
Is it possible to make the fancybox window full screen?

[2015-06-05 15:45] gsouvik commented on #849
@bsaiken
the Fancybox window now spans full screen, in the sense it takes up all the width and height which is available to it.

[2015-06-05 16:33] bsaiken commented on #849
@gsouvik @FWAJL
Excellent

[2015-06-19 04:57] #1036 closed

[2015-06-23 17:50] FWAJL opened #1052 "Admin can't edit his password"
![screen shot 2015-06-23 at 19 49 06](https://cloud.githubusercontent.com/assets/7524388/8313109/009dd316-19e1-11e5-9eaf-a5b7995b5d6e.png)

[2015-06-23 17:54] FWAJL opened #1053 "Project UI bugs"
Unit tests 10 & 11 failed.

Does not save the updated values of a project in the session. After logging out/in, the data is updated.

[2015-06-23 18:01] FWAJL opened #1054 "Technician UI: unit test 6"
An error is showing about not loading user data

[2015-06-24 16:30] #895 closed

[2015-06-24 16:31] FWAJL commented on #895
Unit test passed.

[2015-06-24 19:29] FWAJL opened #1055 "Task UI bugs"
- test 20: all tooltips are missing except the technicians, locations and task info
- test 24: #765
- test 29: does the issue exist?
- test 30: no sorting done
- test 32: data collection and Services checkbox don't display properly in edit mode

[2015-06-24 19:51] FWAJL opened #1056 "Form UI bugs"
- test 9: the add button is grey instead of white all other buttons on the website. to be changed.

[2015-06-25 13:29] FWAJL opened #1057 "Service Provider UI bugs"
test 14: unique check is not performed on edition