[2015-06-26 19:46] FWAJL opened #1058 "Mapping UI bugs"
- test 25
![screen shot 2015-06-26 at 21 31 14](https://cloud.githubusercontent.com/assets/7524388/8385772/0775cf92-1c4b-11e5-927b-d930b1e8851b.png)

[2015-07-03 06:29] #804 closed

[2015-07-03 06:29] #806 closed

[2015-07-03 06:29] #813 closed

[2015-07-03 06:29] #849 closed

[2015-07-03 06:29] #875 closed

[2015-07-03 06:29] #877 closed

[2015-07-03 06:29] #907 closed

[2015-07-03 06:29] #908 closed

[2015-07-03 06:29] #909 closed

[2015-07-03 06:29] #910 closed

[2015-07-03 06:29] #927 closed

[2015-07-03 06:29] #959 closed

[2015-07-03 06:29] #974 closed

[2015-07-03 06:29] #984 closed

[2015-07-03 06:29] #985 closed

[2015-07-03 06:30] #395 closed

[2015-07-03 06:30] #505 closed

[2015-07-03 06:30] #572 closed

[2015-07-03 06:30] #640 closed

[2015-07-03 06:30] #735 closed

[2015-07-03 06:30] #758 closed

[2015-07-03 06:30] #759 closed

[2015-07-03 06:30] #764 closed

[2015-07-03 06:30] #1035 closed

[2015-07-03 06:31] FWAJL opened #1059 "Rename repository to FieldWorkManager"

[2015-07-03 07:22] FWAJL commented on #1059
@bsaiken

[2015-07-03 07:53] WebDevJL commented on #1059
@bsaiken

Renaming is done. You will need to clone the repository again. The branches were kept and all the commits also.

I released the renamed repository to HurrayHost and changed where the url is pointing. The old repository still exists on the server but it can't be updated of course.

Thank you.

[2015-07-03 07:54] #1059 closed

[2015-07-04 03:01] bsaiken opened #1060 "Add a Task checklist"
For the PM, the checklist will be in the right hand column at: /task/showForm on the Task Info tab.
This will be a simple list, like this:

For the FT this will be a new menu item, "Checklist".  Use font-awesome "check-square".
Auto upload the result in to the database (reset cl_complete)
The FT view includes a checkbox.

FYI - this will be used to determine if the Task is "complete".

See also Is

[2015-07-04 03:02] bsaiken opened #1061 "Automatically use the currentTask, if set."
When working on a Task ($currentTask is set), adding field data, lab data, service provider - these are automatically added to not just the Project/PM, but also the Task.

[2015-07-04 03:04] bsaiken opened #1062 "Upgrade Notes"
Add Date and Time
Add photo upload option
This photo will be attached to the note entry.

[2015-07-04 03:04] bsaiken opened #1063 "Add Photo upload option to record data."

[2015-07-04 03:05] bsaiken opened #1064 "In the FT map view, auto zoom to Task locations (not Project Locations)."

[2015-07-04 03:08] bsaiken opened #1065 "We are still getting phantom forms when a Task is activated."
Login under "baiken" and look at task_id=12, forms.  There were no forms identified for this Task, and the file "bedroom organization.png" appears.

[2015-07-04 03:09] bsaiken opened #1066 "Locations drag and drop must be removed from mobile UI map (smartphones only)."
Prerequisite: #1067.
Related to #1074 and #1075
Also, the mobile map for a smartphone should be the entire page.   Remove the location list and any margins.

[2015-07-04 03:09] bsaiken opened #1067 "Auto detect smartphone and create a separate UI."

[2015-07-04 03:10] bsaiken opened #1068 "Change Field Analytes to "Field Data""

[2015-07-04 03:11] bsaiken opened #1069 "When uploading a document, including a photo, the "upload" button can not activate until the document has uploaded (otherwise it is lost)."
This needs to be true in all cases, for the PM and the FT.

[2015-07-04 03:25] bsaiken opened #1070 "Activate geolocation for the FT UI"
This should be automatically accessed when the FT clicks the button to "Mark" a location.

See also Issue #1079 - adding locations should also automatically access Geo-location.  Add code to that developed for 1079 asking the FT if they would like to use their current coordinates.

More info available at #1087.

[2015-07-04 03:26] bsaiken opened #1071 "Remove redundant breadcrumb from mobile UI."

[2015-07-04 03:39] bsaiken opened #1072 "Mobile UI must be updated so on each page everything fits on a smaprtphone screen."
![img_3287](https://cloud.githubusercontent.com/assets/8228624/8506337/6781c6d2-21d4-11e5-80d9-032f3d782dac.PNG)
![img_3288](https://cloud.githubusercontent.com/assets/8228624/8506338/67840316-21d4-11e5-9b2d-ac5c07f708c9.PNG)

[2015-07-04 03:40] bsaiken opened #1073 "Remember view setting (map or satellite)."

[2015-07-04 03:42] bsaiken opened #1074 "Update FT Map view for smart phones."
Related to #1075.
1) Remove the menu functions for the mobile UI map - they are not needed on a smartphone interface and some just don't work well.
2) Add location labels for all Task locations (only).  The labels do not need to appear until the user zooms in.
3) Remove the location list from the map view - we added a new view for the location list (#1075).
4) Have the map view fit a smartphone sc

[2015-07-04 03:42] bsaiken opened #1075 "Add the Task Location list as a menu item (FT UI)."
I set this up in an ad-hoc way, but it will not work, except it is good as a mockup of what we need.

It turns out, for the mobile map viewed on a smartphone, we must have the map and the location list separated.

So, properly remove the Location list from `/mobile/map`.

Also, properly remove the Map from the `/mobile/loc_list`.  Right now the map is there, but I just added line 123 to `app-mobil

[2015-07-04 03:43] bsaiken opened #1076 "FT can edit login name and passord is visible on the form."

[2015-07-04 03:50] bsaiken opened #1077 "Remove all Toastr notifications."

[2015-07-04 03:58] bsaiken opened #1078 "Mobile UI login problems"

[2015-07-04 04:00] bsaiken opened #1079 "FT can add location"
In the FT Location list (see #1075), add an icon at the end of the Task Location list with the temporary label (Add Location).  Clicking this will call the Location info view, only the Location field will be blank.  The FT must enter a Location name, or clicking "Enter" will not record the data, which may include the marked location coordinates and a photo.

[2015-07-04 13:57] bsaiken opened #1080 "Remove Fazil and testingbydev as contributors."

[2015-07-04 13:59] bsaiken opened #1081 "Add feature_PM branch"

[2015-07-04 14:29] #1081 closed

[2015-07-04 15:09] bsaiken opened #1082 "Satellite view is default."

[2015-07-04 15:10] bsaiken opened #1083 "Remember last task and project and set as current."

[2015-07-04 20:12] FWAJL commented on #1080
@bsaiken

They are not contributors already.

[2015-07-04 20:12] #1080 closed

[2015-07-04 20:41] bsaiken commented on #1080
Oh - I saw the attached page.

As far as Issues, notice I have not assigned anyone yet.  Well, except
me since I'm free labor.  So, no work until assignments are made.

I need to carefully prioritize Issues so we can continue on minimal
budget until I get more money, or a job.

I can't guarantee I can talk this Tuesday, as you suggested, but it is
my intention to clear the space.

I am still worki

[2015-07-04 21:14] FWAJL commented on #1080
@bsaiken

Gotcha! You tell me what to do :+1:

[2015-07-05 19:16] #1073 closed

[2015-07-05 19:27] bsaiken opened #1084 "Correct Task info tab formatting"

[2015-07-07 00:45] bsaiken opened #1085 "Issue adding new PM."
It is giving me error messages - asking for data that should be added automatically (username and password as the email) or password hint, which could be blank.

[2015-07-07 01:02] bsaiken opened #1086 "Zoom Selected Project (Map) to boundary"

[2015-07-07 12:51] WebDevJL commented on #1075
@bsaiken

We will need to discuss more about this issue. I am not sure what you want to achieve. Plus, your commit seems to be a lot of copy/paster = harder to maintain code.

[2015-07-07 12:53] WebDevJL commented on #1074
@bsaiken

What are on-screen menu functions?

Did Damir do the drag&drop on the map?

[2015-07-07 12:59] WebDevJL commented on #1067
@bsaiken

Creating a separate UI is already done. What do you want to achieve exactly?

WURFL can provide a solution to image size (lighter).
Maybe it can help with input differences (keyboard/mouse vs touchscreen).

[2015-07-07 13:01] WebDevJL commented on #1066
@bsaiken

The issue title and the description are not related. Are they two tasks to complete?

[2015-07-07 13:21] WebDevJL commented on #1079
@bsaiken

1. add an icon at the end of the Task Location list with the temporary label (Add Location) => can you make a visual mockup please?
2. Clicking this will call the Location info view, only the Location field will be blank => location info view is the prompt box?

[2015-07-07 13:22] WebDevJL commented on #1072
@bsaiken

Do you mean no vertical scrolling ever?

[2015-07-07 13:23] WebDevJL commented on #1070
@bsaiken

I don't understand what you want here.

[2015-07-07 13:24] WebDevJL commented on #1069
What does it mean?

[2015-07-07 13:25] WebDevJL commented on #1068
@bsaiken

More description please.

[2015-07-07 13:31] WebDevJL commented on #1060
@bsaiken

New table task_check_list to record a row per checklist item for a task.

- table `task_check_list`
  - `task_id` ; int ; FK table task
  - `task_checklist_id` ; int ; PK
  - `task_checklist_detail` ; varchar(size???)
  - `task_checklist_complete` ; tinyint ; 0 or 1 (default=0).

[2015-07-07 13:59] bsaiken commented on #1069
@WebDevJL
Try uploading a photo for a technician.  If you start the upload a photo using fancybox, and click "Save" before the document is uploaded, the photo will not be save, even though I get a "success" message.

[2015-07-07 14:23] bsaiken commented on #1070
@WebDevJL
What I want is the correct coordinates when marking a location in the field.

I tried to "Mark" locations in the field with my iPhone.

<img width="1440" alt="screen shot 2015-07-07 at 9 01 59 am" src="https://cloud.githubusercontent.com/assets/8228624/8547809/ec2b1bd6-2486-11e5-8427-1691e17daa2a.png">

Sometimes, the coordinates were WAY off.  I think that is because the mobile device i

[2015-07-07 14:25] bsaiken commented on #1072
@WebDevJL
Vertical scrolling may be needed sometimes.  If that were the only problem I would not have made the Issue.  There are much larger problems with the display.  However, in this example, all of the information for the info window, if it were properly formatted, could be made to fit without any vertical scrolling.

[2015-07-07 14:44] bsaiken commented on #1079
@WebDevJL

Instead of this:
![img_3323](https://cloud.githubusercontent.com/assets/8228624/8548794/a0b1b290-248c-11e5-8545-a050caa10dad.PNG)

This:
![img_3324](https://cloud.githubusercontent.com/assets/8228624/8548804/aa9cef86-248c-11e5-9578-a5f7cd4ac38b.PNG)

Yes

[2015-07-07 14:51] bsaiken commented on #1066
@WebDevJL
I disagree - the Issue title and description are indeed related.  There are multiple related Issues.

[2015-07-07 14:55] bsaiken commented on #1067
@WebDevJL
The display for FTs on a tablet is fine.  However, the display for FTs on a smartphone is completely unusable.  There will need to be separate views constructed for smartphones.  And, some of the behaviors must also be different, which I assume means "a separate UI".

[2015-07-07 15:00] bsaiken commented on #1074
@WebDevJL

These are all on-screen menu functions:
![img_3325](https://cloud.githubusercontent.com/assets/8228624/8549148/c4f696fa-248e-11e5-916f-c19cc639dcdd.PNG)

The PM can drag and drop locations to a new position and the new coordinates are automatically updates.  This behavior must be removed for a smartphone.  I think it is OK for a tablet.

[2015-07-07 15:34] WebDevJL commented on #1078
TODO:
- add a loading box
- timeout after 30 sec if it is taking too long and show message.

[2015-07-08 00:04] bsaiken commented on #1078
@FWAJL
Good news.  I had someone login from the site today using their iPhone 6.  No issues.
Tomorrow and Thursday I will be able to do some more testing in remote areas.
Brian

[2015-07-09 13:39] bsaiken commented on #1078
@FWAJL
I have been doing some more testing.  I am at a site with excellent signal.  I am still having login problems, but it is only with Safari.  I tried Chrome and it works fine.  I am concerned my mobile device is retaining Safari settings.  I sometimes use my iPhone to test the local feature branch, and that could be causing the problem.

[2015-07-10 14:04] bsaiken commented on #1068
@WebDevJL
Question.  I just changed all the text that says "Field Analytes" to "Field Data".  I had to change this in many files.  Doesn't it make more sense to have a common resource file so that I only have to change the text in one location?

[2015-07-10 14:08] bsaiken opened #1087 "Location Marking evaluation"
@FWAJL
Jeremie,
I did a check of the coordinates accuracy for marking locations on the map.  The Location accuracy is pretty good!  The FT does, however, need to set the phone's coordinates, as in #1070.  When I did not do that , the coordinates could be 100's of meters off.

<img width="1440" alt="screen shot 2015-07-10 at 9 07 04 am" src="https://cloud.githubusercontent.com/assets/8228624/862015

[2015-07-10 17:24] WebDevJL commented on #1087
@bsaiken

Maybe the geolocation API can give accurate coordinates? I think it is a shame to use the native app to get the coordinates as it is not very practical.

Shall we make this issue the issue to implement geolocation API?

[2015-07-10 17:36] WebDevJL commented on #1068
@bsaiken

Yes, it makes sense.

You need to define a new common variable in `BaseController->AddCommonVarsToPage` (see line 244 => `$resx_left_menu = $this->app->i8n->getCommonResourceArray(Enums\ResourceKeys\ResxFileNameKeys::MenuLeft);`).

You need to give a name: "resx_data" and you get the data using the resource file name (add a ResxFileNameKeys and set the constant value to be your resource

[2015-07-10 19:55] bsaiken opened #1088 "Create a general Resx file for text common to mutiple pages"
You need to define a new common variable in BaseController->AddCommonVarsToPage (see line 244 => $resx_left_menu = $this->app->i8n->getCommonResourceArray(Enums\ResourceKeys\ResxFileNameKeys::MenuLeft);).

You need to give a name: "resx_data" and you get the data using the resource file name (add a ResxFileNameKeys and set the constant value to be your resource file name).

You can create a generi

[2015-07-10 20:07] bsaiken commented on #1087
@WebDevJL
I thought we were using the geolocaiton API.  Perhaps it is just the Google Maps API.  Can you confirm this?

The important message is that the coordinates are accurate enough.

If we can save the extra step using the geolocation API, of course I will create the Issue.

Brian

[2015-07-11 20:45] WebDevJL commented on #1087
@bsaiken

The Google Maps services includes a Geolocation API that uses cell towers, wifi hotspots positions or GPS to calculate yours.
When using our web interface, we don't have the Geolocation active (see the icon you circled in the last image of #1070). We should add a button that when clicked will ask permission to request coordinates and then the data will call the Google Maps to load the lo

[2015-07-19 14:40] bsaiken opened #1089 "Comment out auto-creation of client and service users."

[2015-07-19 14:43] bsaiken opened #1090 "Activate Task from edit mode"

[2015-07-19 14:46] bsaiken opened #1091 "Change Project non-task location marker symbols."

[2015-07-19 15:19] bsaiken opened #1092 "Is maps.js a deprecated file? If so, we should delete."

[2015-07-19 15:30] bsaiken commented on #1082
I will crate another Issue if I decide now that I want to remember map view state.  Default satellite may be what I really want.  One Issue at at time!

[2015-07-19 15:53] bsaiken commented on #1070
The Google Maps services includes a Geolocation API that uses cell towers, wifi hotspots positions or GPS to calculate yours.
When using our web interface, we don't have the Geolocation active (see the icon you circled in the last image of #1070). We should add a button that when clicked will ask permission to request coordinates and then the data will call the Google Maps to load the location ret

[2015-07-19 18:40] bsaiken opened #1093 "Create a single value webform that will record Field Data in the database."

[2015-07-19 18:41] bsaiken opened #1094 "Create a common resource file for text that is common to many pages."

[2015-07-19 22:13] bsaiken commented on #1094
You need to define a new common variable in BaseController->AddCommonVarsToPage (see line 244 => $resx_left_menu = $this->app->i8n->getCommonResourceArray(Enums\ResourceKeys\ResxFileNameKeys::MenuLeft);).

You need to give a name: "resx_data" and you get the data using the resource file name (add a ResxFileNameKeys and set the constant value to be your resource file name).

You can create a generi

[2015-07-20 18:40] bsaiken opened #1095 "Remove map pan symbols from map."

[2015-07-20 18:41] bsaiken opened #1096 "Change measurement units to feet (american) or do both."

[2015-07-20 20:34] bsaiken opened #1097 "Remove mouseover functions from mobile map."

[2015-07-21 01:53] bsaiken commented on #1087
Jeremie,

I have been making some pretty good progress addressing some of these
issues myself.  While some of my fixes are not terribly efficient, they
are utilitarian and already make the site significantly more
presentable.  We are at a stage now where utilitarian will need to win
out if we hope to move on.

That being said, given the level of complexity and effort I am
experiencing, I think I c

[2015-07-21 07:09] WebDevJL commented on #1097
@bsaiken

Is that done?

[2015-07-21 07:11] WebDevJL commented on #1091
@bsaiken

Same comment as #1097

[2015-07-21 07:15] WebDevJL commented on #1068
@bsaiken

If I am correct, this is related to #1094, isn't it? Can you update the status, please? (release or not)
Thank you.

[2015-07-21 14:21] bsaiken commented on #1097
@FWAJL
All I did was comment out all mouseover functions I could.  The UI does not respond to mouseovers as far as I can determine.

[2015-07-21 14:28] bsaiken opened #1098 "Create a webform that will record Task Field Parameters in the database."
This will require multiple steps, so I will remake this into a Milestone and prepare separate Issues.
Use this Issue to show screen shots and examples.

The Task Status tab is highlighted, but this is the view of the Field Data tab in the Active Task view.
In the example, the FT has recorded data for wells MW-10 and 11, but not yet for MW-1.
<img width="1440" alt="screen shot 2015-07-21 at 11 17 1

[2015-07-21 16:31] bsaiken opened #1101 "Make the common resource file available accross all pages."
Related to Issue #1094.
1094 may have created the file and set up the BaseController, but I tried calling the file and it didn't work.
Why?

[2015-07-21 16:55] bsaiken opened #1102 "Add a field "result" to the "field_analyte_location" table."
Related to Issue #1098.

[2015-07-21 16:56] bsaiken opened #1103 "Create an Active Task field data matrix table."
This is the same table as the field data matrix for inactive tasks.
Shows database values.  If there are no values recorded, show an empty field.
Tab has been created along with views and controller.  The existing output is a mockup.
See Issue #1098 for screen shot of mockup.

[2015-07-21 17:03] bsaiken opened #1104 "Create a FT webform for the "Collect Data" button."
Create a webform from the Field Data parameters.  This will be done instead of using a pdf form.  We can add a link to the pdf form(s) later.

The FT will fill in the form and the data shall be uploaded to the field_analyte_location table.
Include the datestamp for each new field entry and save to `field_analyte_location.field_analyte_location_date` - see Issue #1116.

If some data has been collec

[2015-07-21 22:41] #1093 closed

[2015-07-21 22:44] bsaiken opened #1105 "Add a button to promote tasks form inactive to active from the task/showForm Task Info tab."

[2015-07-21 22:45] #1090 closed

[2015-07-21 22:48] #1088 closed

[2015-07-22 03:51] bsaiken commented on #1075
@FWAJL
We can (and will) fix this later.  For now, the work that I have done has creates the desired view.

[2015-07-22 03:54] bsaiken commented on #1074
For clarity,  rather than worry about smart phone detection right now, we just need to make this change for the mobile UI.  Perhaps comment out the code we do not need so we could go back to it later, if desired.

[2015-07-22 05:02] FWAJL commented on #1101
@bsaiken

I have corrected the code in order to make it work.

[2015-07-22 17:51] bsaiken commented on #1057
test 14: unique check is not performed on edition

Did you mean on "addition"?
What is test 14?

I checked and the unique check is being performed, so I do not understand this Issue.

[2015-07-22 19:46] gsouvik commented on #1079
@bsaiken @FWAJL
I went through the list of the issues with high priority. I needed to start somewhere so I decided to pick this one. I'll need a bit of more information before I could start on this.

I was able to login as a technician using my mobile device and open the list of locations. I also understand that you wish to add an icon as shown on the second slide. After this, the requirement is n

[2015-07-22 22:21] bsaiken commented on #1079
@gsouvik @FWAJL
Good question.  I will be very specific, but the simple answer is that this is really just the difference between `Add` versus `Edit`.  We already have the `Edit` function established.  We also have a separate form for editing a Task Location that does not have any coordinates.  Any time you click on any of the Task Locations a popup appears with the `Edit` form.  The only differen

[2015-07-23 05:18] FWAJL commented on #1087
@bsaiken

I think you didn't answer the questions from https://github.com/FWAJL/FieldWorkManager/issues/1087#issuecomment-120660736. Can you please?

Thank you.

[2015-07-23 05:19] FWAJL commented on #1092
@bsaiken

I shall look into it.

[2015-07-23 05:25] FWAJL commented on #1057
@bsaiken

I have just tested it now on the live site.

When you ***edit*** (not add) a service provide and you set the name to an existing name, the uniqueness of the name is not performed.

![screen shot 2015-07-23 at 07 23 51](https://cloud.githubusercontent.com/assets/7524388/8843676/f8184fcc-310b-11e5-9281-fb0f0122a5f5.png)

This test 14 found here: https://docs.google.com/spreadsheets/d/1p-ha

[2015-07-23 12:38] bsaiken commented on #1057
where is this file located?  it is not where it is supposed to be - in
/google drive/FieldWorkManager/Unit testing files

On 2015-07-23 05:25, FWAJL wrote:

[2015-07-23 13:18] bsaiken commented on #1087
@FWAJL
Here are the answers to your questions.

Yes, I agree that it likely could.

This is Issue #1070.

You can see this data if you log in with user "baiken".  You do not need to know anyone's password to login.  Just log in to the admin user and do a switch.  The blue markers are Project Locations.  I identified them as Project Locations so that it would be easy to distinguish them from their

[2015-07-23 13:18] #1087 closed

[2015-07-23 13:52] WebDevJL commented on #1057
@bsaiken

Now it is.

[2015-07-23 13:57] gsouvik commented on #1079
@bsaiken @FWAJL
Great, that explained the requirement very clearly. I shall start with this and shall ask you questions if I face any issues. I'm working on the `feature_PM` branch.
Thank you.

[2015-07-24 13:12] #1097 closed

[2015-07-24 13:14] #1096 closed

[2015-07-24 13:15] #1094 closed

[2015-07-24 13:16] #1091 closed

[2015-07-24 13:17] #1084 closed

[2015-07-24 13:19] bsaiken opened #1112 "Refresh page and go to ListAll when new Service Provider added."

[2015-07-24 13:20] #1089 closed

[2015-07-24 13:21] #1082 closed

[2015-07-24 13:21] #1077 closed

[2015-07-24 13:28] #1072 closed

[2015-07-24 13:40] #1071 closed

[2015-07-24 13:41] bsaiken opened #1113 "Remove user name from mobile top header display"
This was not displaying properly, and is not needed for the mobile user.

[2015-07-24 13:44] bsaiken opened #1114 "Remove contextual menu from analyte/uploadList for common analytes"

[2015-07-24 13:45] #1068 closed

[2015-07-24 13:46] #1066 closed

[2015-07-24 13:47] #1056 closed

[2015-07-24 14:02] bsaiken commented on #1101
I tried using the common resource file and it does not work.

[2015-07-26 03:15] bsaiken commented on #1053
Unit test 3: update the tooltip value

I am not seeing this error - please be more specific.

[2015-07-26 15:01] bsaiken commented on #1055
This has been fixed.

[2015-07-26 15:54] bsaiken opened #1115 "Upload Field Parameter Bug"
When uploading a Field Parameter from `analyte/uploadList`, if the parameter is already listed, the program hangs up.

Correct behavior:  If one or more of the field parameters is already on the list, ignore the duplicate item(s) and proceed with items are ate not duplicates.

Note: we had a change in terminology.  We are using "Field Data" and "Field Parameter" in place of "Field Analyte".  With

[2015-07-26 17:14] bsaiken commented on #1063
This Issue to be done after Milestone "Field Data Webform" is complete (https://github.com/FWAJL/FieldWorkManager/milestones/Field%20Data%20Webform).  The upload photo option shall be placed below the webform fields, above the "Save" button.  If a photo is uploaded, all webform fields without a value will have a link to the photo.
The `document.document_category = task_location`.
Include a default

[2015-07-26 17:17] bsaiken opened #1116 "Add a field "field_analyte_location_date" to the "field_analyte_location" table."

[2015-07-27 02:42] bsaiken commented on #765
Address adequately by Issue #1105.

[2015-07-27 02:42] #765 closed

[2015-07-27 02:43] bsaiken commented on #1055
Both other Issues are so low in priority that they should be moved to backlog issues.

[2015-07-27 02:58] bsaiken commented on #1052
I edited the admin password to make it a little more secure.  Contact me if you want it.

[2015-07-27 03:07] bsaiken commented on #1058
I do not get this error, more specificity required.

[2015-07-27 03:57] FWAJL commented on #1114
@bsaiken

When editing a field paramater from the analyte/listAll view, the check "IsfieldAnalyteExisting" is not working because you removed resource in the commit  fa50574589cd0ea2de96ebddb44bd4d1ebef4397 and also, the check is failing ("message_error_isfieldAnalyteExisting").

See details below:
![screen shot 2015-07-27 at 05 52 03](https://cloud.githubusercontent.com/assets/7524388/8898394/ddb

[2015-07-27 13:13] bsaiken commented on #1114
@FWAJL
I'm way ahead of you.
https://github.com/FWAJL/FieldWorkManager/commit/b5431ebffb6cbfde12f34c0bedda40859a4eef45

[2015-07-27 13:34] bsaiken opened #1117 "Photo uploading has an undetermined error"
Log onto PM user "baiken".  Under the Project "Job Hunting", choose Map > All Project's Locations
You can access all users with the "admin" login, but you may need to email me to get the updated password.

Then select "Location 1" and bring up the info window.  There is one stored photo.

<img width="1440" alt="screen shot 2015-07-27 at 8 23 59 am" src="https://cloud.githubusercontent.com/assets/8

[2015-07-27 21:32] #1116 closed

[2015-07-27 21:44] #1114 closed

[2015-07-27 21:47] bsaiken commented on #1113
@FWAJL
Did you add the text "Check" to the page.  It is showing up now.

[2015-07-27 21:50] #1112 closed

[2015-07-27 21:51] #1105 closed

[2015-07-27 21:52] #1102 closed

[2015-07-27 21:53] #1057 closed

[2015-07-27 23:03] bsaiken commented on #1113
@FWAJL
Ughhhhhh!.  Nevermind.  It's part of the task name.  This needs to appear entirely in the header...

I commited a fix, but there are problems I need you to address.

[2015-07-28 03:55] bsaiken opened #1120 "At /activetask/showForm, The instructions need to be in a scrollable box or they don't fit."
See also Issue #1060

[2015-07-28 04:25] FWAJL commented on #1113
@bsaiken

What issues are they?

[2015-07-28 05:19] FWAJL commented on #1117
@bsaiken

I have identified the document representing this photo. It is indeed part of the location 134 in the project 14 (El Campo). I will extract the DB from live server and debug locally to see why the Job Hunting retrieves that document for the Location 1 (id=13)

[2015-07-28 07:28] WebDevJL commented on #1117
For info @damirius @gsouvik

@bsaiken

Bug resolved. It is very possible that it resolves the phantom forms as well since they are documents. It only happens in some specific case like the one below. Nice job creating the hard-to-replicate case!

The problem was in the sql query where a "_" was used and it is a [wildcard](http://stackoverflow.com/questions/8236818/why-does-underscore-match-hyphen)

[2015-07-28 07:44] WebDevJL commented on #1065
@bsaiken

Verifying if related to #1117.

[2015-07-28 10:52] bsaiken commented on #1113
@FWAJL
I believe the problem was our old nemesis - you and I on GIT at the same time (or Souvik).  Anyway, I like your elegant approach, but the PM header is now messed up.  I will fix it and re-submit the code.

[2015-07-28 10:57] bsaiken commented on #1065
@WebDevJL
It is likely.  I just create a new Task last night, one with no forms, and this same photo "Bypass" appeared in the forms list.

[2015-07-28 13:00] gsouvik commented on #1079
@bsaiken @FWAJL
I've coded the feature where the FT can add a new location, following is a list of the key features coded for the Issue.
1) Icon added as shown in slide, taping which the FT would be able to add new Location.
2) Tapping the icon, the popup dialog opens with buttons "Add" and "Cancel". The fields are limited to only `location_name` and `location_description` along with photo upload

[2015-07-29 06:49] WebDevJL commented on #1065
For info @damirius
@bsaiken

Actually, the problem wasn't related at all. Instead, we were getting the task locations and all the documents and trying to match all the documents to the `task_location_id` list. But in that case, we weren't filtering on the `document_category`.
So, the `task_id=12` had a `task_location_id=52` and a document of `location_id=52` was matched to it, hence the result sho

[2015-07-29 06:54] WebDevJL commented on #1065
@bsaiken

Also, I see now that we need a new column in the document table: document_category_id_value (e.g. in the case [above](https://github.com/FWAJL/FieldWorkManager/issues/1065#issuecomment-125860052) document_category = task_location_id and document_category_id_value = 52).
In fact, we store the document_category_id_value is the document_value but having in a standalone column in addition to

[2015-07-29 11:38] bsaiken commented on #1065
@WebDevJL
It is good to know the problem, and that it is party fixed.  However, I'm sure you can see this is a Very Low Priority item, so we will come back to it if we can get the other Issues resolved.

[2015-07-29 11:58] damirius commented on #1074
@bsaiken @FWAJL

Hey guys!
I'm home again so I can start working on this issues. I see that this is one have highest priority so I'll start with it.
I'll update and setup everything on my local machine asap. If I have some questions I'll ask them here when I start working on specific stuff.

[2015-07-29 12:14] WebDevJL commented on #1065
@bsaiken

Yes, I noticed the priority. However, this issue 1065 will be closed soon (after 1.7.4 release).
Can we create the issue for the document table improvement still?
Thank you.

[2015-07-29 22:09] bsaiken commented on #1079
@gsouvik @FWAJL

This is not going to work.  I set up the `/mobile/loc_list` module, but it was not done properly.  I thought my ad-hoc patch would work, but it won't.  I will need to get this fixed.

Please go to the next Issue.

[2015-07-29 22:38] bsaiken commented on #1074
@damirius @FWAJL @gsouvik
Good to have you back, and much needed.
Field testing revealed that the mobile map UI does not work at all - we need a major overhaul.  Note that I just re-opened #1075 for you to fix properly.

[2015-07-29 23:05] bsaiken opened #1125 "Improve document handling"
@FWAJL

I see now that we need a new column in the document table: document_category_id_value (e.g. in the case above document_category = task_location_id and document_category_id_value = 52).
In fact, we store the document_category_id_value is the document_value but having in a standalone column in addition to that means we can query it more easily and more efficiently than on the document_value.

[2015-07-30 04:45] FWAJL opened #1126 "Add a unique id column to field_analyte_location table"
As part of the Field Data Webform, we will store data as pictures so the unique id will enable us to identify it in the documents.

[2015-07-30 05:15] FWAJL commented on #1104
@bsaiken

As briefly discussed yesterday, here are the steps we could take to make sure the data is saved:

1. FT enters the data in the input(s).
2. FT clicks "OK" or "Save". The values are cleared from the inputs (btw, browser won't cache this data unless we tell them).
3. Request validation from FT in a simple popup before initiating the process to save the data. This is to make sure the FT has

[2015-07-30 06:45] WebDevJL commented on #1104
@bsaiken

A few other suggestions:

- what about preventing the FT to go to the next location until the current one done?
- show the locations done with a marker like a "checked" green marker icon to clearly show the FT it is done.

[2015-07-30 14:39] bsaiken commented on #1104
here are the steps we could take to make sure the data is saved:
    1. FT enters the data in the input(s).

Yes - obvious first step

I do not see why the values would be cleared from the inputs.

Not now.  We can add this later if it seems needed.

Yes.

a. If the data is saved,
        we refresh the page and load the data stored into the inputs

Yes, and this where I was asking, if data is loa

[2015-07-30 14:39] bsaiken commented on #1104
I responded - see github

Brian

On 2015-07-30 00:15, FWAJL wrote:

I

[2015-07-30 14:41] damirius commented on #1074
@bsaiken @FWAJL

I see that some stuff is already done here. For example custom controls were removed already.
In any case, I've removed default google map UI for mobile map also.
I've also added infobox label class. When user zooms in labels will show up, zoom level threshold is set to 15, it can be changed if you wish.
Other than that I've opened up the map in chrome's phone emulator and also on

[2015-07-30 14:51] bsaiken commented on #1074
@damirius
Yes, I already did some things, but I needed your expertise to finish the job, and in some cases fix my patchwork solution.
Can I change how the labels appear, say with CSS?  If so, point me where this is.
Also, point me to the location of the zoom level threshold parameter.

[2015-07-30 14:54] bsaiken commented on #1074
@damirius @FWAJL
Have you done a git pull?  Your branch is seems behind.  This could be because the dev branch is lagging the feature_pm branch.

[2015-07-30 14:59] bsaiken commented on #1098
@gsouvik @FWAJL @damirius

Jeremie,  with the team working again, we will need to support the separate branches.  Please make sure feature_damir, feature_devsupport, and feature_PM are up to date.   We can probably get rid of feature_mobile.

Souvik, please start using feature_devsupport.

Also, there have been some database changes so everyone check that their database is up to date.

It's good t

[2015-07-30 15:03] WebDevJL commented on #1074
@damirius @bsaiken

The dev branch and all feature branches are up to date with code of version
1.7.3.

All code done after that is not merged to all branches.
On 30 Jul 2015 16:54, "bsaiken" <notifications@github.com> wrote:

[2015-07-30 15:05] WebDevJL commented on #1074
@bsaiken @damirius @gsouvik

See my comment in #1074.
On 30 Jul 2015 17:03, "Jérémie L" <webdev.jl@gmail.com> wrote:

[2015-07-30 15:47] damirius commented on #1074
@bsaiken @FWAJL

I pulled everything multiple times, yesterday and few hours ago again.

You can change label box css in mobile_map_manager.js in web/js/app/controllers directory.
It has to be specified in labelOptions object, you can find it on line 620 under 'boxStyle', I believe you can use anything there you would use in regular css.

Zoom level is on lines 710 and 715 in the same file, you'll

[2015-07-30 18:18] bsaiken commented on #1074
@damirius
Where are styling instructions?  For example, if I want to change the font color to yellow, how would I do that?
Also, wouldn't the box styling be in a CSS file - or is that not possible?

[2015-07-30 18:36] bsaiken commented on #1074
@damirius
Actually, I was able to answer some of my own questions, but I still think styling should be in a CSS file.

[2015-07-30 19:39] damirius commented on #1074
@bsaiken

Well, it wasn't my choice, it's done like that in their class.

[2015-07-31 04:49] FWAJL commented on #1104
@bsaiken

NB = Note Bene = i.e. = e.g.

So I'll take what I wrote and modify it according to your input:

1. FT enters the data in the input(s) of each parameter.
2. FT clicks "OK" or "Save" which initiate a request to the server.
3. On the server, the data is saved to the DB.
4. We handle the response after saving the data to the DB.
    a. If the data is saved, the server returns the data saved

[2015-07-31 11:37] gsouvik commented on #1103
@bsaiken @FWAJL
So basically this is the same functionality as that of `task/fieldMatrix` for Active tasks. As I understand I would just have to reuse the code and tables which already exists for the inactive task field data matrix and generate this screen for the Active task. Please confirm and I shall start coding.

Also I've pulled  `feature_devsupport` and plan to code this feature on that bra

[2015-07-31 13:52] bsaiken commented on #1104
On the screenshot, to me, it looked like one parameter with 2 values, hence the concatenating remark. If they are distinct parameters, then why put them on the same line. In a UI point of view, list them is more standard. What do you think?

This goes back to my comment about the difficulty of preparing a simple mockup in our existing MVC structure.  They are different values, and they should be s

[2015-07-31 14:18] damirius commented on #1064
@bsaiken

Set initial zoom for mobile map to task locations.
When setting up initial zoom script will first try to fit all Task markers in the view, if there are no task markers it will try to fit all markers (project), if there is only one marker it will center on that marker and if there are no markers it will zoom to project boundary.
So just like before with addition of that first step with ta

[2015-07-31 14:48] bsaiken commented on #1103
@gsouvik

The tables are not the same, but it is very similar.  The `task/fieldMatrix` is a table of Locations and Field Parameters with checkboxes (checked or unchecked), so we can create the matrix that defines which of the Location/Field Parameter pairs will be needed.

The `activetask/fieldData` table may have one of three different entries for each Location/Field Parameter pair:

1) The field

[2015-07-31 15:02] bsaiken commented on #1064
@damirius
Looks good.  Make sure you are working in order of priority.

[2015-07-31 15:23] bsaiken commented on #1079
@damirius

Damir,  I had assigned this to Souvik, and he nearly finished, but I realized this really can't be done properly until #1075 is complete.  Since you have #1075 as your highest priority item, and they are related, I am assigning this to you to finish (after 1075).

Make sure you coordinate with Jeremie so you can merge Souvik's work (or at least look at it) before continuing.

Thanks!

[2015-07-31 15:58] gsouvik commented on #1103
@bsaiken
So the table is actually same - `field_analyte_location`. Only the functionality is different the way you have explained in your 3 points.

If for a particular location and field data pair, some data is recorded and the screen is reloaded later, would the user be able to edit that text? In other words, continuing with what you said in your point 3, when the screen is reloaded later, will

[2015-07-31 16:31] bsaiken commented on #1103
@gsouvik
For now make the data un-editable by the PM.

[2015-07-31 16:44] FWAJL commented on #1104
By using the method of saving the page with Command+S to your desktop, you can easily modify the page to make a mockup. It is a static page on which you have all the data of the generated page by the server.
We can make it easier for your level of programming, that is good already, but it means to change the way to code it.
Making a list of items in your saved static pages in a breeze for level. T

[2015-07-31 17:21] damirius commented on #1075
@bsaiken @FWAJL

I've separated loc_list page from map. Map element is totally removed from that page and I've moved ajax call along with some other functions (for info windows) to mobile_manager.js. I've also hidden some buttons which we don't need on this list, like directions/zoom since we don't use a map here. User still should be able to upload or remove photos from the locations and edit des

[2015-07-31 19:40] bsaiken commented on #1104
By using the method of saving the page with Command+S to your desktop, you can easily modify the page to make a mockup. It is a static page on which you have all the data of the generated page by the server.
We can make it easier for your level of programming, that is good already, but it means to change the way to code it.
Making a list of items in your saved static pages in a breeze for level. T

[2015-07-31 19:54] bsaiken commented on #1075
@damirius
Looks good!

[2015-07-31 21:20] bsaiken commented on #1079
@damirius
Maybe it would be best just to put a button to add a new Location.  See mockup (https://github.com/FWAJL/FieldWorkManager/commit/55cfcfbb4c2daaa0c6532a9d153f3c7df581e04f).

[2015-07-31 21:51] bsaiken commented on #1104
@FWAJL
I was thinking about this and I realize that what I want is a very common behavior for web sites, so don't overthink it.  For example, suppose I am trying to buy something on the web and I am filling out the "new customer" form.  Often times, the login name I pick is already chosen, so the page refreshes and it asks me for a now login name.  However, all the other fields that I already fill

[2015-07-31 22:00] bsaiken opened #1127 "Notifty FT of bad connection, or offline, when submitting data."
Related to #1104.
Suppose the FT is trying to save data but the connection is bad.  They need to know so data is not lost.

Propose a solution for me.
This link may help.
http://stackoverflow.com/questions/189430/detect-that-the-internet-connection-is-offline

[2015-07-31 22:04] bsaiken opened #1128 "Add a button to enable PM to edit field matrix table."
Related to #1103.

[2015-07-31 23:11] bsaiken opened #1129 "Map > Task Locations bug"
<img width="1440" alt="screen shot 2015-07-31 at 6 09 39 pm" src="https://cloud.githubusercontent.com/assets/8228624/9019335/6d0f3d28-37af-11e5-82d8-01bc3272a918.png">

[2015-08-01 14:06] bsaiken commented on #1103
@gsouvik
I think I misunderstood your question.  The data is editable.  If the PM is looking at the screen, and the FT changes the value, the PM would not know until they did a re-fresh.

We implemented an auto-refresh.  I will have Damir work on the auto-refresh, since he did the original refresh work.  Your job is just to create and populate the table.

[2015-08-01 14:07] bsaiken opened #1130 "Auto refresh Active Task field data matrix table."
See Issue #807

[2015-08-01 18:46] gsouvik commented on #1103
@bsaiken
Understood, I'll keep a note of that while coding.

[2015-08-01 19:21] FWAJL commented on #1104
@bsaiken

Ok. Now I think we have all the requirements with your last comment. So, what needs to be done is:

1. FT enters the data in the input(s) of each parameter.
2. FT clicks "OK" or "Save" which initiate a request to the server.
3. On the server, the data is saved to the DB.
4. We handle the response after saving the data to the DB. a. If the data is saved, we can highlight the data saved in

[2015-08-02 15:42] FWAJL opened #1134 "Merge #1133: conflict in file Views/Mobile/viewList.php"
@damirius @gsouvik

Please help me pick the right code for this file. You modified the same file and I'm not sure what to take.

@damirius's version:
https://github.com/FWAJL/FieldWorkManager/blob/feature_damir/Applications/PMTool/Views/Mobile/viewList.php
@gsouvik's version: https://github.com/FWAJL/FieldWorkManager/blob/feature_PM/Applications/PMTool/Views/Mobile/viewList.php

Is that portion
[c

[2015-08-02 15:50] FWAJL opened #1135 "Merge #1133: conflict in file Web/js/app/controllers/mobile_map_manager.js"
@damirius @gsouvik

Another conflict:
@damirius 's version:
https://github.com/FWAJL/FieldWorkManager/blob/feature_damir/Web/js/app/controllers/mobile_map_manager.js

@gsouvik 's version:
https://github.com/FWAJL/FieldWorkManager/blob/feature_PM/Web/js/app/controllers/mobile_map_manager.js

At lines 762 to 775 (for Souvik) and at lines 711 to 724 (for Damir), the block of code conflicts. Do we nee

[2015-08-02 16:13] bsaiken commented on #1135
@FWAJL @damirius @gsouvik

Keep Damir's Code.  Souvik was working on Issue #1079, but I realized that what his approach was not going to work in part because we had not properly set up the Location List (Issue #1075).  See my comment https://github.com/FWAJL/FieldWorkManager/issues/1079#issuecomment-126111138.

With my updated approach for Issue #1079 (https://github.com/FWAJL/FieldWorkManager/com

[2015-08-02 16:18] bsaiken commented on #1134
@FWAJL
I believe this follows from the same logic as #1135.  Damir's code should be used.
https://github.com/FWAJL/FieldWorkManager/issues/1135#issuecomment-127040317

[2015-08-02 16:23] FWAJL commented on #1135
@bsaiken  Ok!

[2015-08-02 16:23] #1135 closed

[2015-08-02 16:23] FWAJL commented on #1134
@bsaiken Ok!

[2015-08-02 16:23] #1134 closed

[2015-08-03 05:05] FWAJL commented on #1126
Update run onto the live DB.

[2015-08-03 05:05] #1126 closed

[2015-08-03 06:31] WebDevJL commented on #1130
@bsaiken

Before suggesting an idea, to extend the functionality, it would be useful, as I think it will happen, to enable the "auto refresh" for all modules in the active task section. Not just the field data or the discussion.

Am I right?

[2015-08-03 13:00] bsaiken commented on #1130
Before suggesting an idea, to extend the functionality, it would be useful, as I think it will happen, to enable the "auto refresh" for all modules in the active task section. Not just the field data or the discussion.
Am I right?

We know that the active task discussion module needs to be refreshed.  Now we know we need to refresh the field matrix modules as well.  The active task map has colored

[2015-08-03 13:01] bsaiken commented on #1117
@FWAJL
I am going to clear this one without extensive testing, because I am not certain I could create the required conditions, so we will need to see how it goes as I continue alpha testing.

[2015-08-03 13:01] #1117 closed

[2015-08-03 13:02] #1113 closed

[2015-08-03 13:03] #1075 closed

[2015-08-03 13:05] #1064 closed

[2015-08-03 13:28] bsaiken opened #1142 "Add redirect on /technician/showForm "Save""

[2015-08-03 13:38] bsaiken commented on #1065
@WebDevJL
Now, when I activate a Task, we do not get any task forms created.  We will need to put this on the backburner since we are focusing  on Webforms.

[2015-08-03 14:43] damirius commented on #1079
@bsaiken @FWAJL

New commit is on feature_damir branch.
I've added button for adding new task location on the mobile location list. I've used existing js function for calling the infowindow, gsouvik already made webservice for it too so I used that for entering new info in db/sessions.

[2015-08-03 15:01] WebDevJL commented on #1065
@bsaiken

It is not related to this issue. This issue was happening in the active
task section.

Forms not being created is in the task edition section, more specifically
when we activate it.

Can you please create a new issue? Thank you.
On 3 Aug 2015 15:38, "bsaiken" <notifications@github.com> wrote:

[2015-08-03 15:18] WebDevJL commented on #1130
@bsaiken

Having synced data between pm and ft interfaces is a good idea. To do it or
not is another question. Here are some thoughts.

The first point to take into account is server performance.
Real time auto refresh, or auto refresh every x minutes, can be heavy on
server ressources. Now we have one pm, and maybe 2 at once that could work
on the tool.
Second point is implementation to display u

[2015-08-03 17:31] bsaiken commented on #1130
@WebDevJL
I am just not buying this idea that we are putting a big burden on the server by what we are doing.  We have few users and very little data is being passed.  So, I think you may be correct in general, but in this context is it really a significant drain on server resources?  This would only be happening when the PM is logged in, so we can assume that they actually want to see the data.

[2015-08-03 17:33] bsaiken commented on #1065
@WebDevJL
I will make a new Issue then.  It may well be that we temporarily disabled this feature and I forgot.

[2015-08-03 17:33] #1065 closed

[2015-08-03 17:35] bsaiken opened #1143 "Forms are not being generated"
See also Issue #906 and related Issues.

[2015-08-03 17:52] bsaiken commented on #1079
@damirius
I am not seeing the button, or that the html was added, per line 286 or mobile_manager.js.

Also note in the attached photo that the highlighted html, and several lines below, do not need to be there.  Not only were they supposed to have been removed, but they are needed for the map view, and this is just a list of Locations.

<img width="1440" alt="screen shot 2015-08-03 at 12 45 26 pm"

[2015-08-03 18:01] bsaiken commented on #1079
@damirius @FWAJL

False alarm.  I had not done a proper git pull.  OK for Code review.

This really can't be fully tested until we do Issue #1070, so I have promoted it to Very High Priority.

[2015-08-03 18:03] bsaiken commented on #1070
@damirius
The correct coordinates would be fetched by clicking "Mark", or when we the FT adds a new location, as we just completed for Issue #1079.

[2015-08-03 18:41] FWAJL commented on #1130
Yes, we can. I was thinking about this as a solution. It limits the requests to the server and we are processing the current data displayed on screen, which is the most important, isn't it?

Let me correct myself: data-binding would be ***more*** complex than a simple page reload. If done on a tab basis as the PM is viewing its content, then we make less calls to the server to update the views.

T

[2015-08-03 21:26] bsaiken commented on #1130
@WebDevJL
We will need this done for each tab in the activetask UI.  If you need to add anything to the method implementation, add it here.

[2015-08-04 04:59] FWAJL commented on #1079
@damirius @bsaiken

It is really confusing to use the module `map_info.php` and actually its inner html is set in `mobile_manager.js`.

Rather, it would be better to create a module in `Views/Mobile/Modules` called `locationListContainer.php` and put your empty div in there with a comment explaining how it is used (jQuery append).

Can we do that?

[2015-08-04 05:00] FWAJL commented on #1074
@bsaiken

Can we close this?

[2015-08-04 05:16] FWAJL commented on #1130
@bsaiken

Enable an automatic refresh using a similar method that Damir did in the communications tab.

The final specifications are:

1. The web client needs to make AJAX calls to the server to retrieve the data
2. Once the data is retrieved, data-bind it to the view.
3. Make the data-binding reusable since we need to implement it onto all active task tabs.
4. Only new or updated data needs to be

[2015-08-04 09:11] damirius commented on #1079
@FWAJL @bsaiken

Sure we can.

[2015-08-04 10:05] damirius commented on #1079
@bsaiken @FWAJL

I've created new module for this location list. I've also changed some ids and stuff, so I'm putting this issue back on function review to test it out.

Like always new commit is on feature_damir branch

[2015-08-04 10:16] damirius commented on #1070
@bsaiken @FWAJL

If I'm correct we want to use current coordinates (same as "mark") of FT when he adds new location through location list page right? Since mark option should already work on the map page.
It will work if FTs use GPS for geolocation, if not, like you said, coordinates can be off by a huge margin.

[2015-08-04 12:51] bsaiken commented on #1130
@WebDevJL

To be clear.  The data is being viewed by the PM, but it is the FT that is updating the data.  So the update must assume any value could have been changed.
Also, I continue to be perplexed by the limitations and exclusions "Only new or updated data...".  Why not get all of it?  We are not streaming videos, or downloading image files or attachments.  We are only talking about few data by

[2015-08-04 13:00] bsaiken commented on #1070
@damirius @FWAJL

Yes

There is no "if" here.  In order for the tool to be effective, we *MUST* have accurate coordinates.   Specify what conditions must be met in order to ensure that FTs are using geolocaiton.  This is not a random set of web users, these are highly compensated professionals, and they will follow guidelines we provide, even if it means having a certain type of mobile device or a

[2015-08-04 13:01] #1074 closed

[2015-08-04 13:39] WebDevJL commented on #1130
@bsaiken

Ok. Let's get everything to make it simple. Comment updated https://github.com/FWAJL/FieldWorkManager/issues/1130#issuecomment-127481599.

[2015-08-04 14:38] damirius commented on #1070
@bsaiken @FWAJL

OK, I've added mark button in "Add new location" infowindow on location list, it works the same as on the mobile task map.
There are few options that I've added there, we can specify if we want to use cached locations and how old that cache can be. I turned that off, it's set to 0, so every time FT clicks 'Mark' button, api will try to fetch new coordinates. There's also `enableHi

[2015-08-04 15:55] bsaiken commented on #1070
@damirius

Thanks Damir.  This is good information.  The bottom line is we need best accuracy, even if it takes a "long time".  If a FT must wait 60 seconds while marking a location, that is actually, in the grand scheme of things, a huge time saver.  So, the concept of "speed" is entirely relative.
In most cases, Wifi will NOT be available, so we have to rely on the mobile device.
I know there mu

[2015-08-04 16:30] damirius commented on #1070
@bsaiken

I've pushed new commit which fixed some bug with saving coordinates and I added redirect to map page after user adds new task location on the list.

I'll test everything out for marking and get back to you with some videos.

[2015-08-04 16:34] bsaiken commented on #1070
@damirius @FWAJL

There are many problems.
* First, refreshing the page `/activetask/map` does not show the new locations added by the FT.  I have to log out and log in to see the new locations.  This must be changed.
* The menu item "Mark" is missing from the Location List location info window.  Therefore, I am no longer able to mark Locations.  These are Locations entered by the PM, assigned to

[2015-08-04 16:42] bsaiken commented on #1070
@damirius
OK - with your update the location coordinaes I got, when I saved after clicking the "Mark" button, was spot on.  This requires some additional testing, which I will do today.  But the other Issues I pointed out also need to be fixed.

[2015-08-04 17:56] damirius commented on #1070
@bsaiken @FWAJL

New commit on feature_damir branch.

There's no conflict between infowindows. I thought that we wanted to add Mark button to new location infowindow so that FT can edit coordinates manually if he doesn't want to add them automatically through geolocator. I've removed both latitude/longitude fields together with mark button.
I've also added mark button back to existing location inf

[2015-08-04 21:32] gsouvik commented on #1103
@bsaiken
I've created the Active task field data matrix screen. The code is pushed to `feature_devsupport` branch.
Please review and let me know if any changes are required.

On a separate note, I think I've found a bug on the field and lab matrix screens when the data spans into many pages. The check-boxes do not retain their checked status other than the current page, when the matrix is saved. I

[2015-08-05 03:19] bsaiken commented on #1070
@damirius
This looks good.  However, the only way for me to do a proper function test is to do it in the field, so the code must be released to the DEV branch.

As far as the Session arrays go, we will need to make a new Issue to manage that.

[2015-08-05 03:20] bsaiken opened #1144 "Overcoming Session Array limitations for Active task module."
For other points, this problem is bigger then most of the stuff here. I mentioned that few months earlier I think. We will have problems if some piece of data can be modified by multiple users in the same time.
When the user logs in, any user type (FT/PM), and he visits some page with data, let's say locations, we will fetch everything and store it in sessions. After that everything that is modifi

[2015-08-05 03:25] bsaiken commented on #1144
![dda33568-3ae2-11e5-882a-b5e4e9734ece](https://cloud.githubusercontent.com/assets/8228624/9077775/add2046c-3af7-11e5-8593-bc5426a507b2.png)

[2015-08-05 03:39] bsaiken commented on #1103
@gsouvik
This is not working on my local machine.  Is there a database update I need?

[2015-08-05 03:43] bsaiken opened #1145 "Lab Analytes > List All bug"
From here:

<img width="1440" alt="screen shot 2015-08-04 at 10 41 04 pm" src="https://cloud.githubusercontent.com/assets/8228624/9077947/0aa7e830-3afa-11e5-9d9a-9a9350444062.png">

Click on Lab Analytes > List All (Left Menu) to get this error:

<img width="1440" alt="screen shot 2015-08-04 at 10 41 08 pm" src="https://cloud.githubusercontent.com/assets/8228624/9077951/2238c35c-3afa-11e5-960f-1ee

[2015-08-05 03:47] bsaiken commented on #1130
@WebDevJL
See Issue #1144.  This may be the same Issue.

[2015-08-05 07:22] gsouvik commented on #1103
@bsaiken
The following scripts which were added already and I assume you might have in the database, are needed for the code to work:
https://github.com/FWAJL/FieldWorkManager/blob/master/Database/Scripts/Updates/2015-07-24.sql
https://github.com/FWAJL/FieldWorkManager/blob/master/Database/Scripts/Updates/2015-07-27.sql
https://github.com/FWAJL/FieldWorkManager/blob/master/Database/Scripts/Updates

[2015-08-05 07:27] WebDevJL commented on #1144
@bsaiken @damirius

We have several tasks to identify:

***1.Read-only once from the Database should be upgraded to Read in consultation in some specific cases.***

I believe that this first point is the matter of issue #1130 to refresh consultation data, i.e. when the data is displayed into a view but no editing actions are performed. We decided to do it in all the Active task tabs.
I think we ar

[2015-08-05 14:15] bsaiken commented on #1079
@FWAJL @damirius
Initial testing checks out.  Further field testing (with smartphone, away from wifi connection) required.

[2015-08-05 14:22] bsaiken commented on #1144
1.Read-only once from the Database should be upgraded to Read in consultation in some specific cases.
I believe that this first point is the matter of issue #1130 to refresh consultation data, i.e. when the data is displayed into a view but no editing actions are performed. We decided to do it in all the Active task tabs.
I think we are ok with this point because we came to agreement in #1130. Tel

[2015-08-05 14:24] bsaiken commented on #1130
@damirius @WebDevJL
Damir, Please review the comments on this Issue and #1144 and let me know if you are able to implement the solution Jeremie proposes.

[2015-08-05 14:43] bsaiken opened #1148 "Checkbox save error"
For large matrix fields, where pagination is required at `/task/fieldMatrix`, the "Save" function on one page clears the checkboxes for the other pages.

[2015-08-05 14:44] bsaiken commented on #1103
@gsouvik
Thanks Souvik.  I identified the bug and created Issue #1148.

[2015-08-05 14:51] #1070 closed

[2015-08-05 16:16] bsaiken opened #1149 "Remove AddTabStatus from Analyte and Lab Analyted Controllers"
Also dead code in Helpers and the dead file AnalyteTabKeys.php.

[2015-08-05 17:05] damirius commented on #1130
@bsaiken @WebDevJL

Discussion auto refresh functions are simple. They are using `setInterval` functions which just run ajax call on set time interval which in turn loads discussion thread. We are saving `lastTimestamp` and send it as a param with that call so that we only fetch new messages instead of refreshing everything. Also there are some "refresh blockers", for example when PM/FT sends a me

[2015-08-05 18:09] bsaiken commented on #1130
@damirius @WebDevJL @gsouvik
I am not sure I completely understood your response.  Perhaps a clearer list of constraints and required behaviors will help.

A PM can NOT edit a task that is active.  I think I played around with this, for example, I thought I wanted the PM to be able to edit field data.  If so, my mistake.  Nothing in the Active Task UI should be editable by the PM.  Locations can N

[2015-08-05 19:26] gsouvik commented on #1104
@FWAJL @bsaiken
I've understood the requirement, thank you for explaining it point wise and elaborately. I just have one point to confirm. So the web form in question would have rows with the field analyte name and the text box for entering the parameter. Something like the following?

FA1     [ text box for parameter ]
FA2     [ text box for parameter ]
.....................
.....................

[2015-08-05 20:10] bsaiken commented on #1104
@gsouvik
Yes.

[2015-08-05 21:23] damirius commented on #1130
@bsaiken @WebDevJL

First half of the comment is meant for Jeremie, so we can find the way to implement those changes in the code.
In any case I gave wrong example, but the point is the same. If you are PM you can't see the changes FT makes to the locations even with refreshing because refreshing will fetch the data from sessions and not from the db.

Last paragraph in my previous comment explains

[2015-08-05 22:20] bsaiken commented on #1130
@damirius
Your example was adequate.  I understand that the answer is to pull data from the DB, not the session array, or change the way the session array is updated, so it updates with a page refresh.

I have been opposed to the session arrays from the beginning, in part because I could foresee issues like this occurring.  However, part of my resistance has been due to a lack of sufficient knowle

[2015-08-06 06:20] WebDevJL commented on #1130
@bsaiken

First, thank you for laying down clearly what are your needs Brian. I think it clarifies it for everybody

The use of the session can be skipped if you're really against it and we can look at performances later. It'll save us time now.
However, I want to emphasize that, if implemented properly, e.g. you have for the session data methods to read, remove and add data into it, we wouldn't h

[2015-08-06 06:23] WebDevJL commented on #1130
@bsaiken

I suggest to have one issue per view where we want the auto refresh. This issue will be the "documentation" issue.

Is that ok with you?

[2015-08-06 13:07] #1128 closed

[2015-08-06 13:12] bsaiken opened #1150 "Make field data uneditable by the PM in `/activetask/fieldData`"

[2015-08-06 13:18] bsaiken opened #1151 "Query database directly to retrieve field data at `/activetask/fieldData`"
See comment at https://github.com/FWAJL/FieldWorkManager/issues/1130#issuecomment-128263121.

All fields should update on page refresh, or when the user navigates to the page.

[2015-08-06 13:20] bsaiken opened #1152 "Query database directly to retrieve Location information at `/activetask/map`"
See comment at https://github.com/FWAJL/FieldWorkManager/issues/1130#issuecomment-128263121.

All fields should update on page refresh, or when the user navigates to the page.

[2015-08-06 13:21] bsaiken opened #1153 "Query database directly to retrieve data at `/activetask/showForm`"
See comment at https://github.com/FWAJL/FieldWorkManager/issues/1130#issuecomment-128263121.

All fields should update on page refresh, or when the user navigates to the page.
This includes project notes.

[2015-08-06 13:24] bsaiken opened #1154 "Implement auto reresh at `/activetask/showForm`"

[2015-08-06 13:25] bsaiken opened #1155 "Implement auto reresh at `/activetask/map`"
May be done with #1154.

[2015-08-06 13:26] bsaiken opened #1156 "Implement auto reresh at `/activetask/fieldData`"
May be done with #1154.

[2015-08-06 14:02] bsaiken commented on #1130
@damirius @gsouvik
Please review new Issue assignments dealing with this Issue.  Where an Issue became a discussion, like this one, I have labeled it "Milestone info" and assigned all related Issues to the Milestone "Active Task UI".
If you have any questions let me know.
My goal is to get the Medium, High, and Very High priority Issues done be August 17.

[2015-08-06 14:43] damirius commented on #1062
@bsaiken
We are talking here about mobile/notes page right? We already show date and time with the note there.
I'll add photo upload option since I'm fixing that bug with adding new notes currently.

[2015-08-06 14:53] bsaiken commented on #1062
This would affect `mobile/notes` and `/activetask/showForm`.

[2015-08-06 14:56] damirius commented on #1062
@bsaiken

OK. Didn't even know that we have notes on activetask/showForm page since I didn't add them there so I didn't notice that they aren't displaying date and time like mobile notes.
I'll add photo upload on both pages and I'll add date and time for /activetask/showForm

[2015-08-06 15:32] damirius commented on #1037
@WebDevJL @bsaiken

This should be fixed, I'm working on adding photos to the notes so you can test it together with that if you wish later.

[2015-08-06 16:38] bsaiken commented on #1037
@damirius
This is now working, and the notes are appearing on `/activetask/showForm`.

[2015-08-06 16:41] bsaiken commented on #1062
@damirius

I'll add photo upload on both pages and I'll add date and time for /activetask/showForm

Note the related Issue #1063

[2015-08-06 17:27] damirius commented on #1062
@bsaiken @WebDevJL

I've added photo upload for both mobile notes and active task notes for PM. Also date and time should be displayed on active task page in a same way as on mobile notes page.
On message display urls will be hyperlinked and if you click them image should open in a new tab.

Just want to note that we can use refresh here to check for FT's notes on active task page because `execute

[2015-08-06 17:32] damirius commented on #1153
@bsaiken @WebDevJL

I mentioned this on the issue #1062, notes already are fetched directly from the DB, so even when FTs add new notes for that task refresh should display them.

Which other fields can be changed by someone else on that page, by someone else I mean someone who isn't logged in PM?

[2015-08-06 17:45] bsaiken commented on #1153
@damirius
We are displaying % complete, and this value will (eventually) depend on the FT activities.  However, in the grand scheme of things, I'd rather leave it as a bug for now since we have higher priority issues.

[2015-08-06 17:54] bsaiken opened #1157 "PM can attach a file in the `activetask/communications` tab."
PM could "send" a FT an attachment.  This is, I think, already enabled for Service Providers.

[2015-08-06 17:57] bsaiken commented on #1062
@damirius
This does work.  It resulted in a new Issue for you - #1157.  Which, due to it's similarity, should be fairly quick to implement.

[2015-08-06 18:34] damirius commented on #1157
@bsaiken @WebDevJL

I wanted to finish this issue now, because I was already working on stuff in active_task.js so it was easier for me.
It's on feature_damir branch.

Also I noticed some bug with displaying task location form lists, we changed itemCategory value in db to task_location from task_location_id so script couldn't load any forms. This caused problems with displaying those lists on both

[2015-08-06 19:17] bsaiken commented on #1157
@damirius
I thought you might want to do this now, since you were in the midst.

This document attachment is working, and I was successfully able to see the document with my laptop.  However, I was not able to view the document with my mobile phone, using wither Safari or Chrome.  So, I will make a separate Issue for that.

[2015-08-06 19:18] bsaiken opened #1158 "Make attachments viewable by FTs at `mobile/communications`"

[2015-08-07 05:13] FWAJL commented on #1060
@bsaiken Can you confirm the size of text you want for the checklist elements? 100? 250?

Other than that, I think the specifications are clear enough but I might add:

1. The PM can edit the checklist when task is not active.
2. The PM can only view the checklist when task is active.
3. The FT can only checks the checklist items for a task.

Have we got a task planned to refresh the checklist ite

[2015-08-07 13:25] bsaiken opened #1166 "Create a task checklist table"
New table: `task_check_list`

    task_id ; int ; FK table task
    task_checklist_id ; int ; PK
    task_checklist_detail ; varchar(150)
    task_checklist_complete ; tinyint ; 0 or 1 (default=0).

[2015-08-07 13:27] bsaiken opened #1167 "Add checklist to `/task/showForm` tab."
Complete the functions for the `/task/showForm` tab.

Items entered in the left hand column appear as checklist items in the right hand column.  The behavior is very similar to `ananlyte/uploadList`.  If you look a the `task/showForm` mockup, this should be fairly self explanatory.

Display checklist items in the right hand column with an unchecked checkbox, as the items will appear at other urls.

[2015-08-07 13:29] bsaiken opened #1168 "Modify `task\showForm`"
Remove checklist items.

Increase textarea size for `task_instructions`

[2015-08-07 13:40] bsaiken opened #1169 "Display checklist at `/mobile/checklist`"
At `/mobile/checklist`, display the checklist created in Issue #1167.  Hence, 1167 (and 1166) are  prerequisites.

One checklist item per line.

The FT can check (or uncheck) the checkbox.  A checked checkbox has  `task_checklist.ask_checklist_complete=1`

Checking or unchecking any box will automatically update the database.  I think this is a case where a direct query will be needed because the

[2015-08-07 13:50] bsaiken opened #1170 "Add a new "Checklist" tab at `/activetask/showForm`"
Show the checklist (from #1169) the left hand side.  Issue #1167 is a prerequisite.

Checklist is not editable.

Have the tab auto-refresh (see #1130).

[2015-08-07 13:50] bsaiken opened #1171 "Move active task notes to new tab."

[2015-08-07 13:53] bsaiken commented on #1060
@damirius @gsouvik

FYI:  split this into several smaller Issues under the "Checklist" Milestone.

[2015-08-07 13:57] WebDevJL commented on #1168
@bsaiken

Do you mean to increase the size in the textarea as well as the database column?

[2015-08-07 14:00] WebDevJL commented on #1169
By disable other entries, do you mean checking other checkboxes, correct? If so, @damirius  I suggest disabling temporally all other checkboxes from the click event to the successful ajax response.

[2015-08-07 14:39] bsaiken commented on #1168
@WebDevJL
Jeremie, Please take a moment to see who was assigned to this task.
My lack of specificity could mean
a) since I'm doing the task, I don't need to be specific and opening this Issue is just a reminder
 or
b) this is one of those cases where I don't know exactly what I want until I try some mockups.

I don't need you to comment on everything.  Just relax.

[2015-08-07 14:40] bsaiken commented on #1169
@damirius
Yes, that is what I meant.

[2015-08-07 15:29] damirius commented on #1069
@bsaiken

On feature_damir branch.

Here's the list of pages where I updated the forms.
Edit Technician, Edit Location, Map Location infowindow and Task Location infowindow, Active Task notes/communications/map.
Forms are autosaved on file upload.
On mobile UI: Map both location and task location infowindow, location list for location and task location infowindow and add new location infowindow, n

[2015-08-07 15:31] damirius commented on #1158
@bsaiken

Can you provide additional information? You don't see the link to the file or the link is broken? Also I think that you mentioned that you can't see it only on tablet/phone?

[2015-08-07 15:55] bsaiken commented on #1069
@FWAJL
Jeremie,  This really cannot be tested properly unless I am in the field, so I pushed it straight to code review.

[2015-08-07 16:02] bsaiken commented on #1158
@damirius
This works when  I test it on my desktop (using my computer to log into the /mobile/ UI.

On my iPhone, when I click on the link, the wheel starts turning, like it wants to download and view the doc, but it never completes the process no matter how long I wait.  Is it possible for FTs to view docs (png and pdf files)?  Perhaps not...

[2015-08-07 16:14] damirius commented on #1158
@bsaiken

If your server is on desktop for example http://localhost/FWM and you access it over the phone through IP, for example http://192.168.1.32/FWM links will not work since they will show http://localhost/FWM/path_to_file.xxx, this will work on live since everyone will access the site over the same address.

Also yes FT can view all files, you said yourself that you opened them on your deskt

[2015-08-07 16:16] damirius commented on #1069
@bsaiken

Yea on local server upload time is short so buttons are disabled for only split second. Like you said it will be better to test it out on remote server.

[2015-08-07 16:24] bsaiken commented on #1158
@damirius
OK - I am closing this Issue since what I really need to do is unit test Issue #1157.

[2015-08-07 16:24] #1158 closed

[2015-08-07 17:01] gsouvik commented on #1104
@bsaiken @FWAJL
I've coded the new Web form. The old code for showing the PDF is present but commented out. I've coded it exactly like the requirement was listed. So that may serve as steps to test. Code is pushed to `feature_devsupport`.

Please review and let me know. Thank you.

[2015-08-07 17:11] bsaiken commented on #1145
@WebDevJL
All links are broken:
Lab Analytes > List All
Lab Analytes > Upload List
Field Data > List All
Field Data > Upload List

This is adversely impacting my ability to do unit testing, hence the Very High Priority.

[2015-08-07 17:18] #1157 closed

[2015-08-07 17:19] #1103 closed

[2015-08-07 18:06] bsaiken opened #1172 "Upload photo error from /notes/"
When I try to view a linked file I uploaded from mobile/notes, I got a strange page view:
http://dev.fieldworkmanager.com/Web/uploads/task_note/10_0_73d43f35-7b42-4606-be1a-17b81cdf8007.jpg

[2015-08-07 18:07] bsaiken opened #1173 "Locations still innacurate"
See marked versus real coordiantes under the user baiken > Unit Testing > Cars in the lot

Location accuracy was better after I clicked the Target button in Google maps.

[2015-08-07 18:08] bsaiken opened #1174 "Upload photo error from /mobile/loc_list info box."

[2015-08-07 18:12] bsaiken opened #1175 "FT view needs to be overhead."
This in new, so I think recent code changes caused this.

When I try to look at aerial images, and I zoom in past a certain level, I get the side angle view.

<img width="1440" alt="screen shot 2015-08-07 at 12 57 03 pm" src="https://cloud.githubusercontent.com/assets/8228624/9142522/d5cd63f2-3d05-11e5-93c5-020a32cda51b.png">

We must have overhead aerial views, like this:

<img width="1440" alt="

[2015-08-07 18:13] #1037 closed

[2015-08-07 18:14] #1062 closed

[2015-08-07 18:25] bsaiken commented on #1104
@gsouvik
Perfect!

[2015-08-07 18:30] bsaiken opened #1176 "Field Unit Testing Milestone"
@gsouvik @damirius
I have created a new Milestone "Unit Testing" so we can isolate bugs that I find in the field under one heading.
These bugs will only be related to Issues I find when trying to use the Mobile UI in the field, with my iPhone (or other smartphone).

[2015-08-07 19:01] damirius commented on #1175
@bsaiken

This should be fixed. Google is adding angle view for some cities. I've added new param for google maps options which should force overhead view.

[2015-08-07 19:49] gsouvik commented on #1167
@bsaiken
The `/task/showForm` screen looks like the following:

![screen shot 2015-08-08 at 1 08 26 am](https://cloud.githubusercontent.com/assets/2292482/9144401/4c8dd4e0-3d6a-11e5-9474-6ab37a059787.png)

By left hand column do you mean Data collection and services. The `ananlyte/uploadList` URL is not working on my branch.

It would be great if you could share the mockup link you referred and ex

[2015-08-07 21:00] bsaiken commented on #1167
@gsouvik @WebDevJL

You need to look at the mockup on `task/showForm` "Checklist" tab.  You can see it at this URL (must be loggin in first):
http://dev.fieldworkmanager.com/task/checklist

I am aware of the problem with `ananlyte/uploadList`.  I had fixed this and committed the code but somehow it got lost in the mix.  The problem is that AnalyteHelper.php is trying to access the file `/Applicati

[2015-08-07 21:01] bsaiken commented on #1145
@FWAJL
See #1167

[2015-08-08 01:42] bsaiken commented on #1175
@damirius
This does appear to solve it.

[2015-08-08 01:44] bsaiken commented on #1079
@FWAJL
I create new Issues for Unit Testing in the field.  I certainly can add Locations, which this issue is for, but there are still problems...

[2015-08-08 01:44] #1079 closed

[2015-08-08 01:45] bsaiken commented on #1173
@damirius
Please take a look at this...

[2015-08-08 02:17] bsaiken commented on #1173
@damirius
Maybe this will help:
https://github.com/gwilson/getAccurateCurrentPosition

[2015-08-08 14:47] damirius commented on #1173
@bsaiken

I've implemented geo.js extension for navigator and I've used his method instead of `getCurrentPosition`. Those default three options which we talked about before for caching and using best accuracy mode available are already set. There are 2 new options, `desiredAccuracy` and `maxWait`. `desiredAccuracy` is in meters, `maxWait` is in milliseconds. I used default values, 20m accuracy and

[2015-08-08 15:28] bsaiken commented on #1173
@damirius
Can you merge this directly to the DEV branch.  Local testing, for this function, is not that meaningful.

[2015-08-08 15:42] bsaiken commented on #1173
@damirius
Never mind - I merged to the DEV branch!  I'm sure Jeremie will be all over me about this.  However, that's really not what I need.  I need the DEV branch moved to Hurray Host so I can do Unit Testing in the field.  If you can do that for me, I can do unit testing.

[2015-08-08 15:59] damirius commented on #1173
@bsaiken

Sorry I can't do that. I don't have any access parameters to do the pull on that server. We'll have to wait for Jeremie.

[2015-08-08 20:08] FWAJL commented on #1145
@bsaiken It seems to be fixed in release 1.7.7.

[2015-08-08 20:09] FWAJL commented on #1167
@bsaiken See https://github.com/FWAJL/FieldWorkManager/issues/1145#issuecomment-129042029.

[2015-08-08 20:11] bsaiken commented on #1145
@FWAJL
I think it is because I merged Damir's work to DEV, and the problem was not there.

[2015-08-08 20:14] FWAJL commented on #1168
@bsaiken I'm practicing GTD so I'm relaxed because things get done :+1:

[2015-08-08 20:18] FWAJL opened #1184 "Write the procedure to do a release on HurrayHost"
@bsaiken

I have started the document but I need to finish it and be sure the steps are in there, including possible issues.

Please prioritized this.

Thank you.

[2015-08-08 21:59] #1175 closed

[2015-08-08 22:01] #1145 closed

[2015-08-08 22:24] bsaiken commented on #1173
@damirius
This is much better.  It was not consistent, but results are fairly good.  I will do more field testing to see if another Issue needs to be opened.

[2015-08-08 22:27] bsaiken commented on #1069
@damirius
I did not check each implementation, but the ones I checked worked, so closing for now.

[2015-08-08 22:27] #1069 closed

[2015-08-08 22:30] #1104 closed

[2015-08-09 16:27] bsaiken opened #1186 "When FT adds a Location, add field matrix with all field data parameters."

[2015-08-09 16:29] bsaiken opened #1187 "Change text at `/task/fieldMatrix` from Analyte to Field Data"
@FWAJL
As I was working on this, I noticed that the checklist tab is broken.  I don't think it is possible it was anything I did.   Still, you should look out for the problem when doing your code review and QC checking.

[2015-08-09 16:34] bsaiken opened #1188 "For `/map/taskLocations` and `/activetask/map` auto zoom to Task Locations."
See #1064.

[2015-08-09 16:36] bsaiken opened #1189 "If there is only one Technician, automatically set at `/activetask/communications`"

[2015-08-10 04:55] WebDevJL opened #1190 "Admin area not usuable"
Doesn't work:
- add a new pm
- list all the pm from the database.

[2015-08-10 05:12] WebDevJL commented on #1061
@bsaiken

So the main underlying functionality that you want when editing a task and:
- adding a technician, is that we add a row in the tables
  - technician
  - task_technician
- adding a location, is that we add a row in the tables
  - location,
  - project_location
  - task_location
- adding a Field Parameter, is that we add a row in the tables
  - field_analyte
  - task_field_analyte
- adding

[2015-08-10 05:19] WebDevJL opened #1191 "Improve coding efficiency with the FWM site - Step 1"
Step 1: saving the page locally to view it and modify it

@bsaiken are you satisfied with this method?

[2015-08-10 05:20] WebDevJL opened #1192 "Improve coding efficiency with the FWM site - Step 2"
Step 2 is to automate the creation of a new url (controller, view, resources, routes).

@bsaiken do you mean to code that?

[2015-08-10 13:08] bsaiken commented on #1190
@WebDevJL
I just tested this and it works fine.
I ask that you not spend you time on this - please focus on Issues by priority.

[2015-08-10 13:08] #1190 closed

[2015-08-10 13:10] bsaiken commented on #1061
@WebDevJL
Yes, I thought this was obvious, so I did not list each one.  No harm in clarifying, though.

[2015-08-10 13:12] bsaiken commented on #1191
@WebDevJL
I have not idea what you are talking about.  I don't want you to spend any more time on "coding efficiency".  We make the code more efficient when it does what I want.  I have been field testing and there are many problems.

[2015-08-10 13:12] #1191 closed

[2015-08-10 13:15] bsaiken commented on #1192
@WebDevJL
I have no idea what this Issue is for.  Perhaps it would be best if you were to call things to my attention, and let me create the Issues, if i decide they are necessary.  Sometimes, I will ask you to do this, particularly if it requires some technical knowledge.  In the man time, focus on highest priority issues.  If you have nothing to do, I can assign you some of the existing Issues.

[2015-08-10 13:15] #1192 closed

[2015-08-11 04:46] WebDevJL commented on #1148
Since I'm working on the field data, I came across this issue and I would share my opinion. We need to load all the data into the page and use jQuery to hide/show the pages. Then the checkboxes status is retained as long as the  user doesn't leave the page. Clicking save will save all the data.

[2015-08-11 04:51] WebDevJL opened #1193 "Task activation from Task info tab"
@bsaiken

Just a remark as I'm setting testing data: when you click "Activate task", the PM doesn't know if anything happened and the button "Activate" doesn't change to "Deactivate".

Should we not have the PM redirected to the Active Task UI?

[2015-08-11 05:07] WebDevJL opened #1194 "Suggestion: show a click-activated contextual menu to place location on a map"
@bsaiken

Just an idea I had while placing locations on Google Maps.

What about implementing a tiny 2 items menu on the Project locations and Task locations map view when you click or tap (not a right click) a given location so that you can select either "View info" to popup the current prompt box or "Mark on map" to tell the site we want to place the location onto the map.

Here is a mockup:
![s

[2015-08-11 13:53] bsaiken commented on #1193
@FWAJL
I don't know what you are checking, but it does redirect.

[2015-08-11 14:07] bsaiken commented on #1194
@WebDevJL
Good idea; however, clicking on the marker brings up the info window automatically, and "Place onto map" is one of the options, so there is no added functionality.  This option does not reduce the number of keystrokes.  Also, right clicking is not possible in the mobile maps, and it would be a worthwhile goal to make map functions uniform.
It would be a better effort saving option, and m

[2015-08-11 15:08] FWAJL commented on #1193
@bsaiken

I'm not checking anything. I just click "Activate tak" button in the task
info tab. I will check again locally.
On 11 Aug 2015 15:53, "bsaiken" <notifications@github.com> wrote:

[2015-08-11 15:13] FWAJL commented on #1194
@bsaiken

Yes drag and drop is ideal. Let's wait for beta testing feedback.

Aurélie has been trained to the minimum and she has a pm account to carry
out some gardening project I suggested to her.
But yes it can wait for a few releases before fully using the webapp.
On 11 Aug 2015 16:07, "bsaiken" <notifications@github.com> wrote:

[2015-08-11 16:41] FWAJL commented on #1193
@bsaiken Some bug happened but is not there. Closing.

[2015-08-11 16:41] #1193 closed

[2015-08-11 16:42] FWAJL commented on #1150
@bsaiken code on feature_PM branch.

[2015-08-11 16:43] FWAJL commented on #1151
@bsaiken The website is already doing that.

[2015-08-11 16:47] FWAJL commented on #1151
@bsaiken but this issue includes the auto-refresh, I bet! Does it?

[2015-08-11 22:08] bsaiken commented on #1151
@FWAJL

NO, I MADE SEPARATE ISSUES FOR THE auto-refresh.  iF THIS IS done we can close.

[2015-08-12 04:09] #1151 closed

[2015-08-13 07:39] WebDevJL commented on #1061
@bsaiken Done for the technicians. Code committed to feature_PM if you want to test.

[2015-08-13 12:37] #1194 closed

[2015-08-13 12:41] bsaiken commented on #1150
@FWAJL
I just edited these parameters. I logged out and logged back in to make sure the data was edited and saved into the database.

[2015-08-13 12:42] bsaiken commented on #1061
@WebDevJL
Did you mean to assign me to this and change the label to function review?

[2015-08-13 12:48] gsouvik commented on #1167
@bsaiken @FWAJL
I've coded the Task check list tab. The following points are done and are sub parts of the Issue which can be tested:
1) All the template code which was there was static, this is made dynamic along with the Task tab selection.
2) Batch upload of Task check list.
3) Task check list delete functionality with confirm box.
4) Task update (edit) with duplicate checking alert box.

I've

[2015-08-13 13:16] WebDevJL commented on #1061
@bsaiken No. I'm just letting you know that I have done it for the technicians and today for the locations. The rest will come soon.

You can test on feature_PM branch if you need.

[2015-08-13 13:42] WebDevJL commented on #1150
@bsaiken

I'm not able to edit the input field as a PM on the field data tab of an active task. See screenshot below:
![image 1](https://cloud.githubusercontent.com/assets/3506074/9250931/c5ce3308-41d0-11e5-9a31-401628faa247.png)

The code is on ***feature_PM***, not on dev branch. I have committed a new bug fix but on the inactive task ui (see note below).

@gsouvik @damirius: a note to you guys

[2015-08-13 14:15] WebDevJL commented on #1150
@gsouvik @damirius: updated note

Based on the PHP documentation, the following should suffice:

[code]

[2015-08-13 14:24] damirius commented on #1152
@bsaiken @WebDevJL

Locations are fetched directly from db. So if you are logged in as PM you will see changes on location list page and on location/task location maps when you refresh. Same goes for FTs, if you are on location list page or on map page you will see changes when you refresh the page. Infowindows for both task locations and project locations are refreshed on open. So if PM/FT edits

[2015-08-13 14:54] bsaiken commented on #1167
@gsouvik
Am I missing a database update?

<img width="1440" alt="screen shot 2015-08-13 at 9 53 33 am" src="https://cloud.githubusercontent.com/assets/8228624/9253021/4f7f10b6-41a1-11e5-90ce-220830c504d6.png">

[2015-08-13 14:56] bsaiken commented on #1061
@WebDevJL
I did test on the feature_PM branch and it did not work for technicians.

[2015-08-13 14:58] bsaiken commented on #1150
@WebDevJL
You are correct - it is working now.

[2015-08-13 15:03] gsouvik commented on #1167
@bsaiken
Please use the following and let me know if that worked:
https://github.com/FWAJL/FieldWorkManager/blob/feature_devsupport/Database/Scripts/Updates/2015-08-08.sql

[2015-08-13 15:05] bsaiken commented on #1152
@damirius
Thanks.  My internet is down, so I can't test until later today.

[2015-08-13 15:11] WebDevJL commented on #1061
@bsaiken

Please post a screenshot of chrome dev console with the response after
clicking add on the page technician/showForm.

Also do another pull and retest please.

Thank you.
On 13 Aug 2015 16:56, "bsaiken" <notifications@github.com> wrote:

[2015-08-13 15:17] bsaiken commented on #1167
@gsouvik  @FWAJL
Interestingly, I got the same error, even though I had not yet run the script.
I even went to the extent of deleting the site on my local machine and re-installing it.  No luck.

If the solution isn't obvious, respond and let Jeremie know.  I will have Jeremie do a function review, and if it works, release to the dev site so I can do unit testing.

<img width="1440" alt="screen sh

[2015-08-13 15:18] bsaiken commented on #1061
@WebDevJL
I would do that, of course, but there was not response.

[2015-08-13 15:56] gsouvik commented on #1167
@bsaiken @FWAJL
The only reason the error might show up is - the `TaskCheckListController.php` is not properly pulled or not updated to latest code. My latest code was pushed to `feature_devsupport`. I think @FWAJL can give it a try testing the issue and see if it's working.

[2015-08-13 17:33] FWAJL commented on #1061
@bsaiken

It works on that branch. See my screenshots:
![screen shot 2015-08-13 at 19 26 19](https://cloud.githubusercontent.com/assets/7524388/9256710/60465e54-41f1-11e5-8991-404b86485e10.png)
![screen shot 2015-08-13 at 19 26 33](https://cloud.githubusercontent.com/assets/7524388/9256713/604efb68-41f1-11e5-9e31-1772e75cdcee.png)
![screen shot 2015-08-13 at 19 26 51](https://cloud.githubuserconte

[2015-08-13 17:38] FWAJL opened #1195 "Automatically add Task Technician when editing a Task"
Related to #1061 which can be done in one shot.

Commits for this:
https://github.com/FWAJL/FieldWorkManager/commit/9d98015ae0ce78246563f4bfb20d6b185cfd3154
https://github.com/FWAJL/FieldWorkManager/commit/d56d789df99546edb2e9c5a921a787dd0bf82f5d

[2015-08-13 17:40] FWAJL opened #1196 "Automatically add Task Location(s) when editing a Task"
See #1061 for details.

Commits for this subtask:
https://github.com/FWAJL/FieldWorkManager/commit/67c5322bda8e54002bfe9d7fe66be95a7e51549d

[2015-08-13 17:41] FWAJL opened #1197 "Automatically add Task Field Data parameters when editing a Task"
See #1061 for details.

[2015-08-13 17:44] FWAJL opened #1198 "Automatically add Lab Analyte(s) when editing a Task"
See #1061 for details.

[2015-08-13 17:45] FWAJL opened #1199 "Automatically add Task service when editing a Task"
See details of #1061.

[2015-08-13 17:54] FWAJL commented on #1167
@bsaiken @gsouvik

Works for me. Will look at it in more details before the release.

[2015-08-13 17:55] bsaiken commented on #1061
@FWAJL
Just push it to dev

[2015-08-13 18:01] FWAJL commented on #1167
@bsaiken @gsouvik

A suggestion: do we need the checkout to be checkable? It doesn't make since this is to be used in the task execution, e.g. while it is active.

Let me know.

[2015-08-13 18:04] damirius commented on #1188
@bsaiken

It's same as on mobile/map.

Commit is on feature_damir branch.

[2015-08-13 20:47] bsaiken commented on #1167
@FWAJL @gsouvik @damirius
The checkboxes should *not* be checkable on either of the PM pages.  #1170, #1167
The checkboxes *must* be checkable on the FT page.  #1169

[2015-08-13 23:24] bsaiken opened #1200 "Unit Testing Milestones"
@FWAJL @gsouvik @damirius
It looks like we are going to have a couple more weeks of work based on the alpha testing I am doing.  It may help if you can see the actual task results for each of my field tests.  So, for each new test, I will create a new Task under the Project `Unit Testing`.  Then, the new Milestone will have the title `Unit Testing - [Task name].  This way, if I open up a new Issue

[2015-08-13 23:25] bsaiken commented on #1200
Brian A: Photo upload disabled cancel button. Not good. @2015-08-09 17:29:05

Brian A: Sometimes the photo upload does not work and the screen just locks up @2015-08-09 17:20:09

Brian A: For photo The button is disabled but that is not really what I wanted. What I wanted was for the FT to be able to push the button but then the server would wait until the file was uploaded to execute the function

[2015-08-13 23:48] bsaiken opened #1201 "Photo Upload modifications"
@WebDevJL @damirius

Jeremie and Damir - I would like you to both weigh in on these comments.

During a photo upload, sometimes the screen locks up, or it is taking so long that the FT couldn't realistically wait.  Can we have a progress bar, or a timeout, or something in cases of marginal connectivity?  I say that, but in this case my connectivity was decent, so I don't think it was a slow connec

[2015-08-13 23:49] bsaiken opened #1202 "Remove the word "null" as default text for field data webform."
The box should just be empty.  Otherwise, the FT has to delete the word "null" each time, and that gets old fast.

[2015-08-13 23:51] bsaiken opened #1203 "Directions upgrades"
Directions is not working.  Isn't it possible to just have the address, or coordinates, open the phone's map tool with the the address as the destination?

[2015-08-13 23:54] bsaiken opened #1204 "Map and aerial views for the FT"
I realize the FT will need to have both the the aerial and map view.  Aerial should still be the default, but replace the buttons on the screen to switch between aerial and map views.  Once the FT has chosen a view, the viewtype should be remembered and used if the FT navigates away and returns.  The default would only be needed right after login.

[2015-08-13 23:56] bsaiken opened #1205 "FT location on the map"
@damirius
Is it possible to see the current location of the FT on their map (so they can orient themselves in the context of the Task Locations)?

[2015-08-14 02:12] bsaiken commented on #1167
@gsouvik @FWAJL
I realize my mockup showed the checkboxes as checkable.  I'll try to be more careful next time!

[2015-08-14 02:15] bsaiken opened #1206 "Error editing Field Analyte text"
<img width="1440" alt="screen shot 2015-08-13 at 9 14 37 pm" src="https://cloud.githubusercontent.com/assets/8228624/9265957/71b469ce-4200-11e5-9c85-de79028f2b3e.png">

[2015-08-14 02:18] bsaiken commented on #1206
I think this happened with I tried to edit a field parameter name and the entry was a duplicate.

[2015-08-14 02:25] bsaiken opened #1207 "If a FT adds a Location, include the field parameters (as though they had been checked when setting up the task)."

[2015-08-14 02:26] #1173 closed

[2015-08-14 02:40] bsaiken commented on #1152
@FWAJL
Actually, Jeremie, I will not be able to test this in the foreseeable future unless you push this to dev.

[2015-08-14 04:30] FWAJL opened #1209 "Run DB script for Aug-08"
https://github.com/FWAJL/FieldWorkManager/blob/feature_devsupport/Database/Scripts/Updates/2015-08-08.sql

[2015-08-14 04:36] FWAJL commented on #1206
@bsaiken It is not a javascript error anything you this. It is from the PHP.

Anyway, it is fixed.

[2015-08-14 06:00] #1209 closed

[2015-08-14 14:18] damirius commented on #1204
@bsaiken

When you say map and aerial view you mean that angle view we removed right or am I missing something here?

[2015-08-14 14:26] damirius commented on #1205
@bsaiken

We can show FT's location. Do we update it only once when FT opens up a map or we should refresh it automatically like in navigation apps? Or maybe the third option, we show him his location and add some button for refreshing manually?

[2015-08-14 15:48] damirius commented on #1204
@bsaiken @WebDevJL

I've added back maptype control for mobile map. Maptype is saved on switch for whole session until logout.

Commit is on feature_damir branch.

[2015-08-14 17:42] damirius commented on #1169
@bsaiken @WebDevJL

Added mobile/checklist.

Check it out on feature_damir branch.

[2015-08-14 17:55] damirius commented on #1203
@bsaiken
It is possible, I can change it if you wish. However I don't know what's wrong with our built in directions?
I've tried it and it works for me https://drive.google.com/file/d/0B7Laiv0PjSvDdG03dUh6cEE0SjQ/view
It isn't as detailed as in app I guess.

[2015-08-14 20:22] bsaiken commented on #1204
@FWAJL @damirius
Jeremie, I need this pushed to the dev branch to test.

[2015-08-14 21:24] bsaiken commented on #1205
@damirius
To be honest, I am not sure what to do, so whatever it is should be simple and quick.  How easy would this be:
Add a button, located near the Map/Satellite buttons.
Clicking this button re-centers the map to the FTs current location.  If the coordinates need to be retrieved, don't ask, just get them.
Show the location with a blue dot, but have the current FT coordinates be static and fad

[2015-08-14 21:31] bsaiken commented on #1169
@FWAJL @damirius
I tried manually adding checklist entries to the database, but I was not successful.  This may be another one of those items where the most efficient way to test is to push to dev so I can use the create checkllist feature, which Souvik prepared, and the use checklist, which Damir prepared.  I also will need to see the checklist on my smartphone, so it needs to be merged with dev.

[2015-08-14 21:39] bsaiken commented on #1203
@damirius
Yes, I see the same thing, but this is not useful in the field.
Comment out the dropdown (Walk/Dive) menu.  When the user clicks "Diresctions" open a map app with selected the coordinates as the destination.  Can that be done?

[2015-08-15 00:36] damirius commented on #1205
@bsaiken @WebDevJL

I've added "current location" button as the part of google map's custom control group.
You can see it in the top right corner below maptype option switch.
Clicking on it will try to fetch your current location, I'm using that updated geolocation function which we used for higher accuracy so wait time is 15secs. When coordinates are returned, map should center over the marker (n

[2015-08-15 12:58] bsaiken commented on #1167
@gsouvik
I get no response.

[2015-08-15 13:00] #1166 closed

[2015-08-15 13:02] #1206 closed

[2015-08-15 13:02] damirius commented on #1203
@bsaiken @WebDevJL

I've added hyperlink for directions which should open up maps app. I've tested it on my nexus (android), but it would be great if you can tell me if it opens up like it should on iPhone too.
Here is the video: https://drive.google.com/file/d/0B7Laiv0PjSvDMGNReFRZdVBOVFk/view
Note that I tested geolocation button in this video too, this isn't necessary to do before clicking dire

[2015-08-15 15:26] gsouvik commented on #1167
@bsaiken
I'm sorry but I didn't understand your last message. Reading the thread, do you want me to remove the check boxes altogether, or let them be there, but in a NOT checkable state.

Thank you.

[2015-08-15 17:06] #1196 closed

[2015-08-15 17:07] #1195 closed

[2015-08-15 17:10] #1150 closed

[2015-08-15 17:11] #1188 closed

[2015-08-15 17:17] bsaiken commented on #1203
@FWAJL
I need this pushed to dev to test.

[2015-08-15 18:01] bsaiken commented on #1167
@gsouvik
I want there to be (empty) checkboxes, but they are not in a checkable state.

Similarly, for Issue #1170, the PM can see the checkboxes, but the state is not editable.  Simply display the state that is recorded in `task_check_list.task_check_list_complete`.

[2015-08-15 20:18] #1152 closed

[2015-08-15 20:25] bsaiken commented on #1186
@WebDevJL
I think this is done, except for the work assigned to Souvik in #1207.  If yes, please close.

[2015-08-15 20:31] #1186 closed

[2015-08-17 04:43] FWAJL commented on #1167
@bsaiken @gsouvik

Is this not done and live? I don't understand the last comments.

[2015-08-17 04:53] FWAJL commented on #1167
@bsaiken ok so the real matter here is that it is not working on live. I'm investigating.

[2015-08-17 05:39] gsouvik commented on #1167
@bsaiken @FWAJL
On my branch the checkboxes were already deactivated. In the last commit I've added the code which tests the condition:
`task_check_list.task_check_list_complete`
and checks the checkboxes.

[2015-08-17 08:03] FWAJL commented on #1167
@bsaiken @gsouvik There is an issue with the naming of the TaskChecklist controller and dal. Please verify everywhere that "list" has a lower case "l". I have fixed the controller but the Dal class doesn't work on the live server.

[2015-08-17 12:33] bsaiken commented on #1167
@gsouvik @WebDevJL
This is not working for me on my local machine of on the live server.

[2015-08-17 12:38] bsaiken commented on #1203
@damirius @FWAJL
Looks good.  I just need to do a field test now.

[2015-08-17 12:38] #1203 closed

[2015-08-17 12:47] bsaiken commented on #1169
@FWAJL @damirius @gsouvik
Not working for me.  I tried manually adding checklist items to the database, but nothing is displayed.  This may require #1167 to be completed before I can test.

[2015-08-17 12:50] FWAJL commented on #1167
@bsaiken It is not fully fixed. Please wait that we fix it. However, the problem is identified.

[2015-08-17 12:51] #1204 closed

[2015-08-17 12:52] #1205 closed

[2015-08-17 12:53] gsouvik commented on #1167
@bsaiken @WebDevJL
Looking at the issue! Let you know shortly.

[2015-08-17 13:21] gsouvik commented on #1167
@bsaiken @FWAJL
I've changed the DAL reference from `TaskCheckList` to `TaskChecklist` in the helper file. But I cannot find any difference in test results as it was working earlier also and working now as well on my local (If needed for debugging, I can share video or screenshots).
Please test and let me know if the issue persists with screenshots of firebug. Also please share a credential on liv

[2015-08-17 13:33] FWAJL commented on #1167
@bsaiken @gsouvik

The bug passed my testing because my machine didn't have a case sensitive processing of the class and/or file names. On the live server, if you call a class "TestClass" and "Testclass", it is distinct and will be work in autoloading the file.
I will test on my machine again tomorrow.

[2015-08-17 15:11] gsouvik commented on #1207
@bsaiken
So when the FT adds a location, for every field data the task has, a corresponding entry has to be added to the table `field_analyte_location`. That way the `/task/fieldMatrix` when opened would have the checkboxes for that location + field data checked. Is my understanding on this correct?

[2015-08-17 18:51] FWAJL commented on #1169
@bsaiken @damirius Same issue as #1167 where the naming is wrong.

The line 227 in the TaskChecklistController was:

`$manager = $this->managers()->getManagerOf("TaskCheckList");`

It should have been:

`$manager = $this->managers()->getManagerOf($this->module());`

A reminder: we usually name the Dal class after the controller, here "TaskChecklist" and that value is accessed via `$this->module()`

[2015-08-17 20:59] bsaiken commented on #1207
@gsouvik
Yes.

We added the checkboxes so that a PM could select with location/parameter pair would need to be sampled.  The default should be everything is sampled, so it is more accurate to say the PM could de-select some pairs.  So, the normal condition should be "checked", and a row would be added to `field_analyte_location` for every pair unless the PM has taken action to remove the pair.  If

[2015-08-17 21:03] bsaiken commented on #1167
@FWAJL @gsouvik
Yes!

[2015-08-17 21:03] #1167 closed

[2015-08-17 21:05] bsaiken commented on #1169
@FWAJL @damirius
This appears to work.  We'll know for certain when Issue #1170 is done.

[2015-08-17 21:05] #1169 closed

[2015-08-18 05:01] FWAJL commented on #1201
@bsaiken @damirius

I think it is easy enough to enable the Cancel button. Do you agree @damirius ?
A loading div displayed while the photo is being uploaded is also possible to do. However, we need to know:

- the definition of timeout: do you want to cancel automatically the upload if it takes to long?
- the timeout value, e.g. when do we consider the action timed out.
- what shall we do if the

[2015-08-18 13:54] bsaiken commented on #1201
@FWAJL @damirius

    the definition of timeout: do you want to cancel automatically the upload if it takes to long?
    the timeout value, e.g. when do we consider the action timed out.
    what shall we do if the upload takes a lot of time? does the FT just stops the process and moves on?

If the upload takes too long we need a way out and to notify the FT.  I don't care what time we pick, we ca

[2015-08-18 14:10] WebDevJL commented on #1201
@bsaiken @damirius

Clear to me.

@damirius : A plus would be to implement the timeout in the dataservice js file as a default parameter so we can use it for any ajax call. Can you do that and have you got all the info to proceed?

Thank you.

[2015-08-18 14:25] bsaiken opened #1236 "Field Matrix table checkboxes not saving"
The field data matrix table checkbox states are not saving.  Also, there is no indication for the user that the save happened.  We need to add back in the toastr comment here.

This is a prerequisite to Issue #1202.

<img width="1440" alt="screen shot 2015-08-18 at 9 22 39 am" src="https://cloud.githubusercontent.com/assets/8228624/9332546/c419b4de-458a-11e5-8c46-01d4caf5ae17.png">

[2015-08-18 14:54] bsaiken commented on #1201
@WebDevJL @damirius
I'm not sure I understand the comment.  We wouldn't want a timeout to be the default in all cases, but if it were an option for all cases, that would be OK.

[2015-08-18 15:08] FWAJL commented on #1236
@gsouvik Taking this since you're on another very high priority issue.

[2015-08-18 15:11] gsouvik commented on #1236
@FWAJL @bsaiken
Ok, I was about to ask if I should switch. Thank you.

[2015-08-18 15:14] FWAJL commented on #1236
@bsaiken @gsouvik

It is working locally for me so it might not be a big thing.

[2015-08-18 15:34] FWAJL commented on #1201
@bsaiken @damirius

Yes, it would be an option that can be specified as an extra parameter from controller.js file to the dataservice.post method. By default, this parameter is undefined so that no timeout happens.

[2015-08-18 16:01] FWAJL commented on #1236
@bsaiken @gsouvik

Found the problem:
![screen shot 2015-08-18 at 17 42 48](https://cloud.githubusercontent.com/assets/7524388/9334769/ae1b56c4-45d0-11e5-8312-208ddbf543ba.png)

However, when I look at the sql script from Jul-24, the column `field_analyte_location_result` should accept null by default but the live server doesn't... @bsaiken : did you change it yourself?

Anyway, I will put this fi

[2015-08-18 16:31] bsaiken commented on #1236
@WebDevJL
I was working locally and I changed the database so that `field_analyte_location_result` was not null (and therefore did not have the "null" text entered by default. However, I may have accidentally changed the HurrayHost database.

I need you to push this to the live server and provide an updated script for `field_analyte_location`.

[2015-08-18 19:33] FWAJL commented on #1236
@bsaiken ok for the possible update but what do we do? Your comment doesn't make what ***this*** is... Sorry.

1. leave the database as it is on live server so field_analyte_location_result requires a value and update the local databases of everybody via an update script? In that case, we need to set a default value for field_analyte_location_result, e.g. in TaskFieldMatrixHelper class, we add:
[c

[2015-08-18 19:55] bsaiken commented on #1236
@WebDevJL
I do not want to see the word "null" as default text in each field.  The text box should just be blank, unless the FT has entered a value.  How that is accomplished is up to you.

[2015-08-19 12:28] gsouvik commented on #1207
@bsaiken
I've coded the feature as per our discussion. When FT adds a new location, the field matrix for that field data + location combination is automatically created. Code is pushed to feature_devsupport.

[2015-08-19 12:53] damirius commented on #1201
@bsaiken @FWAJL

We don't use datacx for photo uploads, we use dropzone class which uses it's own ajax call wrapper function to make the upload. That said we can add timeout for that too, but just wanted to clear some things up here.
For the upload progress, dropzone already has it's own upload progress bar for each file. Maybe I can display it somehow even when infowindow is closed.

[2015-08-19 13:54] #1236 closed

[2015-08-19 13:56] bsaiken commented on #1201
@damirius
The dropzone progress bar is not progressing when I try to upload a file with my iPhone.

[2015-08-19 14:04] bsaiken opened #1242 "Add breadcrumb to `tlf_prompt_title`"

[2015-08-19 14:09] bsaiken opened #1243 "Add redirect to the "Exit" button - url = `/mobile/loc_list`"
This is from the data collection popup.

<img width="1440" alt="screen shot 2015-08-19 at 9 07 42 am" src="https://cloud.githubusercontent.com/assets/8228624/9358478/ecddffe8-4651-11e5-9330-e57ffb229590.png">

[2015-08-19 14:12] bsaiken commented on #1202
@FWAJL
I believe this is fixed.

[2015-08-19 14:12] #1202 closed

[2015-08-19 14:14] #1098 closed

[2015-08-19 14:32] damirius commented on #1170
@bsaiken @WebDevJL

Added checklists to activetask. They can't be modified from there, only FT can modify their status on mobile/checklist page.

On feature_damir branch

[2015-08-19 15:47] damirius commented on #1201
@bsaiken

Does that happen only on your iPhone or it happens on your desktop computer too?
I tested it with my android: https://drive.google.com/file/d/0B7Laiv0PjSvDbFdOUlpTa1JOT2M/view
First photo is from camera, second one is selected from file storage on phone.

Also I've found some bug in DocumentDal manager which prevents removing photos. Do you want to open new task for that or should I comm

[2015-08-19 16:23] bsaiken commented on #1170
@FWAJL @damirius
OK to push to live site for unit testing.

[2015-08-19 16:40] bsaiken opened #1244 "Enable contextual menu for Task Locations at `/task/locations`"

[2015-08-19 17:38] bsaiken commented on #1201
@damirius
Testing on a laptop, or even a mobile device connected to WiFi, is not sufficient.  Field tests are required.

In this first example, the file does eventually upload, but the progress bar does not move until the end, so it really is not showing "progress".

https://drive.google.com/file/d/0B0NK6kSZhZ2BcWtFUS11aHpuMVU/view?usp=sharing

In the second video, the photo never uploads.  I cut

[2015-08-19 17:58] damirius commented on #1201
@bsaiken

I'll open my ip for external connections and I'll see that I test it out over mobile connection.
I'll get back to you with some videos.

Also we can enable buttons easily, that's not a problem.

[2015-08-19 18:14] damirius commented on #1201
@bsaiken @WebDevJL

I pushed new commit for this issue regarding that fix for DocumentDal which prevented file removal. Since selectOne method was bugged, there was a possibility that some other stuff wasn't working as well (anything that uses document table).

[2015-08-19 18:29] gsouvik commented on #1244
@bsaiken What would be the menu options?

[2015-08-19 18:31] damirius commented on #1201
@bsaiken

OK here's the video from my phone, opened my server's ip for external connections and tested it outside. Internet connection is OK, but not great, somewhere around 400KBps.

https://drive.google.com/file/d/0B7Laiv0PjSvDazZGdGxiaEd6ekE/view

I'll see that I run some more tests on slower connections to see if that causes some problems.

[2015-08-19 20:03] bsaiken commented on #1244
@gsouvik
Edit
We only edit from the contextual menus.  We need to be in edit mode to delete.

[2015-08-19 20:05] bsaiken commented on #1201
@damirius
How are you capturing a video on your phone?

[2015-08-20 02:54] damirius commented on #1201
@bsaiken

It's some app for android called "Rec.", you can see it at the end of the video when I switch to it to stop recording.

[2015-08-20 07:38] gsouvik commented on #1244
@bsaiken
I've added the contextual menu with option "Edit" to both the lists on `/task/locations`. However I haven't coded the actual edit functionality as I was unsure if that was part of this issue as well. Let me know if it was and I shall code it.

[2015-08-20 08:23] gsouvik commented on #1243
@bsaiken
Redirect added to the "Exit" button.

[2015-08-20 08:33] gsouvik commented on #1242
@bsaiken
Breadcrumb added to the field matrix popup where `tlf_prompt_title` is used.

[2015-08-20 14:03] bsaiken commented on #1244
@gsouvik
Yes, add the link.  It should be a small thing since the function is already coded.

[2015-08-20 14:10] bsaiken commented on #1242
@gsouvik
This is not the breadcrumb.  the breadcrumb needs to include the location name.  In fact, the breadcrumb should be Task Name > Location Name.

[2015-08-20 14:24] gsouvik commented on #1242
@bsaiken
![screen shot 2015-08-20 at 7 51 17 pm](https://cloud.githubusercontent.com/assets/2292482/9385596/e9427d18-4774-11e5-9416-6f5c044e70e5.png)

In the above screenshot "EC-TX" is the project name and "Souvik2Task" is the task name. So the Task Name is there in the breadcrumb. Should I replace the text "Field Data Matrix" and add the location name in there?

[2015-08-20 14:38] bsaiken commented on #1242
@gsouvik
Yes

[2015-08-20 16:06] FWAJL commented on #1243
@bsaiken @gsouvik This is not done since Souvik is going to commit the proper fix. Reopening to then release when Souvik is done.

[2015-08-20 16:07] FWAJL commented on #1243
@gsouvik assign to me when you are done. Thank you.

[2015-08-20 16:36] gsouvik commented on #1243
@FWAJL @bsaiken
Done.

[2015-08-20 17:04] gsouvik commented on #1242
@bsaiken
Location name is included in bread crumb.

[2015-08-20 17:32] bsaiken commented on #1153
@damirius @gsouvik
Damir - I moved this over to Souvik because:
a) you have a lot more high/medium priority Issues outstanding and
b) I want to make sure Souvik is on board with the need to query the database directly in active task cases.

[2015-08-20 17:45] damirius commented on #1153
@bsaiken @gsouvik

Sure, I wanted to ask you about this issue, like I mentioned in my previous comment, notes and new checklist is already directly fetched from the db.
So that leaves only that task completeness which should depend on ft activities and we left it at that.

[2015-08-20 17:56] damirius commented on #1063
@bsaiken

Just want to clarify something before I start. This is the part of the "Collect Data" action right? "Field data matrix" infowindow will open with fields PM selected for that location right? I need to add dropzone there and when FT uploads the image, we populate the fields with uploaded image url? We also need to limit upload to just one file or not?

[2015-08-20 19:13] bsaiken commented on #1153
@gsouvik
One option is to close this Issue because fetching the % complete will have a prerequisite (to calculate % complete).
However, there could be other dynamic data I add to this page (again, we could wait on this since it's a future thing).

Is it possible to set it up so all information that is retrieved for the active task module is queried directly from the database?

[2015-08-20 19:17] bsaiken commented on #1063
@damirius
After thinking about it, I am placing this Issue on hold since I am not satisfied yet with photo uploading in the locations where it is being implemented.  I think I am going to make a separate milestone with Issues specific to photo uploading.  So, move on for now.

[2015-08-20 20:13] damirius commented on #1201
@bsaiken @WebDevJL

OK, so since this one is the biggest issue, let's see what we can do.

So we want to let FT select photos that he wants to upload in the location infowindow even when he closes location infowindow by pressing update. We need to delay ajax call untill the photos are uploaded and we need to show him progress bar somewhere on the map?
What should we show if he selects multiple ima

[2015-08-20 22:08] bsaiken commented on #1063
Save in the `uploads\task_location` directory.

[2015-08-20 22:41] bsaiken commented on #1201
@damirius
All good questions.  Let's make this simple to start with.  I really just need the most basic behavior, then see it field work demands something more complex.

Question: Is it possible to limit the photo uploads to just one image?  If that is easy, then it's an obvious first step.  If you think about it, it does not make sense to upload more than one photo because each photo may have a c

[2015-08-21 12:15] gsouvik commented on #1153
@bsaiken
Yes, it can be done, every time the page loads, the data is queried directly from the database. Let me know and I shall start coding. this is only for the `activetask/showForm` `Tak Status` tab or do you want me to check every tab under the active task section.

Thank you.

[2015-08-21 12:26] bsaiken commented on #1153
@gsouvik
Damir is doing the other tabs.  Most of them are done.  You may want to check the code to make sure you are consistent.

[2015-08-21 13:01] gsouvik commented on #1244
@bsaiken
Clicking on edit the user is now taken to the location edit form:
`location/showForm?mode=edit&location_id=xyz`

I noticed one issue on that screen, the address field is not getting updated. Though not directly relevant to this issue, I just thought of bringing this to your notice.

Thank you.

[2015-08-21 14:39] bsaiken opened #1245 "Address not being saved"
Address not being saved for Locations or Service Providers.  Determine reason and fix.

[2015-08-21 14:40] bsaiken opened #1246 "Change Location Description field to a textarea."

[2015-08-21 14:45] bsaiken opened #1247 "Duplication check being used in edit mode for Service Providers"
We are checking for a duplicate name in edit more for Service Providers.  Since we are editing, the Service Provider name will obviously be a "duplicate".  As-is, this function prevents editing.

Check this for all instances where duplicates are checked (in edit mode).

<img width="1440" alt="screen shot 2015-08-21 at 9 41 28 am" src="https://cloud.githubusercontent.com/assets/8228624/9411018/290b

[2015-08-21 14:46] bsaiken commented on #1244
@gsouvik
I see what you mean.  I found several bugs - made new Issues.

[2015-08-21 15:21] gsouvik commented on #1153
@bsaiken
I've changed code such that the task details are fetched from DB every time the user visits this page.

[2015-08-21 15:44] bsaiken commented on #1153
@gsouvik
In this case it is hard to do a function review since none of the data is available yet, so I am sending it straight to Jeremie for code review.

[2015-08-21 17:21] damirius commented on #1201
@bsaiken @WebDevJL

All changes are made on mobile/map and mobile/loc_list.
Buttons are always enabled again.
I can't change "update" button to "upload" button because pressing update submits all fields to the php controller and saves them in the db, not just photos. So location description, coordinates etc.

Document upload was already independent of other fields, when you drop the image in the d

[2015-08-21 18:03] bsaiken commented on #1201
@damirius
Unfortunately, due to my internet situation, I cannot test unless the code is live on the server.  However, I did some tests using my laptop, and I am confused.  The "Upload" button did not do anything - the file uploaded on its own as soon as I selected the files.

Also, if the FT were to press the "Update" button, while the file is in the process of uploading, the upload is interrupted

[2015-08-21 19:06] damirius commented on #1201
@bsaiken

Are you sure that you read my whole comment?
Like I said, photos always start uploading as soon as you drop them in the dropzone, upload in fact does nothing special it just hide infowindow without breaking the upload process. Cancel button now cancels uploads process.
Also as I said Update button makes ajax call to the php controller that saves description and coordinates of that locati

[2015-08-21 19:09] bsaiken commented on #1201
@damirius
I read your comment, but i may have misunderstood, and I was responding more to what I saw during testing than anything.  It is a bit of a handicap that I can't properly test unless the code is on the server and I can use my mobile device in a live situation.

[2015-08-21 19:22] damirius commented on #1201
@bsaiken

OK, no worries. I've combined upload/update buttons in one button. We no longer refresh the page after edit, which caused upload breaks. Markers should be moved on the map after edit.
I'll see that I test it out later more to check if there are some problems with it.

[2015-08-21 20:16] bsaiken commented on #1201
@damirius
OK.  I do want to clarify one thing.  You say that the markers should be moved after edit.  That assumes that the lat and long coordinates have changed.   The lat/long will only change if one of two things occur: the FT manually changes the numbers (which is almost never going to happen - I am even thinking of removing these fields), or if the FT clicks the "Mark" button.  Retrieving the

[2015-08-22 00:23] bsaiken opened #1248 "Bug adding new Project"
If a new Project is added, but there is no Facility name, nothing happens.
There is supposed to be a popup here alerting the user that a Facility name is required.

[2015-08-22 02:15] bsaiken commented on #1168
@FWAJL
This won't be the final version, but will do for now.

[2015-08-22 12:39] #1174 closed

[2015-08-22 12:47] bsaiken opened #1249 "`/task/checklist` is broken on the feature branches, but works on the live site. See if you can determine why."

[2015-08-22 15:09] bsaiken commented on #1053
@FWAJL
Souvik and Damir are running out of Issues.  Please respond to my question on this one.

[2015-08-22 15:23] bsaiken commented on #1127
@damirius
Is this related in any way to the work you are doing with uploading photos?

[2015-08-22 15:24] bsaiken opened #1250 "Upload photo information"
@damirius
You did not aNswer my question from a different Issue, but this would likely be a new Issue anyway.

Is it possible, when we are uploading a photo, to upload the photo information: timestamp and the file name (as it appears on the mobile device)?

[2015-08-22 15:25] #1120 closed

[2015-08-22 15:28] bsaiken opened #1251 "We need a popup to inform the user that an email address is required for `btn_add_technician`"

[2015-08-22 15:34] #1055 closed

[2015-08-22 18:52] WebDevJL commented on #1053
@bsaiken I can't give more details than the comment on the unit test file. The tool tip of the inactive projects is talking about tasks but we are on the project page.

Can you check the text accurate?

[2015-08-22 18:54] FWAJL commented on #1053
@bsaiken

See screenshot that shows the tool tip.
On 22 Aug 2015 17:09, "bsaiken" <notifications@github.com> wrote:

[2015-08-22 18:54] FWAJL commented on #1053
@bsaiken
On 22 Aug 2015 20:53, jlitzler@fieldworkmanager.com wrote:

[2015-08-23 16:12] damirius commented on #1127
@bsaiken

Not directly, no. Datacx service should be checked to see if we can fetch errors on ajax calls, after that we need to display those errors as the toastr message. Since we are on this subject, why are most of the toastr notifications commented out in mobile js controllers?

[2015-08-23 16:14] damirius commented on #1250
@bsaiken

Sorry about that. Yes it is possible, there's event that is being triggered when we start uploading each image, we already use it for some other stuff. We can make another ajax call there to store that info. What's the purpose of that and where we should store that stuff?

[2015-08-23 17:41] bsaiken commented on #1127
@damirius
I can't stand those toastr comments.  It's a personal preference thing.  However, sometimes they are useful, and even needed, so I commented them out, rather than delete them.

[2015-08-23 17:48] bsaiken commented on #1250
@damirius
First of all, we should be storing the timestamp anyway.  I will make a new Issue for that.

But, more importantly, this is my big idea!  Let's store the file name first.  Then, if we get a timeout when the FT is in the field, it should be possible for the FT to initiate an independent upload of the all the photos once they have a WiFi connection.  This upload sequence would not be subje

[2015-08-23 18:44] FWAJL commented on #1201
@bsaiken does your assignment means that it's ready for code review/release?

[2015-08-23 18:49] FWAJL commented on #1187
@bsaiken

It is not broken Brian. You must be missing something, very likely to be the table in the database.
On the feature_PM branch, the tab works for me.

Anyway, your update is ok to release.

[2015-08-23 19:06] FWAJL commented on #1053
@bsaiken

See screenshot that shows the tool tip.
![screen shot 2015-08-23 at 21 06 19](https://cloud.githubusercontent.com/assets/7524388/9429715/da566626-49da-11e5-9b0a-c3d1cd7008d6.png)

[2015-08-23 19:36] FWAJL opened #1255 "Test all the issues to be release on dev branch"
@damirius @gsouvik @bsaiken

The coming release is consequent. I had some troubles merging all the updates from the feature branches to dev branch.

So in order to release a working version, could you test your developments on dev and notify me about any merge errors that could have happened ?
The items to check are those: https://github.com/FWAJL/FieldWorkManager/labels/version%3A1.7.14

Please p

[2015-08-23 19:40] bsaiken commented on #1201
@FWAJL @damirius
I posed a question to Damir, so I am waiting on his response.  If you know the answer, you could chime in.

[2015-08-23 19:43] bsaiken commented on #1187
@FWAJL
I must have gotten behind on the database updates.  Working fine now.  Thanks!

[2015-08-23 19:44] FWAJL commented on #1201
@bsaiken  I'lll need to review all the comments since my last comment here. I'll catch up the details soon.

[2015-08-23 19:49] bsaiken commented on #1053
@FWAJL
I will handle this.

[2015-08-23 20:03] bsaiken commented on #1201
@FWAJL @damirius
Depending on Damir's response to #1250, I may change the way we upload photos altogether.
Not only am I having trouble in the field uploading photos, it is an obvious flaw to have FTs upload photos in the field.  This is for several reasons.  First, if they have a poor connection, the upload may take a long time, so long it would timeout.  Second, FTs with mobile phones are paying

[2015-08-23 21:06] bsaiken commented on #1255
@damirius @gsouvik
This is obviously my territory (to test) and I was able to make the necessary fixes.

Issue                  Working on Dev?
#1244                      Y
#1243                      Y
#1242                      Y - one of the commits was omitted.  I fixed it with https://github.com/FWAJL/FieldWorkManager/commit/98b4c1f477ce014a9c3f59abb6b1a591842a0bc6
#1207

[2015-08-24 12:40] gsouvik commented on #1249
@bsaiken
On my local I can't even find the menu from where I may access the page and investigate what the issue might be. Accessing it directly shows php variable not found. Could you please give me a test login on live so that I may login and see the page.
Thank you.

[2015-08-24 13:00] bsaiken commented on #1249
@gsouvik
I believe we determined that my local database was not up to date.  It is working now on the dev branch, so false alarm I think.

[2015-08-24 13:00] #1249 closed

[2015-08-24 14:17] damirius commented on #1201
@bsaiken @FWAJL

If FTs can't upload date and timestamp because of connection problems then they for sure can't upload thumbnail.
That said why are they uploading file name and thumbnail at all? Can't they just upload images when they are on WiFi and that's it?

I'll answer the thumbnail question on appropriate Issue.

[2015-08-24 14:19] damirius commented on #1250
@bsaiken

Thumbnails are shown in the dropzone field, they aren't actually uploaded on the server. Resize option is popular one https://github.com/enyo/dropzone/issues/781, but they still didn't add it in the dropzone.
As far as I can see most of the people tried some other solutions or some little hacks to change the code of the dropzone so that it uploads resized images.

[2015-08-24 16:19] FWAJL commented on #1255
@bsaiken thank you.

#1242 was not omitted but rather @damirius and @gsouvik made updates to it (a lot!) and a merge fix, I probably didn't choose the right line. Thank you rectifying it.

[2015-08-24 17:31] bsaiken opened #1258 "Add PM user from admin interface"
More testing needed.  I think the problem is the required fields.

[2015-08-24 17:41] #1255 closed

[2015-08-24 17:42] bsaiken commented on #1197
@WebDevJL
I could have used this feature for a project I was setting up today, so I moved it to Very High priority.

[2015-08-24 17:52] bsaiken commented on #1207
@gsouvik
I just tried this setting up a new Task and this did not work - boxes will not stay checked.
In addition, I have enough field data parameter that it is spilling over onto page 2 and so the pagination issue must be fixed.  The error may be because of the pagination.  In any case, I cannot keep the boxes checked.
The Task can be accessed by using the login credentials: `elcampo` : `elcampo`

[2015-08-24 17:59] #1187 closed

[2015-08-24 18:03] bsaiken commented on #1244
@gsouvik
I just tried this.  I edited the Location description and in automatically inserted the values 0.000 and 0.000 for the `location.lat` and `location.long` fields.  This is incorrect, 0,0 are real coordinates and they are most certainly wrong.

[2015-08-24 18:10] bsaiken commented on #1171
<img width="1440" alt="screen shot 2015-08-24 at 1 10 31 pm" src="https://cloud.githubusercontent.com/assets/8228624/9448300/88921f4c-4a61-11e5-875c-1a6c1be2cdc0.png">

[2015-08-24 18:11] #1170 closed

[2015-08-24 18:11] FWAJL commented on #1197
@bsaiken this is my next task. Please allow a little more time to complete. It takes more than the locations and technicians. Thank you.

[2015-08-24 18:13] bsaiken commented on #1168
Instructions are not displayed.

[2015-08-24 18:13] FWAJL commented on #1197
@bsaiken I have to answer comments on #1201. Which is most important?

[2015-08-24 18:14] #1142 closed

[2015-08-24 18:15] #1243 closed

[2015-08-24 18:15] #1242 closed

[2015-08-24 18:19] FWAJL commented on #1244
@bsaiken are you creating a new issue for that bug since you closed this issue at the moment?

[2015-08-24 18:19] bsaiken commented on #1197
@FWAJL
I may have #1201 sorted out.  This is higher priority, although we have several related bugs that will prevent me from using the site this week for my field work.  My field work is happening Wednesday, so I will not be able to Skype.

[2015-08-24 18:27] FWAJL commented on #1171
@bsaiken fixed

The route was misconfigured. The action was "Notes" when it should always lower case.

[2015-08-24 18:28] bsaiken commented on #1244
@gsouvik
I just added a new location from the left menu and the coordinates are 0.000, 0.000, so the problems is systemic.

[2015-08-24 18:46] bsaiken commented on #1171
@FWAJL
btw - I'm always on your case about having too many labels, but this "hotfix" label, now that I like.

[2015-08-24 18:46] #1171 closed

[2015-08-25 11:53] gsouvik commented on #1207
@bsaiken
I just did a git pull and tested the requirement which was defined for this issue - when FT creates location, the `field_analyte_location` table is populated with the relation and FT can immediately add results for those location + field data combinations.

I could not test the same on live (http://dev.fieldworkmanager.com) as the login was not a FT login. I opened the field matrix for El

[2015-08-25 12:18] FWAJL commented on #1207
@gsouvik I recommend loading the complete matrix onto the view module and handle the paging using jQuery. The current problem is due to page load when changing page.

Can you do that?

[2015-08-25 12:23] gsouvik commented on #1244
@bsaiken
Yes, this is happening due to default value of the column or there could be a code setting default value. I see the messages for me, but the task is assigned to @damirius. Let me know if you actually wanted me to investigate and fix.

[2015-08-25 12:29] gsouvik commented on #1207
@bsaiken
Yes that could be done. But that would be nearly equal amount of code change to the fix where we actually keep things as it is and take care of the pagination check box issue on the php side.
It is generally a good idea to fix the root cause (which is how the matrix is saved on the php side) than to cover it up with a workaround. But I'm open to either way, your call.

[2015-08-25 13:59] bsaiken commented on #1207
@gsouvik
The problem is created by pagination.
Understand that as I am using the site I am finding usability issues which differ from my conceptual idea of how the page would work.
Please make two changes to fix this view.
1) Remove pagination.  The PM will need to scroll to the right.
Question - can the field parameter/location pairs be placed inside a scrollable div?  In other words, can you mak

[2015-08-25 14:01] bsaiken commented on #1244
@gsouvik @damirius
Sorry Souvik, I meant the message for Damir, since he was the one working with coordinates.

[2015-08-25 14:06] gsouvik commented on #1207
@bsaiken
Yes, I think what you are asking for could be done. Do want me to make the commit under #1148?

[2015-08-25 14:26] bsaiken commented on #1148
See https://github.com/FWAJL/FieldWorkManager/issues/1207#issuecomment-134603652

[2015-08-25 16:00] #1197 closed

[2015-08-25 16:41] #1153 closed

[2015-08-25 17:16] damirius commented on #1244
@bsaiken @WebDevJL

Address should be shown properly now in the form. Also empty coordinates should be stored in the DB as NULLs instead which should fix problems when adding or editing.

[2015-08-25 17:42] damirius commented on #1076
@bsaiken

So I need to add missing fields on those pages right? For example username field and photo field for FT?

I found some bug with updating technician data it should be fixed in latest commit

[2015-08-25 18:52] bsaiken commented on #1076
@damirius
Yes I think some fields are missing

[2015-08-25 19:09] FWAJL commented on #1250
@damirius @bsaiken

Read http://www.dropzonejs.com/#enqueuing-file-uploads to queue file upload until the ft clicks the start upload:

If you set autoProcessQueue to false, then .processQueue() is never called implicitly. This means that you have to call it yourself when you want to upload all files currently queued.

See if we can retrieve the queue in JSON format, save it to the db and reuse it

[2015-08-26 00:13] bsaiken commented on #1250
@damirius
I don't know if this is helpful or not, but in case...

I dug into dropzone.js.  I put a break at line 498 and a watch on the variable `file`.  See attached photo.  It seems like that's where the information we need is.

<img width="1440" alt="screen shot 2015-08-25 at 7 10 12 pm" src="https://cloud.githubusercontent.com/assets/8228624/9482761/2da90dc8-4b5d-11e5-8a01-2c340a9ec4c2.png">

[2015-08-26 11:08] damirius commented on #1250
@bsaiken @FWAJL

As I said dropzone is firing few public accessible events on file drop and on file send which can provide us with `file` variable.
We can queue files and try solution that Jeremie suggested. The question is where will we add that separate window for uploading queued files when FT gets his WiFi connection? Do we need separate window at all or we just need to add button in the infow

[2015-08-26 11:27] bsaiken commented on #1250
@damirius
You seem confident this will work.  Jeremie and I not so much, so we are taking this one step at a time.

The "Upload Photos" button could go a number of places, and I haven't decided for certain yet.  It seemed moot until we knew whether or not it worked.  One option is to include a "Wifi Photo Upload" item on the main menu.  Another option is to automatically add a checklist item as so

[2015-08-26 11:57] damirius commented on #1250
@bsaiken @FWAJL

Yap, that thing with queue doesn't work. Those file objects are used just for the flow control of the process.

[2015-08-26 12:15] FWAJL commented on #1250
@damirius @bsaiken  so we can't save the files in queue and re-inject them later?

[2015-08-26 12:24] damirius commented on #1250
@FWAJL @bsaiken

We can save those "files" objects but they are there just for the control of the upload process, they contain some stuff but we can't inject them later to try and upload the actual files.

[2015-08-26 12:32] FWAJL commented on #1250
@damirius @bsaiken Yes, I'm not seeing either the actual info that would link the object file to the physical file itself after. At least for now.

[2015-08-26 15:37] gsouvik commented on #1148
@bsaiken
I've changed the field data matrix UI structure as per your comment from #1207 . Please note I've done this only for the field data matrix section as I wanted you to review this and let me know if you really liked it. I had to completely change the HTML structure to fit it into our new requirement of scroll-able div with no pagination, so I just wanted to get it approved before touching t

[2015-08-26 16:34] FWAJL commented on #1250
@damirius @bsaiken

More on the subject:

Since it is not possible to retrieve the data from Dropzone, I'm investigating a possible solution to store the documents (pictures and pdf) on the FT's device. I'm not sure where yet but I have an idea. Give me a little bit of time to build the case.

The goal would be to use Dropzone to store the data on the FT's device and then to the server when the co

[2015-08-26 16:51] bsaiken commented on #1148
@gsouvik
That is much better!
Let's fix the text as you describe so it does not break a word.

Here is one other improvement.  Use two separate rows to make the header rows and put the units (always trailing text in parens) in the second row.  See the photo attached.

<img width="1440" alt="screen shot 2015-08-26 at 11 44 59 am" src="https://cloud.githubusercontent.com/assets/8228624/9499948/1abb0

[2015-08-26 17:12] FWAJL commented on #1250
@bsaiken @damirius

So, I have found a possible solution to test out on a dummy to start with. I found a clear enough example (http://blog.jankuca.com/post/7169506266/offline-file-uploads-file-api) with the source code (https://github.com/jankuca/offline-uploader).
Alternatively, we could use this example: https://github.com/agektmr/BrowserStorageAbuser

Basically, we would use IndexedDb (first ch

[2015-08-26 19:12] gsouvik commented on #1148
@bsaiken
I think @WebDevJL and @damirius are on the right track on the photo upload issue and they have a head start. Conceptually I too have thought similarly. I just have one point in mind, reviewing some of the content like [this](http://www.html5rocks.com/en/features/storage) and [this](http://stackoverflow.com/questions/9487636/file-uploads-in-html5-offline-applications), it seems HTML5 stora

[2015-08-26 19:31] bsaiken commented on #1250
@FWAJL
That's not enough data.  I will have to look for another solution.

[2015-08-26 19:47] FWAJL commented on #1250
@bsaiken @damirius @gsouvik

Please definieWhat are your requirements:
- how much do you think you need to store?
- have you tried this link http://demo.agektmr.com/storage/ on your iPad and iPhone? Play with it using chunks of 500kb for example (a picture size big enough to record field parameters for example).
- can you answer this question: what would be an acceptable image size in pixels?

I h

[2015-08-26 21:31] bsaiken commented on #1250
@FWAJL
I am not in control of the data size requirements.  Photos on my phone are ~ 2Mb.  Some phones have larger sized images maybe 8Mb or more.  I can't really predict how many photos a FT will need to upload.  I was thinking 50Mb might be too small.  However, if we can limit the file size to 1Mb or less, and we had 50Mb to work with, that would probably be OK.  Can you mock this up for me?  The

[2015-08-27 04:40] FWAJL commented on #1250
@bsaiken

I understand. The reason why I'm talking about resizing pictures is because we don't need to full HD pictures to record a field parameter.

However, can you at least provide some start-of-answer to the questions I posed, please:
- how much do you think we need to store based on your experience of field work?
- have you tried this link http://demo.agektmr.com/storage/ on your iPad and iPh

[2015-08-27 12:09] bsaiken commented on #1250
@WebDevJL
I answered some of these questions.  Here is a more comprehensive answer.

I don't know.  We need a flexible solution.  Above, I suggested we use 50Mb.  However, this number is a product of file size and # of photos, so it is not that important from a needs point of view.

Yes.  Not happy with the result.

![storage](https://cloud.githubusercontent.com/assets/8228624/9520058/8edcc42c-4c8

[2015-08-27 16:15] gsouvik commented on #1148
@bsaiken
I've changed the wrapping code and have used native php method (rather than re-inventing the wheel) which now handles the wrapping. It tries to wrap around the character count (15 in our case) but searches for white space nearby so that words remain intact when broken into multiple lines.

Also I've introduced the row for the Units. Please note that the Analyte name must be of the format:

[2015-08-27 17:30] bsaiken commented on #1148
@gsouvik
Now that's good stuff!  Do you need to also implement this on the Active Task tab?

[2015-08-27 18:30] gsouvik commented on #1148
@bsaiken
Yes I missed that one, I'll change the the UI structure of `activetask/fieldData` to introduce the scroll area instead of pagination.

[2015-08-28 01:26] bsaiken commented on #1148
@gsouvik
I don't know if this is fixed yet, but remember the default is checked, and the PM can then change the checked/unchecked state if the project is not active.  So, if I add new locations, or new field parameters, those additions would start out checked.

[2015-08-28 01:34] bsaiken opened #1268 "Activating a Project should make it the current Project"

[2015-08-28 01:52] bsaiken opened #1269 "Location Placement not possible inside moseover sphere"
If I try to place a location on the map, and the location is within  the mouseover sphere of another location, the click opens the new info window, rather than placing the marker.

[2015-08-28 05:07] gsouvik commented on #1148
@bsaiken
That feature is already up for the FT (#1207) . For example if the FT adds new location, in the field matrix every relation for that new location with all the field data available would be checked.

But do you want this to happen when PM adds new location/field data as well? That part in not implemented. Let me know and I shall code that.

[2015-08-28 15:54] bsaiken commented on #1148
@gsouvik
Yes, let's clean it all up.

[2015-08-28 20:29] bsaiken opened #1270 "Info windows scroll the page, not the info window, so they're unusable."

[2015-08-28 20:38] #1244 closed

[2015-08-28 20:52] bsaiken commented on #1168
@WebDevJL
When I activate the Task, the Instructions do not appear.  Can you fix this?

[2015-08-29 14:34] bsaiken commented on #1250
@WebDevJL
Can you please check this out and see if it is a possible solution to queue caching:
http://docs.fineuploader.com/branch/master/features/pause.html

[2015-08-30 16:13] WebDevJL commented on #1250
@bsaiken

This software is not free therefore, we need to purchase it to try ($69/year). The documentation talks about a specific case so without trying, I can't tell if it is a possible solution.

Thank you.

[2015-08-30 16:15] WebDevJL commented on #1270
@bsaiken

can you detail more (url at least) so we can help?
Thank you.

[2015-08-30 16:25] WebDevJL commented on #1248
@bsaiken

We never added a popup alerting the facility name is required except when using the Toastr notification, which you removed in b684460.

Do you want a alert popup similar to the unique project name check?

Thank you.

[2015-08-30 16:26] WebDevJL commented on #1172
@bsaiken

what is strange? what do you expect?

Thanks.

[2015-08-30 16:30] WebDevJL commented on #1247
@bsaiken

So you want to simply check if we implement the duplicate check when editing a project, location, field parameter, etc? Is that correct?

Thank you.

[2015-08-30 16:38] WebDevJL commented on #1246
@bsaiken please review. Thanks.

[2015-08-30 16:41] WebDevJL commented on #1245
@bsaiken is it not saved or not displaying. I have tested it for #1246 and the problem was that the javascript was loading the data into an "input", not "textarea". Please check again.

Thank you.

[2015-08-30 16:44] WebDevJL commented on #1245
@bsaiken it was the same issue as the location edit view. Now fixed. Please review. Thank you.

[2015-08-30 17:15] bsaiken commented on #1270
@WebDevJL
This was not assigned to you, so you don't need to look at it.  I am opening Issues when I see problems during alpha testing, but I don't always have time in the moment to write out the details.
I think we have had this conversation before...

[2015-08-30 17:18] bsaiken commented on #1248
@WebDevJL
Please don't just override my Issue assignments.

[2015-08-30 17:26] bsaiken commented on #1246
@FWAJL
Yes, this looks right now.  thanks.

[2015-08-30 17:29] bsaiken commented on #1245
@FWAJL
Great - thanks.

[2015-08-31 08:48] gsouvik commented on #1148
@bsaiken
Further changes added are a follows:
1) Scrollable UI added to the `activetask/fieldData` screen.
2) Whenever PM adds a Location or Field data to a task, the relationship (for the matrix to be checked) gets auto created into the `field_analyte_location` table.

Code is pushed to the feature_devsupport branch. Please review and let me know your feedback.

[2015-08-31 13:24] bsaiken commented on #1148
@gsouvik
Something fishy happened when I added a new Location (`Test for 1148`) as a FT.  There is no error, but the active task field matrix did not display properly.

<img width="1440" alt="screen shot 2015-08-31 at 8 20 11 am" src="https://cloud.githubusercontent.com/assets/8228624/9579556/2b87900e-4fb9-11e5-8782-02e49791e630.png">

[2015-08-31 13:50] gsouvik commented on #1148
@bsaiken
Fixed the issue and pushed code to feature_devsupport.

[2015-08-31 14:33] bsaiken commented on #1148
@gsouvik
 I just added a new Location and the default was not checked boxes.

<img width="1440" alt="screen shot 2015-08-31 at 9 32 52 am" src="https://cloud.githubusercontent.com/assets/8228624/9581166/574a1752-4fc3-11e5-9213-5730893476c5.png">

[2015-08-31 16:32] gsouvik commented on #1148
@bsaiken
I've made videos to show the steps and how it looks on my local branch:
1) When PM adds location: http://sendvid.com/m3eqhars
2) When Technician adds a location: http://sendvid.com/oqou8s9j
If the result meets the requirement on these videos, I think you are not updated with the latest codebase. Please pull from feature_devsupport again and retry. Let me know how it went.

[2015-08-31 16:47] gsouvik commented on #1248
@bsaiken
Just confirming, currently it shows a popup alert if there is no project name, facility address and client email address. All of these messages appear collectively in a single popup alert. So, this requirement is to include the facility name as well in the mandatory fields list so that the popup alert may show up if the facility name is empty?

[2015-08-31 17:07] bsaiken commented on #1148
@gsouvik
Still not working.  Try adding a new location using the highlighted button.

<img width="1440" alt="screen shot 2015-08-31 at 12 05 31 pm" src="https://cloud.githubusercontent.com/assets/8228624/9584792/e206d316-4fd8-11e5-90b5-02b248c97989.png">

[2015-08-31 17:11] bsaiken commented on #1248
@gsouvik
The Facility name is a requirement.  Try adding a Project without a Facility name.
Since it is required, we need it to be included in the list of items that are required, so the the user knows what happened.

[2015-08-31 20:25] gsouvik commented on #1148
@bsaiken
Ok, I see the issue now, I missed adding the function to that button as I failed to realize that it directly adds location to a task. It should be now fixed. Please let me know all other places I might have missed from where a location could be assigned directly to a task and I shall add the function call to all those places.

[2015-08-31 20:52] bsaiken commented on #1148
@gsouvik
It is also possible to add field parameters from the Task tab.
<img width="1440" alt="screen shot 2015-08-31 at 3 50 59 pm" src="https://cloud.githubusercontent.com/assets/8228624/9590104/35b80894-4ff8-11e5-8835-2cb1ce3e3cdc.png">
<img width="1440" alt="screen shot 2015-08-31 at 3 51 06 pm" src="https://cloud.githubusercontent.com/assets/8228624/9590114/433cdc7e-4ff8-11e5-8528-d61d2debd35

[2015-09-01 13:05] gsouvik commented on #1148
@bsaiken
Feature added to that button too.

[2015-09-01 16:50] bsaiken commented on #1148
@gsouvik
OK - I think we have them all.

[2015-09-02 02:10] bsaiken commented on #1250
I could Skype tomorrow if you are free.

Brian

On 2015-08-30 11:13, Jérémie Litzler wrote:

[2015-09-02 05:10] WebDevJL opened #1271 "Field Parameter grouping brainstorming"
@bsaiken

Here is my proposal:

Database details:
https://diagrams.seaquail.net/Diagram.aspx?ID=24524
Suggestion of UI flow:
https://docs.google.com/presentation/d/1wwZR7aOZ0TTpy82iOn4UAmAXq4MjYFYzwvdkzG4gzU0

Hopefully, you have a look and give me a feedback by the time we talk.

[2015-09-02 10:48] gsouvik commented on #1248
@bsaiken
Facility name is now included in validation and notify user using Popup alert if no data is entered.

However on my branch I just noticed the actual project add feature is not working. It throws the following error:
`Undefined variable: userId`
On ClientController.php file. This is not related to the validation code change, but I just wanted to bring this to your notice.

Thank you.

[2015-09-02 13:06] gsouvik commented on #1207
@bsaiken
I think this is solved as part of #1148. Let me know if anything remains on this issue which needs to be looked into.

[2015-09-02 13:16] gsouvik commented on #1172
@bsaiken Priority is simultaneously High and Medium. Which should I consider?
Regarding the requirement:
What is strange or not right in the screenshot. In other words, how should the page actually look - any reference to a standard layout or data to be shown can help me understand the issue.

[2015-09-02 14:03] bsaiken commented on #1248
@gsouvik
I think the error has to do with the auto-creation of a client id and password.  We set this feature up, but it is not needed at this time.  Thanks for pointing that out, though.

[2015-09-02 14:06] bsaiken commented on #1207
@gsouvik
Yes, his is working.

[2015-09-02 14:10] bsaiken commented on #1172
@gsouvik
I need to look into this Issue some more, so I will put it on hold.

[2015-09-02 14:57] gsouvik commented on #1247
@bsaiken
Duplicate check with self restricted while editing service provider.

[2015-09-02 15:07] bsaiken commented on #1247
@gsouvik
that appears to work.

[2015-09-02 15:58] bsaiken commented on #1271
Here are some thoughts:

1) The primary route to the analyte/uploadList page is going to be
through the Task UI.  Therefore, we won't be "promoting" items any more,
at least not in this context.  Since we are moving away from this
paradigm, best to move away here, too.

2) As part of Issue #586, we have an autocomplete feature for Lab
Analytes.  This means we really don't need the right hand colum

[2015-09-02 16:49] gsouvik commented on #1085
@bsaiken
I was reviewing this requirement and have a question. Is it for the screen shown in the following screenshot?
![screen shot 2015-09-02 at 10 13 36 pm](https://cloud.githubusercontent.com/assets/2292482/9637735/1299cb8a-51c0-11e5-8bc8-e7b3c5c486d4.png)
It worked for me when I entered data for all the fields. But it never showed me any validation fail messages. Also there were no errors, it

[2015-09-02 18:23] gsouvik commented on #1189
@bsaiken
I have a question on this issue too, looking at the following screenshot:
![screen shot 2015-09-02 at 11 44 50 pm](https://cloud.githubusercontent.com/assets/2292482/9640047/10741a60-51cd-11e5-95e4-aa858d751fef.png)
Do you want to have the technician selected automatically on the right hand column. But it could be deselected using a mouse click. Please describe what the functionality shou

[2015-09-02 19:53] bsaiken commented on #1085
@gsouvik
I determined the following fields are all required:
Login
Password
Hint
Name
Email

Rather than have you work on this, I just added the `Required` class to each of the text boxes, since that is already defined.  I don't think it is correct in all cases, I think we are now labeling some fields as required which aren't, but that's OK for now.  More important Issues to work on.

[2015-09-02 19:57] bsaiken commented on #1189
@gsouvik
Yes, select the Technician on the right hand side automatically, if there is only one Technician.

No need to de-select.  If there is more than one option on the right hand side, auto-selection does not happen, and the user must make a selection.

[2015-09-03 02:41] bsaiken commented on #1250
@WebDevJL
Jeremie, I got a response from fine-uploader.   They say it's easy.  Please take a look at their response.
http://stackoverflow.com/questions/32263174/fine-uploader-delayed-upload-queue

[2015-09-03 04:22] WebDevJL commented on #1248
@bsaiken @gsouvik

This is fixed by adding a config value to enable the user creation on client creation.

[2015-09-03 04:36] WebDevJL commented on #1250
@bsaiken
I have posted a comment to see if we can really do what we want.

[2015-09-03 13:45] bsaiken commented on #1250
@WebDevJL
WHere did you post your comment - I see no comment.

[2015-09-03 18:22] gsouvik commented on #1189
@bsaiken
I've implemented this feature. When single technician is available, it is automatically selected and all communication data is loaded.

I've refactored code from ActiveTaskController and moved it to ActiveTaskHelper so that we may reuse maximum of the code which was already written. Please review and let me know.
Thank you.

[2015-09-03 20:06] FWAJL commented on #1250
@bsaiken Sorry, I meant on stackoverflow, not here.

[2015-09-03 20:13] FWAJL commented on #1189
@gsouvik Go initiative refactoring into the Helper. However, also think about splitting function so that are short. You could make 4 functions of the one you moved. One for each if.

[2015-09-03 20:40] bsaiken commented on #1189
The first time I tried this it did not work.  If the FT were selected, it would appear in the breadcrumb.
<img width="1440" alt="screen shot 2015-09-03 at 3 36 43 pm" src="https://cloud.githubusercontent.com/assets/8228624/9670408/0218956a-5252-11e5-894c-caeaca27875f.png">
@gsouvik

[2015-09-03 20:44] bsaiken commented on #1250
I understand that.  I do not see your comment on Stack Overflow.

Brian

On 2015-09-03 15:06, FWAJL wrote:

[2015-09-04 03:56] FWAJL commented on #1250
@bsaiken that's because it was deleted by an admin of stackoverflow.

Please reply yourself with this:

Ray,

I want to add to Brian's questions: what happens if the user closes the browser or switch off the phone? Will the postponed upload by clicking that Upload button still work or do we have to reselect the files ? Where is stored the info about the uploading file?

The use case described by B

[2015-09-04 13:56] bsaiken commented on #1250
@WebDevJL
I can see why they deleted your comment.  Your questions are a no-no on Stack Overflow.  I'm actually surprised they left mine.

The questions you raise are sort of doomsday scenarios that could happen to any technology.  If I collect data on paper, the data sheets could blow out the door of my truck - and I don't want to admit how many times that has happened.

If all we need to do to b

[2015-09-04 14:00] bsaiken commented on #1250
@WebDevJL
Actually, we don't need to purchase it until we know it will work for us, so it's really risk free.  In fact, we would not need to buy a license unless we started making money - it's free to develop, just like Google Maps.

[2015-09-04 14:30] #1247 closed

[2015-09-04 14:32] #1246 closed

[2015-09-04 14:42] #1060 closed

[2015-09-04 14:52] bsaiken commented on #1250
@gsouvik @WebDevJL
Jeremie, You may want to merge the DEV branch to feature_devsupport because I uploaded the fine_uploader archive to the DEV branch.

Souvik, This has been a real challenge for us to implement.  Let me know if you need help understanding the requirement.  We could have a Skype chat if needed.  The first step would be to implement a simple upload (1 photo only) from the mobile sit

[2015-09-04 15:07] bsaiken opened #1280 "Location links not working"
@gsouvik
Unfortunately, I found a bug right away that will need to be fixed before we can address the Fine Uploader Milestone.  The Location Info window is not appearing when I click the Location in either the Location list or the Map (/mobile/ UI).

Also, please modify the CSS for the Location list so that the symbol appears on the same line as the Location Name.

![img_3447](https://cloud.github

[2015-09-04 15:09] FWAJL commented on #1250
@bsaiken @gsouvik merge comple

[2015-09-04 15:11] bsaiken opened #1282 "Use Fine Uploader for simple file upload for mobile UI"
This happens at `btn_addnewloc` and for each of the Location markers on the Location list and the map.

[2015-09-04 15:11] bsaiken commented on #1280
@gsouvik
Jeremie may be working on this to address Issue #1270.

[2015-09-04 15:17] bsaiken opened #1283 "Auto-interrupt a photo upload so the photo can be uploaded later."
It may be useful to review this Stack-overflow question.
http://stackoverflow.com/questions/32263174/fine-uploader-delayed-upload-queue

You will need to make a temporary dummy page to call the upload later.  You do not need to put the dummy page link on the menu, we can manually type in the url for testing.

[2015-09-04 18:23] gsouvik commented on #1280
Brian, I have some emergency today and I'm away from my computer. I shall
try to be available tomorrow so that I may look into it.
Sincerely,
Souvik.
On 4 Sep 2015 8:42 pm, "bsaiken" <notifications@github.com> wrote:

[2015-09-05 00:46] bsaiken opened #1284 "Interrupt sequential file uploads, create queue, and upload later."

[2015-09-05 00:50] bsaiken opened #1285 "Enable queued file upload with link to checklist item"
Checklist will need to be automatically added when the first upload starts.

[2015-09-05 00:57] bsaiken opened #1286 "Queue photo uploads for more than one location."
Photos can be uploaded from

[2015-09-06 19:32] FWAJL commented on #1270
@bsaiken

Can you test on http://debug.fieldworkmanager.com/login the issue. I made the popups fullscreen width for now and I would like to know if you still get the error because I don't.

I'm still working to get the height of all popup to fit 100% of the screen.

Thank you.

[2015-09-07 02:04] bsaiken commented on #1270
@WebDevJL
That does not solve the problem, and from the behavior I do not think it will help if you make the popup the full height of the page.  We need to get rid of the popups and link to a new url.  No popups for the mobile UI.

[2015-09-07 02:11] bsaiken commented on #1280
@gsouvik
I think this is related to #1270, which Jeremie is working on.  I will need to put the Fine Uploader Issues on hold.  You can continue working on other Issues.

[2015-09-07 04:11] FWAJL commented on #1270
@bsaiken

I have tried to put it in a new page. But the functionality in the popups is very closely built into the javascript and I was having a hard time finding where it all is (javascript files weren't built to be modular).

Because the way it was written, we need to recode everything from scratch in regards to the ui behaviors.

@damirius @gsouvik
Can we do what Brian is asking, especially wit

[2015-09-07 04:24] FWAJL commented on #1280
@bsaiken @gsouvik

This has nothing to do with what I'm trying to do for #1270. I'm coding on a debug branch and release on a debug site, completely detached from the feature and dev branches and the dev site.

I can see nothing changed in the released commits in regard to this. And on the debug branch the popups work... I'm investigating.

[2015-09-07 04:37] FWAJL opened #1288 "Use HTTPS for secure and identified geolocation"
Google notification:

"getCurrentPosition() and watchPosition() are deprecated on insecure origins, and support will be removed in the future. You should consider switching your application to a secure origin, such as HTTPS. See https://goo.gl/rStTGz for more details."

We will need to purchase a SSL certificate to use HTTPS instead of HTTP protocol.

To investigate what needs to be done.

[2015-09-07 04:51] FWAJL commented on #1280
@gsouvik @bsaiken

This is the problem, unrelated to the work ongoing for #1270
![screen shot 2015-09-07 at 06 50 49](https://cloud.githubusercontent.com/assets/7524388/9709500/e10d8528-552c-11e5-82db-71dac6d277ce.png)

I will try to find out what is missing.

[2015-09-07 04:52] FWAJL commented on #1280
@bsaiken do you want me to do that?

[2015-09-07 08:20] gsouvik commented on #1189
@bsaiken
The functionality was working but the breadcrumb was not updating the technician name, I've fixed it. As usual, code is pushed to feature_devsupport.

[2015-09-07 17:12] bsaiken commented on #1280
@FWAJL
When the code is changed to use a new URL rather than a popup to display the mobile forms, this will need to be fixed, otherwise it will be impossible to conduct a function review.  Therefore, I am just going to close this Issue.

[2015-09-07 17:12] #1280 closed

[2015-09-07 17:15] bsaiken commented on #1288
@FWAJL
I do not see in reading the documents that this will happen any time soon, so we'll deal with it when the time comes.

[2015-09-07 17:19] bsaiken commented on #1270
@WebDevJL
I don't want to spend any more time on trying to tweak the popups.  The behavior is not acceptable and I don't see that changing.  Moreover, I just have a gut instinct that popups on the mobile UI is just a bad idea.
Putting the forms on a new url should not be that hard.  I can do this later this week if you think it will take a lot of hours (I'm free labor).  Let me know.

[2015-09-07 19:52] FWAJL commented on #1270
@bsaiken feel free to try and let us know how you get on with it.

[2015-09-08 05:04] WebDevJL commented on #1271
@bsaiken since you introduced the concept of task / sub-task, I rename this issue "Task and sub-task implementation" because the field parameters group is not applicable since there won't be any group really.

I will post more updates on the implementation soon.

[2015-09-10 04:43] WebDevJL commented on #1271
@bsaiken I have push a mockup to the repository in Mockups/issue-1271-mockup.html. Here is a screenshot in case you can't load the mockup:
![screen shot 2015-09-10 at 06 35 35](https://cloud.githubusercontent.com/assets/3506074/9780276/1fe3bedc-5787-11e5-8c52-59e6b593b1e9.png)

This is the idea of yours to have a similar menu as the mobile ui for all the legacy left menu and two icons to add a tas

[2015-09-10 13:12] bsaiken commented on #1271
@WebDevJL
I am assuming the top menu items would be as follows:
`fa-list` is the list of Tasks
`fa-plus-circle` would be used to add a new Task
`id="collapse-menu-button"`  brings up the legacy menu.

[2015-09-10 13:56] WebDevJL commented on #1271
@bsaiken the order is up to you. The mockup is a starting idea.

Do you like that option to remove the left menu?

[2015-09-10 14:00] bsaiken commented on #1271
@WebDevJL Web
Yes, this is what we talked about.  The left menu is still there, just hidden, and most of the navigation can be accessed from the /task/ UI.

[2015-09-10 15:07] FWAJL commented on #1271
@bsaiken

I have an idea for tasks and subtask navigation.
I'll try to pitch you a mock-up by tomorrow. I have done a very simple
Google presentation so far but I want to take 30 more min to present it.

Thank you.
On 10 Sep 2015 16:00, "bsaiken" <notifications@github.com> wrote:

[2015-09-11 01:55] bsaiken commented on #1270
@WebDevJL
I found this solution, which seems to work even though I did not implement it properly.

http://stackoverflow.com/questions/18979531/prevent-dialog-on-mobile-screen-from-scrolling-the-body

I checked several solutions, and only this one worked:  sbin.com/aXoMaGo/6

Can you tell me if this would solve the problem?

[2015-09-11 06:26] WebDevJL commented on #1271
@bsaiken here is my idea.

I know you wanted to remove the left menu because it had lots of links not useful at all times. So we moved it to the 3-lines icon like the Mobile UI.
In addition we have a plus icon to add a new task and list icon to list task. The screenshots below are a suggestion of navigation in the tasks.

Now, I suggest to use the space on the left to display, on click of the list

[2015-09-11 07:28] WebDevJL commented on #1270
@bsaiken I will look into it on Tuesday (I'm off on Monday).

[2015-09-11 17:07] bsaiken commented on #1271
@WebDevJL
This looks good.  Here are some answers to your questions, and a couple other thoughts.

I was thinking the same.  Either we have a popup option, or we use two add task icons, one is for primary task, one is for sub-task.  Easy to distinguish, say a larger icon for Task Add and a smaller Icon for the Subtask Add.  Plus, the subtask icon can be disabled when the user has a subtask selecte

[2015-09-13 05:24] WebDevJL commented on #1270
@bsaiken the reason what you did doesn't work is because the css selector is not finding body.modal-open.

Look at my commit:

Also please test on http://debug.fieldworkmanager.com/login and let me know.

[2015-09-13 06:30] WebDevJL commented on #1271
All commit are on the dev branch.

see the mockup in this commit: https://github.com/FWAJL/FieldWorkManager/commit/89301d42b494970a732f585f49c13565bf47f8be

See the updated mockup issue-1271-mockup-subtask and issue-1271-mockup-task

I will do that later on as I need to go for now. Hopefully, the tweaks of the UI are ok with you. Let me know.

[2015-09-13 13:29] bsaiken commented on #1271
@WebDevJL

see the mockup in this commit: 89301d4

I would rather have a button on the `task/showForm/` page.  One thing this does is force the user to have already selected a Task.  After the subtask is created, the user can access it for further edits via the left menu.

See the updated mockup issue-1271-mockup-subtask and issue-1271-mockup-task

I see where you are going with this.  Some of the

[2015-09-14 17:25] rnicholus commented on #1250
I'm the maintainer of Fine Uploader. Can I be of assistance here in any way as far as answering further questions?

[2015-09-14 18:25] bsaiken commented on #1250
@rnicholus
I bought a Fine Uploader license and I have tech to implement the code.  Good to know who to ask if we have questions, though.  Thanks.

[2015-09-14 18:27] rnicholus commented on #1250
Generally speaking, we like "how do I do this" type of questions to be posted on SO under the fine-uploader tag (which I monitor regularly), and feature/bug reports/requests in our issue tracker. But I'd be happy to provide guidance in this thread for your implementation effort.

[2015-09-14 18:32] bsaiken commented on #1250
@rnicholus @gsouvik @FWAJL
Sure, if we have a question this post will notify everyone to ask questions under Fine Uploader's git.
Jeremie may have a follow-up question from my original Stack Overflow question (http://stackoverflow.com/questions/32263174/fine-uploader-delayed-upload-queue).

[2015-09-14 18:35] rnicholus commented on #1250
If the questions are very specific to your implementation, you can simply ask in this thread, as I am now watching.

[2015-09-14 19:46] gsouvik commented on #1282
@bsaiken
I was experimenting with the fine-uploader library and have couple of questions relevant to using it in context to this requirement.
1) The fine-uploader manual upload feature (http://fineuploader.com/demos#manually-trigger-uploads) helps us queue up files to be uploaded and even edit their names. But it doesn't store the queue if the page is refreshed or the modal window is cleared and r

[2015-09-14 20:59] bsaiken commented on #1282
@gsouvik
Any question about how Fine Uploader works should be posted on Issue #1250, since that is where the support thread is.

[2015-09-14 20:59] bsaiken commented on #1250
from #1282.

technicians just queue up the files and keep the page/modal as it is?

No.  This would not help.  The technician will need to be able to navigate to other pages and do other work while adding to the upload queue.

The fine-uploader version...doesn't use jQuery.

I just downloaded the wrong library.  Please just download the correct library.

[2015-09-14 21:19] rnicholus commented on #1250
Note that there is no real advantage to pulling in jQuery-wrapped Fine Uploader. See FineUploader/fine-uploader#1310 for more details.

[2015-09-15 20:28] gsouvik commented on #1250
@rnicholus
Thanks for sharing that thread on jQuery wrapper, it really helped.
I need a bit of more information regarding a different area of the library. Is it possible to store up the queue itself and upload it at a later time? I'll try to explain that with an example. Say I have a page where I've configured fineuploader with manual upload trigger. I add some files to upload, but don't start the

[2015-09-15 20:46] rnicholus commented on #1250
No. To support this, one of the following would have to be happen:

1. Each file would have to be stored in the browser. One option is `localStorage` but space in that store is limited. `localStorage` is meant for small amounts of text, such as JavaScript objects. Simple key/value store. Another option would be to store the files in IndexedDB. This is possible, but not currently supported by Fine

[2015-09-15 22:50] bsaiken commented on #1250
@gsouvik @rnicholus
One of the advantages of not being as tech savvy as the rest of you is that I'm too stupid enough to realize it won't work.  I see three possibilities where this could still work - correct me if I am wrong.

1) Specify the exclusive use of Chrome.  The only disadvantage is one might expect Filesystem API would eventually be deprecated in Chrome as well.
2) Store the files in In

[2015-09-16 02:25] rnicholus commented on #1250
We are already making use of the Filesystem API to accept folder uploads via DnD and the `<input type="file">` element. But since this is a dead specification, the implementation in Chrome/Opera is considered proprietary/non-standard. As such, we will not invest any additional time/resources building upon this implementation.

I'm not sure at the moment, as this is not a web specification that I h

[2015-09-16 03:59] bsaiken commented on #1250
@rnicholus  @gsouvik
Ray, I am not expecting any code modifications to fine-uploader on your part, my query to you is only to know if it can be done and to verify that any modifications we make for incorporation into our website are not an infringement on code that is rightfully yours.  If it does turn out we are able to make modifications, and you like them, you would be welcome to it.

The quest

[2015-09-16 04:35] rnicholus commented on #1250
The concept is straightforward, but the devil is always in the details. Though this should be a possible integration given Fine Uploader's comprehensive API.

Your biggest obstacle may be browser support. First, only Firefox & Chrome/Opera fully support IndexedDB. IE10+ and Safari for OSX only have partial support for the spec. Also, in typical Apple form, the implementation of IndexedDB was [horr

[2015-09-16 05:20] bsaiken commented on #1250
Your biggest obstacle may be browser support.

This is not an obstacle for me since I can specify a browser to my users  (if necessary).  This is no more restrictive than requiring users to access the site with a custom mobile app.

@gsouvik - Souvik, when you consider how we might implement this, I believe our best option is to use Chrome.  All my testing will be using Chrome.  We only need the m

[2015-09-16 05:27] rnicholus commented on #1250
Keep in mind that Chrome on iOS is, for the most part, just a less
performant version of Safari, with less features. It does not share the
same feature set or codebase as its desktop cousin.
On Wed, Sep 16, 2015 at 12:20 AM bsaiken <notifications@github.com> wrote:

[2015-09-16 13:18] gsouvik commented on #1250
@bsaiken
After going through the discussion thread, from my view point, the following two options seems to be somewhat feasible:
1) As you suggested, using a separate upload page and keep adding everything to it. The user must not close the tab (the page loaded in it) or else they loose the queue. They must be educated regarding this.

2) IndexedDB - I haven't worked with it before, but can resear

[2015-09-16 13:39] WebDevJL commented on #1250
@bsaiken @gsouvik

Yes, you're right, Souvik. Look at this comment for details about IndexedDb / WebSQL implementation example: https://github.com/FWAJL/FieldWorkManager/issues/1250#issuecomment-135111166

[2015-09-16 14:42] bsaiken commented on #1250
@WebDevJL
Jeremie, your opinion about the upload page?

[2015-09-17 02:53] bsaiken opened #1295 "Upload photo trials"
@gsouvik
Souvik,  Jeremie and I talked again today and were able to digest some of Ray's input.  I believe what I want to do is just not possible.  Still, I would like you to experiment with some alternatives before I completely give up.
The only possible way to test options will be to test live from the server.  So, for the moment, let's work on this Issue ONLY so that we do not create any confli

[2015-09-17 02:56] bsaiken commented on #1295
@gsouvik
Let's try this first.  See if there is an option to resize the image using dropzone.  Most of the images I try to upload are in the 1 - 2 Mb range.  Is it possible to downsize the image on the client side before uploading?

[2015-09-17 03:04] bsaiken commented on #1282
@gsouvik
Let's try this with a single file upload, but re-size the image.  For now, the resizing amount is not important, any reduced size.
http://docs.fineuploader.com/branch/master/features/scaling.html
See my comments on #1295 about where to push the code.

[2015-09-17 11:33] WebDevJL commented on #1282
@gsouvik

Try to test it in a location edit view to keep it simple. I'm doubtful the JS code Damir did is modular enough in all the case we upload files.
The file location_manager.js should be the place to look at.
Try reducing images to under 500kb. @bsaiken : I think we need to set a max image size and wait for Souvik's feedback about it.

Let us know if you need help, especially with live testi

[2015-09-17 11:37] gsouvik commented on #1282
@bsaiken
So as I understand you want to try the "scaling down" feature of fineuploader along with IndexedDB, or just use "scaling down" so that it is easy on the network and the files could be easily uploaded from field.

@WebDevJL
Yes, I shall try with that JS file and start with the edit view first. Also I don't have the live server credentials. Do you just git pull on the live server from a ter

[2015-09-17 12:11] WebDevJL commented on #1282
@gsouvik

No try to scale down first and implement the upload method using Fine uploader instead of DropzoneJS in the case of the location edit view. We want to see how it handles live when the images are resize.

Then we'll see about IndexedDB and if it is necessary to implement.

Brian will share the details (which are sensitive to post them here) in private. The procedure is simple: you push to

[2015-09-17 12:18] bsaiken commented on #1282
@gsouvik
I put the information to access Hurray Host on eLance.

[2015-09-17 13:08] gsouvik commented on #1282
@bsaiken @WebDevJL
Ok, I think I have everything to start. Just one last thing to confirm - on your Elance message you have asked to push to `feature_devsupport`, but on the other thread #1295, you have mentioned to push the code to `dev`. Let me know which one I need to push to. Thank you.

[2015-09-17 13:16] bsaiken commented on #1282
@gsouvik
Jeremie set it up so you can push to dev_support.

[2015-09-17 19:01] bsaiken commented on #1282
@FWAJL @gsouvik
What is the url I will be using for field testing?

[2015-09-17 19:07] gsouvik commented on #1282
@bsaiken @FWAJL
I'm coding it for the location edit screen when the technician is logged in. So the URL would be `mobile/loc_list`. Then when you click on a location the file upload feature would be inside the popup area.

[2015-09-18 04:03] bsaiken commented on #1282
@gsouvik
You misunderstood my question.  What preceeds `mobile/loc_list`?  I need the full url.

[2015-09-18 04:04] WebDevJL commented on #1282
@bsaiken it is the url I gave you : http://devsupport.fieldworkmanager.com/mobile/loc_list

[2015-09-18 04:08] WebDevJL commented on #1271
Ok. Does it make sense then not display the button once we know we are editing a subtask, just to make a 2-levels complexity, even if theoretically we could have as many levels as we want.

http://ironsummitmedia.github.io/startbootstrap-simple-sidebar/

Ok for the menu. I will see what can be done.

Have you thought more about it? This adds another layer complexity and we didn't start the subtask

[2015-09-18 04:11] WebDevJL commented on #1270
@bsaiken what is the status of your device testing regarding this issue?

[2015-09-18 14:00] bsaiken commented on #1270
Yes, this is working better.  We can go with this for now.

[2015-09-18 14:03] bsaiken commented on #1271
@WebDevJL

Does it make sense then not display the button once we know we are editing a subtask?

Yes, that is the best solution.

Have you thought more about it?

Yes.  I was rambling a bit.  I think we can accomplish this without too much complexity.  Let's get the basic set up first, then expand.

[2015-09-18 15:00] FWAJL commented on #1270
@bsaiken I will release it then.
On 18 Sep 2015 16:00, "bsaiken" <notifications@github.com> wrote:

[2015-09-18 15:02] FWAJL commented on #1271
@bsaiken ok so I'll tackle this after the release. I'll make a summary of
what we need to do to see clearly what we need to code. So far only the
database updates are done.
On 18 Sep 2015 16:03, "bsaiken" <notifications@github.com> wrote:

[2015-09-22 05:16] WebDevJL commented on #1271
@bsaiken

Here is the task list from the discussion so far:
- add the 3 icons menus in the top bar with a list icon (to display the task list), a plus icon (to add a task) and a 3-bars icon to display the legacy menu. This is done under this issue ([see the pull request](https://github.com/FWAJL/FieldWorkManager/pull/1315))
- add a button to the page task/showForm to add a subtask only when viewin

[2015-09-22 06:27] FWAJL opened #1311 "add a button to the page task/showForm to add a subtask only when viewing a task"
Milestone info: #1271

Details coming soon

[2015-09-22 06:27] FWAJL opened #1312 "code the function to add a subtask"

[2015-09-22 06:29] FWAJL opened #1313 "build the task menu"
it will be categorised by project and task as show in the mockups labelled 1271 : https://github.com/FWAJL/FieldWorkManager/tree/master/Mockups

[2015-09-22 06:29] FWAJL opened #1314 "add a button to deactivate the task from the page task/showForm"

[2015-09-22 09:04] FWAJL commented on #1271
@bsaiken

You can view the first step done : on http://debug.fieldworkmanager.com/login => add the 3 icons menus in the top bar with a list icon (to display the task list), a plus icon (to add a task) and a 3-bars icon to display the legacy menu.

[2015-09-23 17:44] gsouvik commented on #1250
@rnicholus @bsaiken
I was using the scaling feature of the fineuploader library and facing some issues. Let me explain step by step. Following is my fineuploader javascript setup:
[code]
I've used scaling as well as attached a form with it so that everything works with my already coded end point. I've changed the file input name from `qqfile` to `file` so that I do not have to change my end point.

[2015-09-23 17:47] rnicholus commented on #1250
The name of the scaled file is stored in the qqfilename request parameter.

On Wed, Sep 23, 2015 at 12:44 PM Souvik Ghosh <notifications@github.com>
wrote:

[2015-09-23 17:52] gsouvik commented on #1250
@rnicholus
Is there any Javascript configuration to override it so that it uses `file` when the original file is not uploaded?

[2015-09-23 17:53] rnicholus commented on #1250
No, and in fact this is not possible cross-browser.

[2015-09-23 18:14] gsouvik commented on #1282
@bsaiken @WebDevJL
Just updating, based on latest discussions on #1250, our endpoint which handles the file upload has to be changed. In it's current state it cannot handle the scaled file which is uploaded by the fineuploader library. I'm planning to write a slightly different version of the method instead of modifying the existing one to handle all the cases. Let me know if you have any inputs o

[2015-09-23 18:46] FWAJL commented on #1282
@gsouvik @bsaiken keeping the existing is a good idea. You'll need to do this for the js and php code. You can create new classes if you need.

Remember to keep methods short. It makes it easier to maintain then.

[2015-09-27 13:47] #1248 closed

[2015-09-27 13:49] #1189 closed

[2015-09-27 13:54] bsaiken commented on #1270
@FWAJL
Unable to test.  When I click location icons the popup window does not appear.  For the button `Add Location` the bottom window is still scrolling, but I don't know if that is a problem because the Add Location info window does not extend down below the bottom of the view window.

[2015-10-07 10:37] FWAJL commented on #1270
@bsaiken Ok. We will have a look at it later then after we talk again.

[2015-10-09 08:50] gsouvik commented on #1282
@bsaiken @FWAJL
I've implemented Fineuploader (replacing dropzone) for the screen:
 `mobile/loc_list`
Please NOTE:
This is only implemented when the technician edits one of the existing locations and uploads images. The images are currently scaled to  200px height/width maintaining aspect ratio. This can be controlled from the JS file (or can be moved to a XML file if required).

Currently the ima

[2015-10-09 15:32] bsaiken commented on #1282
@gsouvik
Both Jeremie and I have gotten per-occupied with other things.  I will ry to do some testing this weekend, but expect slow going.

[2015-10-10 07:14] gsouvik commented on #1282
@bsaiken
Sure, let me know if you need me while testing like updating live server etc.
Thank you.

[2016-07-17 12:12] bsaiken commented on #1155
@damirius
Damir - this seemed the easiest way to contact you.  I talked to Jeremie the other day and understand you are working for him.  Great news.

I have enrolled in graduate school in Maryland.  I am working on a project where my web site would be useful - even in the unfinished state that we left it.  However, the map needs to work and I get an error.

I think we are just missing an updated

[2016-07-18 18:37] damirius commented on #1155
@bsaiken

Yes it seems that api key is missing. Do you get "oops something went wrong" error when loading pages with the map?

Positive side is that I'm almost 100% sure that the problem lies with usage of api key, negative side is that we specified gmaps api js url inside routes.xml and we can't just set up api key in the config to solve this.
You can go to `/Applications/PMTool/Config/routes.xml